{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Message edition') }}{% endblock headline %}

{% block content -%}

    {{ form_start(edit_form, {attr : {class : "form-horizontal"} }) }}
        {{ form_errors(edit_form) }}
        {{ form_widget(edit_form) }}
        {{ macros.actions([ macros.submitButton('Update') ]) }}
    {{ form_end(edit_form) }}

{% endblock %}


{% block heading_buttons %}
{{ macros.actions([
    macros.backToList('backend_message'),
    macros.link('backend_message_show', entity, 'Back to the message'|trans),
    macros.deleteForm('backend_message_delete', delete_form, entity)
]) }}
{% endblock heading_buttons %}