{% extends '::grid.html.twig' %}


{% block grid_column_status_cell %}
    {% if row.field('unreads') > 0 %}
    {{ 'unreaded'|trans }}
    {% else %}
    {{ 'readed'|trans }}
    {% endif %}
{% endblock grid_column_status_cell %}
