{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Message list') }}{% endblock headline %}

{% block content -%}

    {% include '::filters.html.twig' with {'grid':grid, 'gridBlock':'WebFactoryMessagingBundle:Backend/Message:grid.html.twig'} only %}

    {{ macros.actions([ macros.new('backend_message_new') ]) }}

    {{ grid(grid, 'WebFactoryMessagingBundle:Backend/Message:grid.html.twig') }}

    {{ macros.actions([ macros.new('backend_message_new') ]) }}

{% endblock %}