{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Message creation') }}{% endblock headline %}

{% block content -%}

    {{ form_start(form, {attr : {class : "form-horizontal"} }) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        {{ macros.actions([ macros.backToList('backend_message'), macros.submitButton('Create') ]) }}
    {{ form_end(form) }}

{% endblock %}