{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Message') }}{% endblock headline %}

{% block heading_buttons %}
{{ macros.actions([
    macros.backToList('backend_message'),
    macros.edit('backend_message_edit', entity),
    macros.deleteForm('backend_message_delete', delete_form, entity)
]) }}
{% endblock heading_buttons %}

{% block content -%}

<div class="row-fluid">
    <div class="span4">
        <table class="record_properties table table-bordered table-condensed table-striped table-primary table-vertical-center">
            <tbody>
            <thead>
                <tr>
                    <th colspan="2">{{ 'Message'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>{{ 'Visible'|trans }}</th>
                    <td>{{ entity.visible|toStr|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'Readed'|trans }}</th>
                    <td>{{ (entity.status == constant('WebFactory\\Bundle\\MessagingBundle\\Entity\\Message::READED'))|toStr|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'From'|trans }}</th>
                    <td>{{ entity.from.profile }}</td>
                </tr>
                <tr>
                    <th>{{ 'To'|trans }}</th>
                    <td>{{ entity.to ? entity.to.profile : null }}</td>
                </tr>

                <tr>
                    <th>{{ 'Created At'|trans }}</th>
                    <td>{{ entity.createdAt|date('d/m/Y H:i') }}</td>
                </tr>
                <tr>
                    <th>{{ 'Updated At'|trans }}</th>
                    <td>{{ entity.updatedAt|date('d/m/Y H:i') }}</td>
                </tr>
            </tbody>
            </tbody>
        </table>
        <div class="separator bottom"></div>

    </div>
    <div class="span8">
        <table class="record_properties table table-bordered table-condensed table-striped table-primary table-vertical-center">
            <tbody>
            <thead>
                <tr>
                    <th>{{ 'Content'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{ entity.content }}
                    </td>
                </tr>
            </tbody>
            </tbody>
        </table>

        <div class="separator bottom"></div>
    </div>
</div>

<div class="row-fluid">
    <div class="span8 offset4">

        <table class="record_properties table table-bordered table-condensed table-striped table-primary table-vertical-center">
            <tbody>
            <thead>
                <tr>
                    <th colspan="4">{{ 'Replies'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for reply in entity.replies %}
                <tr>
                    <th>{{ reply.from.profile }}<br>{{ reply.createdAt|date('d/m/Y H:i') }}</th>
                    <td width="50%">{{ reply.content|nl2br }}</td>
                    <td>
                        {{ 'Visible'|trans }}: {{ reply.visible|toStr|trans }}<br>
                        {{ 'Readed'|trans }}: {{ (reply.status == constant('WebFactory\\Bundle\\MessagingBundle\\Entity\\Message::READED'))|toStr|trans }}
                    </td>
                    <td>
                        {% if reply.visible %}
                        <a class="btn" href="{{ path('backend_message_hide', { 'id':reply.id }) }}">{{ 'hide'|trans }}</a>
                        {% else %}
                        <a class="btn" href="{{ path('backend_message_visible', { 'id':reply.id }) }}">{{ 'show'|trans }}</a>
                        {% endif %}
                        <br>
                        <a class="btn btn-danger" href="{{ path('backend_message_delete', { 'id':reply.id }) }}" onclick="return confirm('{{ 'You confirm the deletion of this record?'|trans }}');">{{ 'delete'|trans }}</a>
                    </td>
                </tr>
                </tr>
                {% endfor %}
            </tbody>
            </tbody>
        </table>

        <div class="separator bottom"></div>

        {{ form_start(reply_form, {attr : {class : "form-horizontal"} }) }}
            {{ form_errors(reply_form) }}
            {{ form_widget(reply_form) }}
            {{ macros.actions([macros.submitButton('Create')]) }}
        {{ form_end(reply_form) }}

    </div>
</div>

{% endblock %}
