{% for amexCard in amexCards %}
    <option value="a{{ amexCard.id }}" {% if amexNewCard == amexCard.id %}selected="selected"{% endif %}>AMEX terminada en {{ amexCard.cardNumber[10:5] }}</option>
{% endfor %}

{% for mastercardCard in mastercardCards %}
    <option value="m{{ mastercardCard.id }}" {% if mastercardNewCard == mastercardCard.id %}selected="selected"{% endif %}>MASTERCARD terminada en {{ mastercardCard.cardNumber[12:4] }}</option>
{% endfor %}

{% if amexCards|length == false and mastercardCards|length == false %}
    <option disabled="disabled">No dispones de tarjetas de débito asociadas.</option>
{% endif %}
