{% extends '::grid.html.twig' %}

{% block grid_column_order_user_email_cell %}
    {% set value = row.entity.order.user %}
    {{ block('grid_column_cell') }}
{% endblock grid_column_order_user_email_cell %}

{% block grid_column_status_cell %}
    {% if value == 'payment.status.paid' %}
    <i class="icon-ok-sign"></i>
    {% endif %}
    {% set value = value|trans %}
    {{ block('grid_column_cell') }}
{% endblock grid_column_status_cell %}

{% block grid_column_amount_cell %}
    {% set value = '$ ' ~ row.entity.order.total|number_format(2, ',', '.') %}
    {{ block('grid_column_cell') }}
{% endblock grid_column_amount_cell %}


