{% extends 'WebFactoryPaymentBundle:Backend:layout.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Payment list') }}{% endblock headline %}

{% block content -%}
    {% block backend_payment_import_button %}
        {% if showImportButton %}
        <a href="{{ path('webfactory_payment_backend_payment_import') }}" class="btn pull-right">{{ 'payment.backend.import'|trans }}</a>
        {% endif %}
    {% endblock %}
    
    {% include '::filters.html.twig' with {'grid':grid, 'gridBlock':'WebFactoryPaymentBundle:Backend/Payment:grid.html.twig'} only %}
    {{ grid(grid, 'WebFactoryPaymentBundle:Backend/Payment:grid.html.twig') }}
{% endblock %}