{% extends 'WebFactoryPaymentBundle:Backend:layout.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Payment') }}{% endblock headline %}

{% block heading_buttons %}
{{ macros.actions([
    macros.backToList('webfactory_payment_backend_payment_index')
]) }}
{% endblock heading_buttons %}

{% block content -%}
<div class="row-fluid">

    <div class="span6">
        <table class="record_properties table table-bordered table-condensed table-striped table-primary table-vertical-center">
            <thead>
                <tr>
                    <th colspan="2">{{ 'Payment'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>{{ 'Order'|trans }}</th>
                    <td>{{ payment.order.id }}</td>
                </tr>
                <tr>
                    <th>{{ 'Amount'|trans }}</th>
                    <th>$ {{ payment.order.total|number_format(2, ',', '.') }}</th>
                </tr>
                <tr>
                    <th>{{ 'Status'|trans }}</th>
                    <td>{{ payment.status|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'User'|trans }}</th>
                    <td>{{ payment.order.user }}</td>
                </tr>
                <tr>
                    <th>{{ 'Created At'|trans }}</th>
                    <td>{{ payment.createdAt|date('Y-m-d H:i:s') }}</td>
                </tr>
                {% if payment.log %}
                <tr>
                    <th>{{ 'Log' }}</th>
                    <td>{{ payment.log }}</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    
</div>

{% endblock %}
