<div class="pageblock">
    <div class="pageblockgeneric">
        <div class="pageblockbg">

            <div class="formcontent">
                <h3 class="title">{{ 'edit profile'|trans }}</h3>

                {% trans_default_domain 'FOSUserBundle' %}

                <form action="{{ path('frontend_fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit" novalidate>
                    {{ form_widget(form) }}
                    <div>
                        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" class="btn btn-primary" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

{% include 'WebFactoryLocationBundle::simple_dependents.html.twig' %}

{{ form_javascript(form) }}

<script type="text/javascript">
    $(function() {
//        var $slider = $('#fos_user_profile_form_profile_handicap_slider'),
//            $displayer = $('[for=fos_user_profile_form_profile_handicap]').append('<span class="displayer"></span>').find('span.displayer');
//
//        $slider.on("slide", function(event, ui) {
//            $displayer.text('(' + ui.value + ')');
//        });
//
//        if(!$('#fos_user_profile_form_profile_handicap').val()) {
//            $('#fos_user_profile_form_profile_handicap').val(1);
//        }
//
//        $slider.slider("value", $slider.slider("value"));
//        $displayer.text('(' + $slider.slider("value") + ')');
    });
</script>

