{% trans_default_domain 'FOSUserBundle' %}

<div class="pageblock">
    <div class="pageblockgeneric">
        <div class="pageblockbg withPadding">

            <h2 class="title">{{ 'profile'|trans({}, 'FOSUserBundle') }}</h2>

            <div class="fos_user_user_show">
                <dl>
                    <dt><p><strong>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}:</strong></p></dt> <dd><p>{{ user.username }}</p></dd>
                    <dt><p><strong>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}:</strong></p></dt> <dd><p>{{ user.email }}</p></dd>

                    <dt><p><strong>{% trans_default_domain 'messages' %}</strong></dt> <dd><p></p></dd>

                    <dt><p><strong>{{ 'Location'|trans }}:</strong></p></dt> <dd><p>{{ user.profile.city }}</p>
                    {% if user.profile.state %}, {{ user.profile.state }}, {{ user.profile.state.country }}
                    {% endif %}</p>
                    </dd>

                    <dt><p><strong>{{ 'Name'|trans }}:</strong></p></dt> <dd><p>{{ user.profile.firstName }} {{ user.profile.lastName }}
                    {% if user.profile.companyName %}({{ user.profile.companyName }}){% endif %}</p>
                    </dd>

                    <dt><p><strong>{{ 'Birth date'|trans }}:</strong></p></dt> <dd><p>{{ user.profile.birthDate|date('d/m/Y') }}</p></dd>

                    <dt><p><strong>{{ 'Gender'|trans }}:</strong></p></dt> <dd><p>{{ user.profile.gender|trans }}</p></dd>

                    <dt><p><strong>{{ 'Mobile'|trans }}:</strong></p></dt> <dd><p>{{ user.profile.mobile ? user.profile.mobile : '~' }}</p></dd>

                    <dt><p><strong>{{ 'Handicap'|trans }}:</strong></p></dt> <dd><p>{{ user.profile.handicap|replace('-', '+') }}</p></dd>

                    <dt><p><strong>{{ 'Club'|trans }}:</strong></p></dt> <dd><p>{{ user.profile.club ? user.profile.club : '~' }}</p></dd>

                    <dt><p><strong>{{ 'Condition'|trans }}:</strong></p></dt> <dd><p>{{ user.profile.condition|trans }}</p></dd>

                    <dt><p><strong>{% trans_default_domain 'messages' %}</strong></dt> <dd><p></p></dd>

                    {#<dt style="height: 40px;"><p><strong>Mis tarjetas de débito:</strong></p></dt> <dd><p><img src="img/amex.png" alt="AMEX" onclick="openDialog('amex');" />&nbsp;&nbsp;<img src="img/mastercard.png" alt="MASTERCARD" onclick="openDialog('mastercard');" /></p></dd>#}

                </dl>

                <br/>
                <a href="{{ path('frontend_fos_user_profile_edit') }}"  class="btn btn-primary" >{{ 'Edit profile'|trans }}...</a>
                <br/>

            </div>

        </div>
    </div>
</div>

<div id="amex_dialog" class="hidden">
    <button id="close_amex_dialog" class="btn btn-primary" style="background: #F68528; font-size: 12px; padding: 0 15px 0 15px; float: left; margin-top: 5px; margin-bottom: 0px;">X</button>
    <div style="clear: both;"></div>
    <h1>Mis tarjetas AMEX</h1>
    <form method="GET" action="{{ path('web_factory_cardmodify') }}">
        <select id="amex_cards" name="amex_selected_card">
            <option value="" disabled selected>Seleccionar...</option>
            {% for amexCard in amexCards %}
                <option value="{{ amexCard.id }}">AMEX terminada en {{ amexCard.cardNumber[10:5] }}</option>
            {% endfor %}
            {% if amexCards|length == false %}
                <option disabled="disabled">No dispones de tarjetas AMEX asociadas.</option>
            {% endif %}
        </select>
        <div id="amex_edit">
            <label>Número de tarjeta <span style="font-size: 10px;">(sin espacios ni guiones)</span></label>
            <input id="amex_card_number" name="amex_card_number" type="text" />
            <button id="submit_amex_dialog" type="button" class="btn btn btn-block btn-primary" style="margin-top: 15px">Modificar Tarjeta</button>
        </div>
    </form>
</div>

<div id="mastercard_dialog" class="hidden">
    <button id="close_mastercard_dialog" class="btn btn-primary" style="background: #F68528; font-size: 12px; padding: 0 15px 0 15px; float: left; margin-top: 5px; margin-bottom: 0px;">X</button>
    <div style="clear: both;"></div>
    <h1>Mis tarjetas MASTERCARD</h1>
    <form method="GET" action="{{ path('web_factory_cardmodify') }}">
        <select id="mastercard_cards" name="mastercard_selected_card">
            <option value="" disabled selected>Seleccionar...</option>
            {% for mastercardCard in mastercardCards %}
                <option value="{{ mastercardCard.id }}">MASTERCARD terminada en {{ mastercardCard.cardNumber[10:6] }}</option>
            {% endfor %}
            {% if mastercardCards|length == false %}
                <option disabled="disabled">No dispones de tarjetas MASTERCARD asociadas.</option>
            {% endif %}
        </select>
        <div id="mastercard_edit">
            <label>Número de tarjeta <span style="font-size: 10px;">(sin espacios ni guiones)</span></label>
            <input id="mastercard_card_number" name="mastercard_card_number" type="text" />
            <button id="submit_mastercard_dialog" type="button" class="btn btn btn-block btn-primary" style="margin-top: 15px">Modificar Tarjeta</button>
        </div>
    </form>
</div>

<script type="text/javascript">
    var amex_edit = false;
    var mastercard_edit = false;

    $(document).ready(function() {
        $(window).keydown(function(event){
            if(event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
    });

    $('#amex_cards').change(function() {
        {% for amexCard in amexCards %}
            if ($('#amex_cards').val() == {{ amexCard.id }}) {
                if (!amex_edit) openEditBox('amex');
                $('#amex_card_number').val({{ amexCard.cardNumber }});
            }
        {% endfor %}
    });

    $('#mastercard_cards').change(function() {
        {% for mastercardCard in mastercardCards %}
            if ($('#mastercard_cards').val() == {{ mastercardCard.id }}) {
                $('#mastercard_edit').removeClass('hidden');
                if (!mastercard_edit) openEditBox('mastercard');
                $('#mastercard_card_number').val({{ mastercardCard.cardNumber }});
            }
        {% endfor %}
    });

    function openDialog($dialog) {
        if ($dialog == 'amex') {
            $('#amex_dialog').dialog('open');
        }
        else if ($dialog == 'mastercard') {
            $('#mastercard_dialog').dialog('open');
        }
        $('#amex_dialog').removeClass('hidden');
        $('#mastercard_dialog').removeClass('hidden');
    }

    function openEditBox($id) {
        $('#' + $id + '_edit').animate({height: 'toggle'}, 300);
        if ($id == 'amex') amex_edit = true;
        else if ($id == 'mastercard') mastercard_edit = true;
    }

    function closeEditBox($id) {
        $('#' + $id + '_edit').animate({height: 'toggle'}, 300);
        if ($id == 'amex') amex_edit = false;
        else if ($id == 'mastercard') mastercard_edit = false;
    }

    $(function() {
        $('#close_amex_dialog').click(function() {
            $("#amex_dialog").dialog("close");
        });

        $('#submit_amex_dialog').click(function() {
            modifyCard("amex");
        });

        $('#close_mastercard_dialog').click(function() {
            $("#mastercard_dialog").dialog("close");
        });

        $('#submit_mastercard_dialog').click(function() {
            modifyCard("mastercard");
        });

        $('#amex_edit').animate({height: 'toggle'}, 0);
        $('#mastercard_edit').animate({height: 'toggle'}, 0);

        function modifyCard($type) {
            var valid = true;

            if ($type == "amex") {
                $("#amex_card_number").removeClass("ui-state-error");

                if ($("#amex_card_number").val().length != 15 || !$.isNumeric($("#amex_card_number").val())) {
                    $("#amex_card_number").addClass("ui-state-error");
                    valid = false;
                }

                if (valid) {
                    modifyAmex.find("form").submit();
                }
            } else if ($type == "mastercard") {
                $("#mastercard_card_number").removeClass("ui-state-error");

                if ($("#mastercard_card_number").val().length != 16 || !$.isNumeric($("#mastercard_card_number").val())) {
                    $("#mastercard_card_number").addClass("ui-state-error");
                    valid = false;
                }

                if (valid) {
                    modifyMastercard.find("form").submit();
                }
            }

            return valid;
        }
     
        modifyAmex = $("#amex_dialog").dialog({
            autoOpen: false,
            width: 350,
            modal: true,
            show: {
                effect: "puff",
                duration: 300
            },
            hide: {
                effect: "puff",
                duration: 300
            },
            close: function() {
                modifyAmex.find("form")[0].reset();
                $("#amex_card_number").removeClass("ui-state-error");
                if (amex_edit) closeEditBox('amex');
            }
        });

        modifyMastercard = $("#mastercard_dialog").dialog({
            autoOpen: false,
            width: 350,
            modal: true,
            show: {
                effect: "puff",
                duration: 300
            },
            hide: {
                effect: "puff",
                duration: 300
            },
            close: function() {
                modifyMastercard.find("form")[0].reset();
                $("#mastercard_card_number").removeClass("ui-state-error");
                if (mastercard_edit) closeEditBox('mastercard');
            }
        });
    });
</script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>
    label, input { display:block; }
    input.text { margin-bottom: 12px; width: 95%; padding: .4em; }
    fieldset { padding: 0; border: 0; margin-top: 25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
    #amex_dialog, #mastercard_dialog { color: #111; }
    #amex_dialog input, #mastercard_dialog input { text-align: center; }
    #amex_edit, #mastercard_edit { margin-top: 15px; }
    img[alt='AMEX']:hover, img[alt='MASTERCARD']:hover { cursor: pointer; }
</style>