<h4>Estimado usuario:</h4>

<h4>
    Su servicio "{{ service }}" ha sido activado correctamente y ya se encuentra disponible para su uso.<br />
    Ingrese en nuestro <a href="https://andresgotta.com.ar/player/sale">sitio web</a>, inicie sesión y diríjase a la sección "GESTIÓN DE SERVICIOS" para hacer uso del mismo.
</h4>

{% include 'AndresGottaMailBundle::footer.html.twig' %}
