<h4>Estimado usuario:</h4>

<h4>
    Le informamos que su servicio "{{ service }}" ha expirado.<br />
    Si desea continuar haciendo uso de nuestros servicios, puede ingresar en nuestro <a href="https://andresgotta.com.ar/player/service">sitio web</a> y solicitar un nuevo pedido.
</h4>

{% include 'AndresGottaMailBundle::footer.html.twig' %}
