{% extends '::error-layout.html.twig' %}

{% block headline %}{{ 'Error 404 - Page Not Found'|trans }}{% endblock headline %}

{% block message %}{{ 'You may have clicked an expired link or mistyped the address.'|trans }}{% endblock %}
