{% extends '::error-layout.html.twig' %}

{% block headline %}{{ 'Error 403 - Access Denied'|trans }}{% endblock headline %}

{% block message %}{{ 'Sorry but this page is not available.'|trans }}{% endblock %}
