{% extends '@WebFactoryUser/Backend/User/iframe.layout.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('User edition') }}{% endblock headline %}

{% block content -%}
    <body>
    {% set user = edit_form.vars.value %}

    {{ form_start(edit_form, {method:'PUT', action: path('backend_user_update', { 'id': entity.id })}) }}
    <div class="row-fluid">
        <div class="span12">
            {% if user.hasRole('ROLE_ACADEMY') %}
                {% if edit_form.academyName is defined %}
                    <fieldset>
                        <legend>Academia</legend>
                        {{ form_row(edit_form.academyName) }}
                        {{ form_row(edit_form.sport) }}
                        {{ form_row(edit_form.academyMaxStudents) }}
                        {{ form_row(edit_form.academyStudents) }}
                        {{ form_row(edit_form.academyMaxTeachers) }}
                        {{ form_row(edit_form.academyTeachers) }}
                        {{ form_row(edit_form.academyPlaces) }}
                    </fieldset>
                {% endif %}

                {% if edit_form.profile.condition is defined %}
                <fieldset>
                    <legend>Jugador</legend>
                    {{ form_row(edit_form.profile.condition) }}
                    {{ form_row(edit_form.profile.handicap) }}
                    {{ form_row(edit_form.profile.club) }}
                </fieldset>
                {% endif %}
            {% endif %}
            <p id="message"></p>
            {% if edit_form.profile is defined %}
            {{ form_row(edit_form.profile) }}
            {% endif %}
        </div>
    </div>

    <div class="separator bottom"></div>

    {{ macros.actions([ macros.submitButton('Next') ]) }}
    {{ form_rest(edit_form) }}
    {{ form_end(edit_form) }}
    </body>

{% endblock %}

{% block head_style %}
    {{ parent() }}
    {{ form_stylesheet(edit_form) }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/andresgottahomepage/css/select2.min.css') }}" />
    <style>
        .form-actions div {
            display: inline-block;
        }
    </style>
{% endblock %}

{% block foot_script %}
    {{ parent() }}
    {{ form_javascript(edit_form) }}

    {% include 'WebFactoryLocationBundle::simple_dependents.html.twig' %}

    <script>
        $(document).ready(function() {
            var profesional = "{{ constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\PlayerCondition::PROFESSIONAL') }}";
            $('#user_profile_condition').on('change', function() {
                console.log($(this).val());
                if ($(this).val() === profesional) {
                    $('#user_profile_handicap_control_group').show();
                } else {
                    $('#user_profile_handicap_control_group').hide();
                }
            }).trigger('change');

            if ($('form :input:visible').length <= 1) {
                $('#message').text('Nada extra que completar, puede continuar.');
            }
            if (location.search && parent.formCompleted) {
                parent.formCompleted();
            }

        })
    </script>

    <script src="{{ asset('bundles/andresgottahomepage/js/select2.min.js') }}"></script>

    <script>
        $(function () {
            $('select').select2();
        })
    </script>

{% endblock %}
