{% extends '::grid.html.twig' %}

{% block grid_column_roles_cell -%}
    {% from '::macros.html.twig' import label %}
    {% if value -%}
        {% for role in value %}
        {%- set types = {
           "role.ROLE_ACADEMY":"success",
           "role.ROLE_MOBILE":"warning",
           "role.ROLE_GROUP_OWNER":"warning",
           "role.ROLE_TEACHER":"warning",
           "role.ROLE_CUSTOMER":"info",
           "role.ROLE_ADMIN":"success",
           "role.ROLE_PLAYER":"info",
           "role.ROLE_STUDENT":"info",
           "role.ROLE_SECRETARY":"success",
           "ROLE_GROUP_ADMIN":"success",
           "role.ROLE_SUPER_ADMIN":"inverse"
        } -%}
        {{ label(role|trans(), types[role]) }}<br>
        {% endfor %}
    {%- endif %}
{%- endblock %}

{% block grid_column_actions_cell -%}
    {% if app.user.id != row.field('id') %}
    {{ parent() }}
    {% endif %}
{%- endblock grid_column_actions_cell %}