{% block content %}
{% endblock %}

{% block head_style %}
    {% include '@WebFactoryBackendTheme/head_style.html.twig' %}
{% endblock %}

{% block foot_script %}
    {% javascripts output="assetic/js/compiled/common.js"
    '@WebFactoryBackendThemeBundle/Resources/public/theme/scripts/jquery-1.8.2.min.js'
    '@WebFactoryBackendThemeBundle/Resources/public/theme/scripts/modernizr.custom.76094.js'
    '@WebFactoryBackendThemeBundle/Resources/public/theme/scripts/notyfy/jquery.notyfy.js'
    '@WebFactoryBackendThemeBundle/Resources/public/theme/scripts/Gritter/js/jquery.gritter.min.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% include '@WebFactoryBackendTheme/foot_script.html.twig' %}
{% endblock %}