{% extends 'WebFactoryUserBundle::layout.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('User list') }}{% endblock headline %}

{% block content -%}

    {% include '::filters.html.twig' with {'grid':grid, 'gridBlock':'WebFactoryUserBundle:Backend/User:grid.html.twig'} only %}

    {{ macros.actions([ macros.new('backend_user_new') ]) }}

    {{ grid(grid, 'WebFactoryUserBundle:Backend/User:grid.html.twig') }}

    {{ macros.actions([ macros.new('backend_user_new') ]) }}

{% endblock %}