{% extends 'WebFactoryUserBundle::layout.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('User creation') }}{% endblock headline %}

{% block content -%}

    {{ form_start(form) }}
        <div class="row-fluid">
            <div class="span6">
                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword) }}
                {{ form_row(form.enabled) }}
                {{ form_row(form.roles) }}

                <fieldset>Campos de Académia (se ignorarán si el usuario no tiene Rol Académia)</fieldset>
            <div style="border: 1px double slategray; padding: 1em">
                {% if form.academyName is defined %}
                    {{ form_row(form.academyName) }}
                    {{ form_row(form.sport) }}
                {% endif %}

                {% if form.academyMaxStudents is defined %}
                    {{ form_row(form.academyMaxStudents) }}
                {% endif %}

                {% if form.academyMaxTeachers is defined %}
                    {{ form_row(form.academyMaxTeachers) }}
                {% endif %}
            </div>
            </div>
            <div class="span6">
                {{ form_row(form.profile) }}
            </div>
        </div>

        <div class="separator bottom"></div>

        {{ macros.actions([ macros.backToList('backend_user'), macros.submitButton('Create') ]) }}
        {{ form_rest(form) }}
    {{ form_end(form) }}

{% endblock %}


{% block head_style %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block foot_script %}
    {{ parent() }}
    {{ form_javascript(form) }}

    {% include 'WebFactoryLocationBundle::simple_dependents.html.twig' %}

    <script>
        $(document).ready(function() {
            var profesional = "{{ constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\PlayerCondition::PROFESSIONAL') }}";
            $('#user_profile_condition').on('change', function() {
                console.log($(this).val());
                if ($(this).val() === profesional) {
                    $('#user_profile_handicap_control_group').hide();
                } else {
                    $('#user_profile_handicap_control_group').show();
                }
            })
        })
    </script>

{% endblock %}