{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('CustomPrice edition') }}{% endblock headline %}

{% block content -%}
<form action="{{ path('backend_custom_price_update', {id: entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal" novalidate="novalidate">
        <input type="hidden" name="_method" value="PUT" />
        <div class="row-fluid">
            <div class="span6">
                {{ form_row(edit_form.customPrices) }}
            </div>
        </div>
        <div class="separator bottom"></div>
        {{ macros.actions([ macros.backToList('backend_user'), macros.submitButton('Update') ]) }}
        {{ form_rest(edit_form) }}
    </form>
    {#{{ macros.actions([ macros.deleteForm('company_award_delete', edit_form, entity) ]) }}#}
{% endblock %}