<h1>{{ 'subscribe.headline'|trans }}</h1>
<form action="{{ path('frontend_newsletter_subscribe') }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
    {{ form_widget(form.fullName, { 'attr': {'class':'btninput', 'placeholder': 'subscribe.placeholder.fullName'|trans} }) }}
    {{ form_errors(form.fullName) }}
    {{ form_widget(form.email, { 'attr': {'class':'btninput', 'placeholder': 'subscribe.placeholder.email'|trans} }) }}
    {{ form_errors(form.email) }}
    <span class="clearme"></span>
    <button type="submit" class="btnenviar">{{ 'subscribe.button'|trans }}</button>
    {{ form_rest(form) }}
</form>
