{% extends 'WebFactoryNewsBundle:Frontend:layout.html.twig' %}

{% block content -%}
<div class="pageblock">
    <div class="pageblockgeneric">
        <div class="pageblockbg withPadding">
            <p>{{ message|trans }}</p>
        </div>
    </div>
</div>

{% endblock content -%}
