{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
<head>
	<title>{% block title %}{% endblock title %}</title>

	<!-- Meta -->
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link href='//fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,700italic,400italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Raleway:400,700,800,900' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Poller+One' rel='stylesheet' type='text/css'>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico')}}" />
    <link rel="shortcut icon" href="{{ asset('favicon.ico')}}" />

    {% block head_style %}
        {% stylesheets output="css/front_base.css"
            '@WebFactoryBackendThemeBundle/Resources/public/bootstrap/css/bootstrap.min.css'
            '@WebFactoryBackendThemeBundle/Resources/public/bootstrap/css/bootstrap-responsive.min.css'
            '@WebFactoryBackendThemeBundle/Resources/public/bootstrap/extend/jasny-bootstrap/css/jasny-bootstrap.min.css'
            '@WebFactoryBackendThemeBundle/Resources/public/bootstrap/extend/jasny-bootstrap/css/jasny-bootstrap-responsive.min.css'
            '@WebFactoryBackendThemeBundle/Resources/public/bootstrap/extend/bootstrap-wysihtml5/css/bootstrap-wysihtml5-0.0.2.css'
            '@WebFactoryBackendThemeBundle/Resources/public/theme/css/glyphicons.css'
            '@WebFactoryBackendThemeBundle/Resources/public/bootstrap/extend/bootstrap-select/bootstrap-select.css'
            '@WebFactoryBackendThemeBundle/Resources/public/bootstrap/extend/bootstrap-toggle-buttons/static/stylesheets/bootstrap-toggle-buttons.css'
            '@WebFactoryBackendThemeBundle/Resources/public/theme/scripts/pixelmatrix-uniform/css/uniform.default.css'
            '@WebFactoryBackendThemeBundle/Resources/public/theme/scripts/jquery-miniColors/jquery.miniColors.css'
            '@WebFactoryBackendThemeBundle/Resources/public/theme/scripts/notyfy/jquery.notyfy.css'
            '@WebFactoryBackendThemeBundle/Resources/public/theme/scripts/notyfy/themes/default.css'
            '@WebFactoryBackendThemeBundle/Resources/public/theme/scripts/Gritter/css/jquery.gritter.css'
            '@WebFactoryBackendThemeBundle/Resources/public/theme/scripts/google-code-prettify/prettify.css'
            '@WebFactoryBackendThemeBundle/Resources/public/theme/scripts/notyfy/jquery.notyfy.css'
            '@WebFactoryBackendThemeBundle/Resources/public/theme/scripts/notyfy/themes/default.css'
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
        {% endstylesheets %}
        {% stylesheets output="css/frontend.css"
            '@AndresGottaFrontendThemeBundle/Resources/public/css/normalize.css'
            '@AndresGottaFrontendThemeBundle/Resources/public/css/skins/tango/skin.css'
            '@AndresGottaFrontendThemeBundle/Resources/public/css/bootstrapwatch.less'
            '@AndresGottaFrontendThemeBundle/Resources/public/css/jquery-ui.min.css'
            '@AndresGottaFrontendThemeBundle/Resources/public/css/hover-min.css'
            '@AndresGottaFrontendThemeBundle/Resources/public/css/custom.css'
            '@AndresGottaFrontendThemeBundle/Resources/public/css/ui.slider.extras.css'
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
        {% endstylesheets %}
        {% stylesheets output="css/print.css"
            '@AndresGottaFrontendThemeBundle/Resources/public/css/print.css'
        %}
        <link rel="stylesheet" type="text/css" media="print" href="{{ asset_url }}"/>
        {% endstylesheets %}

        <!--[if IE 8]>
            <link rel="stylesheet" type="text/css" href="{{ asset("bundles/andresgottafrontendtheme/css/ie8.css") }}" />
        <![endif]-->

    {% endblock head_style %}

    {% block theme_head_script %}
        {% javascripts output="js/head-javascript.js"
            '@AndresGottaFrontendThemeBundle/Resources/public/js/jquery.min.js'
            '@WebFactoryBackendThemeBundle/Resources/public/theme/scripts/modernizr.custom.76094.js'
            '@WebFactoryBackendThemeBundle/Resources/public/theme/scripts/notyfy/jquery.notyfy.js'
            '@WebFactoryBackendThemeBundle/Resources/public/theme/scripts/Gritter/js/jquery.gritter.min.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <!-- Google Analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-77155918-1', 'auto');
            ga('send', 'pageview');
        </script>
        <!-- End Google Analytics -->

        {#<script>#}
        {#$(function() {#}
            {#$(document).ajaxComplete(function(event, xhr, settings ) {#}
                {#var doctype = xhr.responseText.substr(0, 15);#}
                {#if(doctype === "<!DOCTYPE html>") {#}
                    {#window.location.reload();#}
                {#}#}
            {#});#}
        {#});#}
        {#</script>#}
    {% endblock theme_head_script %}

</head>
<body class="frontend">

  <!-- Background Content -->
  <div class="background">

	<!-- Start Content -->
	<div class="container">

	<nav class="topblock">

        {% block logoarea %}
        {% endblock logoarea %}

	{% block main_navbar %}
	<div class="navbar main">
        {% block brand_main_navbar %}
        {% block brand %}<a href="" class="appbrand"><span>{{ block('title') }}</span></a>{% endblock %}
        <button type="button" class="btn btn-navbar">
    		<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
    	</button>
        {% endblock brand_main_navbar %}

            {% block left_main_navbar %}
			<ul class="topnav pull-left tn1">
                {% block left_main_navbar_items %}
                {% block themer %}
                <li class="hidden-phone">
                    <a href="index.php%3Flang=ro&amp;page=products.html#themer" data-toggle="collapse" class="glyphicons eyedropper"><i></i><span>Themer</span></a>
                    <div id="themer" class="collapse">
                        <div class="wrapper">
                            <span class="close2">&times; close</span>
                            <h4>Themer <span>color options</span></h4>
                            <ul>
                                <li>Theme: <select id="themer-theme" class="pull-right"></select><div class="clearfix"></div></li>
                                <li>Primary Color: <input type="text" data-type="minicolors" data-default="#ffffff" data-slider="hue" data-textfield="false" data-position="left" id="themer-primary-cp" /><div class="clearfix"></div></li>
                                <li>
                                    <span class="link" id="themer-custom-reset">reset theme</span>
                                    <span class="pull-right"><label>advanced <input type="checkbox" value="1" id="themer-advanced-toggle" /></label></span>
                                </li>
                            </ul>
                            <div id="themer-getcode" class="hide">
                                <hr class="separator" />
                                <button class="btn btn-primary btn-small pull-right btn-icon glyphicons download" id="themer-getcode-less"><i></i>Get LESS</button>
                                <button class="btn btn-inverse btn-small pull-right btn-icon glyphicons download" id="themer-getcode-css"><i></i>Get CSS</button>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </li>
                {% endblock themer %}
                {% block lang_selector %}
                <li class="hidden-phone">
                    <a href="index.php%3Flang=ro&amp;page=products.html#" data-toggle="dropdown"><img src="theme/images/lang/ro.png" alt="ro" /></a>
                    <ul class="dropdown-menu pull-left">
                        <li><a href="index.php%3Flang=en&amp;page=products.html" title="Engleză"><img src="theme/images/lang/en.png" alt="Engleză"> Engleză</a></li>
                        <li class="active"><a href="index.php%3Flang=ro&amp;page=products.html" title="Română"><img src="theme/images/lang/ro.png" alt="Română"> Română</a></li>
                        <li><a href="index.php%3Flang=it&amp;page=products.html" title="Italiană"><img src="theme/images/lang/it.png" alt="Italiană"> Italiană</a></li>
                        <li><a href="index.php%3Flang=fr&amp;page=products.html" title="Franceză"><img src="theme/images/lang/fr.png" alt="Franceză"> Franceză</a></li>
                        <li><a href="index.php%3Flang=pl&amp;page=products.html" title="Poloneză"><img src="theme/images/lang/pl.png" alt="Poloneză"> Poloneză</a></li>
                    </ul>
                </li>
                {% endblock lang_selector %}
                {% endblock left_main_navbar_items %}
			</ul>
            {% endblock left_main_navbar %}

            {% block right_main_navbar %}
            <ul class="topnav pull-right">

                {% block right_main_navbar_items %}

                {% block notifications %}
                <li class="visible-desktop">
                    <ul class="notif">
                        <li><a href="index.php%3Flang=ro&amp;page=products.html" class="glyphicons envelope" data-toggle="tooltip" data-placement="bottom" data-original-title="5 new messages"><i></i> 5</a></li>
                        <li><a href="index.php%3Flang=ro&amp;page=products.html" class="glyphicons shopping_cart" data-toggle="tooltip" data-placement="bottom" data-original-title="1 new orders"><i></i> 1</a></li>
                        <li><a href="index.php%3Flang=ro&amp;page=products.html" class="glyphicons log_book" data-toggle="tooltip" data-placement="bottom" data-original-title="3 new activities"><i></i> 3</a></li>
                    </ul>
                </li>
                {% endblock notifications %}

                {% block account %}
                <li class="account">
                    <a data-toggle="dropdown" href="index.php%3Flang=ro&amp;page=my_account.html" class="glyphicons logout lock"><span class="hidden-phone text">{{ app.user }}</span><i></i></a>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="index.php%3Flang=ro&amp;page=my_account.html" class="glyphicons cogwheel">Settings<i></i></a></li>
                        <li>
                            <span>
                                <a class="btn btn-default btn-small pull-right" style="padding: 2px 10px; background: #fff;" href="index.php%3Flang=ro&amp;page=login.html">Sign Out</a>
                            </span>
                        </li>
                    </ul>
                </li>
                {% endblock account %}
                {% endblock right_main_navbar_items %}
            </ul>
            {% endblock right_main_navbar %}
		</div>
        {% endblock main_navbar %}

            <div class="menuextended">
                {% block left_module_navbar '' %}
                {% block right_module_navbar '' %}
            </div>

            <div id="menu" class="hidden-phone">
                {% block menu_content %}
                {% block profile %}
                <span class="profile">
                    <a class="img" href="index.php%3Flang=ro&amp;page=my_account.html"><img src="{{ asset('bundles/webfactorybackendtheme/theme/images/mrawesome.jpg') }}" alt="Mr. Awesome" /></a>
                    <span>
                        <strong>Mr. Awesome</strong>
                        <a href="index.php%3Flang=ro&amp;page=my_account.html">edit account</a>
                    </span>
                </span>
                {% endblock profile %}

                {% block search %}
                <div id="search">
                    <input type="text" placeholder="Quick search ..." />
                    <button class="glyphicons search"><i></i></button>
                </div>
                {% endblock search %}

                <div class="clearfix" style="clear: both"></div>
                {% block sidebar_side_selector %}
                <div class="separator uniformjs">
                    <div class="innerLR">
                        <label for="toggle-menu-position" class="checkbox">
                            <input type="checkbox" class="checkbox" id="toggle-menu-position" /> {{ 'right.menu'|trans }}
                        </label>
                    </div>
                </div>
                {% endblock sidebar_side_selector %}
                {% endblock menu_content %}
            </div>

    	  </nav>

         <div class="pagearea">
            <div class="pagecontent">
                {% block featureimage %}<div class="featureimage generic"><span>{% block featureimagetext 'Andrés Gotta Golf' %}</span></div>{% endblock featureimage %}
                        <!--home-->
                        <div class="widget">
                            {% block widget_head %}
                            <div class="widget-head">
                                <h4 class="heading glyphicons list"><i></i> Administrare produse</h4>
                            </div>
                            {% endblock widget_head %}
                            <div class="widget-body">
                            {% block content %}{% endblock content %}
                     </div>
                </div>
            </div>
        </div>

    	<div id="wrapper">

            <div id="content">

                {% block breadcrumb %}
                <ul class="breadcrumb">
                    <li><a href="index.php%3Flang=ro&amp;page=index.html" class="glyphicons home"><i></i> Smashing</a></li>
                    <li class="divider"></li>
                    <li>Magazin online</li>
                    <li class="divider"></li>
                    <li>Produse</li>
                </ul>
                {% endblock breadcrumb %}

                <div class="separator bottom"></div>

                {% block heading %}
                <div class="heading-buttons">
                    <h3>Produse<span> | Online Shop</span></h3>
                    <div class="buttons pull-right">
                        <a href="index.php%3Flang=ro&amp;page=products.html" class="btn btn-default btn-icon glyphicons inbox"><i></i> Administrare categorii</a>
                        <a href="index.php%3Flang=ro&amp;page=products.html" class="btn btn-primary btn-icon glyphicons circle_plus"><i></i> Adăugare produs</a>
                    </div>
                </div>
                <div class="separator bottom"></div>
                {% endblock heading %}


                {% block flashes %}
                    {% if app.session.flashbag.peekAll|length > 0 %}
                        {% for type, messages in app.session.flashbag.all %}
                            {% for message in messages %}
                                {% if type == 'fos_user_success' %}
                                    {% set type = 'success' %}
                                    {% set domain = 'FOSUserBundle' %}
                                {% endif %}
                                <script>
                                var n = notyfy({
                                    text: '<h4>{{ 'Attention'|trans }}</h4><p>{{ message|trans({}, domain|default('messages')) }}</p>',
                                    type: '{{ type }}',
                                    layout: 'topRight',
                                    theme: 'boolight',
                                    closeWith: ['click','button']
                                });
                                </script>
                            {% endfor %}
                        {% endfor %}

                    {% endif %}
                {% endblock flashes %}

                <div class="separator bottom"></div>
                <!-- End Content -->
            </div>
		<!-- End Wrapper -->
		</div>

	 </div>

    </div>

    <div id="post-container">
        <div class="container">
            {% block post_content %}{% endblock %}
        </div>
        {% block dialog %}<div class="dialog-confirm" style="display: none;">{{ 'confirm.delete'|trans|raw }}</div>{% endblock %}
    </div>

    {% block footer %}{% endblock footer %}

{% block foot_script %}
    <script>var themerPrimaryColor = '#47759e';</script>

    {% javascripts output="js/uniform.js"
        '@WebFactoryBackendThemeBundle/Resources/public/theme/scripts/jquery-1.8.2.min.js'
        '@WebFactoryBackendThemeBundle/Resources/public/theme/scripts/pixelmatrix-uniform/jquery.uniform.min.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts output="js/foot-javascript.js"
        '@AndresGottaFrontendThemeBundle/Resources/public/js/jquery-ui.min.js'
        '@WebFactoryBackendThemeBundle/Resources/public/theme/scripts/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js'
        '@WebFactoryBackendThemeBundle/Resources/public/theme/scripts/jquery-miniColors/jquery.miniColors.js'
        '@WebFactoryBackendThemeBundle/Resources/public/theme/scripts/jquery.cookie.js'
        '@WebFactoryBackendThemeBundle/Resources/public/theme/scripts/themer.js'
        '@WebFactoryBackendThemeBundle/Resources/public/theme/scripts/jquery.ba-resize.js'
        '@WebFactoryBackendThemeBundle/Resources/public/bootstrap/extend/bootstrap-select/bootstrap-select.js'
        '@WebFactoryBackendThemeBundle/Resources/public/bootstrap/extend/bootstrap-toggle-buttons/static/js/jquery.toggle.buttons.js'
        '@WebFactoryBackendThemeBundle/Resources/public/bootstrap/extend/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js'
        '@WebFactoryBackendThemeBundle/Resources/public/bootstrap/extend/jasny-bootstrap/js/jasny-bootstrap.min.js'
        '@WebFactoryBackendThemeBundle/Resources/public/bootstrap/extend/jasny-bootstrap/js/bootstrap-fileupload.js'
        '@WebFactoryBackendThemeBundle/Resources/public/bootstrap/extend/bootbox.js'
        '@WebFactoryBackendThemeBundle/Resources/public/bootstrap/extend/bootstrap-wysihtml5/js/wysihtml5-0.3.0_rc2.min.js'
        '@WebFactoryBackendThemeBundle/Resources/public/bootstrap/extend/bootstrap-wysihtml5/js/bootstrap-wysihtml5-0.0.2.js'
        '@WebFactoryBackendThemeBundle/Resources/public/theme/scripts/load.js'
        '@WebFactoryBackendThemeBundle/Resources/public/theme/scripts/google-code-prettify/prettify.js'
        '@WebFactoryBackendThemeBundle/Resources/public/theme/scripts/notyfy/jquery.notyfy.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-transition.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-alert.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-modal.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-dropdown.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-scrollspy.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-tab.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-tooltip.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-popover.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-button.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-collapse.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-carousel.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-typeahead.js'
        '@WebFactoryBackendThemeBundle/Resources/public/js/collection.js'
        '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
        '@AndresGottaFrontendThemeBundle/Resources/public/js/eyecon-bootstrap-datepicker.js'
        '@WebFactoryBackendThemeBundle/Resources/public/theme/scripts/jquery.form.js'
        '@AndresGottaFrontendThemeBundle/Resources/public/js/jquery.slides.js'
        '@AndresGottaFrontendThemeBundle/Resources/public/js/jquery.isotope.js'
        '@AndresGottaFrontendThemeBundle/Resources/public/js/lib/jquery.jcarousel.js'
        '@AndresGottaFrontendThemeBundle/Resources/public/js/placeholders.js'
        '@AndresGottaFrontendThemeBundle/Resources/public/js/custom.js'
        '@AndresGottaFrontendThemeBundle/Resources/public/js/selectToUISlider.jQuery.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1&appId=240237562795642";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        $('[data-toggle="popover"]').popover();
    </script>

{% endblock foot_script %}

</body>
</html>
