{% extends ':mailer:base.html.twig' %}

{% block content %}
    <p style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #333333; font-size: 16px; line-height: 22px;">Gracias por comunicarse con nosotros.</p>
    <p style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #333333; font-size: 16px; line-height: 22px;">Este correo es para informarle que recibimos su mensaje y que pronto nos pondremos en contacto con usted.</p>
    <p style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #333333; font-size: 16px; line-height: 22px;">Muchas gracias</p>
{% endblock content %}

