{% extends ':mailer:base.html.twig' %}

{% block content %}
    <p style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #333333; font-size: 16px; line-height: 22px;">Nuevo mensaje de {{ name }} ({{ email }})</p>
    <p style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #333333; font-size: 16px; line-height: 22px;">Enviado desde sitio web.<br>IP: {{ ip }}</p>

    {#<p style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #333333; font-size: 16px; line-height: 22px;">Categoría: {{ category }}</p>#}

    <p style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #333333; font-size: 16px; line-height: 22px;">Motivo: {{ subject }}</p>

    <p style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #333333; font-size: 16px; line-height: 22px;">{{ message|nl2br }}</p>
{% endblock content %}

