{% extends "::base.html.twig" %}

{% import '::macros.html.twig' as macros %}

{% block content %}
<div class="pageblock">
    <div class="pageblockgeneric">
	    <div class="formcontent">
        	<form action="{{ path('frontend_contact_send') }}" method="post" {{ form_enctype(form) }} class="form-horizontal" novalidate=novalidate>
			    {{ form_widget(form) }}
			    {{ macros.actions([ macros.submitButton('Send') ]) }}
			    {{ form_rest(form) }}
			</form>			
		</div>
	</div>		
</div>
{% endblock content %}