{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('City edition') }}{% endblock headline %}

{% block content -%}

    <form action="{{ path('city_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        {{ macros.actions([ macros.backToList('city'), macros.submitButton('Update') ]) }}
        {{ form_rest(edit_form) }}
    </form>

    {{ macros.actions([ macros.deleteForm('city_delete', edit_form, entity) ]) }}

{% endblock %}
