{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('City list') }}{% endblock headline %}

{% block content -%}

    {% include '::filters.html.twig' with {'grid':grid, 'gridBlock':'WebFactoryLocationBundle:City:grid.html.twig'} only %}

    {{ macros.actions([ macros.new('city_new') ]) }}

    {{ grid(grid, 'WebFactoryLocationBundle:City:grid.html.twig') }}

    {{ macros.actions([ macros.new('city_new') ]) }}

{% endblock %}