{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('City creation') }}{% endblock headline %}

{% block content -%}

    <form action="{{ path('city_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
        {{ form_widget(form) }}
        {{ macros.actions([ macros.backToList('city'), macros.submitButton('Create') ]) }}
        {{ form_rest(form) }}
    </form>

{% endblock %}
