<style>
    .bar-graphic-block {
        color: #fff;
        position: relative;
        display: inline-block;
        float: left;
    }

    .bar-graphic-block .bar-graphic-result {
        left: 0;
        position: absolute;
    }

    .bar-graphic-block span {
        position: absolute;
        left: 25px;
        z-index: 999;
    }
</style>

{% for chart in results %}
    <h2 class="thetitle">{{ chart.generalLegend }}</h2>

    <div class="bloque-central-grafica full-grafica progress-bar-chart">

        <div class="horizontal-bar-completado horizontal-bar-completado-aciertos">
            <label>{{ comparative.primaryLabel|trans }}</label>
            <div class="container horizontal">
                <div class="progress-bar horizontal">
                    <div class="progress-track">
                        <div class="progress-fill">
                            <span style="display: none">{{ (chart.xAxis*100)/comparative.maxLength }}</span>
                            <div><span style="display: inline-block;width: 370px;">{{ chart.xLegend|trans }}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="horizontal-bar-completado horizontal-bar-completado-errados">
            <label>{{ comparative.secondaryLabel|trans }}</label>
            <div class="container horizontal">
                <div class="progress-bar horizontal">
                    <div class="progress-track">
                        <div class="progress-fill">
                            <span style="display: none">{{ (chart.yAxis*100)/comparative.maxLength }}</span>
                            <div><span style="display: inline-block;width: 370px;">{{ chart.yLegend|trans }}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="clearfix"></div>
{% else %}
    <p>{{ 'no data'|trans }}</p>
{% endfor %}