{% set chart = results[0] %}
<div class="bloque-central-grafica full-grafica progress-pie-chart">

    <div class="chart-primay-value-label">
        <p class="color-aciertos"><span></span> {{ comparative.primaryLabel|trans }}</p>
        <p class="color-errados"><span></span> {{ comparative.secondaryLabel|trans }}</p>
    </div> 


    <div class="card card-box-2" data-percent="{{ chart.xAxis }}" data-type="{{ chart.yAxis }}"
         data-name=".chart2" data-width="25" data-size="200" data-color="#f68527" data-basecolor="#333333">
        <div class="donut-chart chart2">
            <div class="slice one"></div>
            <div class="slice two"></div>
            <div class="chart-center">
                <small class="tplayer">{{ 'comparative_label.player'|trans }}</small>
                <span></span>
                <p class="chart-type"></p>
            </div>
        </div>
    </div>

</div>
<div class="clearfix"></div>