{% for chart in results %}
    <h2 class="thetitle">{{ chart.generalLegend|trans }}</h2>

    {% include '@AndresGottaGolf/Frontend/Comparative/Types/donut-single-type.html.twig' with {'chart': chart} %}

{% else %}
    <p>{{ 'no data'|trans }}</p>
{% endfor %}



