<div class="bloque-central-grafica full-grafica progress-pie-chart">

    <div class="chart-primay-value-label">
        <p class="color-aciertos"><span></span> {{ comparative.primaryLabel|trans }}</p>
        <p class="color-errados"><span></span> {{ comparative.secondaryLabel|trans }}</p>
    </div> 

    <div class="chart-primay-value" data-percent="{{ results[1].xAxis }}" data-type="{{ results[1].yAxis }}">
        <div class="chart-center">
            <small class="tgroup">{{ results[1].title }}</small>
            <span style="color:#f68527"></span>
            <p class="chart-type" style="color:#333"></p>
        </div>
    </div>

    <div class="card card-box-2" data-percent="{{ results[0].xAxis }}" data-type="{{ results[0].yAxis }}"
         data-name=".chart2" data-width="25" data-size="200" data-color="#f68527" data-basecolor="#333333">
        <div class="donut-chart chart2">
            <div class="slice one"></div>
            <div class="slice two"></div>
            <div class="chart-center">
                <small class="tplayer">{{ results[0].title }}</small>
                <span></span>
                <p class="chart-type"></p>
            </div>
        </div>
    </div>

    <div class="card card-box-4" data-percent="{{ results[1].xAxis }}" data-type="{{ results[1].yAxis }}"
         data-name=".chart4" data-width="15" data-size="240" data-color="#f68527" data-basecolor="#333333">
        <div class="donut-chart chart4">
            <div class="slice one"></div>
            <div class="slice two"></div>
            <div class="chart-center">
                <span></span>
                <p class="chart-type"></p>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>