<div class="bloque-central-grafica big-grafica progress-pie-chart">

    <div class="chart-primay-value" data-percent="77" data-type="General">
        <div class="chart-center">
            <span></span>
            <p class="chart-type"></p>
        </div>
    </div>

    <div class="card card-box-2" data-percent="88" data-type="Personal" data-name=".chart2" data-width="25" data-size="200" data-color="#f68527">
        <div class="donut-chart chart2">
            <div class="slice one"></div>
            <div class="slice two"></div>
            <div class="chart-center">
                <span></span>
                <p class="chart-type"></p>
            </div>
        </div>
    </div>

    <div class="card card-box-4" data-percent="77" data-type="General" data-name=".chart4" data-width="15" data-size="240" data-color="#333333">
        <div class="donut-chart chart4">
            <div class="slice one"></div>
            <div class="slice two"></div>
            <div class="chart-center">
                <span></span>
                <p class="chart-type"></p>
            </div>
        </div>
    </div>

</div>

<div class="bloque-central-grafica small-grafica progress-pie-chart">

    <div class="chart-primay-value" data-percent="50" data-type="General">
        <div class="chart-center">
            <span></span>
            <p class="chart-type"></p>
        </div>
    </div>

    <div class="card card-box-2" data-percent="50" data-type="Personal" data-name=".chart2" data-width="25" data-size="110" data-color="#f68527">
        <div class="donut-chart chart2">
            <div class="slice one"></div>
            <div class="slice two"></div>
            <div class="chart-center">
                <span></span>
                <p class="chart-type"></p>
            </div>
        </div>
    </div>

    <div class="card card-box-4" data-percent="50" data-type="General" data-name=".chart4" data-width="15" data-size="150" data-color="#333333">
        <div class="donut-chart chart4">
            <div class="slice one"></div>
            <div class="slice two"></div>
            <div class="chart-center">
                <span></span>
                <p class="chart-type"></p>
            </div>
        </div>
    </div>

</div>

<div class="bloque-central-grafica small-grafica progress-pie-chart">

    <div class="chart-primay-value" data-percent="25" data-type="General">
        <div class="chart-center">
            <span></span>
            <p class="chart-type"></p>
        </div>
    </div>

    <div class="card card-box-2" data-percent="25" data-type="Personal" data-name=".chart2" data-width="25" data-size="110" data-color="#f68527">
        <div class="donut-chart chart2">
            <div class="slice one"></div>
            <div class="slice two"></div>
            <div class="chart-center">
                <span></span>
                <p class="chart-type"></p>
            </div>
        </div>
    </div>

    <div class="card card-box-4" data-percent="25" data-type="General" data-name=".chart4" data-width="15" data-size="150" data-color="#333333">
        <div class="donut-chart chart4">
            <div class="slice one"></div>
            <div class="slice two"></div>
            <div class="chart-center">
                <span></span>
                <p class="chart-type"></p>
            </div>
        </div>
    </div>

</div>

<div class="clearfix"></div>