{% extends '::base.html.twig' %}

{% block breadcrumb %}
{{ parent() }}
{% endblock %}

{% block content %}
<div class="span12 wrapperFaq">
    
    <h3 class="titleFaq">{# {{ 'faqs_list'|trans }} #}</h3>
    
    <div class="faq_container">
        {% for entity in results %}
        <div class="item">
            <div class="faq_question">{{ loop.index }}. {{ entity.question }}</div>
            <div class="faq_answer">{{ entity.answer|raw }}</div>
        </div>
        {% else %}
            <h4>{{ 'faq_no_items'|trans }}</h4>
        {% endfor %}
    </div>
    
</div>
<style type="text/css">
.faq_question {
    font-weight: bold;
}
.faq_container .item {
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 8px;
    padding-bottom: 5px;
}
</style>
{% endblock content %}