
{% for step in value %}
    <div class="step">


        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{ step.number }}
            </label>
            <div class="col-sm-10">
                <div class="form-control">
                    {{ step.title }}
                    <br>
                    {{ step.description }}

                    <br>
                    <br>

                    Completado: {{ step.completed ? step.completedAt|date : 'd/m/Y H:i' }}

                    <br>
                    Notas: {{ step.notes }}
                    <br>
                </div>

            </div>
        </div>




    </div>
{% endfor %}
