
{% for indication in value %}
    <div class="indication">


        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{ indication.name }}
            </label>
            <div class="col-sm-10">
                <div class="form-control">
                    {{ indication.description }}

                    <br>

                    <div>
                    {% if 'type.video' == indication.mediaMaterial.type %}
                        <iframe id="frameYoutube" src="https://www.youtube.com/embed/{{ indication.mediaMaterial.uri }} + '?modestbranding=1&autohide=1&showinfo=0&controls=1&rel=0&fs=0&cc_load_policy=0'}}" frameborder="0" ></iframe>
                    {% endif %}

                    {% if 'type.audio' == indication.mediaMaterial.type %}
                        <audio controls src="http://docs.google.com/uc?export=open&id={{ indication.mediaMaterial.uri }}"></audio>
                    {% endif %}

                    {% if 'type.image' == indication.mediaMaterial.type %}
                        <img src="http://docs.google.com/uc?export=open&id={{ indication.mediaMaterial.uri }}" />
                    {% endif %}
                    </div>

                    <br>
                    {{ indication.requirements }}
                    {{ indication.security }}
                    {{ indication.alternatives }}
                    <br>

                    {% for goal in  indication.goals %}
                        {{ goal.name }}
                    {% endfor %}
                </div>

            </div>
        </div>









    </div>
{% endfor %}
