<script>
    var strikes = [];

    function Hole() {
        this.holeOut = "{{ constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Result::HOLE_OUT') }}";
        this.insideGreen = "{{ constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Result::INSIDE_GREEN') }}";
        this.insideFairway = "{{ constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Result::INSIDE_FAIRWAY') }}";
        this.crossBunkerInFairway = "{{ constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Result::CROSS_BUNKER_IN_FAIRWAY') }}";
        this.emptyValidationMessage = '{{ 'empty.value'|trans }}';
        this.straight = "{{ constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\HoleDesign::STRAIGHT') }}"; // unico el par 3
    }

    // Comprueba los checkboxes que se deben habilitar y deshabilitar en cada seleccion
    Hole.prototype.checkEnabled = function (checkbox, checkbox1, checkbox2, checkbox3, checkbox4) {
        if ($(checkbox).attr('checked')) {
            $(checkbox1).attr('checked', false);
            $(checkbox1).attr('disabled', true);
            $(checkbox2).attr('checked', false);
            $(checkbox2).attr('disabled', true);
            $(checkbox3).attr('checked', false);
            $(checkbox3).attr('disabled', true);
            $(checkbox4).attr('checked', false);
            $(checkbox4).attr('disabled', true);
        } else if (!$(checkbox).attr('disabled')) {
            $(checkbox1).removeAttr('disabled');
            $(checkbox2).removeAttr('disabled');
            $(checkbox3).removeAttr('disabled');
            $(checkbox4).removeAttr('disabled');
        }

    };

    // Hace una comprobacion inicial sobre todos los chechboxes
    Hole.prototype.checkStatuses = function (collection) {
        var _self = this;
        /*
         hole_putt_landSlopes_0 Plano = recto - der a iz - iz a dere
         hole_putt_landSlopes_1 Recto = plano - subida - bajada
         hole_putt_landSlopes_2 Dere a Izqu = plano - subida - bajda
         hole_putt_landSlopes_3 Izqu a Dere = plano - subida - bajda
         hole_putt_landSlopes_4 Bajada = recto - der a iz - iz a dere
         hole_putt_landSlopes_5 Subida = recto - der a iz - iz a dere
         */
        if (typeof(collection) === 'undefined') {
            collection = '';
        }

        {# inclinacion de terreno #}
        this.checkEnabled(collection + ' [id$="landSlopes_0"]', collection + ' [id$="landSlopes_4"]', collection + ' [id$="landSlopes_5"]');
        this.checkEnabled(collection + ' [id$="landSlopes_1"]', collection + ' [id$="landSlopes_2"]', collection + ' [id$="landSlopes_3"]');
        this.checkEnabled(collection + ' [id$="landSlopes_2"]', collection + ' [id$="landSlopes_3"]', collection + ' [id$="landSlopes_1"]');
        this.checkEnabled(collection + ' [id$="landSlopes_3"]', collection + ' [id$="landSlopes_1"]', collection + ' [id$="landSlopes_2"]');
        this.checkEnabled(collection + ' [id$="landSlopes_4"]', collection + ' [id$="landSlopes_5"]', collection + ' [id$="landSlopes_0"]');
        this.checkEnabled(collection + ' [id$="landSlopes_5"]', collection + ' [id$="landSlopes_4"]', collection + ' [id$="landSlopes_0"]');

        $('[id$="landSlopes_0"]').click(function () {
            _self.checkEnabled(this, collection + ' [id$="landSlopes_4"]', collection + ' [id$="landSlopes_5"]');
        });
        $('[id$="landSlopes_1"]').click(function () {
            _self.checkEnabled(this, collection + ' [id$="landSlopes_3"]', collection + ' [id$="landSlopes_2"]');
        });
        $('[id$="landSlopes_2"]').click(function () {
            _self.checkEnabled(this, collection + ' [id$="landSlopes_3"]', collection + ' [id$="landSlopes_1"]');
        });
        $('[id$="landSlopes_3"]').click(function () {
            _self.checkEnabled(this, collection + ' [id$="landSlopes_1"]', collection + ' [id$="landSlopes_2"]');
        });
        $('[id$="landSlopes_4"]').click(function () {
            _self.checkEnabled(this, collection + ' [id$="landSlopes_5"]', collection + ' [id$="landSlopes_0"]');
        });
        $('[id$="landSlopes_5"]').click(function () {
            _self.checkEnabled(this, collection + ' [id$="landSlopes_4"]', collection + ' [id$="landSlopes_0"]');
        });

        {# lies de tiro #}
        _self.checkEnabled(collection + ' [id$="strikeLies_0"]', collection + ' [id$="strikeLies_1"]', collection + ' [id$="strikeLies_2"]', collection + ' [id$="strikeLies_3"]', collection + ' [id$="strikeLies_4"]');
        _self.checkEnabled(collection + ' [id$="strikeLies_1"]', collection + ' [id$="strikeLies_0"]', collection + ' [id$="strikeLies_2"]');
        _self.checkEnabled(collection + ' [id$="strikeLies_2"]', collection + ' [id$="strikeLies_0"]', collection + ' [id$="strikeLies_1"]');
        _self.checkEnabled(collection + ' [id$="strikeLies_3"]', collection + ' [id$="strikeLies_4"]');
        _self.checkEnabled(collection + ' [id$="strikeLies_4"]', collection + ' [id$="strikeLies_3"]');
        $(collection + ' [id$="strikeLies_0"]').click(function () {
            _self.checkEnabled(this, collection + ' [id$="strikeLies_1"]', collection + ' [id$="strikeLies_2"]', collection + ' [id$="strikeLies_3"]', collection + ' [id$="strikeLies_4"]');
        });
        $(collection + ' [id$="strikeLies_1"]').click(function () {
            _self.checkEnabled(this, collection + ' [id$="strikeLies_0"]', collection + ' [id$="strikeLies_2"]');
        });
        $(collection + ' [id$="strikeLies_2"]').click(function () {
            _self.checkEnabled(this, collection + ' [id$="strikeLies_0"]', collection + ' [id$="strikeLies_1"]');
        });
        $(collection + ' [id$="strikeLies_3"]').click(function () {
            _self.checkEnabled(this, collection + ' [id$="strikeLies_4"]');
        });
        $(collection + ' [id$="strikeLies_4"]').click(function () {
            _self.checkEnabled(this, collection + ' [id$="strikeLies_3"]');
        });
    };

    // Decora el select de distancias
    Hole.prototype.applySlider = function (selector) {
        $(selector).select2Buttons();
    };

    Hole.prototype.initReasonCheckboxes = function (collection) {
        var _self = this;

        if (collection) {
            $.each(collection.find('[name$="[result]"]:checked'), function () {
                if ($(this).attr('checked') === 'checked'
                    && $(this).val() != _self.holeOut
                    && $(this).val() != _self.insideGreen
                    && $(this).val() != _self.insideFairway
                    && $(this).val() != _self.crossBunkerInFairway
                ) {
                    $('.reasonControlGroup').removeClass('hidden');
                } else {
                    $('.reasonControlGroup').addClass('hidden');
                }
            });

            collection.find('[name$="[reason]"]').on('click', function () {
                var isValid = _self.validateCollectionItem($(this).closest('.collection-item'));

                if (isValid) {
                    _self.addStrike();
                } else {
                    $(this).attr('checked', false);
                }
            });
        } else {
            $.each($('[name$="[result]"]:checked'), function () {
                if ($(this).attr('checked') === 'checked'
                    && $(this).val() != _self.holeOut
                    && $(this).val() != _self.insideGreen
                    && $(this).val() != _self.insideFairway
                    && $(this).val() != _self.crossBunkerInFairway
                ) {
                    $('.reasonControlGroup').removeClass('hidden');
                } else {
                    $('.reasonControlGroup').addClass('hidden');
                }
            });
        }
    };

    Hole.prototype.initResultCheckboxes = function (collection) {
        var _self = this;

        if (collection) {
            collection.find('[name$="[result]"]').on('click', function () {
                if ($(this).val() != _self.holeOut && $(this).val() != _self.insideGreen && $(this).val() != _self.insideFairway) {
                    $(this).parents('.resultControlGroup').siblings('.reasonControlGroup').removeClass('hidden');
                } else {
                    $(this).parents('.resultControlGroup').siblings('.reasonControlGroup').addClass('hidden');
                }
            });
        } else {

            $('[name$="[result]"]').on('click', function () {
                if ($(this).val() != _self.holeOut && $(this).val() != _self.insideGreen && $(this).val() != _self.insideFairway && $(this).val() != _self.crossBunkerInFairway) {
                    $(this).parents('.resultControlGroup').siblings('.reasonControlGroup').removeClass('hidden');
                } else {
                    $(this).parents('.resultControlGroup').siblings('.reasonControlGroup').addClass('hidden');
                }
            });
        }
    };

    Hole.prototype.initDesignRadios = function () {
        var _self = this;
        $('#hole_design label').unbind('click');
        $('#hole_design label').on('click', function () {
            var input = $(this).find('input');

            if (!input.is(':disabled')) {
                $('#hole_design label').removeClass('active');
                $(this).addClass('active');
            }
        });

        $('[name$="[par]"]').on('click', function () {
            if ($(this).val() == 3) {
                var input = $('#hole_design').find('input[value$="' + _self.straight + '"]');
                input.prop("checked", true);
                input.parent().addClass('active');

                $.each($('#hole_design label'), function () {
                    var label = this,
                        value = $(label).find('input').val()
                        ;

                    if (value != _self.straight) {
                        var img = $(label).find('img'),
                            input = $(label).find('input'),
                            imgSrc = img.attr('src').replace('.png', '-gray.png');

                        img.attr('src', imgSrc);
                        $(label).removeClass('active');
                        // Deshabilitar el click en la imagen
                        $(input).attr('disabled', true);
                        $(label).css('cursor', 'default');
                    }
                })
            } else {
                $('.radio').removeClass('active');
                $.each($('#hole_design label'), function () {
                    var label = this,
                        img = $(label).find('img'),
                        input = $(label).find('input'),
                        imgSrc = img.attr('src').replace('-gray.png', '.png');

                    img.attr('src', imgSrc);
                    $(input).attr('disabled', false);
                    $(label).css('cursor', 'pointer');
                })
            }
        });
    };

    Hole.prototype.isCollection = function () {
        {% if flow.getCurrentStepNumber() == constant('AndresGotta\\Bundle\\GolfBundle\\Form\\CreateHoleFlow::FIRST_STRIKE_APPROACHS_STEP') %}
        return true;
        {% endif %}

        {% if flow.getCurrentStepNumber() == constant('AndresGotta\\Bundle\\GolfBundle\\Form\\CreateHoleFlow::SECOND_STRIKE_APPROACHS_STEP') %}
        return true;
        {% endif %}

        {% if flow.getCurrentStepNumber() == constant('AndresGotta\\Bundle\\GolfBundle\\Form\\CreateHoleFlow::THIRD_STRIKE_APPROACHS_STEP') %}
        return true;
        {% endif %}

        {% if flow.getCurrentStepNumber() == constant('AndresGotta\\Bundle\\GolfBundle\\Form\\CreateHoleFlow::PUTT_APPROACHS_STEP') %}
        return true;
        {% endif %}

        return false;
    };

    Hole.prototype.addStrike = function () {
        var _self = this;

        $('a[data-collection-add-btn]').trigger('click');

        var collection = $('.collection-item:last');
        var distances = collection.find('[name$="[distance]"]');

        _self.checkStatuses('.collection-item:last');
        _self.applySlider(distances);

        _self.initResultCheckboxes(collection);
        _self.initReasonCheckboxes(collection);

        strikes[(strikes.length) - 1].find('a.btn-danger').css('display', 'none');
        strikes.push(collection);


        /* COLLECTON JS */

        $('div[id*="_emotionalQuestionnaire_control_group"]').addClass('emotionalQuestionnaire_control_group');
        $('div[id*="_foodQuestionnaire_control_group"]').addClass('foodQuestionnaire_control_group');
        $('div[id*="_physicalQuestionnaire_control_group"]').addClass('physicalQuestionnaire_control_group');
        collection.find('div[id*="_reason_control_group"]').after('<div class="before-strike-title">Antes de ejecutar este golpe:</div>');

        //RADIO BUTTOM
        $("#holeForm .controls .radio").click(function () {
            var thecontrol = $(this).parent();
            thecontrol.find('.radio').removeClass("active");
            $(this).addClass("active");
        });
        $("#holeForm .controls .radio input").each(function () {
            var ckbo2x = $(this);
            if (ckbo2x.is(':checked')) {
                $(this).parent().addClass("active");
            }
        });

        //CHECKBOX BUTTOMS
        $("#holeForm .controls .checkbox input").each(function () {
            $('input[type=checkbox]').parent().removeClass("active");
            $('input[type=checkbox]').parent().removeClass("deactive");
            $('input[type=checkbox]:checked').parent().addClass("active");
            $('input[type=checkbox]:disabled').parent().removeClass("active");
            $('input[type=checkbox]:disabled').parent().addClass("deactive");
            $('input[type=checkbox]:checked').parent().removeClass("deactive");
        });

        $("#holeForm .controls .checkbox input").click(function () {
            $("#holeForm .controls .checkbox input").each(function () {
                $('input[type=checkbox]').parent().removeClass("active");
                $('input[type=checkbox]').parent().removeClass("deactive");
                $('input[type=checkbox]:checked').parent().addClass("active");
                $('input[type=checkbox]:disabled').parent().removeClass("active");
                $('input[type=checkbox]:disabled').parent().addClass("deactive");
                $('input[type=checkbox]:checked').parent().removeClass("deactive");
            });
        });

        //EMOJIIIIIIIII
        $('.emotionalQuestionnaire_control_group .controls label.checkbox input[type=checkbox], .foodQuestionnaire_control_group .controls label.checkbox input[type=checkbox], .physicalQuestionnaire_control_group .controls label.checkbox input[type=checkbox]').each(function () {
            //calssessi
            var $select = $(this);
            var $div = $(this).parent().parent().parent();

            var attributes = $select.attr('class');
            $div.attr('class', 'control-group ' + attributes);

        });
        $(".emotionalQuestionnaire_control_group .controls label.checkbox, .foodQuestionnaire_control_group .controls label.checkbox , .physicalQuestionnaire_control_group .controls label.checkbox").click(function () {
            $(this).parent().parent().toggleClass("active");
        });

        $('.emotionalQuestionnaire_control_group .controls label.checkbox input[type=checkbox], .foodQuestionnaire_control_group .controls label.checkbox input[type=checkbox], .physicalQuestionnaire_control_group .controls label.checkbox input[type=checkbox]').each(function () {
            var ckbox = $(this);
            if (ckbox.is(':checked')) {
                $(this).parent().parent().parent().parent().parent().addClass("deactive");
                $(this).parent().parent().parent().addClass("active");
            }
        });
        var mylabelsbox = $(".foodQuestionnaire_control_group .controls .control-group .control-label, .physicalQuestionnaire_control_group .controls .control-group .control-label, .emotionalQuestionnaire_control_group .controls .control-group .control-label");
        $(mylabelsbox).each(function () {
            var namerio = $(this).html();
            $(this).parent().append("<div class='toolterio'>" + namerio + "</div>");
        });
        $(mylabelsbox).hover(
            function () {
                $(this).parent().find('.toolterio').show();
            }, function () {
                $(this).parent().find('.toolterio').hide();
            }
        );
        var hiderbox = $(".control-group.emotionalQuestionnaire_control_group, .foodQuestionnaire_control_group.control-group, .physicalQuestionnaire_control_group.control-group");
        $(hiderbox).hover(
            function () {
                $(this).addClass('reaactive');
                $(this).removeClass('deactive');
            }, function () {
                $(this).removeClass('reaactive');
                if ($(this).is(':checked')) {
                    $(this).parent().parent().parent().parent().addClass("deactive");
                }
                $('.emotionalQuestionnaire_control_group .controls label.checkbox input[type=checkbox], .foodQuestionnaire_control_group .controls label.checkbox input[type=checkbox], .physicalQuestionnaire_control_group .controls label.checkbox input[type=checkbox]').each(function () {
                    var ckbox = $(this);
                    if (ckbox.is(':checked')) {
                        $(this).parent().parent().parent().parent().parent().addClass("deactive");
                        $(this).parent().parent().parent().addClass("active");
                    }
                });
            }
        );

        /* COLLECTON JS */

        /* Mostrar botón "deshacer" del nuevo strike */
        collection.find('a.btn-danger').css('display', 'inline');

        var strikeNumber = {{ hole.getTotalStrikes-1 }}+strikes.length;
        $('#current-strike').html(strikeNumber);

        /* Deshabilitar strike previo al creado */
        var prevCollection = strikes[(strikes.length) - 2];
        prevCollection.find('[class$="controls"]').append("<div class='bloque-readonly'></div>");

        $(collection).on('remove', function () {
            var prevCollection = strikes[(strikes.length) - 2];

            /* Rehabilitar strike anterior al eliminado */
            prevCollection.find('[class$="bloque-readonly"]').remove();

            /* Resetear los campos "resultControlGroup" y "reasonControlGroup" del strike anterior al eliminado */
            prevCollection.find('.resultControlGroup input').removeAttr('checked');
            prevCollection.find('.resultControlGroup .radio').removeClass('active');
            prevCollection.find('.reasonControlGroup input').removeAttr('checked');
            prevCollection.find('.reasonControlGroup .radio').removeClass('active');
            prevCollection.find('.reasonControlGroup').addClass('hidden');

            /* Eliminar strike eliminado del arreglo */
            strikes.splice((strikes.length) - 1, 1);

            /* Mostrar botón "deshacer" en caso de existir más de 2 strikes (el original no debe mostrarlo NUNCA) */
            if (strikes.length > 1) {
                strikes[(strikes.length) - 1].find('a.btn-danger').css('display', 'inline');
            }
        });

        $(".collection-item:last .radio").click(function () {
            var nexiste = $(this).find('.imagen-in-radio').length;
            if ((nexiste) > 0) {
                $(".collection-item:last .radio").removeClass("active");
                $(this).addClass("active");
            }
        });

        $('[data-toggle="popover"]').popover();
    };

    Hole.prototype.determineResult = function (value) {
        var goodResults = [
            {% if flow.getCurrentStepNumber() == constant('AndresGotta\\Bundle\\GolfBundle\\Form\\CreateHoleFlow::FIRST_STRIKE_STEP') %}
            '{{ getFirstStrikeGoodResultChoicesByPar(flow.formData.par)|join("', '")|raw }}'
            {% endif %}
            {% if flow.getCurrentStepNumber() == constant('AndresGotta\\Bundle\\GolfBundle\\Form\\CreateHoleFlow::FIRST_STRIKE_APPROACHS_STEP') %}
            '{{ getFirstStrikeApproachGoodResultChoicesByPar(flow.formData.par)|join("', '")|raw }}'
            {% endif %}

            {% if flow.getCurrentStepNumber() == constant('AndresGotta\\Bundle\\GolfBundle\\Form\\CreateHoleFlow::SECOND_STRIKE_STEP') %}
            '{{ getSecondStrikeGoodResultChoicesByPar(flow.formData.par)|join("', '")|raw }}'
            {% endif %}
            {% if flow.getCurrentStepNumber() == constant('AndresGotta\\Bundle\\GolfBundle\\Form\\CreateHoleFlow::SECOND_STRIKE_APPROACHS_STEP') %}
            '{{ getSecondStrikeApproachGoodResultChoicesByPar(flow.formData.par)|join("', '")|raw }}'
            {% endif %}

            {% if flow.getCurrentStepNumber() == constant('AndresGotta\\Bundle\\GolfBundle\\Form\\CreateHoleFlow::THIRD_STRIKE_STEP') %}
            '{{ getThirdStrikeGoodResultChoicesByPar(flow.formData.par)|join("', '")|raw }}'
            {% endif %}
            {% if flow.getCurrentStepNumber() == constant('AndresGotta\\Bundle\\GolfBundle\\Form\\CreateHoleFlow::THIRD_STRIKE_APPROACHS_STEP') %}
            '{{ getThirdStrikeApproachGoodResultChoicesByPar(flow.formData.par)|join("', '")|raw }}'
            {% endif %}

            {% if flow.getCurrentStepNumber() == constant('AndresGotta\\Bundle\\GolfBundle\\Form\\CreateHoleFlow::PUTT_STEP') %}
            '{{ getPuttGoodResultChoicesByPar(flow.formData.par)|join("', '")|raw }}'
            {% endif %}
            {% if flow.getCurrentStepNumber() == constant('AndresGotta\\Bundle\\GolfBundle\\Form\\CreateHoleFlow::PUTT_APPROACHS_STEP') %}
            '{{ getPuttApproachGoodResultChoicesByPar(flow.formData.par)|join("', '")|raw }}'
            {% endif %}
        ];

        return $.inArray(value, goodResults) !== -1;
    };

    Hole.prototype.validateCollectionItem = function ($collectionItem) {
        var isValid = true;
        $('.hasSliderHorizontal', $collectionItem).prevAll('.control-group').each(function () {
            var $ctrlGrp = $(this);
            if ($(":checked", $ctrlGrp).length === 0) {
                var errorMessage = '<section class="validation"><span class="help-block">' + emptyValidationMessage + ' <br></span></section>';
                if ($ctrlGrp.find('>div>section.validation>span').length === 0) {
                    $ctrlGrp.addClass('error').find('>div').append(errorMessage);
                }
                isValid = false;
            }
        });

        return isValid;
    };

    Hole.prototype.confirmMessage = function () {
        $("<div></div>").html("{{ 'hole_out.confirm'|trans }}").dialog({
            resizable: false,
            modal: true,
            height: 200,
            width: 250,
            //Make it more secure and neat when closing - Removes the dialog content onClose
            beforeClose: function (event, ui) {
                $(this).remove();
            },
            buttons: [{
                // The OK button
                text: 'Si',
                click: function () {
                    $(this).dialog("close");
                    $('#holeForm').submit();
                }
            }, {
                // The Cancel button
                text: 'No',
                click: function () {
                    $(this).dialog("close");
                }
            }]
        });
    }
</script>