{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Video Category edition') }}{% endblock headline %}

{% block heading_buttons %}
{{ macros.actions([
    macros.backToList('video_category'), 
    macros.deleteForm('video_category_delete', delete_form, entity) 
]) }}
{% endblock heading_buttons %}

{% block content -%}
{{ form(edit_form) }}
{% endblock %}