{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Video Category list') }}{% endblock headline %}

{% block content -%}

    {% include '::filters.html.twig' with {'grid':grid, 'gridBlock':'AndresGottaVideoBundle:Backend/Category:grid.html.twig'} only %}

    {{ macros.actions([ macros.new('video_category_new') ]) }}

    {{ grid(grid, 'AndresGottaVideoBundle:Backend/Category:grid.html.twig') }}

    {{ macros.actions([ macros.new('video_category_new') ]) }}

{% endblock %}
