{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Video Category') }}{% endblock headline %}

{% block heading_buttons %}
{{ macros.actions([
    macros.backToList('video_category'), 
    macros.edit('video_category_edit', entity), 
    macros.deleteForm('video_category_delete', delete_form, entity) 
]) }}
{% endblock heading_buttons %}

{% block content -%}
<div class="row-fluid">
    <div class="span6">
        <table class="record_properties table table-bordered table-condensed table-striped table-primary table-vertical-center">
            <thead>
                <tr>
                    <th colspan="2">{{ 'Category'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>{{ 'Name'|trans }}</th>
                    <td>{{ entity.name }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
