{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Edit') }}{% endblock headline %}

{% block content -%}
    {{ form(form) }}
{% endblock %}
