{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Category list') }}{% endblock headline %}

{% block head_style %}
    {{ parent() }}
    <style>
        .child {
            background: #c1c1c1;
        }
    </style>
{% endblock head_style %}

{% block foot_script %}
    {{ parent() }}

    <script>
        $('table').removeClass('table-striped');
    </script>
{% endblock foot_script %}

{% block content -%}

    <a href="{{ path('backend_report_category_create') }}" class="btn btn-primary pull-right">{{ 'Create a new entry'|trans }}</a>

    {% include '::filters.html.twig' with {'grid':grid, 'gridBlock':'AndresGottaGolfBundle:Backend/Category:grid.html.twig'} only %}
    {{ grid(grid, 'AndresGottaGolfBundle:Backend/Category:grid.html.twig') }}
{% endblock %}