{% extends '::base.html.twig' %}

{% block headline %}{{ 'faq_arrange_title'|trans }}{% endblock headline %}

{% block heading_buttons %}
<ul class="record_actions unstyled inline">
    <li>
        <a class="btn" href="{{ path('webfactory_faq_backend_faq_index') }}">
            <i class="icon-th-list"></i> {{ 'Back to the list'|trans }}
        </a>
    </li>
</ul>
{% endblock heading_buttons %}

{% block content %}
<div class="row-fluid">

<form id="sortForm" novalidate action="" method="post">
    <div class="span9 well">

      <div class="alert alert-info alert-block">
        {{ 'faq_arrange_instructions'|trans }}
      </div>
      
      {% if results|length > 0 %}
      <ul id="itemsOrder" class="items unstyled">
          {% for entity in results %}
          <li class="item">
              <div class="well well-small">
                  <input type="hidden" name="items[]" value="{{ entity.id }}" />
                  <div>{{ loop.index }}. <i class="icon-resize-vertical"></i> {{ entity.question }}</div>
              </div>
          </li>
          {% endfor %}
      </ul>
      {% else %}
      <div class="alert alert-warning alert-block"><p class="acenter">{{ 'faq.messages.arrange_no_results'|trans }}</p></div>
      {% endif %}

    </div>
    <div class="span3">
        
        <div class="well">
            <ul class="record_actions unstyled">
                <li>
                    <button id="saveBtn" class="btn btn-primary" type="submit"><i class="icon-ok-sign icon-white"></i> {{ 'Update'|trans }}</button>
                </li>
            </ul>
        </div>

    </div>
</form>

<div class="clearfix"></div>
</div>
{% endblock %}

{% block foot_script %}
  {{ parent() }}
  
<style type="text/css">
.record_actions li {
    margin-bottom: 5px;
}
#itemsOrder li {
    cursor: move;
    margin-bottom: 0;
}
#itemsOrder .item .well {
    margin-bottom: 1px;
}
</style>
<script type="text/javascript">
$(function(){
    var $contentOrder = $("#itemsOrder")
    
    $contentOrder.sortable({
        items: "li:not(.ui-state-disabled)"
    });
    $contentOrder.disableSelection();
    
    $contentOrder.bind("sortstop", function(event, ui) {
      var $saveBtn = $('#saveBtn');
      
      if( ! $saveBtn.is(":visible")){
        $saveBtn.fadeIn();
      }
    });
});
</script>
{% endblock foot_script %}