{% extends '::base.html.twig' %}

{% block headline %}{{ 'Editing Faq'|trans }}{% endblock headline %}

{% block heading_buttons %}
<ul class="record_actions unstyled inline">
    <li>
        <a class="btn" href="{{ path('webfactory_faq_backend_faq_index') }}">
            <i class="icon-th-list"></i> {{ 'Back to the list'|trans }}
        </a>
    </li>
    <li>
        <form action="{{ path('webfactory_faq_backend_faq_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger"><i class="icon-trash icon-white"></i> {{ 'Delete'|trans }}</button>
        </form>
    </li>
</ul>
{% endblock heading_buttons %}

{% block content %}

<form class="form-horizontal" action="{{ path('webfactory_faq_backend_faq_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <div class="form-actions">
      <button class="btn btn-primary" type="submit"><i class="icon-ok icon-white"></i> {{ 'Update'|trans }}</button>
    </div>
</form>

{% endblock %}

{% block foot_script %}
  {{ parent() }}
{#  {{ tinymce_init() }}#}

<style type="text/css">
#webfactory_faqbundle_faqtype_answer {
    min-width: 600px;
}
</style>
{% endblock foot_script %}