{% extends '::base.html.twig' %}

{% block headline %}{{ 'Faqs'|trans }}{% endblock headline %}

{% block heading_buttons %}
<ul class="unstyled inline">
    <li>
        <a class="btn btn-primary" href="{{ path('webfactory_faq_backend_faq_new') }}">
          <i class="icon-plus icon-white"></i> {{ 'Create a new entry'|trans }}
        </a>
    </li>
    <li>
        <a class="btn" href="{{ path('webfactory_faq_backend_faq_arrange') }}">
          <i class="icon-plus icon-resize-vertical"></i> {{ 'faq_arrange_enabled'|trans }}
        </a>
    </li>
</ul>
{% endblock heading_buttons %}

{% block content %}
{% include '::filters.html.twig' with {'grid':grid, 'gridBlock':'WebFactoryFaqBundle:Backend/Faq:grid.html.twig'} only %}
{{ grid(grid, 'WebFactoryFaqBundle:Backend/Faq:grid.html.twig') }}
{% endblock %}
