{% extends '::base.html.twig' %}

{% block headline %}{{ 'Creating Faq'|trans }}{% endblock headline %}

{% block heading_buttons %}
<ul class="record_actions unstyled inline">
    <li>
        <a class="btn" href="{{ path('webfactory_faq_backend_faq_index') }}">
            <i class="icon-th-list"></i> {{ 'Back to the list'|trans }}
        </a>
    </li>
</ul>
{% endblock heading_buttons %}

{% block content %}
<form class="form-horizontal" action="{{ path('webfactory_faq_backend_faq_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div class="form-actions">
      <button class="btn btn-primary" type="submit"><i class="icon-ok icon-white"></i> {{ 'Create'|trans }}</button>
    </div>
</form>
{% endblock %}

{% block foot_script %}
  {{ parent() }}
  {#{{ tinymce_init() }}#}

<style type="text/css">
#webfactory_faqbundle_faqtype_answer {
    min-width: 600px;
}
</style>
{% endblock foot_script %}