{% extends '::base.html.twig' %}

{% block headline %}{{ 'Faqs'|trans }}{% endblock headline %}

{% block heading_buttons %}
<ul class="record_actions unstyled inline">
    <li>
        <a class="btn" href="{{ path('webfactory_faq_backend_faq_index') }}">
            <i class="icon-th-list"></i> {{ 'Back to the list'|trans }}
        </a>
    </li>
    <li>
        <a class="btn btn-primary" href="{{ path('webfactory_faq_backend_faq_edit', { 'id': entity.id }) }}">
          <i class="icon-pencil icon-white"></i> {{ 'Edit'|trans }}
        </a>
    </li>
    <li>
        <form action="{{ path('webfactory_faq_backend_faq_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger"><i class="icon-trash icon-white"></i> {{ 'Delete'|trans }}</button>
        </form>
    </li>
</ul>
{% endblock heading_buttons %}

{% block content %}

<table class="record_properties table table-bordered">
    <tbody>
        <tr>
            <th>{{ 'Enabled'|trans }}</th>
            <td>{{ (entity.enabled ? 'yes' : 'no')|trans }}</td>
        </tr>
        <tr>
            <th>{{ 'Sort'|trans }}</th>
            <td>{{ entity.sort }}</td>
        </tr>
        <tr>
            <th>{{ 'Question'|trans }}</th>
            <td>{{ entity.question }}</td>
        </tr>
        <tr>
            <th>{{ 'Answer'|trans }}</th>
            <td>{{ entity.answer|raw }}</td>
        </tr>
        <tr>
            <th>{{ 'Created At'|trans }}</th>
            <td>{{ entity.createdat|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{{ 'Updated At'|trans }}</th>
            <td>{{ entity.updatedat|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}