<h2 class="titlewithborderbottomwhite">
    {{ 'Round'|trans }}
    <a role="button" data-toggle="collapse" data-parent="#details" href="#details" aria-expanded="true"
       aria-controls="details"
       class="btn btn-primary" style="float: none;max-width: 200px;margin-left: 65px;margin-top: -35px;">
        {{ 'Detail of round'|trans }}
    </a>
</h2>
<div class="panel-collapse collapse" id="details">
    <a href="{{ path('frontend_round_edit', {'id': round.id}) }}" class="btn btn-primary">{{ 'Edit'|trans }}</a>
    <table class="table table-responsive table-hovered">
        <tr>
            <th>{{ 'Performed at'|trans }}</th>
            <td>{{ round.performedAt|date('d/m/Y') }}</td>
        </tr>
        <tr>
            <th>{{ 'Player Condition'|trans }}</th>
            <td>{{ round.playerCondition|trans }}</td>
        </tr>

        <tr>
            {% if round.playerCondition == constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\PlayerCondition::AMATEUR') %}
                <th>{{ 'Handicap'|trans }}</th>
                <td>{{ round.handicap|replace({'-':'+'}) }}</td>
            {% else %}
                <th>{{ 'Tour'|trans }}</th>
                <td>{{ round.tour }}</td>
            {% endif %}
        </tr>

        <tr>
            <th>{{ 'Round Type'|trans }}</th>
            <td>{{ round.roundType|trans }}</td>
        </tr>

        {% if round.roundType == constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\RoundType::TOURNAMENT') %}
            <tr>
                <th>{{ 'Tournament Type'|trans }}</th>
                <td>{{ round.detailTournamentType|trans }}</td>
            </tr>
            <tr>
                <th>{{ 'Round Number'|trans }}</th>
                <td>{{ round.roundNumber }}</td>
            </tr>
        {% endif %}
        <tr>
            <th>{{ 'Game Condition'|trans }}</th>
            <td>{{ round.gameCondition|trans }}</td>
        </tr>
        <tr>
            <th>{{ 'Field Type'|trans }}</th>
            <td>{{ round.fieldType|trans }}</td>
        </tr>
        <tr>
            <th>{{ 'Field Par'|trans }}</th>
            <td>{{ round.fieldPar|trans }}</td>
        </tr>
        <tr>
            <th>{{ 'Hole Count'|trans }}</th>
            <td>{{ round.holeCount }}</td>
        </tr>
        <tr>
            <th>{{ 'Strikecount'|trans }}</th>
            <td>{{ round.strikesCount }}</td>
        </tr>
    </table>
</div>

<h2 class="titlewithborderbottomwhite">{{ 'Holes'|trans }}</h2>

{% if round.holeCount != round.holes.count %}
    <div class="alert warning">
        <p>
            {{ 'holes_count'|trans|replace({'%holes%': round.holes.count, '%hole_count%': round.holeCount}) }}
            {{ '(' ~ 'holes_lack'|trans|replace({'%lack%': round.holeCount - round.holes.count}) ~ ')' }}
    </div>

    {% for number in round.remainingHoles if round.holes.count > 0 %}
        <a class="btn btn-primary" href="{{ path('frontend_hole_new', {id:round.id, _number: number}) }}">
            {% trans with {'%number%': number} %}Load hole number %number%{% endtrans %}
        </a>
    {% endfor %}

    {% if round.getNextHoleNumber <= round.holeCount %}
        <a class="btn btn-primary"
           href="{{ path('frontend_hole_new', {id:round.id}) }}">{{ 'Load data of played hole'|trans }}</a></p>
    {% endif %}
{% endif %}


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="display: inline-block ">
    {% for hole in round.holes %}

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <div style="position: relative;">
                        <a class="btn-hoyos" role="button" data-toggle="collapse" data-parent="#accordion"
                           href="#collapse{{ loop.index }}" aria-expanded="true"
                           aria-controls="collapse{{ loop.index }}">
                            {{ 'Hole'|trans }} #{{ hole.number }}
                        </a>
                        <div class="extra-data-hoyo">
                            <small style="padding-left: 20px">{{ 'Strikecount' | trans }}:</small>
                            <span>{{ hole.totalStrikes }}</span>
                        </div>
                        <div class="btn-acciones-hoyos">
                            <a class="delete btnOpenDialog"
                               href="{{ path('frontend_hole_delete', {'id': hole.id}) }}">{{ 'Delete'|trans }}</a>
                        </div>
                    </div>
                </h4>
            </div>
            <div id="collapse{{ loop.index }}" class="panel-collapse collapse" role="tabpanel"
                 aria-labelledby="headingOne">
                <div class="panel-body">
                    {% include 'AndresGottaGolfBundle:Frontend/DataEntry:_hole_detail.html.twig' %}
                </div>
            </div>
        </div>


    {% endfor %}
</div>