{% set totalStrikes = 1 %}

    <dl class="divider">
        {% if hole.number %}
            <dt>{{ 'Number'|trans }}</dt>
            <dd>{{ hole.number }}</dd>
        {% endif %}

        <dt>{{ 'Par'|trans }}</dt>
        <dd>{{ hole.par }}</dd>

        <dt>{{ 'Total strikes in hole'|trans }}</dt>
        <dd>{{ hole.totalStrikes }}</dd>
    </dl>

    <dl>
        <dt style="border: 0 none;"><a href="#" class="btn btn-primary details" style="float: left;">{{ 'more'|trans }}</a></dt>
        <dd style="border: 0 none;"></dd>
    </dl>

    <dl class="divider details-table" style="display: none">
        <dt>{{ 'Design'|trans }}</dt>
        <dd>{{ hole.design|trans }}</dd>

        <dt>{{ 'First Strike'|trans }}</dt>
        {% if hole.par == 3 %}
            <dd>{% include 'AndresGottaGolfBundle:Frontend/DataEntry:strike/_ball_flight_strike_detail.html.twig' with {strike:hole.firstStrike} %}</dd>
        {% else %}
            <dd>{% include 'AndresGottaGolfBundle:Frontend/DataEntry:strike/_club_ball_flight_strike_detail.html.twig' with {strike:hole.firstStrike} %}</dd>
        {% endif %}


        {% if hole.firstStrikeApproachs.count %}
            <dt>{{ 'First Strike Approachs'|trans }}</dt>
            <dd>
                {% for strike in hole.firstStrikeApproachs %}
                    {% include 'AndresGottaGolfBundle:Frontend/DataEntry:strike/_strike_lie_and_ball_flight_strike_detail.html.twig' %}
                {% endfor %}
            </dd>
        {% endif %}

        {% if hole.par != 3 and hole.secondStrike %}
            <dt>{{ 'Second Strike'|trans }}</dt>
            {% if hole.par == 5 %}
                <dd>{% include 'AndresGottaGolfBundle:Frontend/DataEntry:strike/_club_strike_lie_and_ball_flight_strike_detail.html.twig' with {strike:hole.secondStrike} %}</dd>
            {% else %}
                <dd>{% include 'AndresGottaGolfBundle:Frontend/DataEntry:strike/_strike_lie_and_ball_flight_strike_detail.html.twig' with {strike:hole.secondStrike} %}</dd>
            {% endif %}

            {% if hole.secondStrikeApproachs.count %}
                <dt>{{ 'Second Strike Approachs'|trans }}</dt>
                <dd>
                    {% for strike in hole.secondStrikeApproachs %}
                        {% include 'AndresGottaGolfBundle:Frontend/DataEntry:strike/_strike_lie_and_ball_flight_strike_detail.html.twig' %}
                    {% endfor %}
                </dd>
            {% endif %}
        {% endif %}

        {% if hole.par == 5 and hole.thirdStrike %}
            <dt>{{ 'Third Strike'|trans }}</dt>
            <dd>{% include 'AndresGottaGolfBundle:Frontend/DataEntry:strike/_strike_lie_and_ball_flight_strike_detail.html.twig' with {strike:hole.thirdStrike} %}</dd>
            {% if hole.thirdStrikeApproachs.count %}
                {% set totalStrikes = totalStrikes + hole.thirdStrikeApproachs.count %}
                <dt>{{ 'Third Strike Approachs'|trans }}</dt>
                <dd>
                    {% for strike in hole.thirdStrikeApproachs %}
                        {% include 'AndresGottaGolfBundle:Frontend/DataEntry:strike/_strike_lie_and_ball_flight_strike_detail.html.twig' %}
                    {% endfor %}
                </dd>
            {% endif %}
        {% endif %}

        {% if hole.putt %}
            <dt>{{ 'Putt'|trans }}</dt>
            <dd>{% include 'AndresGottaGolfBundle:Frontend/DataEntry:strike/_putt_strike_detail.html.twig' with {strike:hole.putt} %}</dd>
            {% if hole.puttApproachs.count %}
                {% set totalStrikes = totalStrikes + hole.puttApproachs.count %}
                <dt>{{ 'Putt Approachs'|trans }}</dt>
                <dd>
                    {% for strike in hole.puttApproachs %}
                        {% include 'AndresGottaGolfBundle:Frontend/DataEntry:strike/_putt_strike_detail.html.twig' %}
                    {% endfor %}
                </dd>
            {% endif %}
        {% endif %}

        <dt>{{ 'Penality shots'|trans }}</dt>
        <dd>{{ hole.penalityShotsCount }}</dd>

        <dt>{{ 'Description'|trans }}</dt>
        {% if hole.description %}
            <dd>{{ hole.description }}</dd>
        {% else %}
            <dd>{{ 'no description'|trans }}</dd>
        {% endif %}
    </dl>

<script>
    $('.details').on('click', function(e) {
        e.preventDefault();
        $('.details-table').toggle('slow');
    })
</script>