<dl>
    {% block strike_detail_before_distance '' %}
    <dt>{{ 'Distance'|trans }}</dt>
    <dd>{{ strike.distance|trans }}</dd>
    <dt>{{ 'Result'|trans }}</dt>
    <dd>{{ strike.result|trans }}</dd>
    {% if strike.reason and not (strike.hole.par == 5 and strike.result == constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Result::INSIDE_FAIRWAY')) %}
    <dt>{{ 'Reason'|trans }}</dt>
    <dd>{{ strike.reason|trans }}</dd>
    {% endif %}
    {% block strike_detail_after_reason '' %}
</dl>
