{% extends '::base.html.twig' %}

{% block content -%}

    <div class="pageblock">

        <div class="pageblockgeneric">

            <div class="grey-box-area grey-color">
                <ul>
                    <li class="main"><span>{{ 'Vuelta ' }}</span></li>
                    <li class="current"><span>datos generales</span></li>
                    <li class="forward"><span>estado inicial</span></li>
                    <li class="forward"><span>detalles</span></li>
                    <li class="forward"><span>hoyos</span></li>
                    <li class="forward"><span>estado final</span></li>
                </ul>
            </div>

        </div>

        <div class="roundform uploadformround">


            <h1>{{ 'Upload my return'|trans }}</h1>

            {{ form(form, { attr:{ novalidate:'novalidate'} }) }}

            <div class="inborderline"></div>

        </div>

        <div class="btn-expanded">
            <a href="{{ path('frontend_round') }}" class="btn btn-cancel-generic">{{ 'Cancel'|trans }}</a>
        </div>

    </div>


{% endblock %}