{% extends '::base.html.twig' %}

{% block content -%}

    <div class="pagemegacontainer">

        <div class="records_list_content">

            <div class="grey-box-area grey-color">
                <ul>
                    <li class="main"><span>{{ 'CARGAR NUEVA VUELTA' }}</span></li>
                    <li class="forward"><span>datos generales</span></li>
                    <li class="forward"><span>estado inicial</span></li>
                    <li class="forward"><span>detalles</span></li>
                    <li class="forward"><span>hoyos</span></li>
                    <li class="forward"><span>estado final</span></li>
                </ul>
            </div>

            <div class="inborderline"></div>

            <div class="nomarginpagination">{{ knp_pagination_render(entities) }}</div>

            <br/>

            <ul style="list-style: none;">
                <li><a href="{{ path('frontend_round_new') }}"
                       class="btn btn-primary btn-primary-left">{{ 'Create a new round'|trans }}</a></li>
            </ul>

            <div class="inborderline"></div>

            <table class="records_list table table-bordered table-striped">
                <thead>
                <tr>
                    <th>{{ 'Performed At'|trans }}</th>
                    <th>{{ 'Type'|trans }}</th>
                    <th>{{ 'Playercondition'|trans }}</th>
                    <th>{{ 'Handicap'|trans }}</th>
                    <th>{{ 'Tournamenttype'|trans }}</th>
                    <th>{{ 'Number'|trans }}</th>
                    <th>{{ 'Gamecondition'|trans }}</th>
                    <th>{{ 'Fieldtype'|trans }}</th>
                    <th>{{ 'Fieldpar'|trans }}</th>
                    <th>{{ 'Holecount'|trans }}</th>
                    <th>{{ 'Strikecount'|trans }}</th>
                    <th>{{ 'Actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for data in entities %}
                    {% set holeCount = data['holeCount'] %}
                    {% set entity = data['0'] %}
                    <tr>
                        <td>{{ entity.performedAt|date('d/m/Y') }}</td>
                        <td>{{ entity.roundType|trans }}</td>
                        <td>{{ entity.playerCondition|trans }}</td>
                        <td>{{ entity.handicap|replace('-', '+') }}</td>
                        <td>{{ entity.tournamentType|trans }}</td>
                        <td>{{ entity.roundNumber }}</td>
                        <td>{{ entity.gameCondition|trans }}</td>
                        <td>{{ entity.fieldType|trans }}</td>
                        <td>{{ entity.fieldPar|trans }}</td>
                        <td {% if holeCount < entity.holeCount %}class="msjnofinish"{% endif %} >{{ holeCount }}
                            /{{ entity.holeCount }}</td>
                        <td>{{ entity.strikesCount }}</td>
                        <td>
                            <ul>
                                <li class="iconlistshow">
                                    <a class="detail"
                                       href="{{ path('frontend_round_show', {id:entity.id}) }}">{{ 'Details'|trans }}</a>
                                </li>
                                <li class="iconlistshow">
                                    <a class="delete btnOpenDialog"
                                       href="{{ path('frontend_round_delete', {id:entity.id}) }}">{{ 'Delete'|trans }}</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

    </div>

    {{ knp_pagination_render(entities) }}

{% endblock %}

{% block foot_script %}
    {{ parent() }}
    <script>
        $('.statusHover i').on('mouseenter', function () {
            $(this).hasClass('icon-ok') ? $(this).removeClass('icon-ok').addClass('icon-remove') : $(this).removeClass('icon-remove').addClass('icon-ok');
        }).on('mouseout', function () {
            $(this).hasClass('icon-ok') ? $(this).removeClass('icon-ok').addClass('icon-remove') : $(this).removeClass('icon-remove').addClass('icon-ok');
        });

        function fnOpenNormalDialog(event) {
            event.preventDefault();
            var href = $(this).attr('href');

            $('.dialog-confirm').dialog({
                resizable: false,
                modal: true,
                height: 200,
                width: 250,
                buttons: {
                    "Si": function () {
                        $(this).dialog('close');
                        window.location = href;
                    },
                    "No": function () {
                        $(this).dialog('close');
                    }
                }
            });

        }

        $('.btnOpenDialog').click(fnOpenNormalDialog);

    </script>
{% endblock %}