{% extends '::base.html.twig' %}

{% form_theme form _self %}

{% block radio_widget %}
    {% spaceless %}
        <input {% if 'design' in id or 'ballFlight' in id %}class="radio-in-radio" style="display: none;"{% endif %}
               type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        {% if value is defined %}
            {% if 'design' in id or 'ballFlight' in id %}
                <img class="imagen-in-radio" src="{{ asset('/img/'~value~'.png') }}" title="{{ value|trans }}"/>
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock radio_widget %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                {% if 'bueno' not in error.message %}
                    <section class="validation">
                        <span class="help-block">
                            {{ error.message }}
                            <br>
                        </span>
                    </section>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block content -%}
    <div class="pageblock">
        <div class="pageblockgeneric">

            {#<div class="newHoleTopArea">#}
            {#<h3 class="title">{{ 'Hole Creation'|trans() }}</h3>#}
            {#{% include 'CraueFormFlowBundle:FormFlow:stepList.html.twig' %}#}
            {#</div>#}

            <div class="grey-box-area grey-color">
                <ul>
                    <li class="main"><span>{{ 'Vuelta ' ~ round.roundNumber }}</span></li>
                    <li class="backward"><span>datos generales</span></li>
                    <li class="backward"><span>estado inicial</span></li>
                    <li class="backward"><span>detalles</span></li>
                    <li class="current"><span>hoyos</span></li>
                    <li class="forward"><span>estado final</span></li>
                </ul>
            </div>

            <div class="grey-box-area">
                <ul>
                    <li class="main"><span>{{ 'Hoyo ' ~ round.calculateNextHoleNumber ~ '/' ~ round.holeCount }}</span>
                    </li>
                    {% set currentStep = flow.getCurrentStep %}
                    {% set designAndPairClass = 'forward' %}
                    {% set firstStrikeClass = 'forward' %}
                    {% set strikesClass = 'forward' %}
                    {% set puttClass = 'forward' %}
                    {% set penaltiesClass = 'forward' %}
                    {% set confirmationClass = 'forward' %}
                    {% if currentStep == 1 %}
                        {% set designAndPairClass = 'current' %}
                    {% elseif currentStep == 2 %}
                        {% set designAndPairClass = 'backward' %}
                        {% set firstStrikeClass = 'current' %}
                    {% elseif currentStep == 3 or currentStep == 4 or currentStep == 5 or currentStep == 6 or currentStep == 7 %}
                        {% set designAndPairClass = 'backward' %}
                        {% set firstStrikeClass = 'backward' %}
                        {% set strikesClass = 'current' %}
                    {% elseif currentStep == 8 or currentStep == 9 %}
                        {% set designAndPairClass = 'backward' %}
                        {% set firstStrikeClass = 'backward' %}
                        {% set strikesClass = 'backward' %}
                        {% set puttClass = 'current' %}
                    {% elseif currentStep == 10 %}
                        {% set designAndPairClass = 'backward' %}
                        {% set firstStrikeClass = 'backward' %}
                        {% set strikesClass = 'backward' %}
                        {% set puttClass = 'backward' %}
                        {% set penaltiesClass = 'current' %}
                    {% elseif currentStep == 11 %}
                        {% set designAndPairClass = 'backward' %}
                        {% set firstStrikeClass = 'backward' %}
                        {% set strikesClass = 'backward' %}
                        {% set puttClass = 'backward' %}
                        {% set penaltiesClass = 'backward' %}
                        {% set confirmationClass = 'current' %}
                    {% endif %}
                    <li class="{{ designAndPairClass }}"><span>diseño y par</span></li>
                    <li class="{{ firstStrikeClass }}"><span>salida</span></li>
                    <li class="{{ strikesClass }}"><span>golpe/s</span></li>
                    <li class="{{ puttClass }}"><span>putt</span></li>
                    <li class="{{ penaltiesClass }}"><span>penalización</span></li>
                    <li class="{{ confirmationClass }}"><span>confirmación</span></li>
                </ul>
            </div>
        </div>

        {% if flow.getCurrentStepNumber() == constant('AndresGotta\\Bundle\\GolfBundle\\Form\\CreateHoleFlow::DESIGN_AND_PAR_STEP') %}
            <div class="newHole">


                <dl>
                    <dt>{{ 'Player Condition'|trans }}</dt>
                    <dd>{{ round.playerCondition|trans }}</dd>

                    {% if round.playerCondition == constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\PlayerCondition::AMATEUR') %}
                        <dt>{{ 'Handicap'|trans }}</dt>
                        <dd>{{ round.handicap|replace({'-':'+'}) }}</dd>
                    {% else %}
                        <dt>{{ 'Tour'|trans }}</dt>
                        <dd>{{ round.tour }}</dd>
                    {% endif %}

                    <dt>{{ 'Round Type'|trans }}</dt>
                    <dd>{{ round.roundType|trans }}</dd>

                    {% if round.roundType == constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\RoundType::TOURNAMENT') %}
                        <dt>{{ 'Tournament Type'|trans }}</dt>
                        <dd>{{ round.tournamentType|trans }}</dd>

                        <dt>{{ 'Round Number'|trans }}</dt>
                        <dd>{{ round.roundNumber }}</dd>
                    {% endif %}

                    <dt>{{ 'Game Condition'|trans }}</dt>
                    <dd>{{ round.gameCondition|trans }}</dd>

                    <dt>{{ 'Field Type'|trans }}</dt>
                    <dd>{{ round.fieldType|trans }}</dd>

                    <dt>{{ 'Field Par'|trans }}</dt>
                    <dd>{{ round.fieldPar|trans }}</dd>
                </dl>
            </div>
        {% endif %}

        {% if flow.getCurrentStepNumber() > constant('AndresGotta\\Bundle\\GolfBundle\\Form\\CreateHoleFlow::DESIGN_AND_PAR_STEP') %}
            <div class="infofixed">
                <h3 class="titlewithborderbottomwhite">{{ 'Round'|trans }} {{ round.roundNumber }}</h3>
                <p>{{ 'Hole Par'|trans }} : {{ hole.par }}</p>
                <p>{{ 'Hole Number'|trans }} : {{ hole.number }}</p>
            </div>
        {% endif %}

        {% if flow.getCurrentStepNumber() not in [1, 10, 11, 12] %}
            <div class="newHole">
                <h4>{{ 'Load next strike'|trans }} <span id="current-strike"></span></h4>
            </div>
        {% endif %}
        <div class="formcontent newHoleContent">
            {#Steps:#}
            {#{% include '@CraueFormFlow/FormFlow/stepList.html.twig' %}#}
            <div class="right roundform newHoleRightArea">
                {{ form_start(form, {'attr':{'novalidate':'novalidate', 'id':'holeForm'} }) }}

                {{ form_rest(form) }}

                {% if flow.getCurrentStepNumber() == constant('AndresGotta\\Bundle\\GolfBundle\\Form\\CreateHoleFlow::DESCRIPTION_STEP') %}
                    {% include 'AndresGottaGolfBundle:Frontend/DataEntry:_hole_detail_end.html.twig' %}
                {% endif %}

                <div class="inborderline"></div>

                {% include 'CraueFormFlowBundle:FormFlow:buttons.html.twig' %}
                {{ form_end(form) }}

                <div class="btn-expanded">
                    <a href="{{ path('frontend_round_show', {id:round.id}) }}"
                       class="btn btn-cancel-generic">{{ 'descartar hoyo'|trans }}
                    </a>
                    <a href="{{ path('frontend_round_show', {id:round.id}) }}"
                       class="btn btn-cancel-generic btn-clean-generic">{{ 'limpiar y volver a empezar'|trans }}
                    </a>
                </div>

            </div>

        </div>
    </div>
    </div>
{% endblock %}

{% block foot_script %}
    {{ parent() }}
    {% javascripts
    'bundles/andresgottafrontendtheme/js/jquery.selectToButton.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% include '@AndresGottaGolf/Frontend/DataEntry/javascript/hole.html.twig' %}

    <script>
        var hole = new Hole();
        hole.checkStatuses();
        hole.applySlider('[name$="[distance]"]');

        var isCollection = hole.isCollection();

        $(document).ready(function () {

            hole.initReasonCheckboxes();
            hole.initResultCheckboxes();
            hole.initDesignRadios();

            strikes.push($('.collection-item:first'));

            if (isCollection) {
                $('[name$="[reason]"]').on('click', function () {
                    var isValid = hole.validateCollectionItem($(this).closest('.collection-item'));

                    if (isValid) {
                        hole.addStrike();
                    } else {
                        $(this).attr('checked', false);
                    }
                });
            }

            {% if flow.getCurrentStepNumber == 2 or flow.getCurrentStepNumber == 4 or flow.getCurrentStepNumber == 6 or flow.getCurrentStepNumber == 8 %}
                $('#current-strike').html({{ hole.getTotalStrikes+1 }});
            {% elseif flow.getCurrentStepNumber == 3 or flow.getCurrentStepNumber == 5 or flow.getCurrentStepNumber == 7 or flow.getCurrentStepNumber == 9 %}
                $('#current-strike').html({{ hole.getTotalStrikes }});
            {% endif %}

            $("form button[type=submit]").click(function (event) {
                $("button[type=submit]", $(this).closest("form")).removeAttr("clicked");
                $(this).attr("clicked", "true");
                var isHoleOut = $('#holeForm').find('[name$="[result]"][value="hole.out"]:checked').length;
                if (isHoleOut) {
                    event.preventDefault();
                    hole.confirmMessage();
                }
            });
        });
    </script>
{% endblock %}