{% extends '::base.html.twig' %}

{% block content -%}

    <div class="pageblock">

        <div class="pageblockgeneric">

            <div class="grey-box-area grey-color">
                <ul>
                    <li class="main"><span>{{ 'Vuelta ' }}</span></li>
                    <li class="current"><span>datos generales</span></li>
                    <li class="forward"><span>estado inicial</span></li>
                    <li class="forward"><span>detalles</span></li>
                    <li class="forward"><span>hoyos</span></li>
                    <li class="forward"><span>estado final</span></li>
                </ul>
            </div>

        </div>

        <div class="roundform uploadformround">
            <h1>{{ 'Upload my return'|trans }}</h1>

            {{ form(form, { attr:{ novalidate:'novalidate'} }) }}

            <div class="inborderline"></div>
        </div>

        <div class="btn-expanded">
            <a href="{{ path('frontend_round') }}" class="btn btn-cancel-generic">{{ 'Cancel'|trans }}</a>
        </div>

    </div>


{% endblock %}

{% block foot_script %}
    {{ parent() }}
    <script>
        function hideOptions(index) {
            var element;
            if (!index) {
                var index = 0;
            }

            $('#andresgotta_bundle_golfbundle_round_roundNumber').val('');
            $('#andresgotta_bundle_golfbundle_round_roundNumber option').prop('disabled', false);
            for (var i = 0; i <= index; i++) {
                element = $('#andresgotta_bundle_golfbundle_round_roundNumber option').get(i);
                $(element).prop('disabled', false);
                $(element).show();
            }

            for (var i = index + 1; i < $('#andresgotta_bundle_golfbundle_round_roundNumber option').length; i++) {
                element = $('#andresgotta_bundle_golfbundle_round_roundNumber option').get(i);
                $(element).attr('disabled', 'disabled');
                $(element).hide();
            }
        }

        $(function () {
            hideOptions();
            $('#andresgotta_bundle_golfbundle_round_tournamentType').click(
                function () {
                    var option = $(this).find('option:selected');
                    var index = $('#andresgotta_bundle_golfbundle_round_tournamentType option').index(option);
                    hideOptions(index);
                }
            );

            $('input[name="andresgotta_bundle_golfbundle_round[playerCondition]"]').on('click', function () {
                if ($(this).val() === 'player.amateur') {
                    $('#andresgotta_bundle_golfbundle_round_handicap_control_group').show();
                    $('#andresgotta_bundle_golfbundle_round_tour_control_group').hide();
                } else {
                    $('#andresgotta_bundle_golfbundle_round_handicap_control_group').hide();
                    $('#andresgotta_bundle_golfbundle_round_tour_control_group').show();
                }
            }).filter(':checked').trigger('click');

            $('input[name="andresgotta_bundle_golfbundle_round[roundType]"]').on('click', function () {
                if ($(this).val() === 'round.type.practice') {
                    $('#andresgotta_bundle_golfbundle_round_tournamentType_control_group').hide();
                    $('#andresgotta_bundle_golfbundle_round_roundNumber_control_group').hide();
                } else {
                    $('#andresgotta_bundle_golfbundle_round_tournamentType_control_group').show();
                    $('#andresgotta_bundle_golfbundle_round_roundNumber_control_group').show();
                }
            }).filter(':checked').trigger('click');
        });
    </script>
{% endblock %}