{% extends '::base.html.twig' %}

{% block content -%}

    <div class="pageblock">

        <div class="pageblockgeneric">

            <div class="grey-box-area grey-color">
                <ul>
                    <li class="main"><span>{{ 'Vuelta ' ~ round.id }}</span></li>
                    <li class="backward"><span>datos generales</span></li>
                    <li class="backward"><span>estado inicial</span></li>
                    <li class="backward"><span>detalles</span></li>
                    <li class="backward"><span>hoyos</span></li>
                    <li class="current"><span>estado final</span></li>
                </ul>
            </div>

        </div>

        <div class="formcontent newHoleContent">

            <div class="right roundform newHoleRightArea">

                <div class="roundform uploadformround pre-competitive-questionnaire text-center">

                    {{ form_start(postCompetitiveQuestionnaireForm) }}

                    {{ form_errors(postCompetitiveQuestionnaireForm) }}

                    {{ form_row(postCompetitiveQuestionnaireForm.feelingStatus) }}

                    <br/>

                    <div class="inborderline"></div>

                    {{ form_row(postCompetitiveQuestionnaireForm.submit, { 'label': 'FINALIZAR' }) }}

                    {{ form_end(postCompetitiveQuestionnaireForm) }}

                    {#{{ form(postCompetitiveQuestionnaireForm) }}#}
                </div>

                <div class="btn-expanded">
                    <a href="{{ path('frontend_round') }}"
                       class="btn btn-cancel-generic">{{ 'Cancel'|trans }}
                    </a>
                </div>

            </div>

        </div>
    </div>

    {#<div class="pageblock">#}
    {#<div class="pageblockgeneric">#}


    {#</div>#}

    {#<div class="formcontent">#}
    {#{{ form(postCompetitiveQuestionnaireForm) }}#}
    {#</div>#}
    {#</div>#}


{% endblock %}

{% block foot_script %}
    {{ parent() }}
{% endblock %}

