{% extends '::base.html.twig' %}

{% block content -%}

    <div class="pageblock">

        <div class="pageblockgeneric">

            <div class="grey-box-area grey-color">
                <ul>
                    <li class="main"><span>{{ 'Vuelta ' ~ round.id }}</span></li>
                    <li class="backward"><span>datos generales</span></li>
                    <li class="current"><span>estado inicial</span></li>
                    <li class="forward"><span>detalles</span></li>
                    <li class="forward"><span>hoyos</span></li>
                    <li class="forward"><span>estado final</span></li>
                </ul>
            </div>
        </div>

        <div class="formcontent newHoleContent">

            <div class="right roundform newHoleRightArea">

                <div class="roundform uploadformround pre-competitive-questionnaire">

                    <div class="container">

                        <br/>
                        <br/>

                        <fieldset>
                            <div class="pre-competitive-questionnaire-line pre-competitive-questionnaire-line-1">
                                <div class="control-group">
                                    <label class="control-label required">
                                        ¿Entraste en calor?
                                    </label>
                                    <div class=" controls">
                                        <div class="switch switch--horizontal">
                                            <input id="radio1-b" type="radio" name="first-switch" checked="checked"/>
                                            <label for="radio1-b">No</label>
                                            <input id="radio1-a" type="radio" name="first-switch"/>
                                            <label for="radio1-a">Si</label>
                                            <span class="toggle-outside"><span class="toggle-inside"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="pre-competitive-questionnaire-line pre-competitive-questionnaire-line-2">
                                <div class="control-group">
                                    <label class="control-label required">
                                        ¿Tiraste pelotas?
                                    </label>
                                    <div class=" controls">
                                        <div class="switch switch--horizontal">
                                            <input id="radio2-b" type="radio" name="first-switch2" checked="checked"/>
                                            <label for="radio2-b">No</label>
                                            <input id="radio2-a" type="radio" name="first-switch2"/>
                                            <label for="radio2-a">Si</label>
                                            <span class="toggle-outside"><span class="toggle-inside"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="pre-competitive-questionnaire-line pre-competitive-questionnaire-line-3">
                                <div class="control-group">
                                    <label class="control-label required">
                                        ¿Te sentías con ganas de jugar?
                                    </label>
                                    <div class=" controls">
                                        <div class="switch switch--horizontal">
                                            <input id="radio3-b" type="radio" name="first-switch3" checked="checked"/>
                                            <label for="radio3-b">No</label>
                                            <input id="radio3-a" type="radio" name="first-switch3"/>
                                            <label for="radio3-a">Si</label>
                                            <span class="toggle-outside"><span class="toggle-inside"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="pre-competitive-questionnaire-line pre-competitive-questionnaire-line-4">
                                <div class="control-group">
                                    <label class="control-label required">
                                        ¿Tenías definida tu estrategia de juego?
                                    </label>
                                    <div class=" controls">
                                        <div class="switch switch--horizontal">
                                            <input id="radio4-b" type="radio" name="first-switch4" checked="checked"/>
                                            <label for="radio4-b">No</label>
                                            <input id="radio4-a" type="radio" name="first-switch4"/>
                                            <label for="radio4-a">Si</label>
                                            <span class="toggle-outside"><span class="toggle-inside"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                    </div>

                    {{ form_start(preCompetitiveQuestionnaireForm) }}

                    {{ form_errors(preCompetitiveQuestionnaireForm) }}

                    {{ form_row(preCompetitiveQuestionnaireForm.isWarmedUp) }}
                    {{ form_row(preCompetitiveQuestionnaireForm.hasPracticed) }}
                    {{ form_row(preCompetitiveQuestionnaireForm.wantsToPlay) }}
                    {{ form_row(preCompetitiveQuestionnaireForm.hasStrategy) }}

                    <br/>
                    <div class="inborderline"></div>

                    {{ form_row(preCompetitiveQuestionnaireForm.submit, { 'label': 'CONTINUAR' }) }}

                    {{ form_end(preCompetitiveQuestionnaireForm) }}

                    {#{{ form(preCompetitiveQuestionnaireForm) }}#}
                </div>

                <div class="btn-expanded">
                    <a href="{{ path('frontend_round') }}"
                       class="btn btn-cancel-generic">{{ 'Cancel'|trans }}
                    </a>
                </div>

            </div>

        </div>
    </div>

{% endblock %}

{% block foot_script %}
    {{ parent() }}
{% endblock %}
