{% extends '::base.html.twig' %}

{% block content -%}

    <div class="pageblock">

        <div class="pageblockgeneric">

            <div class="grey-box-area grey-color">
                <ul>
                    <li class="main"><span>{{ 'Vuelta ' }}</span></li>
                    <li class="forward"><span>datos generales</span></li>
                    <li class="forward"><span>estado inicial</span></li>
                    <li class="current"><span>detalles</span></li>
                    <li class="forward"><span>hoyos</span></li>
                    <li class="forward"><span>estado final</span></li>
                </ul>
            </div>

        </div>

        <div class="roundform">

            <div class="detailHoyos">
                {% include 'AndresGottaGolfBundle:Frontend/DataEntry:_detail.html.twig' with {round:round} only %}
            </div>

        </div>

        <div class="btn-expanded">
            <a href="{{ path('frontend_round') }}" class="btn btn-cancel-generic">{{ 'Go back'|trans }}</a>
        </div>

    </div>

{%- endblock %}

{% block foot_script %}
    {{ parent() }}
    <script>
        function fnOpenNormalDialog(event) {
            event.preventDefault();
            var href = $(this).attr('href');

            $('.dialog-confirm').dialog({
                resizable: false,
                modal: true,
                height: 200,
                width: 250,
                buttons: {
                    "Si": function () {
                        $(this).dialog('close');
                        window.location = href;
                    },
                    "No": function () {
                        $(this).dialog('close');
                    }
                }
            });

        }

        $('.btnOpenDialog').click(fnOpenNormalDialog);

    </script>
{% endblock %}