{% extends app.user ? 'WebFactoryBackendThemeBundle::layout.html.twig' : 'WebFactoryBackendThemeBundle::login_layout.html.twig' %}

{% block content_sidebar %}
<ul>
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ACADEMY') %}
        <li class="glyphicons home {{ activeRoute('backend_dashboard') }}"><a href="{{ path('backend_dashboard') }}"><i></i><span>{{ 'menu.dashboard'|trans }}</span></a></li>
        {#<li class="hasSubmenu glyphicons user {{ activeRoute(['backend_user*', 'backend_group*']) }}">#}
            {#<a data-toggle="collapse" href="{{ path('backend_user') }}#menu_user"><i></i><span>{{ 'menu.user'|trans }}</span></a>#}
            {#<ul class="collapse {{ activeRoute('backend_user*') ? 'in':'' }}" id="menu_user">#}
                {#<li class="{{ activeRoute('backend_user') }}"><a href="{{ path('backend_user') }}"><span>{{ 'menu.user.list'|trans }}</span></a></li>#}
                {#<li class="{{ activeRoute(['backend_user_new', 'backend_user_create']) }}"><a href="{{ path('backend_user_new') }}"><span>{{ 'menu.user.new'|trans }}</span></a></li>#}
                {#{% if is_granted('ROLE_ADMIN') %}#}
                    {#<li class="{{ activeRoute(['backend_group_index', 'backend_user_create', 'backend_group_index']) }}">#}
                        {#<a href="{{ path('backend_group_index') }}"><span>{{ 'menu.user.groups'|trans }}</span></a></li>#}
                {#{% endif %}#}
            {#</ul>#}
        {#</li>#}
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <li class="hasSubmenu {{ activeRoute(['backend_category*', 'backend_news*', 'backend_comment']) }}">
            <a data-toggle="collapse" class="glyphicons show_thumbnails_with_lines" href="{{ path('backend_news') }}#menu_news"><i></i><span>{{ 'menu.news'|trans }}</span></a>
            <ul class="collapse {{ activeRoute(['backend_category*', 'backend_news*', 'backend_comment']) ? 'in' : '' }}" id="menu_news">
                <li class="{{ activeRoute('backend_category') }}"><a href="{{ path('backend_category') }}"><span>{{ 'menu.category.list'|trans }}</span></a></li>
                <li class="{{ activeRoute(['backend_category_new', 'backend_category_create']) }}"><a href="{{ path('backend_category_new') }}"><span>{{ 'menu.category.new'|trans }}</span></a></li>
                <li class="{{ activeRoute('backend_news') }}"><a href="{{ path('backend_news') }}"><span>{{ 'menu.news.list'|trans }}</span></a></li>
                <li class="{{ activeRoute(['backend_news_new', 'backend_news_create']) }}"><a href="{{ path('backend_news_new') }}"><span>{{ 'menu.news.new'|trans }}</span></a></li>
                <li class="{{ activeRoute('backend_comment') }}"><a href="{{ path('backend_comment') }}"><span>{{ 'menu.comment.list'|trans }}</span></a></li>
            </ul>
        </li>

        {#<li class="hasSubmenu {{ activeRoute(['backend_service*', 'backend_package*', 'backend_service_usergroup*']) }}">#}
            {#<a data-toggle="collapse" class="glyphicons folder_open " href="{{ path('backend_service') }}#menu_service"><i></i><span>{{ 'menu.service'|trans }}</span></a>#}
            {#<ul class="collapse {{ activeRoute(['backend_service*', 'backend_package*', 'backend_service_usergroup*']) ? 'in' : '' }}" id="menu_service">#}
                {#<li class="{{ activeRoute('backend_service') }}"><a href="{{ path('backend_service') }}"><span>{{ 'menu.service.list'|trans }}</span></a></li>#}
                {#<li class="{{ activeRoute(['backend_service_new', 'backend_service_create']) }}"><a href="{{ path('backend_service_new') }}"><span>{{ 'menu.service.new'|trans }}</span></a></li>#}
                {#<li class="{{ activeRoute(['backend_service_promotional_codes_list', 'backend_service_promotional_codes_create']) }}"><a href="{{ path('backend_service_promotional_codes_list') }}"><span>{{ 'menu.service.promotional_codes'|trans }}</span></a></li>#}
            {#</ul>#}
        {#</li>#}
        {% endif %}

        {#{% if is_granted('ROLE_ADMIN') %}#}
        {#<li class="glyphicons notes {{ activeRoute('webfactory_order_backend_order_index') }}"><a href="{{ path('webfactory_order_backend_order_index') }}"><i></i><span>{{ 'menu.order'|trans }}</span></a></li>#}
        {#{% endif %}#}

        {#{% if is_granted('ROLE_ADMIN') %}#}
        {#<li class="hasSubmenu {{ activeRoute(['webfactory_payment_creditcard', 'webfactory_payment_backend_payment_index']) }}">#}
            {#<a data-toggle="collapse" class="glyphicons usd" href="{{ path('webfactory_payment_backend_payment_index') }}#menu_payments"><i></i><span>{{ 'menu.payment'|trans }}</span></a>#}
            {#<ul class="collapse {{ activeRoute(['webfactory_payment_backend_creditcard_*', 'webfactory_payment_creditcard']) }}" id="menu_payments">#}
                {#<li class="{{ activeRoute('webfactory_payment_backend_payment_index') }}"><a href="{{ path('webfactory_payment_backend_payment_index') }}"><span>{{ 'menu.payment.list'|trans }}</span></a></li>#}
                {#<li class="{{ activeRoute('webfactory_payment_backend_creditcard_index') }}"><a href="{{ path('webfactory_payment_backend_creditcard_index') }}"><span>{{ 'menu.creditcard.list'|trans }}</span></a></li>#}
            {#</ul>#}
        {#</li>#}
        {#{% endif %}#}

        {#{% if is_granted('ROLE_ADMIN') %}#}
        {#<li class="glyphicons usd {{ activeRoute('backend_sale') }}"><a href="{{ path('backend_sale') }}"><i></i><span>{{ 'menu.sale'|trans }}</span></a></li>#}
        {#{% endif %}#}

        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ACADEMY')%}
        <li class="hasSubmenu glyphicons stats {{ activeRoute(['backend_report*', 'andres_gotta_academy_backend_lesson_reports']) }}">
            <a data-toggle="collapse" href="{{ path('backend_report_index') }}#menu_report"><i></i><span>{{ 'menu.report'|trans }}</span></a>

            <ul class="collapse {{ activeRoute(['backend_report*', 'andres_gotta_academy_backend_lesson_reports']) ? 'in':'' }}" id="menu_report">
                {#{% if is_granted('ROLE_ADMIN') %}#}
                {#<li class="{{ activeRoute('backend_report_index') }}"><a href="{{ path('backend_report_index') }}"><span>{{ 'menu.report.list'|trans }}</span></a></li>#}
                {#<li class="{{ activeRoute('backend_report_tags') }}"><a href="{{ path('backend_report_categorys') }}"><span>{{ 'menu.report.tags'|trans }}</span></a></li>#}
                {#<li class="{{ activeRoute('backend_report_user') }}"><a href="{{ path('backend_report_user') }}"><span>{{ 'menu.report.user'|trans }}</span></a></li>#}
                {#<li class="{{ activeRoute('backend_report_questionnaires') }}"><a href="{{ path('backend_report_questionnaires') }}"><span>{{ 'menu.report.questionnaires'|trans }}</span></a></li>#}
                {#{% endif %}#}

                <li class="{{ activeRoute('andres_gotta_academy_backend_lesson_reports') }}"><a href="{{ path('andres_gotta_academy_backend_lesson_reports') }}"><span>{{ 'menu.report.academy'|trans }}</span></a></li>
            </ul>
        </li>
        {% endif %}

        {#{% if is_granted('ROLE_ADMIN') %}#}
        {#<li class="hasSubmenu glyphicons stats {{ activeRoute('backend_comparative*') }}">#}
            {#<a data-toggle="collapse" href="{{ path('backend_comparative_index') }}#menu_comparative"><i></i><span>{{ 'menu.comparatives'|trans }}</span></a>#}
            {#<ul class="collapse {{ activeRoute('backend_comparative  *') ? 'in':'' }}" id="menu_comparative">#}
                {#<li class="{{ activeRoute('backend_comparative_index') }}"><a href="{{ path('backend_comparative_index') }}"><span>{{ 'menu.comparative.list'|trans }}</span></a></li>#}
            {#</ul>#}
        {#</li>#}
        {#{% endif %}#}

        {% if is_granted('ROLE_ADMIN') %}
        <li class="hasSubmenu glyphicons envelope {{ activeRoute('backend_message*') }}">
            <a data-toggle="collapse" href="{{ path('backend_message') }}#menu_message"><i></i><span>{{ 'menu.message'|trans }}</span></a>
            <ul class="collapse {{ activeRoute('backend_message*') ? 'in':'' }}" id="menu_message">
                <li class="{{ activeRoute('backend_message') }}"><a href="{{ path('backend_message') }}"><span>{{ 'menu.message.list'|trans }}</span></a></li>
                <li class="{{ activeRoute(['backend_message_new', 'backend_message_create']) }}"><a href="{{ path('backend_message_new') }}"><span>{{ 'menu.message.new'|trans }}</span></a></li>
            </ul>
        </li>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
        <li class="hasSubmenu {{ activeRoute('video*') }}">
            <a data-toggle="collapse" class="glyphicons folder_open " href="{{ path('video_video') }}#menu_video"><i></i><span>{{ 'menu.video'|trans }}</span></a>
            <ul class="collapse {{ activeRoute('video*') ? 'in' : '' }}" id="menu_video">
                <li class="{{ activeRoute('video_video') }}"><a href="{{ path('video_video') }}"><span>{{ 'menu.video.list'|trans }}</span></a></li>
                <li class="{{ activeRoute(['video_video_new', 'video_video_create']) }}"><a href="{{ path('video_video_new') }}"><span>{{ 'menu.video.new'|trans }}</span></a></li>
                <li class="{{ activeRoute('video_category') }}"><a href="{{ path('video_category') }}"><span>{{ 'menu.category.list'|trans }}</span></a></li>
                <li class="{{ activeRoute(['video_category_new', 'video_category_create']) }}"><a href="{{ path('video_category_new') }}"><span>{{ 'menu.category.new'|trans }}</span></a></li>
            </ul>
        </li>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
        <li class="hasSubmenu glyphicons microphone {{ activeRoute('backend_subscription*') }}">
            <a data-toggle="collapse" href="{{ path('backend_subscription') }}#menu_subscription"><i></i><span>{{ 'menu.newsletter'|trans }}</span></a>
            <ul class="collapse {{ activeRoute('backend_subscription*') ? 'in':'' }}" id="menu_subscription">
                <li class="{{ activeRoute('backend_subscription') }}"><a href="{{ path('backend_subscription') }}"><span>{{ 'menu.subscription.list'|trans }}</span></a></li>
            </ul>
        </li>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
        <li class="hasSubmenu glyphicons list {{ activeRoute('webfactory_faq_backend_faq_index*') }}">
            <a data-toggle="collapse" href="{{ path('webfactory_faq_backend_faq_index') }}#menu_faqs"><i></i><span>{{ 'menu.faqs'|trans }}</span></a>
            <ul class="collapse {{ activeRoute('webfactory_faq_backend_faq_index*') ? 'in':'' }}" id="menu_faqs">
                <li class="{{ activeRoute('webfactory_faq_backend_faq_index') }}"><a href="{{ path('webfactory_faq_backend_faq_index') }}"><span>{{ 'menu.faqs.list'|trans }}</span></a></li>
                <li class="{{ activeRoute('webfactory_faq_backend_faq_new') }}"><a href="{{ path('webfactory_faq_backend_faq_new') }}"><span>{{ 'menu.faqs.new'|trans }}</span></a></li>
            </ul>
        </li>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
        <li class="glyphicons cogwheels {{ activeRoute(['configuration', 'configuration_edit']) }}"><a href="{{ path('configuration') }}"><i></i><span>{{ 'menu.configuration'|trans }}</span></a></li>
    {% endif %}

</ul>

{% endblock content_sidebar %}

{% block profile %}
<span class="profile">
    <a class="img" href="{{ path('backend_fos_user_profile_show') }}"><img src="{{ asset('bundles/webfactorybackendtheme/theme/images/profilepic-default.gif') }}" alt="{{ app.user }}" height="51" width="51" /></a>
    <span>
        <strong>{{ app.user }}</strong>
        <a href="{{ path('backend_fos_user_profile_edit') }}">{{ 'edit account'|trans }}</a>
    </span>
</span>
{% endblock profile %}

{% block search %}
<br>
{% endblock search %}

{% block breadcrumb %}{% endblock breadcrumb %}

{% block sidebar_side_selector %}{% endblock sidebar_side_selector %}

{% block notifications %}{% endblock notifications %}

{% block heading %}
<div class="heading-buttons">
    <h3>{{ block('headline') }}<span> | {{ get_config('site_name') }}</span></h3>
    <div class="buttons pull-right">
        {% block heading_buttons %}
        <a href="{{ gotta_center_api_backend }}" target="_blank" class="btn btn-default btn-icon glyphicons cloud"><i></i> {{ 'Gotta Center'|trans }}</a>
        {% endblock heading_buttons %}
    </div>
</div>
<div class="separator bottom"></div>
{% endblock heading %}

{% block widget_head %}
<div class="widget-head">
    <h4 class="heading glyphicons list"><i></i> {{ 'administrate'|trans }}</h4>
</div>
{% endblock widget_head %}


{% block account %}
<li class="account">
    <a data-toggle="dropdown" href="#" class="glyphicons logout lock"><span class="hidden-phone text">{{ app.user }}</span><i></i></a>
    <ul class="dropdown-menu pull-right">
        <li><a href="{{ path('frontend_homepage') }}" class="glyphicons global" target="_blank">{{ 'menu.frontend_homepage'|trans }}<i></i></a></li>
        <li><a href="{{ path('configuration') }}" class="glyphicons cogwheel">{{ 'menu.configuration'|trans }}<i></i></a></li>

        {% if app.user %}
        <li class="highlight profile">
            <span>
                <span class="heading">{{ 'Profile'|trans }} <a href="{{ path('backend_fos_user_change_password') }}" class="pull-right">{{ 'change password'|trans }}</a></span>
                <span class="img">
                    <img src="{{ asset('bundles/webfactorybackendtheme/theme/images/profilepic-default.gif') }}" alt="{{ app.user }}" height="51" width="51" />
                </span>
                <span class="details"><a href="{{ path('backend_fos_user_profile_edit') }}">{{ app.user }}</a>
<span>{{ app.user.email }}</span></span>
                <span class="clearfix"></span>
            </span>
        </li>

        <li>
            <span>
                <a class="btn btn-default btn-small pull-right" style="padding: 2px 10px; background: #fff;" href="{{ path('backend_fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
            </span>
        </li>
        {% endif %}
    </ul>
</li>
{% endblock account %}

{% block footer %}
<footer style="text-align: right;margin: 10px 20px">
<p>&copy; <a href="{{ get_config('about_url') }}" target="_blank" class="act">{{ get_config('about_text') }}</a> 2013</p>
</footer>
{% endblock footer %}