{% extends app.request.attributes.get('_layout') == 'backend' ? '::backend.html.twig' : '::frontend.html.twig' %}

{% block title %}{{ get_config('site_name') }}{% endblock %}

{% block headline %}{{ block('title') }}{% endblock headline %}

{% block navbar %}
{% endblock navbar %}

{% block themer %}{% endblock themer %}
{% block lang_selector %}{% endblock lang_selector %}