{% extends "::base.html.twig" %}

{% block featureimage %}{% endblock featureimage %}


{% block content %}
  <div class="pageblock">
    <div class="pageblockgeneric">
		<div class="error{{ status_code }}">
			{% block message %}{% endblock %}			
		</div>
	</div>
</div>
{% endblock content -%}
