{% block filters %}
<p>
    <a class="btn showFilters" href="#filterContainer" data-toggle="modal" role="button">
        <i class="icon-search"></i> {{ 'Show Filters'|trans }}
    </a>
</p>
<br>

<div id="filterContainer" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">{{ 'Filters'|trans }}</h3>
  </div>
  <div class="modal-body">
    {{ grid_search(grid, gridBlock) }}
  </div>
  <div class="modal-footer">
    <button id="postFormFilter" class="btn btn-primary">{{ 'Search'|trans }}</button>
    <button id="resetFormFilter" class="btn btn-danger">{{ 'Reset'|trans }}</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">{{ 'Close'|trans }}</button>
  </div>
</div>

<script>
    $(document).ready(function(){
        $('.grid-search .grid-search-action').hide();
        $('#postFormFilter').click(function(e) {
            e.preventDefault();
            $('#filterContainer').modal('hide');
            setTimeout(function() {
                $('.grid-search .grid-search-submit').click();
            }, 300);
        });
        $('#resetFormFilter').click(function(e) {
            e.preventDefault();
            $('#filterContainer').modal('hide');
            setTimeout(function() {
                $('.grid-search .grid-search-reset').click();
            }, 300);
        });
        $('.grid').on('change', '.grid-mass-selector', function() {
            $.uniform.update($('.grid input:checkbox'));
        });
    });
</script>
{% endblock filters %}