{% for flashType,flashTypeArray in app.session.flashbag.all() %}
    {% for flashMessage in flashTypeArray %}
    <div class="flash-{{ flashType }}">
        {{ flashMessage|trans }}
    </div>
    {% endfor %}
{% endfor %}