{% extends  'AndresGottaFrontendThemeBundle::layout.html.twig' %}

{% block profile %}
    <span class="profile">
        <a class="img" href="{{ path('frontend_fos_user_profile_show') }}"><img src="{{ asset('bundles/webfactorybackendtheme/theme/images/profilepic-default.gif') }}" alt="{{ app.user }}" height="51" width="51" /></a>
        <span>
            <strong>{{ app.user }}</strong>
            <a href="{{ path('frontend_fos_user_profile_edit') }}">{{ 'edit account'|trans }}</a>
        </span>
    </span>
{% endblock profile %}

{% block search %}
    <div id="search">
        <form action="" method="post">
            <input type="hidden" name="grid_main[name][operator]" value="like"/>
            <input type="hidden" name="grid_main[url][operator]" value="like"/>
            <input type="hidden" name="grid_main[url][from]" value=""/>
            <input type="text" name="grid_main[name][from]" placeholder="{{ 'Quick search'|trans }}..." />
            <button class="glyphicons search" type="submit"><i></i></button>
        </form>
    </div>
{% endblock search %}

{% block breadcrumb %}{% endblock breadcrumb %}

{% block sidebar_side_selector %}{% endblock sidebar_side_selector %}

{% block notifications %}{% endblock notifications %}

{% block heading %}{% endblock heading %}

{% block widget_head %}{% endblock widget_head %}


{% block account %}
    <li class="account">
        <a data-toggle="dropdown" href="#" class="glyphicons logout lock"><span class="hidden-phone text">{{ app.user }}</span><i></i></a>
        <ul class="dropdown-menu pull-right">
            <li><a href="{{ path('configuration') }}" class="glyphicons cogwheel">{{ 'menu.configuration'|trans }}<i></i></a></li>

            {% if app.user %}
                <li class="highlight profile">
                    <span>
                        <span class="heading">{{ 'Profile'|trans }} <a href="{{ path('frontend_fos_user_change_password') }}" class="pull-right">{{ 'change password'|trans }}</a></span>
                        <span class="img">
                            <img src="{{ asset('bundles/webfactorybackendtheme/theme/images/profilepic-default.gif') }}" alt="{{ app.user }}" height="51" width="51" />
                        </span>
                        <span class="details">
                            <a href="{{ path('frontend_fos_user_profile_edit') }}">{{ app.user }}</a>
                            {{ app.user.email }}
                        </span>
                        <span class="clearfix"></span>
                    </span>
                </li>

                <li>
                    <span>
                        <a class="btn btn-default btn-small pull-right" style="padding: 2px 10px; background: #fff;" href="{{ path('frontend_fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                    </span>
                </li>
            {% endif %}
        </ul>
    </li>
{% endblock account %}

{% block logoarea %}
    <a href="{{ path('frontend_homepage') }}" class="logoHome">ANDRES GOTTA GOLF</a>
{% endblock logoarea%}

{% block left_main_navbar_items %}
    {% if app.user %}
        <li><a href="{{ path('frontend_message') }}">{{ 'My messages'|trans }}</a></li>
            {#
                <li><a href="#">{{ 'My subscription'|trans }}</a></li>
                <li><a href="#">{{ 'My statistics'|trans }}</a></li>
                <li><a href="#">{{ 'My courses'|trans }}</a></li>
            #}
        {% endif %}
    {% endblock left_main_navbar_items %}

{% block right_main_navbar_items %}
    {% if app.user %}
        {#<li><a href="{{ gotta_center_api_frontend }}/cart?platform={{ platform_name }}&redirectTo={{ app.request.uri }}">{{ 'menu.cart'|trans }}</a></li>#}
        {#<li><a href="{{ gotta_center_api_frontend }}/order?platform={{ platform_name }}&redirectTo={{ app.request.uri }}">{{ 'menu.order'|trans }}</a></li>#}
        {#<li><a href="{{ path('frontend_fos_user_profile_show') }}">{{ 'My account'|trans }}</a></li>#}
        <li><a href="{{ gotta_center_api_frontend }}/profile?platform={{ platform_name }}&redirectTo={{ app.request.uri }}">{{ 'My account'|trans }}</a></li>
        <li><a href="{{ path('frontend_fos_user_security_logout') }}">{{ 'Logout'|trans }}</a></li>
        {% else %}
        <li><a href="{{ path('frontend_fos_user_security') }}">{{ 'Login'|trans }}</a></li>
        {#<li><a href="{{ path('frontend_fos_user_registration_register') }}">{{ 'Register'|trans }}</a></li>#}
        <li><a href="{{ gotta_center_api_frontend }}/register?platform={{ platform_name }}&redirectTo={{ app.request.uri }}">{{ 'Register'|trans }}</a></li>
        {% endif %}
    {% endblock right_main_navbar_items %}

{% block left_module_navbar %}
    {% if not app.user %}
    <a href="http://sportsintouch.com.ar" target="_blank">
        <div class="extendeddata" style="width: 250px; padding: 0 10px 0 10px;">
            <img src="{{ asset('bundles/andresgottafrontendtheme/img/logo_sportsintouch.png') }}" style="height: 60px;">
        </div>
    </a>
    {% else %}
        <div class="extendeddata"><a href="{{ gotta_center_api_frontend }}/subscription?platform={{ platform_name }}&redirectTo={{ app.request.uri }}">{{ 'Service Manager'|trans }}</a>
            {#<span>2 por vencer</span>#}   
        </div>    
    {% endif %}
{% endblock %}

{% block right_module_navbar %}
    <a href="http://www.gpstats.com.ar" target="_blank">
        <div class="pre-button" style="width: 250px; padding: 0 10px 0 10px;">
            <img src="{{ asset('bundles/andresgottafrontendtheme/img/logo_gpstats.png') }}" style="height: 60px;">
        </div>
    </a>
{% endblock %}


{% block menu_content %}
    <ul class="left">
        <li><a class="{{ activeRoute('frontend_homepage') }}" href="{{ path('frontend_homepage') }}">{{ 'Homepage'|trans }}</a></li>
        <li><a class="{{ activeRoute('frontend_static_us') }}" href="{{ path('frontend_static_us') }}">{{ 'Us'|trans }}</a></li>
        {#<li><a class="{{ activeRoute('frontend_service') }}" href="{{ gotta_center_api_frontend }}/service?platform={{ platform_name }}&redirectTo={{ app.request.uri }}">{{ 'Services'|trans }}</a></li>#}
        {% if app.user %}
            <li><a class="{{ activeRoute('frontend_service') }}" href="{{ gotta_center_api_frontend }}/serviceslist/{{ app.user.email }}/?platform={{ platform_name }}&redirectTo={{ app.request.uri }}">{{ 'Services'|trans }}</a></li>
        {% else %}
            <li><a href="{{ gotta_center_api_frontend }}/service?platform={{ platform_name }}&redirectTo={{ app.request.uri }}">{{ 'Services'|trans }}</a></li>
        {% endif %}
    </ul>
    <ul class="right">
        {% if app.user %}
            <li><a class="{{ activeRoute('ours_videos') }}" href="{{ path('ours_videos') }}">{{ 'Videos'|trans }}</a></li>
            {% else %}
            <li><a class="{{ activeRoute('static_videos') }}" href="{{ path('static_videos') }}">{{ 'Videos'|trans }}</a></li>
            {% endif %}
        <li><a class="{{ activeRoute('frontend_news*') }}" href="{{ path('frontend_news') }}">{{ 'menu.News'|trans }}</a></li>
        <li><a class="{{ activeRoute('frontend_contact*') }}" href="{{ path('frontend_contact') }}">{{ 'Contact'|trans }}</a></li>
    </ul>
{% endblock menu_content %}

{% block footer %}
    <footer>
        <div class="footercontent">
            <ul class="left">
                <li><a href="{{ path('frontend_homepage') }}">{{ 'Homepage'|trans }}</a></li>
                <li><a href="{{ path('frontend_static_us') }}">{{ 'Us'|trans }}</a></li>
                {#<li><a href="{{ gotta_center_api_frontend }}/service?platform={{ platform_name }}&redirectTo={{ app.request.uri }}">{{ 'Services'|trans }}</a></li>#}
                {% if app.user %}
                    <li><a class="{{ activeRoute('frontend_service') }}" href="{{ gotta_center_api_frontend }}/serviceslist/{{ app.user.email }}/?platform={{ platform_name }}&redirectTo={{ app.request.uri }}">{{ 'Services'|trans }}</a></li>
                {% else %}
                    <li><a href="{{ gotta_center_api_frontend }}/service?platform={{ platform_name }}&redirectTo={{ app.request.uri }}">{{ 'Services'|trans }}</a></li>
                {% endif %}
                <li><a href="{{ path('static_videos') }}">{{ 'Videos'|trans }}</a></li>
                <li><a href="{{ path('frontend_news') }}">{{ 'News'|trans }}</a></li>
                <li><a href="{{ path('webfactory_faq_frontend_faq_index') }}">{{ 'Faqs'|trans }}</a></li>
                <li><a href="{{ path('frontend_contact') }}">{{ 'Contact'|trans }}</a></li>
            </ul>
            <ul class="right">                
                <a style="display: block; overflow: hidden; float:left; width: 75px; height:140px; margin: 20px 10px 0 0;" href="http://qr.afip.gob.ar/?qr=_CZco1M3Z8yYWvX5CESNuQ,," target="_F960AFIPInfo"><img src="http://www.afip.gob.ar/images/f960/DATAWEB.jpg" border="0"></a>
                <a style="display: block; overflow: hidden; float:left; width: 75px; height:140px; margin: 40px 0 0 0;" href="http://www.jus.gov.ar/datos-personales.aspx/" target="_blank"><img src="{{ asset('img/db-registered.jpg') }}" border="0"></a>
            </ul>

            <a href="{{ path('frontend_homepage') }}" class="logoFooter">ANDRES GOTTA GOLF</a>

            <a href="https://twitter.com/andresgotta" target="_blank" class="icosocial icotwitter">Twitter</a>
            <a href="https://es-es.facebook.com/AndresGottaGolf" target="_blank" class="icosocial icofacebook">Facebook</a>

            <br/><br/>

            <div class="copyright">
                <a href="{{ path('frontend_static_tos') }}">Términos y condiciones de uso</a> -
                Copyright &copy; {{ 'now'|date('Y') }}<br/>
                Andrés Gotta &reg; Todos los derechos reservados
                <br/><br/>
                Desarrollado por <a href="http://www.4rsoluciones.com" target="_blank" class="develop">4R Soluciones</a>
            </div>
        </div>
    </footer>
{% endblock footer %}


{% block brand_main_navbar %}{% endblock brand_main_navbar %}