{% macro new(route) %}
<a href="{{ path(route) }}" class="btn btn-primary">{{ 'Create a new entry'|trans }}</a>
{% endmacro %}

{% macro edit(route, entity) %}
<a href="{{ path(route, { 'id': entity.id }) }}" class="btn">{{ 'Edit'|trans }}</a>
{% endmacro %}

{% macro link(route, entity, text, class) %}
<a href="{{ path(route, { 'id': entity.id }) }}" class="btn {{ class }}">{{ text }}</a>
{% endmacro %}

{% macro linkDanger(route, entity, text) %}
<a href="{{ path(route, { 'id': entity.id }) }}" class="btn btn-danger">{{ text }}</a>
{% endmacro %}

{% macro backToList(route) %}
<a href="{{ path(route) }}" class="btn">{{ 'Back to the list'|trans }}</a>
{% endmacro %}

{% macro title(title) %}
{{ title|trans }}
{% endmacro %}

{% macro item(html) %}
{{ html|raw }}
{% endmacro %}

{% macro deleteForm(route, form, entity) %}
<form action="{{ path(route, { id: entity.id }) }}" method="post" onsubmit="return confirm('{{ 'You confirm the deletion of this record?'|trans }}');">
    <input type="hidden" name="_method" value="DELETE" />
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-danger">{{ 'Delete'|trans }}</button>
</form>
{% endmacro %}

{% macro submitButton(text) %}
<button type="submit" class="btn btn-primary">{{ text|trans }}</button>
{% endmacro %}

{% macro actions(items) %}
    {% import _self as macros %}
    <div class="form-actions">
    {% for item in items %}
        {{ macros.item(item) }}
    {% endfor %}
    </div>
{% endmacro %}

{% macro label(text, class) %}
<span class="label label-{{ class }}">{{ text }}</span>
{% endmacro %}