{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
<head>
    <title>{% block title %}{% endblock title %}</title>

    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    {% block head_style %}
        {% include '@WebFactoryBackendTheme/head_style.html.twig' %}
    {% endblock head_style %}

    {% block theme_head_script %}
        {% javascripts output="js/head-javascript.js"
            '@AndresGottaFrontendThemeBundle/Resources/public/js/jquery.min.js'
            '@WebFactoryBackendThemeBundle/Resources/public/theme/scripts/modernizr.custom.76094.js'
            '@WebFactoryBackendThemeBundle/Resources/public/theme/scripts/notyfy/jquery.notyfy.js'
            '@WebFactoryBackendThemeBundle/Resources/public/theme/scripts/Gritter/js/jquery.gritter.min.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script type="text/javascript">
            jQuery.browser = {};
            (function () {
                jQuery.browser.msie = false;
                jQuery.browser.version = 0;
                if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
                    jQuery.browser.msie = true;
                    jQuery.browser.version = RegExp.$1;
                }
            })();
        </script>
    {% endblock theme_head_script %}

</head>
<body>

    <!-- Start Content -->
    <div class="container-fluid">

        <div class="navbar main">
            <a href="" class="appbrand"><span>{{ block('title') }}</span></a>
            <button type="button" class="btn btn-navbar">
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>

            <ul class="topnav pull-left tn1">
                {% block themer %}
                <li class="hidden-phone">
                    <a href="#themer" data-toggle="collapse" class="glyphicons eyedropper"><i></i><span>Themer</span></a>
                    <div id="themer" class="collapse">
                        <div class="wrapper">
                            <span class="close2">&times; close</span>
                            <h4>Themer <span>color options</span></h4>
                            <ul>
                                <li>Theme: <select id="themer-theme" class="pull-right"></select><div class="clearfix"></div></li>
                                <li>Primary Color: <input type="text" data-type="minicolors" data-default="#ffffff" data-slider="hue" data-textfield="false" data-position="left" id="themer-primary-cp" /><div class="clearfix"></div></li>
                                <li>
                                    <span class="link" id="themer-custom-reset">reset theme</span>
                                    <span class="pull-right"><label>advanced <input type="checkbox" value="1" id="themer-advanced-toggle" /></label></span>
                                </li>
                            </ul>
                            <div id="themer-getcode" class="hide">
                                <hr class="separator" />
                                <button class="btn btn-primary btn-small pull-right btn-icon glyphicons download" id="themer-getcode-less"><i></i>Get LESS</button>
                                <button class="btn btn-inverse btn-small pull-right btn-icon glyphicons download" id="themer-getcode-css"><i></i>Get CSS</button>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </li>
                {% endblock themer %}
                {% block lang_selector %}
                <li class="hidden-phone">
                    <a href="#" data-toggle="dropdown"><img src="theme/images/lang/ro.png" alt="ro" /></a>
                    <ul class="dropdown-menu pull-left">
                        <li><a href="" title="Engleză"><img src="theme/images/lang/en.png" alt="Engleză"> Engleză</a></li>
                        <li class="active"><a href="" title="Română"><img src="theme/images/lang/ro.png" alt="Română"> Română</a></li>
                        <li><a href="" title="Italiană"><img src="theme/images/lang/it.png" alt="Italiană"> Italiană</a></li>
                        <li><a href="" title="Franceză"><img src="theme/images/lang/fr.png" alt="Franceză"> Franceză</a></li>
                        <li><a href="" title="Poloneză"><img src="theme/images/lang/pl.png" alt="Poloneză"> Poloneză</a></li>
                    </ul>
                </li>
                {% endblock lang_selector %}
            </ul>

            <ul class="topnav pull-right">

                {% block notifications %}
                <li class="visible-desktop">
                    <ul class="notif">
                        <li><a href="" class="glyphicons envelope" data-toggle="tooltip" data-placement="bottom" data-original-title="5 new messages"><i></i> 5</a></li>
                        <li><a href="" class="glyphicons shopping_cart" data-toggle="tooltip" data-placement="bottom" data-original-title="1 new orders"><i></i> 1</a></li>
                        <li><a href="" class="glyphicons log_book" data-toggle="tooltip" data-placement="bottom" data-original-title="3 new activities"><i></i> 3</a></li>
                    </ul>
                </li>
                {% endblock notifications %}

                {% block account %}
                <li class="account">
                    <a data-toggle="dropdown" href="" class="glyphicons logout lock"><span class="hidden-phone text">{{ app.user }}</span><i></i></a>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="" class="glyphicons cogwheel">Settings<i></i></a></li>
                        <!--li><a href="" class="glyphicons camera">My Photos<i></i></a></li>
                        <li class="highlight profile">
                            <span>
                                <span class="heading">Profile <a href="" class="pull-right">edit</a></span>
                                <span class="img"></span>
                                <span class="details">
                                    <a href="">{{ app.user }}</a>
                                    {{ app.user.email }}
                                </span>
                                <span class="clearfix"></span>
                            </span>
                        </li-->
                        <li>
                            <span>
                                <a class="btn btn-default btn-small pull-right" style="padding: 2px 10px; background: #fff;" href="index.php%3Flang=ro&amp;page=login.html">Sign Out</a>
                            </span>
                        </li>
                    </ul>
                </li>
                {% endblock account %}
                {% block topnav %}{% endblock topnav %}
            </ul>
        </div>

        <div id="wrapper">
            <div id="menu" class="hidden-phone">
                {% block profile %}
                <span class="profile">
                    <a class="img" href=""><img src="{{ asset('bundles/webfactorybackendtheme/theme/images/mrawesome.jpg') }}" alt="Mr. Awesome" /></a>
                    <span>
                        <strong>Mr. Awesome</strong>
                        <a href="">edit account</a>
                    </span>
                </span>
                {% endblock profile %}

                {% block search %}
                <div id="search">
                    <input type="text" placeholder="Quick search ..." />
                    <button class="glyphicons search"><i></i></button>
                </div>
                {% endblock search %}

                {% block content_sidebar %}{% endblock content_sidebar %}

                <div class="clearfix" style="clear: both"></div>
                {% block sidebar_side_selector %}
                <div class="separator uniformjs">
                    <div class="innerLR">
                        <label for="toggle-menu-position" class="checkbox">
                            <input type="checkbox" class="checkbox" id="toggle-menu-position" /> {{ 'right.menu'|trans }}
                        </label>
                    </div>
                </div>
                {% endblock sidebar_side_selector %}
            </div>
            <div id="content">

                {% block breadcrumb %}
                <ul class="breadcrumb">
                    <li><a href="" class="glyphicons home"><i></i> Smashing</a></li>
                    <li class="divider"></li>
                    <li>Magazin online</li>
                    <li class="divider"></li>
                    <li>Produse</li>
                </ul>
                {% endblock breadcrumb %}

                <div class="separator bottom"></div>

                {% block heading %}
                <div class="heading-buttons">
                    <h3>Produse<span> | Online Shop</span></h3>
                    <div class="buttons pull-right">
                        <a href="" class="btn btn-default btn-icon glyphicons inbox"><i></i> Administrare categorii</a>
                        <a href="" class="btn btn-primary btn-icon glyphicons circle_plus"><i></i> Adăugare produs</a>
                    </div>
                </div>
                <div class="separator bottom"></div>
                {% endblock heading %}

                <div class="innerLR">
                    <div class="row-fluid">
                        {% block flashes %}
                        {% if app.session.flashbag.peekAll|length > 0 %}
                            <div id="flash" class="span12">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            {{ session_flash() }}
                            </div>
                        {% endif %}
                        {% endblock flashes %}
                    </div>

                    <div class="widget">
                        {% block widget_head %}
                        <div class="widget-head">
                            <h4 class="heading glyphicons list"><i></i> Administrare produse</h4>
                        </div>
                        {% endblock widget_head %}
                        <div class="widget-body">
                        {% block content %}{% endblock content %}
                        </div>
                    </div>

                </div>


                <!-- End Content -->

                {% block footer %}{% endblock footer %}
            </div>
        <!-- End Wrapper -->
        </div>

    </div>

    {% block foot_script %}
        {% include '@WebFactoryBackendTheme/foot_script.html.twig' %}
    {% endblock foot_script %}

</body>
</html>
