{% extends '::base.html.twig' %}

{% block content -%}
    <div class="pageblock">
        <div class="pageblockgeneric">
            <div class="pageblockbg">
                <h3 class="title">{{ 'cart'|trans }}</h3>
                <div class="pageblockservice">
                    {% if cart.items|length %}
                        <table class="record_properties table table-bordered table-striped table-primary table-vertical-center cartTable" style="width: 100%;">
                            <thead>
                            <tr>
                                <th class="cartDescription">{{ 'Description'|trans }}</th>
                                <th class="cartPrize">{{ 'Price'|trans }}</th>
                                <th class="cartBtn"></th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th class="cartDescription">{{ 'Total'|trans }}</th>
                                <th id="total-description" class="cartPrize">
                                    {% set orderService = cart.items|first %}
                                    {% if orderService.product.debitDues == 0 %}
                                        Suscripción mensual de ${{ orderService.total|round(2) }}.
                                    {% elseif orderService.product.debitDues == 1 %}
                                        {% if orderService.product.isLifetime == true %}
                                            Pago en una ÚNICA cuota de ${{ orderService.total|round(2) }}, con vigencia vitalicia.
                                        {% else %}
                                            Pago en una ÚNICA cuota de ${{ orderService.total|round(2) }}, con vigencia durante {{ orderService.product.days }} días.
                                        {% endif %}
                                    {% else %}
                                        {% if orderService.product.isLifetime == true %}
                                            Pago en {{ orderService.product.debitDues }} cuotas de ${{ (orderService.total/orderService.product.debitDues)|round(2) }}, con vigencia vitalicia.
                                        {% else %}
                                            Pago en {{ orderService.product.debitDues }} cuotas de ${{ (orderService.total/orderService.product.debitDues)|round(2) }}, con vigencia durante {{ orderService.product.days }} días.
                                        {% endif %}
                                    {% endif %}
                                </th>
                                <th class="cartBtn"></th>
                            </tr>
                            </tfoot>
                            <tbody>
                            {% for item in cart.items %}
                                <tr id="{{ item.product.id }}" class="cart_item">
                                    <td class="cartDescription">{{ item.product.name ~ ' - ' ~ item.description }}</td>
                                    <td class="cartPrize">$ {{ item.total|number_format(2, ',', '.') }}</td>
                                    <td class="cartBtn"><a href="#" class="btn_item btn btn-primary">{{ 'cart.item.delete'|trans }}</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <div id="promotion-result"></div>

                        <div style="width: 100%; margin-bottom: 15px; text-align: right;">
                            <strong style="margin-right: 25px;">CÓDIGO PROMOCIONAL:</strong><br>
                            {% if cart.promotionalCode is not null %}
                                <input type="text" style="width: 150px; color: #4CAF50;" value="{{ cart.promotionalCode }}" maxlength="8" disabled>&nbsp;
                                <button class="btn btn-default" style="margin-right: 25px; font-weight: bold;" disabled>
                                    CUPÓN APLICADO
                                </button>
                            {% else %}
                                <input id="promotional-code" name="promotional-code" type="text" maxlength="8" style="width: 150px;">&nbsp;
                                <button id="apply-promotional-code" class="btn btn-default" style="margin-right: 25px; font-weight: bold;" disabled>
                                    APLICAR
                                </button>
                            {% endif %}
                        </div>

                        <div class="cartBotonera">
                            <a href="{{ path('frontend_cart_clean') }}" class="btn btn-primary pull-right" onclick="return confirm('{{ 'cart.clean'|trans }} ?')">{{ 'cart.clean'|trans }}</a>
                            <a href="{{ path('frontend_order_create') }}" class="btn btn-primary pull-right" onclick="return confirm('{{ 'cart.confirm'|trans }} ?')">{{ 'cart.confirm'|trans }}</a>
                        </div>
                    {% else %}
                        {{ 'cart.empty'|trans }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{%- endblock %}

{% block foot_script %}
    {{ parent() }}
    <script type="text/javascript">
        $('.btn_item').click(
            function ()
            {
                var id = $(this).parents('.cart_item').attr('id');
                if (confirm('{{ 'cart.item.delete'|trans }} ?')) {
                    $.ajax({
                        url: '{{ path('frontend_cart_delete_item') }}',
                        type: 'POST',
                        data: {id: id}
                    });
                    $('#'+id).remove();
                    if (!$('.cart_item').size()) {
                        $('.table').remove();
                        $('.pageblockservice').html('{{ 'cart.empty'|trans }}');
                    }
                }

                return false;
            });
        {% if cart.items|length %}
            $('#promotional-code').on('input', function () {
                if ($('#promotional-code').val().length == 8) {
                    $('#apply-promotional-code').prop('disabled', false);
                } else {
                    $('#apply-promotional-code').prop('disabled', true);
                }
                $('#promotional-code').css('color', '#000');
            });

            $('#apply-promotional-code').click(function () {
                if ($('#promotional-code').val().length == 8) {
                    $('#promotional-code').prop('disabled', true);
                    $('#apply-promotional-code').prop('disabled', true);
                    $('#apply-promotional-code').html('VERIFICANDO...');
                    $.ajax({ url: '{{ path('webfactory_order_frontend_apply_promotional_code') }}?code=' + $('#promotional-code').val() })
                        .done(function (response) {
                            if (response.result == 'valid') {
                                $('#promotional-code').css('color', '#4CAF50');
                                $('#apply-promotional-code').html('CUPÓN APLICADO');

                                var resultBox = '';
                                resultBox += '<div class="alert alert-success fade in alert-block" style="clear: both; background-color: #C5E1A5; border-color: #9CCC65;">';
                                resultBox += '<a class="close" data-dismiss="alert" href="#">×</a>';
                                resultBox += '<strong>El código promocional ha sido aplicado correctamente.</strong>';
                                resultBox += '</div>';
                                $('#promotion-result').html(resultBox);

                                var newDescription;
                                {% set orderService = cart.items|first %}
                                {% if orderService.product.debitDues == 0 %}
                                    newDescription = 'Suscripción mensual de $' + parseFloat(response.orderTotal).toFixed(2) + '.';
                                {% elseif orderService.product.debitDues == 1 %}
                                    {% if orderService.product.isLifetime == true %}
                                        newDescription = 'Pago en una ÚNICA cuota de $' + parseFloat(response.orderTotal).toFixed(2) + ', con vigencia vitalicia.';
                                    {% else %}
                                        newDescription = 'Pago en una ÚNICA cuota de $' + parseFloat(response.orderTotal).toFixed(2) + ', con vigencia durante {{ orderService.product.days }} días.';
                                    {% endif %}
                                {% else %}
                                    {% if orderService.product.isLifetime == true %}
                                        newDescription = 'Pago en {{ orderService.product.debitDues }} cuotas de $' + parseFloat(response.orderTotal).toFixed(2) + ', con vigencia vitalicia.';
                                    {% else %}
                                        newDescription = 'Pago en {{ orderService.product.debitDues }} cuotas de $' + parseFloat(response.orderTotal).toFixed(2) + ', con vigencia durante {{ orderService.product.days }} días.';
                                    {% endif %}
                                {% endif %}

                                $('#total-description').html(newDescription);

                                var newItemDescription = '';
                                {% for item in cart.items %}
                                    newItemDescription += '<td class="cartDescription">{{ item.product.name ~ ' - ' ~ item.description }}</td>';
                                    newItemDescription += '<td class="cartPrize">$' + response.itemPrices[{{ loop.index0 }}] + '</td>';
                                    newItemDescription += '<td class="cartBtn"><a href="#" class="btn_item btn btn-primary">{{ 'cart.item.delete'|trans }}</a></td>';
                                    $('#{{ item.product.id }}').html(newItemDescription);
                                {% endfor %}
                            } else {
                                $('#promotional-code').css('color', '#F44336');
                                $('#promotional-code').prop('disabled', false);
                                $('#apply-promotional-code').prop('disabled', false);
                                $('#apply-promotional-code').html('APLICAR');

                                var resultBox = '';
                                resultBox += '<div class="alert fade in alert-block" style="clear: both;">';
                                resultBox += '<a class="close" data-dismiss="alert" href="#">×</a>';
                                resultBox += '<strong>El código promocional ingresado es inválido para la compra actual.</strong>';
                                resultBox += '</div>';
                                $('#promotion-result').html(resultBox);
                            }
                        })
                        .fail(function () {
                            $('#promotional-code').css('color', '#F44336');
                            $('#promotional-code').prop('disabled', false);
                            $('#apply-promotional-code').prop('disabled', false);
                            $('#apply-promotional-code').html('APLICAR');

                            var resultBox = '';
                            resultBox += '<div class="alert fade in alert-block" style="clear: both;">';
                            resultBox += '<a class="close" data-dismiss="alert" href="#">×</a>';
                            resultBox += '<strong>El código promocional ingresado es inválido para la compra actual.</strong>';
                            resultBox += '</div>';
                            $('#promotion-result').html(resultBox);
                        })
                }
            });
        {% endif %}
    </script>
{% endblock foot_script %}