{% extends '::grid.html.twig' %}


{% block grid_column_status_cell -%}
    {% from 'MopaBootstrapBundle::macros.html.twig' import label, badge %}
    {% if value %}
        {% set status = value %}
        {% set types = {'published' : 'success', 'unpublished' : 'error'} %}
        {{ label(status|trans(), types[status]) }}
    {% endif %}
{%- endblock %}

{% block grid_column_actions_cell -%}

    {% set actions = column.getActionsToRender(row) %}

    <ul class="grid-row-actions">
    {% for action in actions %}
        {% set normalAction = (action.title|lower) in ['delete'] %}
        {% set allowedAction = (row.field('status') == 'published' and action.title|lower == 'unpublish') or (row.field('status') == 'unpublished' and action.title|lower == 'publish') %}
        {% if normalAction or allowedAction %}
        <li><a href="{{ url(action.route, column.routeParameters(row, action), false) }}" target="{{ action.target }}"{% if action.confirm %} onclick="return confirm('{{ action.confirmMessage|trans }}')"{% endif %}{% for name, value in action.attributes %} {{ name }}="{{ value }}" {% endfor %}><i></i></a></li>
        {% endif %}
    {% endfor %}
    </ul>
{%- endblock grid_column_actions_cell %}