{% extends 'WebFactoryUserBundle::layout.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Comment list') }}{% endblock headline %}

{% block content -%}

    {% include '::filters.html.twig' with {'grid':grid, 'gridBlock':'WebFactoryNewsBundle:Backend/Comment:grid.html.twig'} only %}

    {{ grid(grid, 'WebFactoryNewsBundle:Backend/Comment:grid.html.twig') }}

{% endblock %}