{% extends '::base.html.twig' %}

{% block content %}
<div class="widget">
    <div class="widget-body">
        <div class="pageblock">
            <div class="pageblockgeneric">
                <div class="pageblockbg">
                    <h3 class="title">{{ 'operating result'|trans }}</h3>
                    <br/>

                    <div class="pageblockservice rccpagos">
                        {% if type == constant('WebFactory\\Bundle\\PaymentBundle\\Model\\GatewayNotificationInterface::SUCCESS_NOTIFICATION') %}
                            {% set alert_class = 'alert-success' %}
                            {% set notification_message = 'The operation was successful' %}
                        {% elseif type == constant('WebFactory\\Bundle\\PaymentBundle\\Model\\GatewayNotificationInterface::FAILURE_NOTIFICATION') %}
                            {% set alert_class = 'alert-error' %}
                            {% set notification_message = 'Failed to perform the operation successfully' %}
                        {% endif %}
                        
                        <p class="alert {{ alert_class }}">
                        {{ notification_message|trans }}.<br/>                           
                        {% block message %}
                           <p class="icon"><br/>{{ message|trans }}<p>
                        {% endblock message %}                           
                        </p>
                        
                        {% block button %}
                        <a class="btn btn-primary nomarginright" href="{{ path('frontend_homepage') }}">Continuar</a>
                        {% endblock button %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
