<div style="width: 200px">
<div style="height: 120px">    
    <label><input style="float: left; display: inline-block; width: auto; margin-right: 5px; vertical-align: top;" type="radio" name="payment_means" value="contado"/>Pago contado</label>
    <label><input style="float: left; display: inline-block; width: auto; margin-right: 5px; vertical-align: top;" type="radio" name="payment_means" value="imprimoYpago"/>Sistema imprimoYpago</label>
    <label><input style="float: left; display: inline-block; width: auto; margin-right: 5px; vertical-align: top;" type="radio" name="payment_means" value="creditcard"/>Tarjeta de crédito</label>

    <select id="creditcards" class="hidden" style="width: 63%;">
        <option value="" disabled selected>Seleccionar...</option>
        {{ render(controller('WebFactoryPaymentBundle:Frontend/CreditCard:list')) }}
    </select>
    <select id="duesavailable" class="hidden" style="width: 30%;">

    </select>

</div>
<div style="height: 120px">    
<form name="rccpagos" id="rccpagos" method="post" action="https://www.rccpagos.coop/servicios.php"> 
    {% for field,value in rccpForm if field not in ['rccpagosMedioDePago','rccpagosCuotas','rccpagosCorreoElectronico','rccpagosFechaVencimiento','rccpagosVerificacion'] %}
    <input type="hidden" name="{{ field }}" id="{{ field }}" value="{{ value }}" />
    {% endfor %}
    <input type="hidden" name="rccpagosVerificacion" value="" />
    <input type="submit" name="enviar" value="{{ 'Pay'|trans }}" class="btn btn-block btn-primary" />
    <div class="clearme">&nbsp;</div>
    <a href="{{ path('webfactory_order_frontend_order_setpaycash', {order: rccpForm['rccpagosOrden']}) }}" style="width: 66px" id="payment_contado" class="btn btn-block btn-primary hidden">{{ 'Pay'|trans }}</a>
</form>
</div>

<script type="text/javascript">
    // Precio inicial de la orden
    var price = parseFloat($('#rccpagosImporte').val());
    price = price.toFixed(2);
    // Valor inicial de cada item
    var items = new Array;
    $.each($('.itemTotal'), function(k, v) {
        var value = $(v).html();
        items.push(value);
    });

    var verificacion = new Array();
    verificacion[0] = '{{ rccpForm['rccpagosVerificacion'][0] }}';
    verificacion[1] = '{{ rccpForm['rccpagosVerificacion'][1] }}';
    verificacion[2] = '{{ rccpForm['rccpagosVerificacion'][2] }}';
    verificacion[3] = '{{ rccpForm['rccpagosVerificacion'][3] }}';
    verificacion[4] = '{{ rccpForm['rccpagosVerificacion'][4] }}';
    verificacion[5] = '{{ rccpForm['rccpagosVerificacion'][5] }}';
    verificacion[6] = '{{ rccpForm['rccpagosVerificacion'][6] }}';
    verificacion[7] = '{{ rccpForm['rccpagosVerificacion'][7] }}';
    verificacion[8] = '{{ rccpForm['rccpagosVerificacion'][8] }}';
    verificacion[9] = '{{ rccpForm['rccpagosVerificacion'][9] }}';
    
    $('[value="contado"]').click(function() {
        changePayMethod('cash');
    });

    $('[value="creditcard"]').click(function() {
        changePayMethod('creditCard');
    });

    $('[value="imprimoYpago"]').click(function() {
        changePayMethod('printAndPay');
    });

    $('#creditcards').change(function() {
        var val = $(this).val();
        $('[name="rccpagosFechaVencimiento"]').remove();
        // Llamada AJAX para obtener el listado de cuotas disponible para la selección
        $.ajax({
            url: "{{ path('web_factory_dues') }}",
            type: 'POST',
            data : {card: val},
            success: function(response) {
                $('#duesavailable option').remove();
                $('#duesavailable').append(response);

                calculateCoefficient();
            }
        });

        $('[name="rccpagosMedioDePago"]').val(val); 	
        $('[name="rccpagosVerificacion"]').val(verificacion[val]);
        
        if ($('[name="rccpagosCuotas"]').length == 0 && $('[name="rccpagosCorreoElectronico"]').length == 0) {
            $('[name="rccpagos"]').append('<input type="hidden" name="rccpagosCuotas" id="rccpagosCuotas" value="{{ rccpForm['rccpagosCuotas'] }}" />');
            $('[name="rccpagos"]').append('<input type="hidden" name="rccpagosCorreoElectronico" value="{{ rccpForm['rccpagosCorreoElectronico'] }}" />');
        }
    });
    $('#duesavailable').on('change', function() {
        calculateCoefficient();
    });

    $('[name="rccpagos"]').submit(function(event) {
        if (($('[name="rccpagosMedioDePago"]').length == 0 && $('[name="rccpagosFechaVencimiento"]').length == 0) || $('[name="rccpagosMedioDePago"]').val() === '') {
            alert('{{ 'Select payment means'|trans }}');
            event.preventDefault();
        }
    });

    function changePayMethod(method) {
        switch (method) {
            case 'creditCard':
                $('[name="enviar"]').show();
                $('#payment_contado').addClass('hidden');
                $('#creditcards').removeClass('hidden');
                $('#duesavailable').removeClass('hidden');
                $('[name="rccpagosFechaVencimiento"]').remove();
                $('[name="rccpagos"]').append('<input type="hidden" name="rccpagosMedioDePago" value="" />');
                $('[name="rccpagosMedioDePago"]').val('');
                break;
            case 'cash':
                $('#rccpagosImporte').val(price);
                $('.orderTotal').html('$ ' + price);
                $.each($('.itemTotal'), function(k, v) {
                    $(v).html(items[k]);
                });

                $('[name="enviar"]').hide();
                $('#payment_contado').removeClass('hidden');
                $('#creditcards').val('');
                $('#duesavailable option').remove();
                $('#creditcards').addClass('hidden');
                $('#duesavailable').val('');
                $('#duesavailable').addClass('hidden');
                break;
            case 'printAndPay':
                $('#rccpagosImporte').val(price);
                $('.orderTotal').html('$ ' + price);
                $.each($('.itemTotal'), function(k, v) {
                    $(v).html(items[k]);
                });

                $('[name="enviar"]').show();
                $('#payment_contado').addClass('hidden');
                $('#creditcards').val('');
                $('#duesavailable option').remove();
                $('#creditcards').addClass('hidden');
                $('#duesavailable').val('');
                $('#duesavailable').addClass('hidden');

                $('[name="rccpagosCuotas"]').remove();
                $('[name="rccpagosCorreoElectronico"]').remove();
                $('[name="rccpagosMedioDePago"]').remove();

                if ($('[name="rccpagosFechaVencimiento"]').length == 0) {
                    $('[name="rccpagos"]').append('<input type="hidden" name="rccpagosFechaVencimiento" value="{{ rccpForm['rccpagosFechaVencimiento'] }}" />');
                }
                $('[name="rccpagosVerificacion"]').val(verificacion[0]);
                break;
        }
    }

    function calculateCoefficient() {
        var dues = parseInt($('#duesavailable option:selected').html());
        var coefficient = parseFloat($('#duesavailable').val());

        var newPrice = price * (1 +(coefficient / 100));

        newPrice = Math.round(newPrice * 100) / 100;
        newPrice = newPrice.toFixed(2);

        $('#rccpagosCuotas').val(dues);
        $('#rccpagosImporte').val(newPrice);
        $('.orderTotal').html('$ ' + newPrice);

        $.each($('.itemTotal'), function(k, v) {
            var value = items[k];
            var newValue = parseFloat(value.substring(2)) * (1 +(coefficient / 100));
            newValue = newValue.toFixed(2);

            $(v).html('$ ' + newValue);
        })
    }
</script>
</div>