{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Order list') }}{% endblock headline %}

{% block content -%}
    <div class="pageblock">
        <div class="pageblockgeneric">
            <div class="pageblockbg">
                <h3 class="title">{{ 'Order list'|trans }}</h3>
                <div class="pageblockservice listOfOrder">

                    <form method="get" action=".">
                        {{ form_rest(filter_form) }}
                        <div class="listOfOrderBotonera">
                            <input class="btn btn-primary listOfOrderBotoneraFilter" type="submit" name="submit-filter" value="{{ 'filter'|trans }}" />
                            <a class="btn btn-primary listOfOrderBotoneraClean" href="{{ path('webfactory_order_frontend_order_index') }}">{{ 'reset'|trans }}</a>
                        </div>
                    </form>
                    <script>
                        $(function(){
                            $('input[data-date-format]').datepicker()
                        });
                    </script>

                    {# total items count #}
                    <div class="count">
                        {{ pagination.getTotalItemCount }} resultados
                    </div>

                    <table class="table table-bordered">
                        <tr>
                            {# sorting of properties based on query components #}
                            <th{% if pagination.isSorted('o.createdAt') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Date'|trans, 'o.createdAt') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Status'|trans, 'o.status') }}</th>
                            <th>{{ 'Pay Cash'|trans }}</th>
                            <th>{{ 'Total'|trans }}</th>
                            <th>{{ 'Actions'|trans }}</th>
                        </tr>

                        {# table body #}
                        {% for order in pagination %}
                            <tr {% if loop.index is odd %}class="color"{% endif %}>
                                <td>{{ order.createdAt|date('d/m/Y') }}</td>
                                <td>{{ order.status|trans }}</td>
                                <td>{{ (order.payCash ? 'yes' : 'no')|trans }}</td>
                                <td><strong>$ {{ order.total|number_format(2, ',', '.') }}</strong></td>
                                <td class="linkDetails">
                                    <a href="{{ path('webfactory_order_frontend_order_show', {id:order.id}) }}">{{ 'show'|trans }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>

                    {# display navigation #}
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}