{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Order') }}{% endblock headline %}

{% block heading_buttons %}
    {{ macros.actions([
    macros.backToList('webfactory_order_backend_order_index')
    ]) }}
{% endblock heading_buttons %}

{% block content %}
    <div class="pageblock">
        <div class="pageblockgeneric">
            <div class="pageblockbg">
                <h3 class="title">{{ 'Order'|trans }}</h3>
                <div class="pageblockservice">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="span6">
                                <a class="btn btn-primary btn-volver-listado" href="{{ path('webfactory_order_frontend_order_index') }}">
                                    {{ 'go to the list'|trans }}
                                </a>
                            </div>
                            <div class="span6"></div>
                        </div>
                    </div><!-- /row-fluid -->
                    <div class="row-fluid">
                        <div class="span6">
                            <table class="record_properties table table-bordered table-striped table-primary table-vertical-center orderTable">
                                <thead>
                                <tr>
                                    <th colspan="2">{{ 'Order'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th class="orderTableTitle">{{ 'Status'|trans }}</th>
                                    <td>{{ order.status|trans }}</td>
                                </tr>
                                <tr>
                                    <th class="orderTableTitle">{{ 'Created At'|trans }}</th>
                                    <td>{{ order.createdAt|date('Y-m-d H:i:s') }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div><!-- /span6 -->
                        <div class="span6">
                            <table class="record_properties table table-bordered table-striped table-primary table-vertical-center orderTable">
                                <thead>
                                <tr>
                                    <th class="orderTableTitle">{{ 'Description'|trans }}</th>
                                    <th>{{ 'Price'|trans }}</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th class="orderTableTitle">{{ 'Total'|trans }}</th>
                                    <th class="orderTotal" id="orderTotal">
                                        {% if orderService.debitDues == 0 %}
                                            Suscripción mensual de ${{ orderService.price|round(2) }}.
                                        {% elseif orderService.debitDues == 1 %}
                                            {% if orderService.isLifetime == true %}
                                                Pago en una ÚNICA cuota de ${{ orderService.price|round(2) }}, con vigencia vitalicia.
                                            {% else %}
                                                Pago en una ÚNICA cuota de ${{ orderService.price|round(2) }}, con vigencia durante {{ orderService.days }} días.
                                            {% endif %}
                                        {% else %}
                                            {% if orderService.isLifetime == true %}
                                                Pago en {{ orderService.debitDues }} cuotas de ${{ (orderService.price/orderService.debitDues)|round(2) }}, con vigencia vitalicia.
                                            {% else %}
                                                Pago en {{ orderService.debitDues }} cuotas de ${{ (orderService.price/orderService.debitDues)|round(2) }}, con vigencia durante {{ orderService.days }} días.
                                            {% endif %}
                                        {% endif %}
                                    </th>
                                </tr>
                                </tfoot>
                                <tbody>
                                {% for item in order.items %}
                                    <tr>
                                        <td class="orderTableTitle">{{ item.description }}</td>
                                        <td class="itemTotal">$ {{ item.total|number_format(2, ',', '.') }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div><!-- /span6 -->
                    </div><!-- /row-fluid -->
                    {% if order.status == constant('WebFactory\\Bundle\\OrderBundle\\Model\\OrderStatuses::PENDING') and not order.payCash %}
                        <div class="row-fluid">
                            <div class="orderTableBotonera">
                                {#{{ render(controller('WebFactoryPaymentBundle:Frontend/Payment:pay', { 'order': order.id })) }}#}
                                <form name="pay" method="get" action="{{ path('webfactory_order_frontend_order_show', {id: order.id}) }}" style="width: 200px; padding-top: 35px;">
                                    <h5>Método de pago:</h5>

                                    <select id="debit_cards" name="selected_card" style="width: auto;">
                                        <option value="" disabled selected>Seleccionar...</option>
                                        {% if amexNewCard or mastercardNewCard %}
                                            {{ render(controller('WebFactoryPaymentBundle:Frontend/DebitCard:list', { 'amexNewCard': amexNewCard, 'mastercardNewCard': mastercardNewCard })) }}
                                        {% else %}
                                            {{ render(controller('WebFactoryPaymentBundle:Frontend/DebitCard:list')) }}
                                        {% endif %}
                                    </select>

                                    <input id="add_amex" type="button" value="+AMEX" class="btn btn-block btn-warning" style="width: 50%; float: left; font-weight: bold; font-size: 10px; margin-top: 5px;" />
                                    <input id="add_mastercard" type="button" value="+MASTERCARD" class="btn btn-block btn-warning" style="width: 50%; float: left; font-weight: bold; font-size: 10px; margin-top: 5px;" />


                                    <input id="pay" type="submit" value="{{ 'Pay'|trans }}" class="btn btn-block btn-primary" style="margin-top: 35px;" />
                                </form>
                            </div>
                            <div class="orderTableBotonera">
                                <a class="btn btn-block btn-primary btn-danger" href="{{ path('webfactory_order_frontend_order_cancel', {order:order.id, status:constant('WebFactory\\Bundle\\OrderBundle\\Model\\OrderStatuses::CANCELLED')}) }}" onclick="return confirm('{{ 'Are you sure?'|trans }}')">{{ 'Change status to cancelled'|trans }}</a>
                            </div>
                        </div><!-- /row-fluid -->
                    {% endif %}
                    {% if order.payCash and not order.payment %}
                        <div class="row-fluid">
                            * {{ 'payment not confirmed by admin'|trans }}
                        </div><!-- /row-fluid -->
                    {% endif %}
                </div><!-- /pageblockservice -->
            </div><!-- /pageblockbg -->
        </div><!-- /pageblockgeneric -->
    </div><!-- /pageblock -->

    <div id="add_amex_dialog" class="hidden">
        <button id="close_amex_dialog" class="btn btn-primary" style="background: #F68528; font-size: 12px; padding: 0 15px 0 15px; float: left; margin-top: 5px; margin-bottom: 0px;">X</button>
        <div style="clear: both;"></div>
        <h1>Añadir tarjeta AMEX</h1>
        {{ form_start(add_amex_card_form) }}
        <label>Número de tarjeta <span style="font-size: 10px;">(sin espacios ni guiones)</span></label>
        {{ form_widget(add_amex_card_form.card_number) }}
        <button id="submit_amex_dialog" type="button" class="btn btn btn-block btn-primary" style="margin-top: 15px"
        >Añadir Tarjeta</button>
        {{ form_end(add_amex_card_form) }}
    </div>

    <div id="add_mastercard_dialog" class="hidden">
        <button id="close_mastercard_dialog" class="btn btn-primary" style="background: #F68528; font-size: 12px; padding: 0 15px 0 15px; float: left; margin-top: 5px; margin-bottom: 0px;">X</button>
        <div style="clear: both;"></div>
        <h1>Añadir tarjeta MASTERCARD</h1>
        {{ form_start(add_mastercard_card_form) }}
        <label>Número de tarjeta <span style="font-size: 10px;">(sin espacios ni guiones)</span></label>
        {{ form_widget(add_mastercard_card_form.card_number) }}
        <button id="submit_mastercard_dialog" type="button" class="btn btn btn-block btn-primary" style="margin-top: 15px"
        >Añadir Tarjeta</button>
        {{ form_end(add_mastercard_card_form) }}
    </div>

    <script type="text/javascript">
        $(function() {
            $(window).keydown(function(event){
                if(event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });

            $('#add_amex_dialog').removeClass('hidden');
            $('#add_mastercard_dialog').removeClass('hidden');

            $('#close_amex_dialog').click(function() {
                $("#add_amex_dialog").dialog("close");
            });

            $('#submit_amex_dialog').click(function() {
                addCard("amex");
            });

            $('#close_mastercard_dialog').click(function() {
                $("#add_mastercard_dialog").dialog("close");
            });

            $('#submit_mastercard_dialog').click(function() {
                addCard("mastercard");
            });

            function addCard($type) {
                var valid = true;

                if ($type == "amex") {
                    $("#add_amex_card_type_card_number").removeClass("ui-state-error");

                    if ($("#add_amex_card_type_card_number").val().length != 15 || !$.isNumeric($("#add_amex_card_type_card_number").val())) {
                        $("#add_amex_card_type_card_number").addClass("ui-state-error");
                        valid = false;
                    }

                    if (valid) {
                        addAmex.find("form").submit();
                    }
                } else if ($type == "mastercard") {
                    $("#add_mastercard_card_type_card_number").removeClass("ui-state-error");

                    if ($("#add_mastercard_card_type_card_number").val().length != 16 || $.isNumeric($("#add_mastercard_card_type_card_number").val()) == false) {
                        $("#add_mastercard_card_type_card_number").addClass("ui-state-error");
                        valid = false;
                    }

                    if (valid) {
                        addMastercard.find("form").submit();
                    }
                }

                return valid;
            }

            addAmex = $("#add_amex_dialog").dialog({
                autoOpen: false,
                width: 350,
                modal: true,
                show: {
                    effect: "puff",
                    duration: 300
                },
                hide: {
                    effect: "puff",
                    duration: 300
                },
                close: function() {
                    addAmex.find("form")[0].reset();
                    $("#add_amex_card_type_card_number").removeClass("ui-state-error");
                }
            });

            $("#add_amex").button().on("click", function() {
                addAmex.dialog("open");
                $("#add_amex_card_type_card_number").focus();
            });

            addMastercard = $("#add_mastercard_dialog").dialog({
                autoOpen: false,
                width: 350,
                modal: true,
                show: {
                    effect: "puff",
                    duration: 300
                },
                hide: {
                    effect: "puff",
                    duration: 300
                },
                close: function() {
                    addMastercard.find("form")[0].reset();
                    $("#add_mastercard_card_type_card_number").removeClass("ui-state-error");
                }
            });

            $("#add_mastercard").button().on("click", function() {
                addMastercard.dialog("open");
                $("#add_mastercard_card_type_card_number").focus();
            });
        });
    </script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
        label, input { display:block; }
        input.text { margin-bottom: 12px; width: 95%; padding: .4em; }
        fieldset { padding: 0; border: 0; margin-top: 25px; }
        h1 { font-size: 1.2em; margin: .6em 0; }
        .ui-dialog .ui-state-error { padding: .3em; }
        .validateTips { border: 1px solid transparent; padding: 0.3em; }
        #add_amex_dialog, #add_mastercard_dialog { color: #111; }
        #add_amex_dialog input, #add_mastercard_dialog input { text-align: center; }
    </style>
{% endblock content %}