{% extends ':mailer:base.html.twig' %}

{% block content %}

    <p style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #333333; font-size: 16px; line-height: 22px;">Estimado {{ user }} ({{ user.email }})</p>

    {% if days == 0 %}
    <p style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #333333; font-size: 16px; line-height: 22px;">Estos servicios han vencido</p>
    {% else %}
    <p style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #333333; font-size: 16px; line-height: 22px;">Estos servicios vencen en los proximos días</p>
    {% endif %}
    
    {% for customItem in customItems %}
    <p style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #333333; font-size: 16px; line-height: 22px;">{{ customItem.item.description }}</p>
    {% endfor %}

    <p style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #333333; font-size: 16px; line-height: 22px;">Lo invitamos a renovarlos al momento de vencer.</p>

{% endblock content %}


