{% extends '::base.html.twig' %}

{% block foot_script %}
    {{ parent() }}

    {{ render(controller('AndresGottaGolfBundle:Frontend/Report:feedback')) }}

    <script src="{{ asset('bundles/andresgottafrontendtheme/js/highcharts.js') }}"></script>
    <script>

        $(function() {
            var mainBlock = $('#report-main-block'),
                spinner = $('.spinner');

            $('.show-report').on('click', function(e) {

                if ($(this).hasClass('active')) {
                    return false;
                }

                e.preventDefault();
                $('.show-report').removeClass('active');
                $(this).addClass('active');

                spinner.show();
                mainBlock.html('');

                var path = $(this).attr('href');

                $.ajax({
                    url: path,
                    type: 'GET',
                    success: function(response) {
                        spinner.hide();
                        mainBlock.html(response);
                    }
                });
            })
        });

        $(document).ready(function() {
            $('.show-report:first-child').trigger('click');
        });

        showReportNames();

        function showReportNames()
        {
            if ($.cookie('custom_reports')) {
                for (var i = 0, custom_reports_ids = $.cookie('custom_reports').split(','); i < custom_reports_ids.length; i++) {
                    showName(custom_reports_ids[i], $.cookie('report_name_' + custom_reports_ids[i]));
                }
            }
        }

        function showName(reportId, reportName)
        {
            $('.customized_reports').append('<div id="custom_report_' + reportId + '">' + reportName + '<a href="#" onclick="removeCookie(' + reportId + ')">x</a></div>');
        }

        function setCookie()
        {
            var custom_reports_ids = $.cookie('custom_reports');
            var reportId = {{ groupReport.id }}, reportName = "{{ groupReport.name }}"
            if (custom_reports_ids === null) {
                $.cookie('custom_reports', reportId, {path: '/'});
                $.cookie('report_name_' + reportId, reportName, {path: '/'});
                showName(reportId, reportName);
            } else {
                if (custom_reports_ids.search(reportId) === -1) {
                    $.cookie('custom_reports', custom_reports_ids + ',' + reportId, {path: '/'});
                    $.cookie('report_name_' + reportId, reportName, {path: '/'});
                    showName(reportId, reportName);
                }
            }
        }

        function removeCookie(report_id)
        {
            if (confirm('{{ 'report.delete.cookie'|trans }}')) {
                var custom_reports_ids = $.cookie('custom_reports').split(',');
                custom_reports_ids.splice(custom_reports_ids.indexOf(report_id.toString()), 1);
                custom_reports_ids.length ? $.cookie('custom_reports', custom_reports_ids.join(), {path: '/'}) : $.removeCookie('custom_reports', {path: '/'});

                $.removeCookie('report_name_' + report_id, {path: '/'});
                $('#custom_report_' + report_id).remove();
            }
        }

        function cleanCookie()
        {
            if ($.cookie('custom_reports') && confirm('{{ 'report.clean.cookie'|trans }}')) {
                for (var i = 0, custom_reports_ids = $.cookie('custom_reports').split(','); i < custom_reports_ids.length; i++) {
                    $.removeCookie('report_name_' + custom_reports_ids[i], {path: '/'});
                }

                $.removeCookie('custom_reports', {path: '/'});
                $('.customized_reports').html('');
            }
        }

    </script>

{% endblock foot_script %}