<div class="span4 nav-left-area active">
    <div class="toogleContent">
        <h1>{{ 'menu.report.custom.title'|trans }}</h1>
        <div class="customized_reports">            
        </div>
        <div class="row-fluid nav-left-botonera">
            <a href="{{ path('frontend_report_show_custom') }}" target=_blank class="span2">{{ 'menu.report.custom.show'|trans }}</a>
            <a href="#" class="span2" onclick="cleanCookie();
                return false">{{ 'menu.report.custom.clean'|trans }}</a>
            <a href="#" class="span4" onclick="setCookie();
                return false">{{ 'menu.report.custom.add'|trans }}</a>
        </div>    
    </div>
    <a class="toogleClickArea">{{ 'menu.report.custom.show'|trans }}</a>

</div>
