<div class="row">
    <div class="span12 reportZone">
        <div class="reportZoneContent">
            {% if filterForm is defined %}
                <div class="pagewhite">
                    <div class="reportarea">
                        <div class="row-fluid">
                            <div class="">
                                <div id="package-filters" class="package-filter-reports">
                                    {% set filterPar = filterForm.vars.value.par %}
                                    {% if 3 in par %}
                                    <button id="3" data-filter-by=".par3" class="btn btn-exp">
                                        {% if filterPar == 3 %}
                                        <a>{{ 'par3'|trans }}</a>
                                        {% else %}
                                        {{ 'par3'|trans }}
                                        {% endif %}
                                    </button>
                                    {% endif %}
                                    {% if 4 in par %}
                                    <button id="4" data-filter-by=".par4" class="btn btn-exp">
                                        {% if filterPar == 4 %}
                                        <a>{{ 'par4'|trans }}</a>
                                        {% else %}
                                        {{ 'par4'|trans }}
                                        {% endif %}
                                    </button>
                                    {% endif %}
                                    {% if 5 in par %}
                                    <button id="5" data-filter-by=".par5" class="btn btn-exp">
                                        {% if filterPar == 5 %}
                                        <a>{{ 'par5'|trans }}</a>
                                        {% else %}
                                        {{ 'par5'|trans }}
                                        {% endif %}
                                    </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{ form(filterForm) }}

                <script>
                    var mainBlock = $('#report-main-block'),
                        spinner = $('.spinner'),
                        options = {
                            beforeSubmit: function() {
                                spinner.show();
                                mainBlock.html('');

                                return true;
                            },
                            success: function(responseText) {
                                spinner.hide();
                                mainBlock.html(responseText)
                            }
                        }
                    ;

                    $('#report-filter-form').ajaxForm(options);
                </script>

            {% endif %}
            <br/>
            <div class="reportZoneGraphic row-fluid">
                <div class="reportZoneGraphicBox reportZoneGraphicBoxRepair">
                    {% include 'AndresGottaGolfBundle:Frontend/Report:reports/' ~ report.slug ~ '.html.twig' %}
                </div>
                <p class="reportZoneGraphicDesc">{{ 'Goals'|trans }}: {{ report.objectives|trans }}</p>
            </div>
        </div>
    </div>
</div>