<div id="dialog-feedback">
    <div class="spinner" style="display: none;">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
    {{ form(form) }}
</div>

<script>
    dialog = $('#dialog-feedback').dialog({
        autoOpen: false,
        height: 400,
        width: 550,
        modal: true,
        buttons: {
            Submit: function() {
                $('form[name="feedback"]').submit();
            },
            Cancel: function() {
                dialog.dialog( "close" );
                loading.hide();
            }
        }
    });

    $('.openFormDialog').button().on( "click", function() {
        dialog.dialog( "open" );
    });

    $(document).ready(function() {
        var loading = $('.spinner'),
            form = $('form[name="feedback"]'),
            options = {
                resetForm: true,
                beforeSubmit: function() {
                    loading.show();
                    form.hide();
                    $('.ui-dialog-buttonset').hide();

                    return true;
                },
                success: function(responseText, statusText, xhr, $form) {
                    loading.hide();
                    form.show();
                    $('.ui-dialog-buttonset').show();

                    if (!responseText.ok) {
                        dialog.html('Hubo problemas al intentar contactarse con el servidor. Por favor intente nuevamente más tarde.');
                    } else {
                        dialog.html('El mensaje fue enviado con exito, ya puede cerrar esta ventana.');
                    }
                }
            };

        form.submit(function() {
            $(this).ajaxSubmit(options);

            return false;
        });

    });



</script>
