{% extends '::base.html.twig' %}

{% block report_item %}
    <div class="span4 reportbox {{ get_filterable(child) }}">
        <div class="reportAreaBox">
            <h4>{{ child.name }}</h4>
            <ul>
                {% for group in child.groups if group.enabled %}
                    <li>
                        <a class="group_show" href="{{ path('frontend_report_group_show', {id: group.id}) }}">
                            {{ group.name|trans }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block content -%}
    <div class="pagewhite">
        <div class="reportarea">
            <h3 class="title_reporte_categoria">
                <div id="package-filters">
                    {% for category in categories %}
                        <button class="parentbutton" type="button"
                            data-filter="{{ category.childrenSlug }}"
                            data-class="first">
                        {{ category.name }}</button>
                    {% endfor %}
                </div>
            </h3>
            <div class="row-fluid" id="packages">
                {% for child in children %}
                    {{ block('report_item') }}
                {% endfor %}
            </div>
        </div>
    </div>
    {%- endblock content %}

    {% block foot_script %}
        {{ parent() }}

        <script>
            $(function () {
                var $container = $('#packages').isotope({
                    layoutMode: 'fitRows',
                    columnWidth: 290,
                    getSortData: {
                        name: function ($elem) {
                            return $elem.attr('data-name');
                        },
                        price: function ($elem) {
                            return parseFloat($elem.attr('data-price'));
                        }
                    }
                });

                $('#package-filters button.parentbutton').on('click', function () {
                    $('#package-filters button.parentbutton').removeClass('active');
                    $(this).addClass('active');

                    var filterValue = $(this).attr('data-filter');
                    var filter = filterValue.replace(/ /g, ', ');
                    $container.isotope({filter: filter});
                });


                $('#package-filters :first-child').click();
            });

            function filter()
            {

            }

//            $('.group_show').on('click', function(e) {
//                e.preventDefault();
//                var path = $(this).attr('href');
//
//                $.ajax({
//                    url: path,
//                    type: 'get',
//                    success: function(response) {
//                        console.log(response);
//                    }
//                });
//            });
        </script>
    {% endblock %}