{% extends '@AndresGottaGolf/Frontend/Report/baseShowGroup.html.twig' %}

{% block content -%}
    <div class="row">
        {{ render(controller('AndresGottaGolfBundle:Frontend/Report:customizedReportsMenu')) }}
        <div class="span12 reportZone">
            <div class="reportZoneContent">
                <div class="blockareasuperior-repair">
                    <a href="{{ path('frontend_report_list') }}" class="btn btn-primary btn-primary-repair"> Volver a categorías</a>
                </div>
                <h1 class="reportZoneTitle">{{ groupReport.name }}</h1>
                <p>{{ groupReport.description|trans|raw }}</p>
                <div class="reportZoneGraphic row-fluid">
                    {% for report in groupReport.reports %}
                        <a href="{{ path('frontend_report_show', {id: report.id}) }}" class="btn show-report">
                            {{ report.publicName }}
                        </a>
                    {% endfor %}

                    <div class="spinner" style="display: none;">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                    </div>
                    <div id="report-main-block"></div>
                </div>
            </div>
        </div>
        <a class="btn btn-primary btn-primary-repair openFormDialog">Reportar problema</a>
    </div>
{%- endblock content %}