{% extends '::base.html.twig' %}

{% block report_item %}
<div class="span4 reportbox {{ reportType.haveReportPar() ? 'anypar' : '' }} {{ reportType.haveReportPar(3) ? 'par3' : '' }} {{ reportType.haveReportPar(4) ? 'par4' : '' }} {{ reportType.haveReportPar(5) ? 'par5' : '' }}">
    <div class="reportAreaBox">
        <a href="{{ path('frontend_report_show', {reportType: reportType.id}) }}"><h4>{{ reportType.name|trans }}</h4></a>
    </div>
</div>
{% endblock %}

{% block content -%}
<div class="pagewhite">
    <div class="reportarea">
        <div class="row-fluid">
            <h3 class="title_reporte_categoria">{{ reportType.name|trans }}</h3>
            {% if reportTypes|length %}
                 {% for reportType in reportTypes %}
                     {{ block('report_item') }}
                 {% endfor %}
            {% else %}
                {{ block('report_item') }}
            {% endif %}
        </div>
    </div>
</div>
{%- endblock content %}
