{% extends '::base.html.twig' %}

{% block featureimagetext ('Report'|trans) %}

{% block content -%}
<div class="row">
    <div class="span12 reportZone">
        <div class="reportZoneContent">

{{ form(filterForm, {'attr':{'novalidate':'novalidate'} }) }} 

{% for report in reports %}
    {{ render(controller('AndresGottaGolfBundle:Frontend/Report:detail', {report:report, filters:filters})) }}
{% endfor %}
            
            </div>
        </div>
    </div>
            
{%- endblock %}