{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('News edition') }}{% endblock headline %}

{% block content -%}

    <form action="{{ path('backend_news_update', { id:entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
        <input type="hidden" name="_method" value="PUT" />
        
        {% include 'WebFactoryNewsBundle:Backend/News:form_fields.html.twig' with {form:edit_form} only %}
            
        {{ macros.actions([ macros.backToList('backend_news'), macros.submitButton('Update') ]) }}
    </form>

{% endblock %}



{% block head_style %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/webfactorynews/css/jquery.tagit.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/webfactorynews/css/tagit.ui-zendesk.css') }}" />
    {{ form_stylesheet(edit_form) }}
{% endblock %}

{% block foot_script %}
    {{ parent() }}
    <script>
        var ajax_keyword = '{{ path('ajax_tag') }}';
    </script>
    <script type="text/javascript" src="{{ asset('bundles/webfactorynews/js/tag-it.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/webfactorynews/js/keyword-form.js') }}"></script>
    {{ form_javascript(edit_form) }}
{% endblock %}
