{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('News list') }}{% endblock headline %}

{% block content -%}

    {% include '::filters.html.twig' with {'grid':grid, 'gridBlock':'WebFactoryNewsBundle:Backend/News:grid.html.twig'} only %}

    {{ macros.actions([ macros.new('backend_news_new') ]) }}

    {{ grid(grid, 'WebFactoryNewsBundle:Backend/News:grid.html.twig') }}

    {{ macros.actions([ macros.new('backend_news_new') ]) }}

{% endblock %}