{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('News') }}{% endblock headline %}

{% block heading_buttons %}
{{ macros.actions([
    macros.backToList('backend_news'), 
    macros.edit('backend_news_edit', entity), 
    macros.deleteForm('backend_news_delete', delete_form, entity) 
]) }}
{% endblock heading_buttons %}

{% block content -%}

<div class="row-fluid">
    <div class="span4">
        <table class="record_properties table table-bordered table-condensed table-striped table-primary table-vertical-center">
            <tbody>
            <thead>
                <tr>
                    <th colspan="2">{{ 'News'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>{{ 'Title'|trans }}</th>
                    <td>{{ entity.title }}</td>
                </tr>
                <tr>
                    <th>{{ 'Abstract'|trans }}</th>
                    <td>{{ entity.abstract }}</td>
                </tr>
                <tr>
                    <th>{{ 'Url'|trans }}</th>
                    <td><a href="{{ entity.abstract }}" target="_blank">{{ entity.abstract }}</a></td>
                </tr>
                <tr>
                    <th>{{ 'Created at'|trans }}</th>
                    <td>{{ entity.createdAt|date('d/m/Y H:i:s') }}</td>
                </tr>
                <tr>
                    <th>{{ 'Updated at'|trans }}</th>
                    <td>{{ entity.updatedAt|date('d/m/Y H:i:s') }}</td>
                </tr>
            </tbody>
            </tbody>
        </table>
        <div class="separator bottom"></div>

    </div>
    <div class="span8">
        <table class="record_properties table table-bordered table-condensed table-striped table-primary table-vertical-center">
            <tbody>
            <thead>
                <tr>
                    <th>{{ 'Content preview'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{ entity.content|raw }}
                    </td>
                </tr>
            </tbody>
            </tbody>
        </table>

        <div class="separator bottom"></div>
    </div>
</div>

{% endblock %}