<h1>{{ 'Categories'|trans }}</h1>

<ul>
	{% for entity in entities %}
  	  <li><a href="{{ path('frontend_news_by_category', { 'category': entity.0.slug }) }}">{{ entity.0.name }} <span>({{ entity.c }})</span></a></li>
	{% endfor %}
</ul>