{% extends '::base.html.twig' %}

{% from '::macros.html.twig' import label %}

{% block content %}
    <div class="row-fluid">
        <h2>Dashboard!</h2>


        <div class="span2">
            <a href="" class="widget-stats">
                <span class="glyphicons user"><i></i></span>
                <span class="txt">Estudiantes</span>
                <div class="clearfix"></div>
                <span class="count label label-important">{{ app.user.academyStudents|length }}</span>
            </a>
        </div>
        <div class="span2">
            <a href="" class="widget-stats">
                <span class="glyphicons riflescope"><i></i></span>
                <span class="txt">Docentes</span>
                <div class="clearfix"></div>
                <span class="count label label-important">{{ app.user.academyTeachers|length }}</span>
            </a>
        </div>
        <div class="span2">
            <a href="" class="widget-stats">
                <span class="glyphicons upload"><i></i></span>
                <span class="txt">Sedes</span>
                <div class="clearfix"></div>
                <span class="count label label-important">{{ app.user.academyPlaces|length }}</span>
            </a>
        </div>

        <div class="span12"></div>
        <div class="span6">
            <h4>{{ 'Users Type'|trans }}</h4>
            <table class="table table-condensed table-hover table-striped table-bordered">
                <thead>
                <tr>
                    <th>{{ 'Type'|trans }}</th>
                    <th>{{ 'Quantity'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {%- set types = {
                    "role.ROLE_ACADEMY":"success",
                    "role.ROLE_TEACHER":"warning",
                    "role.ROLE_STUDENT":"info"
                } -%}
                {% for role,quantity in usersTypeQuantity if quantity > 0 and types[role] is defined %}
                    <tr>
                        <td>{{ label(role|trans(), types[role]) }}</td>
                        <td>{{ quantity }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

