{% extends "::base.html.twig" %}

{% from '::macros.html.twig' import label %}

{% block content %}

<div class="row-fluid">
    <h2>Dashboard!</h2>

    <div class="span2">
        <a href="" class="widget-stats">
            <span class="glyphicons user"><i></i></span>
            <span class="txt">{{ 'Users'|trans }}</span>
            <div class="clearfix"></div>
            <span class="count label label-important">{{ usersQuantity }}</span>
        </a>
    </div>
    <div class="span2">
        <a href="" class="widget-stats">
            <span class="glyphicons riflescope"><i></i></span>
            <span class="txt">{{ 'Holes'|trans }}</span>
            <div class="clearfix"></div>
            <span class="count label label-important">{{ holeQuantity }}</span>
        </a>
    </div>
    <div class="span2">
        <a href="" class="widget-stats">
            <span class="glyphicons upload"><i></i></span>
            <span class="txt">{{ 'Rounds'|trans }}</span>
            <div class="clearfix"></div>
            <span class="count label label-important">{{ roundQuantity }}</span>
        </a>
    </div>
    <div class="span12"></div>
    <div class="span6">
        <h4>{{ 'Users Type'|trans }}</h4>
        <table class="table table-condensed table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th>{{ 'Type'|trans }}</th>
                    <th>{{ 'Quantity'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {%- set types = {
                    "role.ROLE_ACADEMY":"success",
                    "role.ROLE_MOBILE":"warning",
                    "role.ROLE_TEACHER":"warning",
                    "role.ROLE_GROUP_OWNER":"warning",
                    "role.ROLE_CUSTOMER":"info",
                    "role.ROLE_ADMIN":"success",
                    "role.ROLE_PLAYER":"info",
                    "role.ROLE_STUDENT":"info",
                    "role.ROLE_SECRETARY":"success",
                    "role.ROLE_GROUP_ADMIN":"success",
                    "role.ROLE_SUPER_ADMIN":"inverse"
                } -%}
                {% for role,quantity in usersTypeQuantity if quantity > 0 and types[role] is defined %}
                    <tr>
                        <td>{{ label(role|trans(), types[role]) }}</td>
                        <td>{{ quantity }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="span12"></div>
    {#<div class="span6">#}
        {#<h4>{{ 'Services with payment by area'|trans }}</h4>#}
        {#<table class="table table-condensed table-hover table-striped table-bordered">#}
            {#<thead>#}
                {#<tr>#}
                    {#<th>{{ 'Name'|trans }}</th>#}
                    {#<th>{{ 'Quantity'|trans }}</th>#}
                {#</tr>#}
            {#</thead>#}
            {#<tbody>#}
                {#{% for area in areasServices[1] %}#}
                {#<tr>#}
                    {#<td>{{ area.name }}</td>#}
                    {#<td>{{ area.quantity }}</td>#}
                {#</tr>#}
                {#{% endfor %}#}
            {#</tbody>#}
        {#</table>#}
    {#</div>#}
    {#<div class="span12"></div>#}
    {#<div class="span6">#}
        {#<h4>{{ 'Services sold by area'|trans }}</h4>#}
        {#<table class="table table-condensed table-hover table-striped table-bordered">#}
            {#<thead>#}
                {#<tr>#}
                    {#<th>{{ 'Name'|trans }}</th>#}
                    {#<th>{{ 'Quantity'|trans }}</th>#}
                {#</tr>#}
            {#</thead>#}
            {#<tbody>#}
                {#{% for area in areasServices[0] %}#}
                {#<tr>#}
                    {#<td>{{ area.name }}</td>#}
                    {#<td>{{ area.quantity }}</td>#}
                {#</tr>#}
                {#{% endfor %}#}
            {#</tbody>#}
        {#</table>#}
    {#</div>#}
</div>
{% endblock content %}