<script>
    $(function(){
        $('[name$="[country]"]').each(function() {
            var $country = $(this),
                $controls = $country.closest('.controls > .control-group').parent(),
                $state = $controls.find('[name$="[state]"]'),
                $city = $controls.find('[name$="[city]"]');

            $country.on('change', function() {
                var selectedState = $state.val();
                var selectedCity = $city.val();
                $state.attr('disabled', true).find('option').remove();
                $city.attr('disabled', true).find('option').remove();
                var country = $country.val();

                if(country) {
                    $.get('{{ path('webfactorylocationbundle_state_list') }}', {country:country}, function(html) {
                        $state.removeAttr('disabled').append(html).val(selectedState).trigger('change');
                        $city.removeAttr('disabled');
                    });
                }
            });

            $state.on('change', function() {
                var selectedCity = $city.val();
                $city.attr('disabled', true).find('option').remove();
                var state = $state.val();

                if(state) {
                    $.get('{{ path('webfactorylocationbundle_city_list') }}', {state:state}, function(html) {
                        $city.removeAttr('disabled').append(html).val(selectedCity);
                    });
                }
            });

        });
    });
</script>
