<script>
    $(function(){
        $('[name$="[country]"]').each(function() {
            var $country = $(this),
                $state = $('[name$="[state]"]');

            $country.on('change', function() {
                $state.attr('disabled', true).find('option:gt(0)').remove();
                var country = $country.val();

                if(country) {
                    $.get('{{ path('webfactorylocationbundle_state_list') }}', {country:country}, function(html) {
                        $state.removeAttr('disabled').append(html);
                    });
                }
            });
        });
    });
</script>
