{% extends '::base.html.twig' %}

{% block content -%}
<div class="messages">
    <div class="composeMessageContainer">
        <a class="createanewentry" href="#">{{ 'Create a new entry'|trans }}</a>

        <div class="formContainer" style="display:none">
            {% if form is defined %}
                {% include 'WebFactoryMessagingBundle:Frontend/Message:new.html.twig' with { 'form' : form } %}
            {% else %}
                {{ render(controller('WebFactoryMessagingBundle:Frontend/Message:new', { 'initialMessage': '' })) }}
            {% endif %}
        </div>
    </div>
    {{ knp_pagination_render(entities) }}

    <div class="messageWrapper">
    {% for entity in entities %}
        {% include 'WebFactoryMessagingBundle:Frontend/Message:show.html.twig' with {initialMessage:entity} only %}
    {% endfor %}
    </div>

    {{ knp_pagination_render(entities) }}
</div>
{% endblock %}

{% block foot_script %}
{{ parent() }}
<script>
    (function() {

        //Set default open/close settings
        $('.message .messagecontainer').hide(); //Hide/close all containers

        $('.message .details').on('click', 'a.delete', function($event) {
            $event.stopBubbling();
        });

        //On Click
        $('.message .details').on("click", function($event){
            var $message = $(this).closest('.message');
                id = $message.data('id');
            $.get('{{ path("frontend_message_mark_as_read") }}', {id:id}, function(responseText) {
                $message.removeClass('unreaded').addClass('readed');
            });
            $event.preventDefault();
            if ($(this).hasClass('active')) {
                    $('.message .details').removeClass('active').next().slideUp(); //Remove all "active" state and slide up the immediate next container
            } else {
                if( $(this).next().is(':hidden') ) { //If immediate next container is closed...
                    $('.message .details').removeClass('active').next().slideUp(); //Remove all "active" state and slide up the immediate next container
                    $(this).toggleClass('active').next().slideDown(); //Add "active" state to clicked trigger and slide down the immediate next container
                }
            }
            return false;
        });

        $('.createanewentry').on('click', function($event){
            $event.preventDefault();
            $(this).next().toggle('slow');
        });

        $('.composeMessageContainer').on('submit', 'form', function($event) {
            $event.preventDefault();
             $(this).ajaxSubmit({
                 success: function(responseText, statusText, xhr, $form) {
                    if(responseText.ok) {
                        window.location.href = responseText.url;
                    } else
                        $form.closest('.formContainer > form').replaceWith(responseText);
                }
             });
        });

        $('.messageWrapper').on('submit', 'form', function($event) {
            $event.preventDefault();
             $(this).ajaxSubmit({
                 success: function(responseText, statusText, xhr, $form) {
                    $form.closest('.message').replaceWith(responseText);
                }
             });
        });

        $('.messages').on('click', 'a.delete', function($event) {
            $event.preventDefault();
            var $link = $(this);
            if(confirm('Seguro?')) {
                $.get('{{ path('frontend_message_delete') }}', {id:$link.data('id')}, function(responseText) {
                    if(!responseText) {
                        window.location.href = '{{ path('frontend_message') }}';
                    } else {
                        $link.closest('.message').replaceWith(responseText);
                    }

                });
            }
        });
    }) ();
</script>
{% endblock foot_script %}