<div class="message {{ initialMessage.hasUnreads(app.user) ? 'unreaded' : 'readed' }} {{ app.user == initialMessage.from ? 'owner' : 'noOwner' }}" data-id="{{ initialMessage.id }}">
    <div class="details">
        <div class="from">{{ initialMessage.from }}</div>
        <div class="actions">
            <a href="#" class="delete" data-id="{{ initialMessage.id }}">{{ 'Delete'|trans }}</a>
        </div>
        <div class="createdAt">{% if initialMessage.createdAt %}{{ initialMessage.createdAt|date('d/m/Y - H:i') }} {{ 'hs.'|trans }} {% endif %}</div>
        <div class="clearme"></div>
    </div>
    <div class="messagecontainer">
        <div class="content">{{ initialMessage.content|nl2br }}</div>
        <div class="replies">
            {% for reply in initialMessage.replies %}
            <div class="reply">
                <div class="details {{ app.user == reply.from ? 'owner' : 'noOwner' }}">
                    <div class="pique"></div>
                    <div class="replycontent">
                        <div class="from">{{ reply.from }}</div>
                        <div class="actions">
                            {% if app.user == reply.from %}
                                <a href="#" class="delete" data-id="{{ reply.id }}">{{ 'Delete'|trans }}</a>
                            {% endif %}
                        </div>
                        <div class="createdAt">{% if reply.createdAt %}{{ reply.createdAt|date('d/m/Y - H:i') }}{% endif %}</div>
                        <div class="clearme"></div>
                        <div class="content">{{ reply.content|nl2br }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="clearme"></div>
            <div class="replyForm">
                {% if form is defined %}
                    {% include 'WebFactoryMessagingBundle:Frontend/Message:new.html.twig' with { 'form' : form } %}
                {% else %}
                    {{ render(controller('WebFactoryMessagingBundle:Frontend/Message:new', { 'initialMessage': initialMessage.id })) }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
