{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<div class="row-fluid">
<p class="form-signin">
{{ 'resetting.check_email'|trans({'%email%': email}) }}
</p>
{% endblock %}
