{% trans_default_domain 'FOSUserBundle' %}
<div class="row-fluid">
    <form class="form-signin" method="post" action="{{ path('fos_user_resetting_send_email') }}">

        {% if invalid_username is defined %}
        <p class="label label-important">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
        {% endif %}

        <h3 class="glyphicons unlock form-signin-heading"><i></i> {{ 'security.resetting.intro'|trans({}, 'FOSUserBundle') }}</h3>

        <div class="">
            <input class="span12" placeholder="{{ 'resetting.request.username'|trans }}" type="text" id="username" name="username" required="required" />
        </div>
        <input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="btn btn-large btn-primary" />
    </form>
</div>