{% trans_default_domain 'FOSUserBundle' %}

<div class="row-fluid">

    <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset form-signin">
        <h3 class="glyphicons unlock form-signin-heading"><i></i> {{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}</h3>
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" class="btn btn-large btn-primary" />
        </div>
    </form>

</div>