<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
        {% stylesheets output='css/compiled/fmelfinder/main.css' filter='cssrewrite'
        'bundles/fmelfinder/css/*' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
</head>
<body>
        {% javascripts output='js/compiled/fmelfinder/main.js'
            '@FMElfinderBundle/Resources/public/js/jquery/jquery-1.8.0.min.js'
            '@FMElfinderBundle/Resources/public/js/jquery/jquery-ui-1.8.23.custom.min.js'
            '@FMElfinderBundle/Resources/public/js/elfinder.min.js'
            '@FMElfinderBundle/Resources/public/js/i18n/*'
            %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

<script type="text/javascript" charset="utf-8">
    function getUrlParam(paramName) {
        var reParam = new RegExp('(?:[\?&]|&amp;)' + paramName + '=([^&]+)', 'i') ;
        var match = window.location.search.match(reParam) ;

        return (match && match.length > 1) ? match[1] : '' ;
    }
    $().ready(function() {
        var funcNum = getUrlParam('CKEditorFuncNum');
        var mode = getUrlParam('mode');

        var f = $('#elfinder').elfinder({
            url : '{{path('ef_connect')}}'+'?mode='+mode,
            lang : '{{locale}}',
            getFileCallback : function(file) {
                if (funcNum) {
                    window.opener.CKEDITOR.tools.callFunction(funcNum, file.url);
                    window.close();
                }
            }
        });

        {% if fullscreen %}
        $(window).resize(function(){
            var h = $(window).height();

            if($('#elfinder').height() != h - 20){
                $('#elfinder').height(h -20).resize();
            }
        });
        {% endif %}
    });
</script>
<div id="elfinder"></div>
</body>
</html>



