<!DOCTYPE html>
<html>
<head>
        {% stylesheets output='css/compiled/fmelfinder/main.css' filter='cssrewrite'
        'bundles/fmelfinder/css/*' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
</head>
<body>
    {% javascripts output='js/compiled/fmelfinder/main.js'
        '@FMElfinderBundle/Resources/public/js/jquery/jquery-1.8.0.min.js'
        '@FMElfinderBundle/Resources/public/js/jquery/jquery-ui-1.8.23.custom.min.js'
        '@FMElfinderBundle/Resources/public/js/elfinder.min.js'
        '@FMElfinderBundle/Resources/public/js/i18n/*'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
<script type="text/javascript" src="{{ tinymce_popup_path }}"></script>
<script type="text/javascript" charset="utf-8">

    var FileBrowserDialogue = {
        init: function() {
            // Here goes your code for setting your custom things onLoad.
        },
        mySubmit: function (URL) {

            var win = tinyMCEPopup.getWindowArg('window');

            // pass selected file path to TinyMCE
            win.document.getElementById(tinyMCEPopup.getWindowArg('input')).value = URL;

            // are we an image browser?
            if (typeof(win.ImageDialog) != 'undefined') {
                // update image dimensions
                if (win.ImageDialog.getImageData) {
                    win.ImageDialog.getImageData();
                }
                // update preview if necessary
                if (win.ImageDialog.showPreviewImage) {
                    win.ImageDialog.showPreviewImage(URL);
                }
            }

            // close popup window
            tinyMCEPopup.close();
        }
    }

    tinyMCEPopup.onInit.add(FileBrowserDialogue.init, FileBrowserDialogue);

    $().ready(function() {

        var f = $('#elfinder').elfinder({
            url : '{{ path('ef_connect') }}',
            lang : '{{ locale }}',
            getfile : {
                onlyURL : true,
                multiple : false,
                folders : false
            },
            getFileCallback : function(url) {
                path = '/' + url.path;
                FileBrowserDialogue.mySubmit(path);
            }
        }).elfinder('instance');
    });
</script>
<div id="elfinder"></div>
</body>
</html>
