{% extends "WebFactoryUserBundle::layout.html.twig" %}

{% block content %}
  {% block fos_user_content %}

  {% if route_login_check is not defined %}
    {% set route_login_check = "backend_fos_user_security_check" %}
  {% endif %}

    <div class="row-fluid">
    
        <div class="span4 offset4">

            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                            {{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse in">
                        <div class="accordion-inner">

                            <form class="form-signin" method="post" action="{{ path('backend_fos_user_security_check') }}">
                            {% if error %}
                            <div class="label label-important">
                                {{ error|trans({}, 'FOSUserBundle') }}
                            </div>
                            {% endif %}

                            <h3 class="glyphicons unlock form-signin-heading"><i></i> {{ 'security.login.intro'|trans({}, 'FOSUserBundle') }}</h3>
                            <div class="">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                <input class="span12" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                                <input class="span12" type="password" id="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}" />
                                
                                <div class="uniformjs">
                                    <label for="remember_me"><input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                                </div>
                                
                            </div>
                            <input type="submit" name="_submit" class="btn btn-large btn-primary" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                        </form>


                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                            {{ 'security.resetting.recover'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse">


                        {#<form id="recoverform" class="form-signin" action="{{ path('backend_fos_user_resetting_send_email') }}" method="post">#}
                            {#<h3 class="glyphicons unlock form-signin-heading"><i></i> {{ 'security.resetting.intro'|trans({}, 'FOSUserBundle') }}</h3>#}

                            {#{% if invalid_username is defined %}#}
                            {#<p class="label label-important">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>#}
                            {#{% endif %}#}

                            {#<div>#}
                                {#<input type="text" class="span12" name="username" required="required" placeholder="{{ 'security.resetting.email'|trans({}, 'FOSUserBundle') }}" />#}
                            {#</div>#}
                            {#<div>#}
                                {#<input type="submit" class="btn btn-large btn-primary" value="{{ 'security.resetting.recover'|trans({}, 'FOSUserBundle') }}" />#}
                            {#</div>#}
                        {#</form>#}

                        <p style="float: right;margin: 2em;">
                            <a href="{{ path('backend_fos_user_resetting_request', {}, true)|replace({'./':''}) }}">Recuperar cuenta</a>
                        </p>


                    </div>
                </div>
            </div>

        </div>
    
    </div>
  {% endblock fos_user_content %}
{% endblock %}