{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="pageblock">
    <div class="pageblockgeneric">
        <div class="pageblockbg withPadding">
            <p>{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p>
            <p>{{ 'Also check your SPAM message box'|trans }}</p>
        </div>
    </div>
</div>
{% endblock fos_user_content %}
