{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="pageblock">
    <div class="pageblockgeneric">
        <div class="pageblockbg withPadding">
            <p>{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</p>
    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a></p>{% endif %}
    {% endif %}
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
