{% extends ':mailer:base.html.twig' %}

{% block content %}
    <p style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #333333; font-size: 16px; line-height: 22px;">Hola {{ user.username }}!</p>
    <p style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #333333; font-size: 16px; line-height: 22px;">Para completar la validación de tu cuenta - por favor visita <a href="{{ confirmationUrl }}">este enlace</a></p>
{% endblock content %}