<div class="pageblock">
    <div class="pageblockgeneric">
        <div class="formcontent">
            <h3 class="title">{{ 'register'|trans() }}</h3>
            {{ form_start(form) }}
                <fieldset>
                    {{ form_row(form.username) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.plainPassword) }}
                    {{ form_row(form.profile) }}
                    {{ form_row(form.tos, {'help_block': ('acept_terms_text'|trans) ~' <a href="' ~ path('frontend_static_tos') ~ '" target="_blank">' ~ ('acept_terms_link'|trans) ~ '</a>', 'widget_controls_attr':{'class':'helper'} }) }}
                    {{ form_row(form.newsletter_subscription, {'help_block': ('Check to subscribe to our newsletter'|trans), 'widget_controls_attr':{'class':'helper'} }) }}
                    {{ form_rest(form) }}
                    <div class="form-actions">
                        <p class="requiredblockarea"><span> (*) {{ 'required fields'|trans }} </span></p>
                        <button class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}">{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}</button>
                    </div>
                </fieldset>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% include 'WebFactoryLocationBundle::simple_dependents.html.twig' %}