{% extends "FOSUserBundle:Registration:register.html.twig" %}

{% block fos_user_content %}
{% include "WebFactoryUserBundle:Frontend/Registration:register_content.html.twig" %}
{% endblock fos_user_content %}

{% block head_style %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block foot_script %}
    {{ parent() }}
    {{ form_javascript(form) }}

<script type="text/javascript">
$(function() {
    applySlider('[name="fos_user_registration_form[profile][handicap]"]');

    var $displayer = $('[for=fos_user_registration_form_profile_handicap]').append('<span class="displayer"></span>').find('span.displayer');
    $displayer.text('(' + $('#handle_fos_user_registration_form_profile_handicap').attr('aria-valuetext') + ')');
    $('#handle_fos_user_registration_form_profile_handicap').mouseup(function() {
        var text = $(this).attr('aria-valuetext');
        $displayer.text('(' + text + ')');
    });
    $('#handle_fos_user_registration_form_profile_handicap').keydown(function() {
        var text = $(this).attr('aria-valuetext');
        $displayer.text('(' + text + ')');
    });
});
var applySlider = function (selector) {
    $(selector).each(function(){
        $(this).selectToUISlider({
            labelSrc: 'text', 
            labels: 5,
        }).hide();
    });
};
$('#fos_user_registration_form_profile_condition').change(function() {
    if ($(this).val() == '{{ constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\PlayerCondition::PROFESSIONAL') }}') {
        $('#fos_user_registration_form_profile_handicap_control_group').hide();
    } else {
        $('#fos_user_registration_form_profile_handicap_control_group').show();
    }
});
</script>
{% endblock %}