{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Dues edition') }}{% endblock headline %}

{% block content -%}

{{ form_start(edit_form, {'action': path('webfactory_payment_backend_creditcard_update', {'id': entity.id}),'attr': {'class': 'form-horizontal'}}) }}
    <input type="hidden" name="_method" value="PUT" />
    <div class="row-fluid">
        <div class="span6">
            {{ form_row(edit_form.quantity) }}
            {{ form_errors(edit_form.quantity) }}
            {{ form_row(edit_form.coefficient) }}
            {{ form_errors(edit_form.coefficient) }}
            {{ form_row(edit_form.creditCard) }}
            {{ form_errors(edit_form.creditCard) }}
        </div>
    </div>
    <button type="submit" class="btn btn-info">Guardar</button>
    <div class="separator bottom"></div>
{{ form_end(edit_form) }}

{{ macros.deleteForm('webfactory_payment_backend_creditcard_delete', delete_form, entity) }}
{% endblock %}