{% extends 'WebFactoryPaymentBundle:Backend:layout.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Payment') }}{% endblock headline %}

{% block heading_buttons %}
{{ macros.actions([
    macros.backToList('webfactory_payment_backend_payment_index')
]) }}
{% endblock heading_buttons %}

{% block content -%}
<div class="row-fluid">

    <form action="{{ path('webfactory_payment_backend_payment_import') }}" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" required/>
        {{ macros.actions([ macros.backToList('webfactory_payment_backend_payment_index'), macros.submitButton('Create') ]) }}
    </form>
    
</div>

{% endblock %}
