{% extends 'WebFactoryPaymentBundle:Backend:layout.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Credit Card list') }}{% endblock headline %}

{% block content -%}
    
    {% include '::filters.html.twig' with {'grid':grid, 'gridBlock':'WebFactoryPaymentBundle:Backend/CreditCard:grid.html.twig'} only %}

    {{ macros.actions([ macros.new('webfactory_payment_backend_creditcard_new') ]) }}

    {{ grid(grid, 'WebFactoryPaymentBundle:Backend/CreditCard:grid.html.twig') }}
{% endblock %}