{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Dues creation') }}{% endblock headline %}

{% block content -%}

    {{ form_start(form, {'action': path('webfactory_payment_backend_creditcard_create'), 'attr': {'class': 'form-horizontal'}}) }}
        <div class="row-fluid">
            <div class="span6">
            {{ form_row(form.quantity) }}
            {{ form_row(form.coefficient) }}
            {{ form_row(form.creditCard) }}

                <button type="submit" class="btn btn-info">Guardar</button>
        </div>
        </div>
    {{ form_end(form) }}

    {{ macros.actions([ macros.backToList('webfactory_payment_backend_creditcard_index')]) }}


{% endblock %}