{% extends '::grid.html.twig' %}

{% block grid_column_name_cell %}
    {% set value = value|trans %}
    {{ block('grid_column_cell') }}
{% endblock grid_column_name_cell %}

{% block grid_column_reportType_name_cell %}
    {% set value = value|trans %}
    {{ block('grid_column_cell') }}
{% endblock grid_column_reportType_name_cell %}