{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Report list') }}{% endblock headline %}

{% block content -%}
    {% include '::filters.html.twig' with {'grid':grid, 'gridBlock':'AndresGottaGolfBundle:Backend/Report:grid.html.twig'} only %}
    {{ grid(grid, 'AndresGottaGolfBundle:Backend/Report:grid.html.twig') }}
{% endblock %}