{% extends '::base.html.twig' %}

{% block content %}
    <canvas id="holes-average" width="400" height="100"></canvas>

    <div style="width: 30%; float: left;">
        <canvas id="emotional-rates"></canvas>
    </div>
    <div style="width: 5%; min-height: 1px; float: left; display: block;"></div>
    <div style="width: 30%; float: left;">
        <canvas id="food-rates"></canvas>
    </div>
    <div style="width: 5%; min-height: 1px; float: left;"></div>
    <div style="width: 30%; float: left;">
        <canvas id="physical-rates"></canvas>
    </div>
    <div style="clear: both;"></div>

    <canvas id="pre-competitive-average" width="400" height="100"></canvas>

    <script src="{{  asset('bundles/andresgottafrontendtheme/js/Chart.bundle.min.js') }}"></script>
    <script>
        var ctx = $('#holes-average');
        new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['Diseño y Par', 'Salida', 'Golpe(s)', 'Putt'],
                datasets: [{
                    label: 'Promedio de evolución emocional por hoyo',
                    fill: false,
                    lineTension: 0.3,
                    backgroundColor: '#2196F3',
                    borderColor: '#2196F3',
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJoinStyle: 'miter',
                    pointBorderColor: '#2196F3',
                    pointBackgroundColor: '#2196F3',
                    pointBorderWidth: 1,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: '#2196F3',
                    pointHoverBorderColor: '#2196F3',
                    pointHoverBorderWidth: 2,
                    pointRadius: 1,
                    pointHitRadius: 10,
                    data: [
                        {{ holesEmotionalAverage.designAndPairEmotionalAverage }},
                        {{ holesEmotionalAverage.firstStrikeEmotionalAverage }},
                        {{ holesEmotionalAverage.strikesEmotionalAverage }},
                        {{ holesEmotionalAverage.puttEmotionalAverage }}
                    ],
                    spanGaps: false
                }, {
                    label: 'Promedio de evolución alimenticia por hoyo',
                    fill: false,
                    lineTension: 0.3,
                    backgroundColor: '#FFEB3B',
                    borderColor: '#FFEB3B',
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJoinStyle: 'miter',
                    pointBorderColor: '#FFEB3B',
                    pointBackgroundColor: '#FFEB3B',
                    pointBorderWidth: 1,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: '#FFEB3B',
                    pointHoverBorderColor: '#FFEB3B',
                    pointHoverBorderWidth: 2,
                    pointRadius: 1,
                    pointHitRadius: 10,
                    data: [
                        {{ holesFoodAverage.designAndPairFoodAverage }},
                        {{ holesFoodAverage.firstStrikeFoodAverage }},
                        {{ holesFoodAverage.strikesFoodAverage }},
                        {{ holesFoodAverage.puttFoodAverage }}
                    ],
                    spanGaps: false
                }, {
                    label: 'Promedio de evolución física por hoyo',
                    fill: false,
                    lineTension: 0.3,
                    backgroundColor: '#F44336',
                    borderColor: '#F44336',
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJoinStyle: 'miter',
                    pointBorderColor: '#F44336',
                    pointBackgroundColor: '#F44336',
                    pointBorderWidth: 1,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: '#F44336',
                    pointHoverBorderColor: '#F44336',
                    pointHoverBorderWidth: 2,
                    pointRadius: 1,
                    pointHitRadius: 10,
                    data: [
                        {{ holesPhysicalAverage.designAndPairPhysicalAverage }},
                        {{ holesPhysicalAverage.firstStrikePhysicalAverage }},
                        {{ holesPhysicalAverage.strikesPhysicalAverage }},
                        {{ holesPhysicalAverage.puttPhysicalAverage }}
                    ],
                    spanGaps: false
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            display: false
                        }
                    }]
                },
                tooltips: {
                    enabled: false
                }
            }
        });

        var ctx = $('#emotional-rates');
        new Chart(ctx, {
            type: 'pie',
            data: {
                datasets: [{
                    data: [
                        {% for rate in emotionalRates %}
                            {{  rate|round(2) }},
                        {% endfor %}
                    ],
                    backgroundColor: [
                        '#0D47A1',
                        '#1565C0',
                        '#1976D2',
                        '#1E88E5',
                        '#2196F3',
                        '#42A5F5',
                        '#64B5F6',
                    ]
                }],
                labels: [
                    {% for key, rate in emotionalRates %}
                        '{{ key|trans }}',
                    {% endfor %}
                ]
            },
            options: {
                tooltips: {
                    callbacks: {
                        label: function(tooltipItem, data) {
                            return ' ' + data.labels[tooltipItem.index] + ' ' + data.datasets[0].data[tooltipItem.index] + '%';
                        }
                    }
                }
            }
        });

        var ctx = $('#food-rates');
        new Chart(ctx, {
            type: 'pie',
            data: {
                datasets: [{
                    data: [
                        {% for rate in foodRates %}
                        {{  rate|round(2) }},
                        {% endfor %}
                    ],
                    backgroundColor: [
                        '#F57F17',
                        '#F9A825',
                        '#FBC02D',
                        '#FDD835',
                        '#FFEB3B',
                    ]
                }],
                labels: [
                    {% for key, rate in foodRates %}
                        '{{ key|trans }}',
                    {% endfor %}
                ]
            },
            options: {
                tooltips: {
                    callbacks: {
                        label: function(tooltipItem, data) {
                            return ' ' + data.labels[tooltipItem.index] + ' ' + data.datasets[0].data[tooltipItem.index] + '%';
                        }
                    }
                }
            }
        });

        var ctx = $('#physical-rates');
        new Chart(ctx, {
            type: 'pie',
            data: {
                datasets: [{
                    data: [
                        {% for rate in physicalRates %}
                        {{  rate|round(2) }},
                        {% endfor %}
                    ],
                    backgroundColor: [
                        '#B71C1C',
                        '#C62828',
                        '#D32F2F',
                        '#E53935',
                        '#F44336',
                    ]
                }],
                labels: [
                    {% for key, rate in physicalRates %}
                    '{{ key|trans }}',
                    {% endfor %}
                ]
            },
            options: {
                tooltips: {
                    callbacks: {
                        label: function(tooltipItem, data) {
                            return ' ' + data.labels[tooltipItem.index] + ' ' + data.datasets[0].data[tooltipItem.index] + '%';
                        }
                    }
                }
            }
        });

        var ctx = $('#pre-competitive-average');
        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Entró en calor', 'Tiró pelotas', 'Se sentía con ganas de jugar', 'Tenía definida su estrategia de juego'],
                datasets: [{
                    label: 'Promedio de preguntas pre-competitivas respondidas positivamente',
                    fill: false,
                    lineTension: 0.3,
                    backgroundColor: '#2196F3',
                    borderColor: '#2196F3',
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJoinStyle: 'miter',
                    pointBorderColor: '#2196F3',
                    pointBackgroundColor: '#2196F3',
                    pointBorderWidth: 1,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: '#2196F3',
                    pointHoverBorderColor: '#2196F3',
                    pointHoverBorderWidth: 2,
                    pointRadius: 1,
                    pointHitRadius: 10,
                    data: [
                        {{ preCompetitiveQuestionnairesAverage.isWarmedUp }},
                        {{ preCompetitiveQuestionnairesAverage.hasPracticed }},
                        {{ preCompetitiveQuestionnairesAverage.wantsToPlay }},
                        {{ preCompetitiveQuestionnairesAverage.hasStrategy }}
                    ],
                    spanGaps: false
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true,
                            max: 100
                        }
                    }]
                },
                tooltips: {
                    enabled: false
                }
            }
        });
    </script>
{% endblock %}
