{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Report') }}{% endblock headline %}

{% form_theme filter_form _self %}

{%- block choice_widget_options -%}
    {% for group_label, choice in options %}
        {% set attr = choice.attr %}
        <option value="{{ choice.value }}" {{ block('attributes') }}{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|trans }}</option>
    {% endfor %}
{%- endblock choice_widget_options -%}

{% block content -%}
<div class="row-fluid">
    <div class="row">
        <div class="span12 reportZone2">
            <div class="span10">
            {{ form(filter_form) }}
                </div>
            </div>
        </div>
        <hr />
        <div id="report" class="row-fluid span10">
        {% if data.columns is defined and data.columns|length == 0 %}
        {{ 'No result'|trans }}
        {% elseif data is not null %}
                <div class="row">
                    <div class="span12 reportZone">
                        <div class="reportZoneContent">
                            <h1 class="reportZoneTitle">{{ report.name|trans }}</h1>
                            {#<p>{{ report.description|trans }}</p>#}
                            <br/>
                            {% if filterForm is defined %}
                            {{ form(filterForm, {'attr':{'novalidate':'novalidate'} }) }} 
                            {% endif %}
                            <div class="reportZoneGraphic row-fluid">
                                <div class="reportZoneGraphicBox">{% include 'AndresGottaGolfBundle:Frontend/Report:reports/' ~ report.slug ~ '.html.twig' %}</div>
                                <p class="reportZoneGraphicDesc">{{ 'Goals'|trans }}: {{ report.objectives|trans }}</p>
                            </div>
                        </div>
                    </div>
                </div>
        {% endif %}
            </div>
        </div>
        <style type="text/css">
                .reportZone .reportZoneContent {
                    background: none repeat scroll 0 0 #F7F7F7;
                    border: 1px solid #C0C0C0;
                    display: block;
                    margin: 0 1%;
                    overflow: hidden;
                    padding: 2%;
                    width: 96%;
                }
                .reportZone2 form fieldset {
                    background: none repeat scroll 0 0 #F7F7F7;
                    border: 1px solid #C0C0C0;
                    margin: 0 4%;
                    padding: 1% 2%;
                    width: 95%;
                }
                .reportZone2 .control-group {
                    display: inline-block;
                    margin-bottom: 10px;
                    margin-right: 2%;
                    vertical-align: top;
                    width: auto;
                }
                .reportZone2 select {
                    display: inline-block;
                    margin-bottom: 10px;
                    margin-right: 2px;
                    vertical-align: top;
                }
                .row .reportZone {
                    background: none repeat scroll 0 0 #FFFFFF;
                    display: block;
                    float: none;
                    margin: 20px auto;
                    overflow: hidden;
                    padding: 0;
                    width: 100%;
                }
                .row .reportZone .reportZoneTitle {
                    border-bottom: 2px solid #CCCCCC;
                    color: #333333;
                    font-size: 21px;
                    font-weight: bold;
                    line-height: 23px;
                    margin: 0 0 15px;
                    padding: 0 0 15px;
                    text-align: center;
                    text-transform: uppercase;
                }
                .row .reportZone h2 {
                    color: #333333;
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 18px;
                    margin: 0 0 10px;
                    padding: 0;
                    text-align: left;
                    text-transform: uppercase;
                }
                .row .reportZone .reportZoneContent {
                    display: block;
                    overflow: hidden;
                    padding: 1.4%;
                }
                .row .reportZone .reportZoneContent p {
                    font-weight: 300;
                }
                .row .reportZone .reportZoneGraphic {
                    display: block;
                    overflow: hidden;
                    width: 100%;
                }
                .row .reportZone .reportZoneGraphicBox {
                    background: none repeat scroll 0 0 #F7F7F7;
                    display: block;
                    margin: 0 0 15px;
                    overflow: hidden;
                    width: 100%;
                }
                .row .reportZone .reportZoneData {
                    background: none repeat scroll 0 0 #F7F7F7;
                    display: block;
                    margin: 0 0 15px;
                    overflow: hidden;
                    width: 100%;
                }
                .row .reportZone .reportZoneGraphic p {
                    color: #666666;
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 16px;
                }
                .row .reportZone .reportZoneGraphic h2 {
                    border-bottom: 2px solid #DDDDDD;
                    padding: 12px;
                }
                .row .reportZone .reportZoneGraphic .table tr th {
                    background: none repeat scroll 0 0 #F9F9F9;
                    border-right: 1px solid #DDDDDD;
                }
                .row .reportZone .reportZoneGraphic .table tr td {
                    border-right: 1px solid #DDDDDD;
                }
                .row .reportZone .reportZoneGraphic caption {
                    background: none repeat scroll 0 0 #DDDDDD;
                    font-weight: bold;
                    padding: 5px 0;
                    text-align: center;
                    text-transform: uppercase;
                }
                .graphicBoxContainer.small {
                    background: none repeat scroll 0 0 #FFFFFF;
                    height: 400px;
                    margin: 0 auto;
                    width: 434px;
                }
                .graphicBoxContainer.long {
                    background: none repeat scroll 0 0 #FFFFFF;
                    height: 400px;
                    margin: 0 auto;
                    width: 680px;
                }
                .reportZoneGraphicBox .table {
                    border: 2px solid #DDDDDD;
                    margin: 20px auto;
                    padding: 0;
                    width: 98%;
                }
                .reportZoneContent .control-group {
                    display: inline-block;
                    margin-bottom: 10px;
                    margin-right: 25px;
                    vertical-align: top;
                }
                .reportZoneContent form fieldset {
                    background: none repeat scroll 0 0 #F7F7F7;
                    border: 1px solid #C0C0C0;
                    margin: 0 2px;
                    padding: 12px;
                }
                .reportZoneContent form fieldset .btn {
                    background: none repeat scroll 0 0 #F68A30;
                    border: medium none;
                    display: block;
                    float: left;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px;
                    margin: 0;
                    padding: 4px 15px;
                    text-transform: uppercase;
                    vertical-align: top;
                }
            </style>
{%- endblock content %}

{% block foot_script %}
{{ parent() }}
            <script type="text/javascript" src="{{ asset('bundles/andresgottafrontendtheme/js/highcharts.js') }}"></script>
{% endblock foot_script %}
