{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="pageblock">
    <div class="pageblockgeneric">
        <div class="pageblockbg withPadding">
            <p>{{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}</p>
        </div>
    </div>
</div>
{% endblock %}
