{% extends ':mailer:base.html.twig' %}

{% block content %}
    <p style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #333333; font-size: 16px; line-height: 22px;">Hola {{ user.username }}!</p>

    {% if app.request.pathInfo starts with '/api' %}
        <p style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #333333; font-size: 16px; line-height: 22px;">Para restablecer tu contraseña - por favor ingresa este código en la aplicación: {{ token }}</p>
    {% else %}
        <p style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #333333; font-size: 16px; line-height: 22px;">Para restablecer tu contraseña - por favor visita <a href="{{ confirmationUrl }}">este enlace</a></p>
    {% endif %}

{% endblock content %}