{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="pageblock">
    <div class="pageblockgeneric">
        <div class="pageblockbg withPadding">
            <p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
        </div>
    </div>
</div>
{% endblock fos_user_content %}

