{% extends "FOSUserBundle:Resetting:request.html.twig" %}

{% block fos_user_content %}
	{% include "WebFactoryUserBundle:Frontend/Resetting:request_content.html.twig" %}
{% endblock fos_user_content %}
