<div class="pageblock">
    <div class="pageblockgeneric">
        <div class="formcontent">
            <form action="{{ path('frontend_fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request" novalidate="novalidate">
                <fieldset>
                    <div class="control-group">
                        <label for="username" class="control-label">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>
                        <div class="controls">
                            <input type="text" id="username" name="username" required="required" />
                        </div>
                    </div>

                    {% if invalid_username is defined %}      
                    <div class="control-group">
                        <label class="control-label"></label>
                        <div class="controls">
                            <p class="help-line">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="form-actions">
                        <button type="submit" class="btn btn-inverse" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" />{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

