{% extends "FOSUserBundle:ChangePassword:changePassword.html.twig" %}

{% block fos_user_content %}
{% include "WebFactoryUserBundle:Backend/ChangePassword:changePassword_content.html.twig" %}
{% endblock fos_user_content %}
