{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('backend_fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-danger" />
    </div>
</form>
