{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Comparative edit') }}{% endblock headline %}

{% block content -%}
    {{ form(form) }}
{% endblock %}

{% block head_style %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/andresgottahomepage/css/select2.min.css') }}" />
    {{ form_stylesheet(form) }}
{% endblock %}

{% block foot_script %}
    {{ parent() }}
    <script>
        $('select').select2();
    </script>
    {{ form_javascript(form) }}
{% endblock %}