{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Comparative list') }}{% endblock headline %}

{% block content -%}
    {% include '::filters.html.twig' with {'grid':grid, 'gridBlock':'AndresGottaGolfBundle:Backend/Comparative:grid.html.twig'} only %}
    {{ grid(grid, 'AndresGottaGolfBundle:Backend/Comparative:grid.html.twig') }}
{% endblock %}