{% extends 'WebFactoryNewsBundle:Frontend:layout.html.twig' %}

{% block content -%}

<div class="pageblackbg">
  <div class="pageblock">
    <div class="pageblockgeneric">
            <div class="newscontainer">
                <section class="newsdetails">
                </section>

                <section id="newslist">
                    {% for news in entities %}
                        <article class="newsarticle">
                            <div class="newsarticlecontent">
                                <figure>
                                {% if news.mainImage and news.mainImage.filePath %}
                                    <a href="{{ path('frontend_news_show', { 'id': news.slug }) }}"><img src="{{ news.mainImage.cover|imagine_filter('news_thumb')  }}" /></a>
                                {% else %}
                                    <a href="{{ path('frontend_news_show', { 'id': news.slug }) }}"><img src="{{ asset('img/default-service.jpg') }}" /></a>
                                {% endif %}
                                </figure>
                                <div class="newsdata">
                                    <span class="newsdate">{{ news.createdAt|date('d.m.Y') }}</span>
                                    <h1><a href="{{ path('frontend_news_show', { 'id': news.slug }) }}">{{ news.title }}</a></h1>
                                    <a class="category" href="{{ path('frontend_news_by_category', { 'category': news.category.slug }) }}">{{ news.category.name }}</a>
                                    <div class="tags">
                                        <ul>
                                            {% for tag in news.tags %}
                                            {% if app.request.get('category') %}
                                                {% set options = {tag:tag.slug, category:app.request.get('category').slug} %}
                                                <li><a href="{{ path('frontend_news_by_category_and_tag', options) }}">{{ tag.name }}</a></li>
                                            {% else %}
                                                {% set options = {tag:tag.slug} %}
                                                <li><a href="{{ path('frontend_news_by_tag', options) }}">{{ tag.name }}</a></li>
                                            {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <p><a href="{{ path('frontend_news_show', { 'id': news.slug }) }}">{{ news.abstract }}</a></p>
                                    <div class="comments">
                                        <a href="{{ path('frontend_news_show', { 'id': news.slug }) }}#comments">{{ news.comments|length }} <span></span></a>
                                    </div>
                                </div>                                
                            </div>
                        </article>
                    {% endfor %}
                    {{ knp_pagination_render(entities) }}   
                </section>

                <section class="newsmenu">
                    {{ block('content_sidebar') }}
                </section>
    
                </div>
            </div>
        </div>
    </div>                                
</div>

{% endblock %}