{% extends 'WebFactoryNewsBundle:Frontend:layout.html.twig' %}

{% block content -%}

<div class="pageblackbg">
  <div class="pageblock">
    <div class="pageblockgeneric">
            <div class="newscontainer">
                
                <section class="newsdetails">
                    <span class="date">{{ entity.createdAt|date('d.m.Y') }}</span>
                    <span class="title"><a href="{{ path('frontend_news_by_category', { 'category': entity.category.slug }) }}">{{ entity.category.name }}</a></span>
                </section>

                <section id="news">
                    <article class="newsarticle">
                        <div class="newsdata">
                            <h1>{{ entity.title }}</h1>
                            <h2>{{ entity.abstract }}</h2>
                            <div class="tags">
                                <ul>
                                {% for tag in entity.tags %}
                                    <li><a href="{{ path('frontend_news_by_tag', {tag:tag.slug}) }}">{{ tag.name }}</a></li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="newsinfo">
                            <figure>
                                {% if entity.mainImage and entity.mainImage.filePath %}
                                     <img src="{{ entity.mainImage.cover|imagine_filter('news_thumb') }}" />
                                {% else %}
                                     <img src="{{ asset('img/default-service.jpg') }}" />
                                {% endif %}
                            </figure>
                            <div class="comments">
                                <a href="#comments">{{ entity.comments|length }} <span></span></a>
                            </div>                            
                        </div>
                        <section class="newstext">
                            <p>{{ entity.content|raw }}</p>
                        </section>
                    </article>
                </section>

                <section class="newsmenu">
                    {{ block('content_sidebar') }}
                </section>

                </div>
            </div>
        </div>
    </div>
</div>    
{% endblock content -%}

{% block post_content -%}

{% if app.user %}
    {% if response %}
        {{ response.content|raw }}
    {% else %}
        {{ render(controller('WebFactoryNewsBundle:Frontend/Comment:new', { 'news': entity.id })) }}
    {% endif %}
{% else %}
<br>
<a class="btn btn-comment"  href="{{ path('frontend_fos_user_security') }}">{{ 'login to comment this news'|trans }}</a>
<div class="clearme"></div>
{% endif %}

<span id="comments"></span>
{{ render(controller('WebFactoryNewsBundle:Frontend/Comment:index', { 'news': entity.id })) }}

{% endblock post_content -%}

