{% extends '::base.html.twig' %}

{% block content %}
    <div class="box_generic">
    	<div class="box_generic_content">
            <div class="box_generic_bg">
            {% block message %}
               <p class="icon"><br/>{{ message|trans }}<p>
            {% endblock message %}
    
            {% block button %}
                <a class="btn" href="{{ path('frontend_homepage') }}">Continuar</a>
            {% endblock button %}
            </div>
        </div>
    </div>
{% endblock content %}
