{% extends "WebFactoryUserBundle::layout.html.twig" %}

{% block content %}
  {% block fos_user_content %}

  {% if route_login_check is not defined %}
    {% set route_login_check = "frontend_fos_user_security_check" %}
  {% endif %}

  {% if show_form is not defined %}
    {% set show_form = "0" %}
  {% endif %}

  <div class="row-fluid">

<div class="pageblock">
  <div class="pageblockgeneric">
    <div class="formcontent">
        <div id="loginbox" class="clearfix">
           <form id="loginform" action="{{ path(route_login_check) }}" method="post" novalidate="novalidate">
              <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

              {% if error %}
                <div class="control-group error">
                    <span class="help-block automatic">
                  {{ error|trans({}, 'FOSUserBundle')|trans }}
                </span>
                </div>
              {% endif %}
              <h2>{{ 'Login'|trans }}</h2>

              <div class="control-group">
                <label>{{ 'security.login.intro'|trans({}, 'FOSUserBundle') }}</label>
                <div class="controls">
                    <input placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                </div>
              </div>
              <div class="control-group">
                <label></label>
                <div class="controls">
                    <input type="password" id="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}" />
                </div>
              </div>
              <div class="form-actions">
                {#
                <span class="pull-left"><a href="#" class="flip-link" id="to-recover">{{ 'security.login.recovery'|trans({}, 'FOSUserBundle') }}</a></span>
                #}
                <button type="submit" name="_submit" class="btn btn-inverse" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
              </div>
              {#
              <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
              <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
              #}
          </form>


            <p style="float: right;margin: 2em;">
            <a href="{{ path('frontend_fos_user_resetting_request', {}, true)|replace({'./':''}) }}">Recuperar cuenta</a>
            </p>

          {#<form id="recoverform" action="{{ path('frontend_fos_user_resetting_send_email') }}" method="post"  novalidate="novalidate">#}
              {#{% if invalid_username is defined %}#}
              {#<p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>#}
              {#{% endif %}#}
              {#<h2>{{ 'Recover Password'|trans }}</h2>#}

              {#<div class="control-group">#}
                {#<label>{{ 'security.resetting.intro'|trans({}, 'FOSUserBundle') }}</label>#}
                {#<div class="controls">#}
                    {#<input type="text" name="username" required="required" placeholder="{{ 'security.resetting.email'|trans({}, 'FOSUserBundle') }}" />#}
                {#</div>#}
              {#</div>#}
              {#<div class="form-actions">#}
                {#<button type="submit" class="btn btn-inverse" value="{{ 'security.resetting.recover'|trans({}, 'FOSUserBundle') }}">{{ 'security.resetting.recover'|trans({}, 'FOSUserBundle') }}</button>#}
              {#</div>#}
          {#</form>#}
        </div>
      </div>
    </div>
  </div>
</div>
      {% endblock fos_user_content %}
    {% endblock %}

