{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Video list') }}{% endblock headline %}

{% block content -%}

    {% include '::filters.html.twig' with {'grid':grid, 'gridBlock':'AndresGottaVideoBundle:Backend/Video:grid.html.twig'} only %}

    {{ macros.actions([ macros.new('video_video_new') ]) }}

    {{ grid(grid, 'AndresGottaVideoBundle:Backend/Video:grid.html.twig') }}

    {{ macros.actions([ macros.new('video_video_new') ]) }}

{% endblock %}