{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Video creation') }}{% endblock headline %}

{% block content -%}

{{ form(form) }}

{{ macros.actions([ macros.backToList('video_video') ]) }}

{% endblock %}
