<div class="pageblock">
    <div class="pageblockgeneric">
        <div class="pageblockbg">
            <div class="formcontent">
                <h3 class="title">{{ 'change Password'|trans }}</h3>
                
                {% trans_default_domain 'FOSUserBundle' %}

                <form action="{{ path('frontend_fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
                    {{ form_widget(form) }}
                    <div>
                        <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-primary" />
                    </div>
                </form>                
            </div>
        </div>
    </div>        
</div>    