{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('backend_fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit form-horizontal">
    <div class="row">
        <div class="span6">
            <fieldset>
                <legend>{{ 'Personal data'|trans({}, 'messages') }}</legend>
                {{ form_row(form.profile.firstName) }}
                {{ form_row(form.profile.lastName) }}
                {{ form_row(form.profile.gender) }}
                {{ form_row(form.profile.birthDate) }}
                {{ form_row(form.profile.mobile) }}
            </fieldset>
        </div>

        <div class="span6">
            <fieldset>
                <legend>{{ 'Account data'|trans({}, 'messages') }}</legend>
                {{ form_row(form.username) }}
                {{ form_row(form.email)}}
                {{ form_row(form.current_password) }}
                {{ form_row(form.profile.plainPassword) }}
            </fieldset>

            <fieldset>
                <legend>{{ 'Business data'|trans({}, 'messages') }}</legend>
                {{ form_row(form.profile.companyName) }}
            </fieldset>
        </div>

    </div>

    <div class="row">
        <div class="span6">
            <fieldset>
                <legend>{{ 'Location'|trans({}, 'messages') }}</legend>
                {{ form_row(form.profile.country) }}
                {{ form_row(form.profile.state) }}
                {{ form_row(form.profile.city) }}
            </fieldset>
        </div>

        <div class="span6">
            <fieldset>
                <legend>{{ 'Profile'|trans({}, 'messages') }}</legend>
                {{ form_row(form.profile.condition) }}
                {{ form_row(form.profile.handicap) }}
                {{ form_row(form.profile.club) }}
            </fieldset>
        </div>
    </div>

    <div class="row">
        {% if form.profile.academyName is defined %}
            <div class="span6">
                <fieldset>
                    <legend>{{ 'Academy data'|trans({}, 'messages') }}</legend>
                    {{ form_row(form.profile.academyName) }}
                    {{ form_row(form.profile.academyMaxStudents) }}
                    {{ form_row(form.profile.academyMaxTeachers) }}
                </fieldset>
            </div>
        {% endif %}
    </div>

    {#{{ form_widget(form) }}#}

    <div style="margin-top: 10px">
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" class="btn btn-primary" />
    </div>
</form>

<style>
    fieldset {
        border: #DDD 1px solid;
        padding: 10px;
    }

    legend {
        width: auto;
    }
</style>

{% include 'WebFactoryLocationBundle::simple_dependents.html.twig' %}

{{ form_javascript(form) }}

{#// The behavior that Selection.addRange() merges existing Range and the specified Range was removed. See https://www.chromestatus.com/features/6680566019653632 for more details.#}
{#<script type="text/javascript">#}
    {#$(function() {#}
        {#var $slider = $('#fos_user_profile_form_profile_handicap_slider'),#}
            {#$displayer = $('[for=fos_user_profile_form_profile_handicap]').append('<span class="displayer">').find('span.displayer');#}

        {#$slider.on("slide", function(event, ui) {#}
            {#$displayer.text('(' + ui.value + ')');#}
        {#});#}

        {#if(!$('#fos_user_profile_form_profile_handicap').val()) {#}
            {#$('#fos_user_profile_form_profile_handicap').val(1);#}
        {#}#}

        {#$slider.slider("value", $slider.slider("value"));#}
        {#$displayer.text('(' + $slider.slider("value") + ')');#}
    {#});#}
{#</script>#}
