{% block autocomplete_entity_widget %}
    {{ form_row(form) }}

    <select data-id="{{ form.vars.id }}"
            data-url="{{ path(form.vars.attr.update_route) }}"
            class="autocomplete"
            value="{{ form.vars.data.name|default('') }}">
        <option selected="selected">select2/select2</option>
    </select>

{% endblock %}