{% block file_preview_widget %}
    {% spaceless %}
        {{ block('form_widget_simple') }}

            {% if form.vars.filePath is defined and form.vars.filePath %}
            <div class="control-group">
              <div class="">
                <a href="{{ asset(form.vars.cover ) }}">
                    {% if form.vars.isImg %}
                        <img src="{{ form.vars.cover |imagine_filter('news_thumb') }}" title="{{ 'Download'|trans }}" alt="{{ 'Download'|trans }}" />
                    {% else %}
                        {{ 'Download'|trans }}
                    {% endif %}
                </a>
              </div>
            </div>
            {% endif %}

    {% endspaceless %}
{% endblock %}