{% extends "::base.html.twig" %}

{% block content %}
<div class="pageblackbg">
    {% if return %}
        <div class="pageblock">
            <div class="pageblockgeneric">
               <div class="videos">				

                    <div class="private">
                        {% if videos|length > 0 %}
                            <div class="leftarea">
                                {% if category %}
                                    <ul class="categorystatus">
                                        <li>{{ category }} ({{ category.videos|length}})</li>
                                    </ul>
                                {% endif %}
                                <ul class="categorylist">
                                    <li class="title">CATEGORÍAS</li>
                                    <li><a href="{{ path('ours_videos') }}">{{ 'All'|trans }}</a></li>
                                    {% for category in categories %}
                                        <li><a href="{{ path('ours_videos', {category:category.id}) }}">{{ category}} <span>({{ category.videos|length }})</span></a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="rightarea">
                                <div class="videoplayer">
                                    <h2 class="title">Lista de reproducción de videos privados</h2>
                                    <div class="videocontent">
                                        <div id="player">&nbsp;</div>
                                    </div>
                                </div>
                                <div class="videocarouselcontent">
                                    <ul id="videocarousel" class="jcarousel-skin-tango">
                                       {% for video in videos %}
                                            <li>
                                                <a href="#{{ video.url|get_youtube_id }}" data-video="{{ video.url|get_youtube_id }}">
                                                    <img src="http://img.youtube.com/vi/{{ video.url|get_youtube_id }}/1.jpg" alt="" />
                                                </a>
                                            </li>
                                       {% endfor %}
                                    </ul>
                                </div>
                            </div>					
                        {% else %}
                            <div class="specialnovideo">
                                <p>No hay videos cargados.</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>	
    {% else %}
        <div class="pageblock" style="text-align: center;background: #fff;padding: 50px;">
            <p>
                No tiene permisos para ver los videos. Para hacerlo debe estar suscripto al servicio GP Stats - Videos. <br>

                <a href="{{ gotta_center_api_frontend }}/services/7?platform={{ platform_name }}&redirectTo={{ app.request.uri }}" target="_blank" title="">{{ 'Suscribirse'|trans }}</a>
            </p>
        </div>
    {% endif %}
</div>

{% endblock content %}

{% block foot_script %}
{{ parent() }}

{% javascripts
	'@AndresGottaFrontendThemeBundle/Resources/public/js/jQuery.tubeplayer.js'
%}
                    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

                    <script type="text/javascript">
                        $(function() {

                            var $items = $(".videos .jcarousel-skin-tango .jcarousel-item a"),
                                    firstVid = $items.first().attr('data-video') || '';

                            var $player = $("#player").tubeplayer({
                                protocol: 'https',
                                width: 640, // the width of the player
                                height: 390, // the height of the player
                                allowFullScreen: "true", // true by default, allow user to go full screen
                                initialVideo: firstVid, // the video that is loaded into the player
                                preferredQuality: "default", // preferred quality: default, small, medium, large, hd720
                                onPlay: function(id) {
                                }, // after the play method is called
                                onPause: function() {
                                }, // after the pause method is called
                                onStop: function() {
                                }, // after the player is stopped
                                onSeek: function(time) {
                                }, // after the video has been seeked to a defined point
                                onMute: function() {
                                }, // after the player is muted
                                onUnMute: function() {
                                } // after the player is unmuted
                            });

                            $items.on("click", function(e) {
                                e.preventDefault();
                                $player.tubeplayer("stop");
                                $player.tubeplayer("play", $(this).attr('data-video'));
                            });
                        });
                        </script>

{% endblock foot_script %}