{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Service list') }}{% endblock headline %}

{% block content -%}

    {% include '::filters.html.twig' with {'grid':grid, 'gridBlock':'AndresGottaServiceBundle:Backend/Service:grid.html.twig'} only %}

    {{ macros.actions([ macros.new('backend_service_new') ]) }}

    {{ grid(grid, 'AndresGottaServiceBundle:Backend/Service:grid.html.twig') }}

    {{ macros.actions([ macros.new('backend_service_new') ]) }}

{% endblock %}