{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Service creation') }}{% endblock headline %}

{% block content -%}

<form action="{{ path('backend_service_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal" novalidate="novalidate">

    <div class="row-fluid">
        <div class="span6">
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {{ form_row(form.longDescription) }}
            {{ form_row(form.highlighted) }}
            {{ form_row(form.important) }}
            {{ form_row(form.visible) }}
            {{ form_row(form.type) }}
            {{ form_row(form.area) }}
            <div class="control-label" style="margin-right: 20px;">Período de Prueba</div>
            <label class="switch">
                <input id="setForTrial" type="checkbox" />
                <div class="slider round"></div>
            </label>
            {{ form_row(form.trialDays, { 'attr': { 'readonly': true } }) }}
            <div class="btn-group" role="group" style="margin: auto auto 25px 145px;">
                <button id="unique-payment" type="button" class="btn btn-warning">{{ 'payment.unique'|trans }}</button>
                <button id="dues-payment" type="button" class="btn btn-warning">{{ 'payment.dues'|trans }}</button>
                <button id="subscription-payment" type="button" class="btn btn-warning">{{ 'payment.subscription'|trans }}</button>
            </div>
            <div id="payment-settings" style="display: none;">
                {{ form_row(form.price) }}
                {{ form_row(form.debitDues) }}
                {{ form_row(form.isLifetime) }}
                {{ form_row(form.days) }}
                <div id="payment-summary" class="alert alert-info" role="alert" style="margin: auto auto 25px 145px; display: none;"></div>
            </div>
        </div>
        <div class="span6">
        {{ form_row(form.mainImage) }}
        </div>
    </div>
    <div class="separator bottom"></div>
    {{ form_rest(form) }}
    {{ macros.actions([ macros.backToList('backend_service'), macros.submitButton('Create') ]) }}
</form>

{% endblock %}

{% block foot_script %}
    {{ parent() }}
    <script>
        var setForTrial = $('#setForTrial');
        var trialDays = $.find('[name$="[trialDays]"]');
        var paymentMethod = 0;
        var uniquePayment = $('#unique-payment');
        var duesPayment = $('#dues-payment');
        var subscriptionPayment = $('#subscription-payment');
        var paymentSettings = $('#payment-settings');
        var paymentSummary = $('#payment-summary');
        var isLifetime = $.find('[name$="[isLifetime]"]');
        var days = $.find('[name$="[days]"]');
        var price = $.find('[name$="[price]"]');
        var debitDues = $.find('[name$="[debitDues]"]');
        var summaryText;

        $(setForTrial).change(function() {
            $(trialDays).val('');
            if ($(setForTrial).prop('checked') === true) {
                $(trialDays).attr('readonly', false);
            } else {
                $(trialDays).attr('readonly', true);
            }
            updatePaymentSummary();
        });

        $('div.btn-group').one('click', function() {
            $(paymentSettings).show('slow');
        });

        $(price).on('input', function () {
            updatePaymentSummary();
        });

        $(debitDues).on('input', function () {
            updatePaymentSummary();
        });

        $(days).on('input', function () {
            updatePaymentSummary();
        });

        $(isLifetime).change(function() {
            $(days).val('');
            if ($(isLifetime).prop('checked') === true) {
                $(days).attr('readonly', true);
            } else {
                $(days).attr('readonly', false);
            }
            updatePaymentSummary();
        });

        $(uniquePayment).click(function() {
            if (paymentMethod === 1) return;
            else paymentMethod = 1;

            $(uniquePayment).addClass('active');
            $(duesPayment).removeClass('active');
            $(subscriptionPayment).removeClass('active');

            $(price).val('');
            $(debitDues).val(1);
            $(debitDues).attr('readonly', true);
            $(isLifetime).prop('checked', false);
            $(isLifetime).attr('readonly', false);
            $(isLifetime).unbind('click');
            $(days).attr('readonly', false);

            $(paymentSummary).hide('fast');
        });

        $(duesPayment).click(function() {
            if (paymentMethod === 2) return;
            else paymentMethod = 2;

            $(uniquePayment).removeClass('active');
            $(duesPayment).addClass('active');
            $(subscriptionPayment).removeClass('active');

            $(price).val('');
            $(debitDues).val('');
            $(debitDues).attr('readonly', false);
            $(isLifetime).prop('checked', false);
            $(isLifetime).attr('readonly', false);
            $(isLifetime).unbind('click');
            $(days).attr('readonly', false);

            $(paymentSummary).hide('fast');
        });

        $(subscriptionPayment).click(function() {
            if (paymentMethod === 3) return;
            else paymentMethod = 3;

            $(uniquePayment).removeClass('active');
            $(duesPayment).removeClass('active');
            $(subscriptionPayment).addClass('active');

            $(price).val('');
            $(debitDues).val('');
            $(debitDues).attr('readonly', true);
            $(isLifetime).prop('checked', true);
            $(isLifetime).attr('readonly', true);
            $(isLifetime).click(function () {
                event.preventDefault();
            });
            $(days).attr('readonly', true);

            $(paymentSummary).hide('fast');
        });

        function updatePaymentSummary() {
            switch (paymentMethod) {
                case 1:
                    if (!$(price).val() || (!$(isLifetime).prop('checked') && !$(days).val())) {
                        $(paymentSummary).hide('fast');
                    } else {
                        $(paymentSummary).show('fast');
                        summaryText = 'Pago en una <strong>ÚNICA</strong> cuota de <strong>$' + parseFloat($(price).val()).toFixed(2) + '</strong>';
                        if ($(isLifetime).prop('checked') === true) {
                            summaryText += ', con vigencia <strong>vitalicia</strong>.';
                        } else {
                            summaryText += ', con vigencia durante <strong>' + $(days).val() + '</strong> días.';
                        }
                        $(paymentSummary).html(summaryText);
                    }
                    break;
                case 2:
                    if (!$(price).val() || !$(debitDues).val() || (!$(isLifetime).prop('checked') && !$(days).val())) {
                        $(paymentSummary).hide('fast');
                    } else {
                        $(paymentSummary).show('fast');
                        summaryText = 'Pago en <strong>' + $(debitDues).val() + '</strong> cuotas de <strong>$' + parseFloat($(price).val()/$(debitDues).val()).toFixed(2) + '</strong>';
                        if ($(isLifetime).prop('checked') === true) {
                            summaryText += ', con vigencia <strong>vitalicia</strong>.';
                        } else {
                            summaryText += ', con vigencia durante <strong>' + $(days).val() + '</strong> días.';
                        }
                        $(paymentSummary).html(summaryText);
                    }
                    break;
                case 3:
                    if (!$(price).val()) {
                        $(paymentSummary).hide('fast');
                    } else {
                        $(paymentSummary).show('fast');
                        summaryText = 'Suscripción mensual de <strong>$' + parseFloat($(price).val()).toFixed(2) + '</strong>.';
                        $(paymentSummary).html(summaryText);
                    }
                    break;
            }
        }

        $($.find('form')).submit(function() {
            if ($(setForTrial).prop('checked') !== true) {
                $(trialDays).val('0');
            }
            switch (paymentMethod) {
                case 1:
                    if ($(isLifetime).prop('checked') === true) {
                        $(days).val('0');
                    }
                    break;
                case 2:
                    if ($(isLifetime).prop('checked') === true) {
                        $(days).val('0');
                    }
                    break;
                case 3:
                    if ($(isLifetime).prop('checked') === true) {
                        $(debitDues).val('0');
                        $(days).val('0');
                    }
                    break;
            }
        });
    </script>
{% endblock %}

{% block head_style %}
    {{ parent() }}
    <style>
        div.btn-group button:hover {
            background-color: #f89406;
        }
    </style>

    <style>
        .switch {
            position: relative;
            display: inline-block;
            width: 50px;
            height: 26px;
        }

        .switch input {
            display:none;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 18px;
            width: 18px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: #f89406;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #f89406;
        }

            input:checked + .slider:before {
            -webkit-transform: translateX(24px);
            -ms-transform: translateX(24px);
            transform: translateX(24px);
        }

        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
    </style>
{% endblock %}
