{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Service') }}{% endblock headline %}

{% block heading_buttons %}
{{ macros.actions([
    macros.backToList('backend_service'), 
    macros.edit('backend_service_edit', entity), 
    macros.deleteForm('backend_service_delete', delete_form, entity) 
]) }}
{% endblock heading_buttons %}

{% block content -%}
<div class="row-fluid">

    <div class="span6">

        <table class="record_properties table table-bordered table-condensed table-striped table-primary table-vertical-center">
            <thead>
                <tr>
                    <th colspan="2">{{ 'Service'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>{{ 'Image'|trans }}</th>
                    <td>
                        {% if entity.mainImage and entity.mainImage.filePath %}
                        <img class="img-polaroid thumbnail store_logo" src="{{ entity.mainImage.cover|imagine_filter('news_thumb') }}" />
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'Name'|trans }}</th>
                    <td>{{ entity.name }}</td>
                </tr>
                <tr>
                    <th>{{ 'Description'|trans }}</th>
                    <td>{{ entity.description }}</td>
                </tr>
                <tr>
                    <th>{{ 'Long Description'|trans }}</th>
                    <td>{{ entity.longDescription }}</td>
                </tr>
                <tr>
                    <th>{{ 'Type'|trans }}</th>
                    <td>{{ entity.type|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'Created At'|trans }}</th>
                    <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>{{ 'Visible'|trans }}</th>
                    <td>{{ entity.visible|toStr|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'Highlighted'|trans }}</th>
                    <td>{{ entity.highlighted|toStr|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'Trial days'|trans }}</th>
                    <td>
                        {% if entity.trialDays %}
                            {{ entity.trialDays }} {{ 'days'|trans }}
                        {% else %}
                            {{ 'None'|trans }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'Payment'|trans }}</th>
                    <td>
                        {% if entity.debitDues == 0 %}
                            Suscripción mensual de <strong>${{ entity.price|round(2) }}</strong>.
                        {% elseif entity.debitDues == 1 %}
                            {% if entity.isLifetime == true %}
                                Pago en una <strong>ÚNICA</strong> cuota de <strong>${{ entity.price|round(2) }}</strong>, con vigencia <strong>vitalicia</strong>.
                            {% else %}
                                Pago en una <strong>ÚNICA</strong> cuota de <strong>${{ entity.price|round(2) }}</strong>, con vigencia durante <strong>{{ entity.days }}</strong> días.
                            {% endif %}
                        {% else %}
                            {% if entity.isLifetime == true %}
                                Pago en <strong>{{ entity.debitDues }}</strong> cuotas de <strong>${{ (entity.price/entity.debitDues)|round(2) }}</strong>, con vigencia <strong>vitalicia</strong>.
                            {% else %}
                                Pago en <strong>{{ entity.debitDues }}</strong> cuotas de <strong>${{ (entity.price/entity.debitDues)|round(2) }}</strong>, con vigencia durante <strong>{{ entity.days }}</strong> días.
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
    
</div>

{% endblock %}
