{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Subscription edition') }}{% endblock headline %}

{% block content -%}

{{ form(edit_form) }}

{% endblock %}

{% block heading_buttons %}
{{ macros.actions([
    macros.backToList('backend_subscription'),
    macros.deleteForm('backend_subscription_delete', delete_form, entity)
]) }}
{% endblock heading_buttons %}