{% extends '::grid.html.twig' %}

{% block grid_column_status_cell -%}
    {% from 'MopaBootstrapBundle::macros.html.twig' import label, badge %}
    {% if value %}
        {% set status = value %}
        {% set types = {'subscribed' : 'success', 'unsubscribed' : 'error'} %}
        {{ label(status|trans(), types[status]) }}
    {% endif %}
{%- endblock %}