{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Subscription list') }}{% endblock headline %}

{% block content -%}

    {% include '::filters.html.twig' with {'grid':grid, 'gridBlock':'WebFactoryNewsLetterBundle:Backend/Subscription:grid.html.twig'} only %}

    {{ macros.actions([ macros.new('backend_subscription_new') ]) }}

    {{ grid(grid, 'WebFactoryNewsLetterBundle:Backend/Subscription:grid.html.twig') }}

    {{ macros.actions([ macros.new('backend_subscription_new') ]) }}

{% endblock %}