{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Subscription creation') }}{% endblock headline %}

{% block content -%}

{{ form(form) }}

{% endblock %}

{% block heading_buttons %}
{{ macros.actions([ macros.backToList('backend_subscription')]) }}
{% endblock heading_buttons %}