{% extends 'WebFactoryUserBundle::layout.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('academy_places.edit.title') }}{% endblock headline %}

{% block content %}
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.address) }}

        {{ macros.actions([
            macros.link('andres_gotta_academy_backend_academy_places', academyPlace.academy, 'Back to the list'|trans, 'btn-default'),
            macros.submitButton('Send') ])
        }}
    {{ form_end(form) }}
{% endblock %}