<h4>Estimado usuario:</h4>

<h4>
    Le informamos mediante la presente que su débito de ${{ orderTotal }} correspondiente a {{ reason }} ha sido rechazado.<br />
    Por favor, póngase en contacto con su banco para regularizar la situación.
</h4>

{% include 'AndresGottaMailBundle::footer.html.twig' %}
