<h4>Estimado usuario:</h4>

<h4>
    Le informamos mediante la presente que hemos recibido satisfactoriamente la suma de ${{ orderTotal }} en concepto de {{ reason }}.
</h4>

{% include 'AndresGottaMailBundle::footer.html.twig' %}
