<html>
<head>
<title>{% block subject %}Neswletter{% endblock subject %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table id="mailingTabla" width="601" border="0" cellpadding="0" cellspacing="0">
 <tr>
  <td colspan="3"><img src="{{ app.request.uriForPath('/mailing/imagenes/mailing_01.jpg') }}" width="600" height="202" alt=""/></td>
  <td><img src="{{ app.request.uriForPath('/mailing/imagenes/espacio.gif') }}" width="1" height="202" alt=""/></td>
 </tr>
 <tr>
  <td colspan="3" width="600" height="33"></td>
  <td width="1" height="33"></td>
 </tr>
 <tr>
  <td rowspan="2" width="35"></td>
  <td width="530" style="vertical-align: top;">
    {% block content %}{% endblock content %}
    <p style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #333333; font-size: 16px; line-height: 22px;">Atentamente,<br/>el Equipo.</p><br/><br/>
  </td>
  <td width="35"></td>
  <td width="1"></td>
 </tr>
 <tr>
  <td colspan="2" rowspan="2"><img src="{{ app.request.uriForPath('/mailing/imagenes/mailing_06.jpg') }}" width="565" height="230" alt=""/></td>
  <td><img src="{{ app.request.uriForPath('/mailing/imagenes/espacio.gif') }}" width="1" height="1" alt=""/></td>
 </tr>
 <tr>
  <td><img src="{{ app.request.uriForPath('/mailing/imagenes/mailing_07.jpg') }}" width="35" height="229" alt=""/></td>
  <td><img src="{{ app.request.uriForPath('/mailing/imagenes/espacio.gif') }}" width="1" height="229" alt=""/></td>
 </tr>
</table>
</body>
</html>