body {
    color: #333333;
    font-family: 'Quattrocento Sans',sans-serif;
    font-size: 14px;
    line-height: 20px;
}
/* table
----------------------------------------*/
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.table {
    border: 1px solid #EEEEEE;
    margin: 50px auto 20px;
    width: 97%;
}
.table th, .table td {
    border-top: 1px solid #DDDDDD;
    line-height: 20px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}
.row .reportZone .reportZoneGraphic .table tr td {
    border-right: 1px solid #DDDDDD;
}
/* reportType */
.reportarea .reportbox {
    display: inline-block;
    float: none;
    margin-left: 0;
    margin-right: 1.4%;
    vertical-align: top;
}
.reportarea .reportbox .reportType {
    background: none repeat scroll 0 0 #eeeeee;
    display: block;
    overflow: hidden;
}
.reportarea .reportbox .reportTypeChildren {
    background: none repeat scroll 0 0 #ffffff;
    display: block;
    overflow: hidden;
}
.reportarea .reportbox .reportTypeChildren a {
    background: url("../../web/img/arrow-play.png") no-repeat scroll 99% 50% rgba(0, 0, 0, 0);
    border-top: 1px solid #333333;
    color: #666666;
    display: block;
    font-family: 'Oswald',sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    overflow: hidden;
    padding: 8px 20px 14px 10px;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;
}
.reportarea .reportbox .reportTypeChildren a:hover {
    color: #BC670D;
}
.reportarea .reportbox .reportType a {
    background: url("../../web/img/ico-stats.png") no-repeat scroll 5px 50% rgba(0, 0, 0, 0);
    border-top: 1px solid #333333;
    color: #666666;
    display: block;
    font-family: 'Oswald',sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    overflow: hidden;
    padding: 8px 10px 14px 35px;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;
}
.reportarea .reportbox .reportType a:hover {
    color: #BC670D;
}
/* reportZone */
.row .reportZone {
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    float: none;
    margin: 20px auto;
    overflow: hidden;
    padding: 0;
    width: 98%;
}
.row .reportZone .reportZoneTitle {
    border-bottom: 2px solid #CCCCCC;
    color: #333333;
    font-family: 'Oswald',sans-serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 23px;
    margin: 0 0 15px;
    padding: 0 0 15px;
    text-align: center;
    text-transform: uppercase;
}
.row .reportZone h2 {
    color: #333333;
    font-family: 'Oswald',sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    margin: 0 0 10px;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
}
.row .reportZone .reportZoneContent {
    display: block;
    padding: 0;
    overflow: hidden;
}
.row .reportZone .reportZoneContent p {
    font-family: 'Oswald',sans-serif;
    font-weight: 300;
}
.row .reportZone .reportZoneGraphic {
    display: block;
    overflow: hidden;
    width: 100%;
}
.row .reportZone .reportZoneGraphicBox {
    display: block;
    margin: 0 0 15px;
    overflow: hidden;
    width: 100%;
}
.row .reportZone .reportZoneData {
    display: block;
    margin: 0 0 15px;
    overflow: hidden;
    width: 100%;
}
.row .reportZone .reportZoneGraphic p {
    font-size: 14px;
    line-height: 16px;
    color: #666666;
    font-family: 'Quattrocento Sans',sans-serif;
    font-weight: bold;
}
.row .reportZone .reportZoneGraphic h2 {
    border-bottom: 2px solid #DDDDDD;
    padding: 12px;
}
.row .reportZone .reportZoneGraphic .table tr th {
    border-right: 1px solid #DDDDDD;
}
.row .reportZone .reportZoneGraphic .table tr td {
    border-right: 1px solid #DDDDDD;
}
.row .reportZone .reportZoneGraphic caption {
    background: none repeat scroll 0 0 #dddddd;
    font-weight: bold;
    padding: 5px 0;
    text-align: center;
    text-transform: uppercase;
}
.graphicBoxContainer.small {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 auto;
    width: 434px;
    height: 400px;
}
.graphicBoxContainer.long {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 auto;
    width: 680px;
    height: 400px;
}
.reportZoneGraphicBox .table {
    border: 2px solid #DDDDDD;
    margin: 20px auto;
    padding: 0;
    width: 98%;
}
.reportZoneContent .control-group {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 25px;
    vertical-align: top;
}
.reportZoneContent form fieldset {
    background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid #C0C0C0;
    margin: 0 2px;
    padding: 12px;
}
.reportZoneContent form fieldset .btn {
    background: none repeat scroll 0 0 #F68A30;
    border: medium none;
    display: block;
    float: left;
    font-family: 'Oswald',sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
    padding: 4px 15px;
    text-transform: uppercase;
    vertical-align: top;
}
.page-break{
    display: block; 
    page-break-before: always; 
}
.nav-left-area,
.topblock,
.logoHome,
.navbar.main,
.menuextended,
#menu.hidden-phone,
.featureimage.generic,
footer, 
.footercontent,
.reportZoneContent form fieldset {
    display: none !important;
}