{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Category edition') }}{% endblock headline %}

{% block content -%}

    <form action="{{ path('backend_category_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
        <input type="hidden" name="_method" value="PUT" />
        <div class="row-fluid">
            <div class="span12">
                {{ form_row(edit_form.name) }}
            </div>
        </div>
            
        <div class="separator bottom"></div>
            
        {{ macros.actions([ macros.backToList('backend_category'), macros.submitButton('Update') ]) }}
        {{ form_rest(edit_form) }}
    </form>


{{ macros.deleteForm('backend_category_delete', delete_form, entity) }}

{% endblock %}