{% extends 'WebFactoryUserBundle::layout.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Category list') }}{% endblock headline %}

{% block content -%}

    {% include '::filters.html.twig' with {'grid':grid, 'gridBlock':'WebFactoryNewsBundle:Backend/Category:grid.html.twig'} only %}

    {{ macros.actions([ macros.new('backend_category_new') ]) }}

    {{ grid(grid, 'WebFactoryNewsBundle:Backend/Category:grid.html.twig') }}

    {{ macros.actions([ macros.new('backend_category_new') ]) }}

{% endblock %}