{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Category creation') }}{% endblock headline %}

{% block content -%}

    <form action="{{ path('backend_category_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
        <div class="row-fluid">
            <div class="span12">
                {{ form_row(form.name) }}
            </div>
        </div>
            
        <div class="separator bottom"></div>
            
        {{ macros.actions([ macros.backToList('backend_category'), macros.submitButton('Create') ]) }}
        {{ form_rest(form) }}
    </form>

{% endblock %}
