{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Edit') }}{% endblock headline %}

{% block content -%}
    <p>Grupo creado por <b>{{ group.admin }}</b></p>
    {{ form(form) }}
{% endblock %}
