{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Group list') }}{% endblock headline %}

{% block content -%}
    {% for adminRequest in adminRequests %}
        <div class="alert alert-info fade in  alert-block">
            <i class="icon-user"></i>&nbsp;&nbsp;El usuario {{ adminRequest.username }} quiere ser administrador del grupo {{ adminRequest.groupName }}. ¿Deseas <a href="{{ path('backend_group_reply_admin_request', { 'groupPlayer': adminRequest.groupPlayerId, 'response': 'true' }) }}"><u>aceptar</u></a> o <a href="{{ path('backend_group_reply_admin_request', { 'groupPlayer': adminRequest.groupPlayerId, 'response': 'false' }) }}"><u>rechazar</u></a> esta solicitud?
        </div>
    {% endfor %}
    {% include '::filters.html.twig' with {'grid':grid, 'gridBlock':'AndresGottaGroupBundle:Backend/Group:grid.html.twig'} only %}
    {{ grid(grid, 'AndresGottaGroupBundle:Backend/Group:grid.html.twig') }}
{% endblock %}