{% extends "::base.html.twig" %}

{% block featureimage %}{% endblock featureimage %}

{% block content %}
  <div class="pageblock">
    <div class="pageblockgeneric">
		<div class="maintenance">
			<p>{{ 'Maintenance'|trans }}</p>
		</div>
	</div>
</div>
{% endblock content -%}