{% extends "::base.html.twig" %}

{% block content %}

<div class="pagewhite">
    <div class="pageblock">
        <div class="pageblockgeneric">
            <ul class="tabs_generic">
                <li><a href="#tab1">LA EMPRESA</a></li>
                <li><a href="#tab2">STAFF</a></li>            
            </ul>

            <div class="tab_container">
                <div id="tab1" class="tab_content">
                    <!--Content-->
                    <div class="aboutus">
                        <div class="text">
                            <p>Dentro de un ámbito deportivo de constante evolución y expansión, nace nuestra Empresa con un claro objetivo: brindar a los Jugadores, Profesores y/o las Organizaciones Deportivas, las Soluciones necesarias para lograr eficacia y excelencia en sus servicios ofrecidos.</p>
                            <p>Generamos un compromiso con nuestros clientes de mantener los productos y servicios actualizados con los últimos avances y estandares en capacitaciones, tecnología, logística e implementación que el mundo dispone. Abarcando las 3 zonas claves para el éxito final, Desarrollo – Implementación y Mantenimiento del producto o servicio, nuestros clientes disfrutan de los beneficios que nuestra metodología dispone.</p>
                            <p>Nuestro equipo de trabajo está formado por profesionales con formaciones y experiencias diversas tanto en Enseñanza de Golf, Marketing Deportivo, economía, gestión y administración, entre otros.</p>
                            <p>El mercado actual requiere estrategias efectivas para lograr un posicionamiento sólido y duradero, siendo nuestro objetivo principal que usted logre obtenerlo. Para ello, aseguramos la mas alta calidad en nuestro servicios, innovaciones permanentes, una constante capacitación y la dinámica necesaria para evaluar y planificar el funcionamiento de nuestra gestión.</p>
                        </div>
                    </div>
                </div>
                <div id="tab2" class="tab_content">
                    <!--Content-->
                    <div class="aboutus">
                        <h1>Andrés Gotta</h1>
                        <h2>Director</h2>
                        <div class="info">
                            <figure><img src="{{ asset('img/aboutus/andres-gotta.jpg') }}" alt="Andres Gotta"></figure>	
                            <ul class="generic">
                                <li>Instructor Nacional de Golf PGA desde hace varios años, posee extensa Formación y Capacitación en Enseñanza y Coaching, alcanzando también Certificaciones Internacionales.</li>
                                <li>Fue Director de Formación en PGA, y Coach de la Federación de Golf FENOBA, dedicándose a la Capacitación de Profesores y optimización en el funcionamiento de sus Escuelas de Menores.</li>
                                <li>Ha dado Seminarios y Jornadas de Capacitación en Argentina y el Exterior.</li>
                                <li>Especializado en tecnología aplicada a la enseñanza, oratoria y marketing, es creador y director de <strong>Andres Gotta Golf</strong>.</li>                    
                            </ul>			    		
                        </div>
                        <div class="text">&nbsp;</div>			
                    </div>

                    <div class="aboutus">
                        <h1>Diego Jurado</h1>
                        <h2>Senior Coach</h2>
                        <div class="info">
                            <figure><img src="{{ asset('img/aboutus/diego-jurado.jpg') }}" alt="Diego Jurado"></figure>	
                            <ul class="generic">
                                <li>Instructor Nacional de Golf PGA y Prof. de Educación Física.</li>
                                <li>Fue docente en la Carrera de Instructor Nacional de Golf en las Cátedras de Metodología de la Enseñanza y Preparación Física.</li>
                                <li>En Escuelas de Menores, es distinguido por sus excelentes trabajos realizados, alcanzando reconocimiento Nacional por su calidad en la  enseñanza y resultados Deportivos.</li>
                                <li>Ha dado Seminarios y Jornadas de Capacitación en Argentina y el Exterior.</li>
                                <li>Es Senior Coach en <strong>Andres Gotta Golf</strong>.</li>
                            </ul>			    		
                        </div>
                        <div class="text">&nbsp;</div>			
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}
