{% extends "::base.html.twig" %}

{% block content %}
<div class="pageblackbg">
    <div class="pageblock">
        <div class="pageblockgeneric">e
            <div class="videos">
                <div class="videogallery public">
                    <h2 class="title">Lista de reproducción de videos públicos</h2>
                    <iframe width="100%" height="500" src="//www.youtube.com/embed/yN-cfuk5s_0?list=PLHf575C9dIVrpOAaSZjtW4wP2Sb0lvn3s" frameborder="0" allowfullscreen></iframe>
                    <br />
                    <p>Para ver la lista completa de videos <a href="{{ path('frontend_fos_user_security') }}">inicie sesión</a></p>
                </div>
            </div>
        </div>
    </div>	
</div>    
{% endblock content %}