{% extends "::base.html.twig" %}

{% block content %}
<div class="pageblackbg">
    <div class="pageblock">
        <div class="pageblockgeneric">
            <div class="videos">				
                <div class="public">
                    <div class="leftarea">
                        <ul class="categorystatus">
                            <li>Técnica (22)</li>
                        </ul>
                        <ul class="categorylist">
                            <li class="title">CATEGORÍAS</li>
                            <li><a href="#">INSTITUCIONAL <span>(29)</span></a></li>
                            <li><a href="#">LECCIONES <span>(13)</span></a></li>
                            <li><a href="#">TÉCNICA <span>(32)</span></a></li>
                            <li><a href="#">TORNEOS <span>(32)</span></a></li>
                            <li><a href="#">PRÁCTICA <span>(32)</span></a></li>
                        </ul>
                    </div>
                    <div class="rightarea">
                        <div class="videoplayer">
                            <div class="videocontent">
                                <div id="player">&nbsp;</div>
                            </div>
                        </div>
                        <div class="videocarouselcontent">
                            <ul id="videocarousel" class="jcarousel-skin-tango">
                                <li><a href="#yN-cfuk5s_0" data-video="yN-cfuk5s_0">
                                        <img src="http://img.youtube.com/vi/yN-cfuk5s_0/1.jpg" alt="" /></a></li>
                                <li><a href="#-J5dukA9UT0" data-video="-J5dukA9UT0">
                                        <img src="http://img.youtube.com/vi/-J5dukA9UT0/1.jpg" alt="" /></a></li>
                                <li><a href="#zh4kZ-UXqkE" data-video="zh4kZ-UXqkE"
                                       ><img src="http://img.youtube.com/vi/zh4kZ-UXqkE/1.jpg" alt="" /></a></li>
                                <li><a href="#G9GYzzZv3Ag" data-video="G9GYzzZv3Ag">
                                        <img src="http://img.youtube.com/vi/G9GYzzZv3Ag/1.jpg" alt="" /></a></li>
                                <li><a href="#xK_NnwkR1b0" data-video="xK_NnwkR1b0">
                                        <img src="http://img.youtube.com/vi/xK_NnwkR1b0/1.jpg" alt="" /></a></li>
                                <li><a href="#vXMB7DKrosU" data-video="vXMB7DKrosU">
                                        <img src="http://img.youtube.com/vi/vXMB7DKrosU/1.jpg" alt="" /></a></li>
                            </ul>
                        </div>
                    </div>					
                </div>
            </div>
        </div>
    </div>	
</div>    
{% endblock content %}

{% block foot_script %}
{{ parent() }}

{% javascripts
	'@AndresGottaFrontendThemeBundle/Resources/public/js/jQuery.tubeplayer.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript">
    $(function() {

        var $items = $(".videos .jcarousel-skin-tango .jcarousel-item a"),
                firstVid = $items.first().attr('data-video') || '';

        var $player = $("#player").tubeplayer({
            protocol: 'https',
            width: 640, // the width of the player
            height: 390, // the height of the player
            allowFullScreen: "true", // true by default, allow user to go full screen
            initialVideo: firstVid, // the video that is loaded into the player
            preferredQuality: "default", // preferred quality: default, small, medium, large, hd720
            onPlay: function(id) {
            }, // after the play method is called
            onPause: function() {
            }, // after the pause method is called
            onStop: function() {
            }, // after the player is stopped
            onSeek: function(time) {
            }, // after the video has been seeked to a defined point
            onMute: function() {
            }, // after the player is muted
            onUnMute: function() {
            } // after the player is unmuted
        });

        $items.on("click", function(e) {
            e.preventDefault();
            $player.tubeplayer("stop");
            $player.tubeplayer("play", $(this).attr('data-video'));

        });

    });
    </script>

{% endblock foot_script %}