{% extends '::base.html.twig' %}

{% block content -%}
    <h1>Round edit</h1>

    {{ form(edit_form, {'attr':{'novalidate':'novalidate'} }) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('round') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
