{% extends '::base.html.twig' %}

{% block content -%}
    <h1>Round list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Playercondition</th>
                <th>Handicap</th>
                <th>Tournamenttype</th>
                <th>Number</th>
                <th>Gamecondition</th>
                <th>Fieldtype</th>
                <th>Fieldpar</th>
                <th>Holecount</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Deletedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('round_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.roundType }}</td>
                <td>{{ entity.playerCondition }}</td>
                <td>{{ entity.handicap|replace('-', '+') }}</td>
                <td>{{ entity.tournamentType }}</td>
                <td>{{ entity.roundNumber }}</td>
                <td>{{ entity.gameCondition }}</td>
                <td>{{ entity.fieldType }}</td>
                <td>{{ entity.fieldPar }}</td>
                <td>{{ entity.holeCount }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.deletedAt %}{{ entity.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li class="iconlistshow">
                        <a href="{{ path('round_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li class="iconlistedit">
                        <a href="{{ path('round_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('round_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
