{% extends '::base.html.twig' %}

{% block content -%}
<div class="pageblock">
    <div class="pageblockgeneric">
	    <div class="formcontent">
            <h3 class="title">{{ 'round creation'|trans() }}</h3> 
            
            {#{% include 'CraueFormFlowBundle:FormFlow:stepList.html.twig' %}#}
            
        	{{ form_start(form, {'attr':{'novalidate':'novalidate'} }) }}
            {{ form_rest(form) }}
            
            {% if flow.getCurrentStepNumber() == 4 %}
            {#% include detalle de round  %#}
            <dl>
                    <dt>{{ 'Condition' | trans }}:</dt>
                    <dd>{{ entity.playerCondition | trans }}</dd>

                    {% if entity.playerCondition == 'amateur' %}
                    <dt>{{ 'Handicap' | trans }}:</dt>
                    <dd>{{ entity.handicap }}</dd>
                    {% else %}
                    <dt>{{ 'Tour' | trans }}:</dt>
                    <dd>{{ entity.tour }}</dd>
                    {% endif %}
            </dl>
            {% endif %}


            {% include 'CraueFormFlowBundle:FormFlow:buttons.html.twig' %}
            {{ form_end(form) }}
            
            
        <ul class="record_actions">
    <li>
        <a href="{{ path('round') }}">
            Back to the list
        </a>
    </li>
</ul>
            
		</div>
	</div>		
</div>

<style>
    .craue_formflow_steplist {
        background: #eee;
    }
    .craue_formflow_done_step { color: green}
    .craue_formflow_skipped_step { color: gray; text-decoration-line: line-through }
    .craue_formflow_current_step { font-weight: bold}
</style>

{% endblock %}
