{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Round</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Playercondition</th>
                <td>{{ entity.playerCondition }}</td>
            </tr>
            <tr>
                <th>Handicap</th>
                <td>{{ entity.handicap|replace('-', '+') }}</td>
            </tr>
            <tr>
                <th>Tournamenttype</th>
                <td>{{ entity.tournamentType }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ entity.number }}</td>
            </tr>
            <tr>
                <th>Gamecondition</th>
                <td>{{ entity.gameCondition }}</td>
            </tr>
            <tr>
                <th>Fieldtype</th>
                <td>{{ entity.fieldType }}</td>
            </tr>
            <tr>
                <th>Fieldpar</th>
                <td>{{ entity.fieldPar }}</td>
            </tr>
            <tr>
                <th>Holecount</th>
                <td>{{ entity.holeCount }}</td>
            </tr>
            <tr>
                <th>Penalityshots</th>
                <td>{{ entity.penalityShots }}</td>
            </tr>
            <tr>
                <th>Penalityshotscount</th>
                <td>{{ entity.penalityShotsCount }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Deletedat</th>
                <td>{{ entity.deletedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('round') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('round_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
