{% extends 'WebFactoryConfigurationBundle::layout.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Configuration edition') }}{% endblock headline %}

{% block content -%}

    <form action="{{ path('configuration_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        {{ macros.actions([ macros.backToList('configuration'), macros.submitButton('Update') ]) }}
        {{ form_rest(edit_form) }}
    </form>

{% endblock %}