{% extends '::grid.html.twig' %}

{% block grid_column_actions_cell -%}

    {% set actions = column.getActionsToRender(row) %}

    <ul class="grid-row-actions">
    {% for action in actions %}

        {% if row.field('modifiable') %}
            <li><a href="{{ url(action.route, column.routeParameters(row, action), false) }}" target="{{ action.target }}"{% if action.confirm %} onclick="return confirm('{{ action.confirmMessage|trans }}')"{% endif %}{% for name, value in action.attributes %} {{ name }}="{{ value }}" {% endfor %}><i></i></a></li>
        {% endif %}
    {% endfor %}
    </ul>
{%- endblock grid_column_actions_cell %}

{% block grid_column_formLabel_cell -%}
    {{ value|trans }}
{%- endblock %}

{% block grid_column_value_cell -%}
    {% if (row.field('formType') == 'checkbox') %}
    {{ (value ? 'Yes' : 'No')|trans }}
    {% else %}
    {{ value }}
    {% endif %}
{%- endblock %}