{% extends 'WebFactoryConfigurationBundle::layout.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Configuration list') }}{% endblock headline %}

{% block content -%}

    {% include '::filters.html.twig' with {'grid':grid, 'gridBlock':'WebFactoryConfigurationBundle:Configuration:grid.html.twig'} only %}

    {{ grid(grid, 'WebFactoryConfigurationBundle:Configuration:grid.html.twig') }}

{% endblock %}