    {% extends '::base.html.twig' %}

{% block content %}
    <div class="pageblock">
        <div class="pageblockgeneric">
            <div class="pageblockbg">

                {% if selected_area %}
                    <h3 class="title">AREA: {{ selected_area|upper }}</h3>
                {% else %}
                    <h3 class="title">SERVICIOS</h3>
                {% endif %}

                <div class="pageblockservice">
                    <p>Andres Gotta Golf ofrece servicios integrales desde las siguientes áreas:</p>
                </div>

                <div class="row-fluid" style="border-bottom: 8px solid #fff;">
                    {% for service in highlighted %}
                        <div class="span4
                            {% if highlighted|length == 1 and loop.index == 1%}offset4{% endif %}
                            {% if highlighted|length == 2 and loop.index == 1%}offset2{% endif %}
                        ">
                            <section class="serviceblock highlighted" data-area="area{{ service.area.id }}">
                                <a href="{{ path('frontend_service_show', {service: service.id}) }}">
                                    <figure>
                                <span>
                                {% if service.mainImage and service.mainImage.filePath %}
                                    <img src="{{ service.mainImage.cover|imagine_filter('news_thumb') }}" />
                                {% else %}
                                    <img src="{{ asset('img/default-service.jpg') }}" />
                                {% endif %}
                                </span>
                                    </figure>
                                </a>
                                <article>
                                    <a href="{{ path('frontend_service_show', {service: service.id}) }}">
                                        <h1>{{ service.name }}</h1>
                                    </a>
                                    <p>{{ service.description }}</p>
                                    <p class="serviceBoxPrice">
                                        {% if service.debitDues == 0 %}
                                            Suscripción mensual de <strong>${{ service.price|round(2) }}</strong>
                                        {% else %}
                                            {% if service.isLifetime == true %}
                                                {{ 'Duration'|trans }} <strong>VITALICIA</strong><br />
                                            {% else %}
                                                {{ 'Duration'|trans }} de <strong>{{ service.days }} {{ 'days'|trans }}</strong><br />
                                            {% endif %}
                                            {% if service.debitDues == 1 %}
                                                Una <strong>ÚNICA</strong> cuota de <strong>${{ service.price|round(2) }}</strong>
                                            {% else %}
                                                <strong>{{ service.debitDues }} cuotas</strong> de <strong>${{ (service.price/service.debitDues)|round(2) }}</strong>
                                            {% endif %}
                                        {% endif %}
                                    </p>
                                    <a class="btn btn-info" href="{{ path('frontend_cart_add', {product: service.id}) }}">Comprar</a>
                                </article>
                            </section>
                        </div>
                    {% endfor %}
                </div>

                <div class="pageblockservice pageblockservice2">
                    <div class="reportarea">
                        <div class="row-fluid">
                            {% for area in areas %}
                                {% set area_service = area.services.first %}
                                <section class="serviceblock serviceblock2">
                                    <div class="span4 serviceblocktitle">
                                        <a href="{{ path("frontend_service_show_area", {area:area.slug}) }}">{{ area }}</a>
                                    </div>
                                    <figure>
                                        <span>
                                            <a href="{{ path("frontend_service_show_area", {area:area.slug}) }}">
                                                {% if area_service and area_service.mainImage.filePath != '' %}
                                                    <img src="{{ area_service.mainImage.cover|imagine_filter('news_thumb') }}" />
                                                {% else %}
                                                    <img src="{{ asset('img/default-service.jpg') }}" />
                                                {% endif %}
                                            </a>
                                        </span>
                                    </figure>
                                </section>
                            {% endfor %}
                        </div>
                    </div>

                    {% if selected_area %}
                        {% include [
                        'AndresGottaServiceBundle:Frontend/Service:areas/' ~ selected_area.slug ~ '.html.twig',
                        'AndresGottaServiceBundle:Frontend/Service:areas/default.html.twig'
                ] %}
                    {% endif %}

                </div>

            </div>
        </div>
    </div>
    {%- endblock %}