{% extends '::base.html.twig' %}

{% block content -%}
<div class="pageblock">
    <div class="pageblockgeneric">
        <div class="pageblockbg">

            {% if selected_area %}
            <h3 class="title">AREA: {{ selected_area|upper }}</h3>
            {% else %}
            <h3 class="title">SERVICIOS</h3>
            {% endif %}

            <div class="pageblockservice">
            {% include [
            'AndresGottaServiceBundle:Frontend/Service:areas/' ~ selected_area.slug ~ '.html.twig',
            'AndresGottaServiceBundle:Frontend/Service:areas/default.html.twig'
            ] with entities %}
            </div>
            {% for service in entities %}
            <section class="serviceblock {{ loop.index is divisibleby(3) ? 'last' : '' }}" data-area="area{{ service.area.id }}">
                <a href="{{ path('frontend_service_show', {service: service.id}) }}">
                <figure>
                    <span>
                    {% if service.mainImage and service.mainImage.filePath %}
                        <img src="{{ service.mainImage.cover|imagine_filter('news_thumb') }}" />
                    {% else %}	
                        <img src="{{ asset('img/default-service.jpg') }}" />
                    {% endif %}	
                    </span>
                </figure>
                </a>
                <article>
                    <a href="{{ path('frontend_service_show', {service: service.id}) }}">
                        <h1>{{ service.name }}</h1>
                    </a>
                    <p>{{ service.description }}</p>
                    <p class="serviceBoxPrice">
                        {% if service.debitDues == 0 %}
                            Suscripción mensual de <strong>${{ service.price|round(2) }}</strong>
                        {% else %}
                            {% if service.isLifetime == true %}
                                {{ 'Duration'|trans }} <strong>VITALICIA</strong><br />
                            {% else %}
                                {{ 'Duration'|trans }} de <strong>{{ service.days }} {{ 'days'|trans }}</strong><br />
                            {% endif %}
                            {% if service.debitDues == 1 %}
                                Una <strong>ÚNICA</strong> cuota de <strong>${{ service.price|round(2) }}</strong>
                            {% else %}
                                <strong>{{ service.debitDues }} cuotas</strong> de <strong>${{ (service.price/service.debitDues)|round(2) }}</strong>
                            {% endif %}
                        {% endif %}
                    </p>
                    <a class="btn btn-info" href="{{ path('frontend_cart_add', {product: service.id}) }}">Comprar</a>
                </article>
            </section>
            {% endfor %}
        </div>		
    </div>
</div>	
{%- endblock %}