{% extends '::base.html.twig' %}

{% block content -%}
    <div class="pageblock">
        <div class="pageblockgeneric">
            <div class="pageblockbg pageblockserviceshow">

                <h3 class="title">SERVICIO: {{ service.name|upper }}</h3>

                <div class="pageblockserviceshowarea">
                    <div class="row-fluid">
                        <div class="span8">
                            {{ service.longDescription|nl2br }}
                        </div>
                        <div class="span4">
                            <figure>
                                <span>
                                    {% if service.mainImage and service.mainImage.filePath %}
                                        <img src="{{ service.mainImage.cover|imagine_filter('news_thumb') }}" />
                                    {% else %}	
                                        <img src="{{ asset('img/default-service.jpg') }}" />
                                    {% endif %}	
                                </span>
                            </figure>
                        </div>
                        <div class="span12 serviceBoxPrice">
                            <div class="span12">
                                {% if service.debitDues == 0 %}
                                    Suscripción mensual de <strong>${{ service.price|round(2) }}</strong>
                                {% else %}
                                    {% if service.isLifetime == true %}
                                        {{ 'Duration'|trans }} <strong>VITALICIA</strong><br />
                                    {% else %}
                                        {{ 'Duration'|trans }} de <strong>{{ service.days }} {{ 'days'|trans }}</strong><br />
                                    {% endif %}
                                    {% if service.debitDues == 1 %}
                                        Una <strong>ÚNICA</strong> cuota de <strong>${{ service.price|round(2) }}</strong>
                                    {% else %}
                                        <strong>{{ service.debitDues }} cuotas</strong> de <strong>${{ (service.price/service.debitDues)|round(2) }}</strong>
                                    {% endif %}
                                {% endif %}
                                <a class="btn btn-info" href="{{ path('frontend_cart_add', {product: service.id}) }}">Comprar</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>		
        </div>
    </div>	
    {%- endblock %}