{% block subject %}
    {% autoescape false %}
        {{ 'new_user.email.subject'|trans({'%username%': user.username}) }}
    {% endautoescape %}
{% endblock %}
{% block body_text %}
    {% autoescape false %}
        {{ 'new_user.email.message'|trans({'%username%': user.username}) }}
    {% endautoescape %}
{% endblock %}

{% block body_html %}
{% endblock %}
