{% extends 'WebFactoryUserBundle::layout.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('academy_students.title') }}{% endblock headline %}

{% block content %}
    {{ form_start(form) }}
        {{ form_row(form.enrolledInAcademies) }}
        {{ form_row(form.trainedByTeachers) }}

        <div class="form-actions">
            <div>
                {{ macros.backToList('backend_user') }}
            </div>
            {{ form_row(form.submit, {'label': 'Update', 'attr': {'class': 'btn btn-primary'} }) }}
        </div>

    {{ form_end(form) }}
{% endblock %}


{% block head_style %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/andresgottahomepage/css/select2.min.css') }}" />
    <style>
        .form-actions div {
            display: inline-block;
        }
    </style>
{% endblock %}

{% block foot_script %}
    {{ parent() }}
    <script src="{{ asset('bundles/andresgottahomepage/js/select2.min.js') }}"></script>

    <script>
        $(function () {
            $('select').select2();
        })
    </script>
{% endblock %}
