{% set distances = [
    constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::LESS_THAN_100_YDS'),
    constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_100_TO_120_YDS'),
    constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_121_TO_140_YDS'),
    constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_141_TO_160_YDS'),
    constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_161_TO_180_YDS'),
    constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_181_TO_200_YDS'),
    constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_201_TO_220_YDS'),
    constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::MORE_THAN_220_YDS')
] %}
<div class="span12">
    {% if data.values.results %}
    <h2>{{ 'Table'|trans }}</h2>
    <table class="table">
        <theader>
            <tr>
                <th>{{ 'Reason'|trans }}</th>
                {% for distance in distances %}
                    <th>{{ distance|trans }}</th>
                {% endfor %}
            </tr>
        </theader>
    {% for reason, item in data.values.results %}
        <tbody>
            <tr>
                <td>{{ reason|trans }}</td>
                {% for distance in item %}
                    <td>{{ distance == 0 ? 0 : distance|number_format(2) }} %</td>
                {% endfor %}
            </tr>
        </tbody>
    {% endfor %}
    </table>

    {% else %}
        <h4>{{ 'No results'|trans }}</h4>
    {% endif %}
</div>
