{% set distances = [
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::LESS_THAN_1_MTS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_1_TO_2_MTS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_2_TO_3_MTS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_3_TO_5_MTS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_5_TO_7_MTS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_7_TO_10_MTS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_10_TO_15_MTS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::MORE_THAN_15_MTS')
] %}

<div class="span12">
    <h2>{{ 'Table'|trans }}</h2>
    <table class="table">
        <theader>
            <tr>
                <th>{{ 'Distance'|trans }}</th>
                <th>{{ 'Percent'|trans }}</th>
            </tr>
        </theader>
        <tbody>
            {% for distance in distances %}
            <tr>
                {% for item in data.values if distance == item.distance %}
                <td>{{ item.distance|trans }}</td>
                <td>{{ item.quantity|number_format(2) }} %</td>
                {% else %}
                <td>{{ distance|trans }}</td>
                <td>0 %</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if data.values %}
    <h2>{{ 'Graphics'|trans }}</h2>
    <div id="container-{{ data.report.slug }}-reasons" style="height: 500px"></div>
    <br/>
    {% endif %}
</div>

<script>
    $(function() {
        var dataJson = {{ getPercentPieData(data)|raw }};

        if (dataJson.length > 0) {
            $('#container-{{ data.report.slug }}-reasons').highcharts({
                chart: {
                    type: 'pie'
                },
                title: {
                    text: '{{ data.report.name|trans }}'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            color: '#000000',
                            connectorColor: '#000000',
                            format: '<b>{point.name}</b>: {point.percentage:.2f} %'
                        }
                    }
                },
                series: [
                    {
                        type: 'pie',
                        name: '{{ data.report.name|trans }}',
                        data: dataJson
                    }
                ]
            });
        }
    });
    
</script>