<div class="span12">
    <p style="font-size: 25px; font-weight: normal; line-height: 40px;">
        {{ 'You have'|trans }} {{ 'an average of'|trans }} <strong>{{ data.values.distance|trans }}</strong> {{ 'of distance'|trans }}
    </p>
</div>