<div class="span12">
    <p style="font-size: 25px; font-weight: normal; line-height: 40px;">
        {{ 'You have'|trans }} {{ 'an score of'|trans }} <strong>{{ data.values.totalRoundPlayed == 0 ? 0 : (data.values.diff / data.values.totalRoundPlayed)|number_format(2, ',', '.') }}</strong> {{ 'in relation to PAR'|trans }}
    </p>
</div>