<div class="span12">
    {% if data.values %}
    <h2>{{ 'Table'|trans }}</h2>
    <table class="table">
        <theader>
            <tr>
                <th>{{ 'Ball flight'|trans }}</th>
                <th>{{ 'Average'|trans }}</th>
            </tr>
        </theader>
        {% for ballFlight, item in data.values %}
            <tbody>
                <tr>
                    <td>{{ ballFlight|trans }}</td>
                    <td>{{ item.distance|trans }} ({{ 'about shots analyzed'|trans({'%shots%': item.total}) }})</td>
                </tr>
            </tbody>
        {% endfor %}
    </table>
    {% else %}
        <h4>{{ 'No results'|trans }}</h4>
    {% endif %}
</div>