<div class="span12">
    <p style="font-size: 25px; font-weight: normal; line-height: 40px;">
        {{ 'Each'|trans }} <strong>{{ data.values.totalGreenPlayed == 0 ? 0 : (data.values.totalGreenPlayedWith1Putt / data.values.totalGreenPlayed)|number_format(2, ',', '.') }}</strong> Greens {{ 'played'|trans }} {{ 'hole out in'|trans }} 1 putt 
        <br />
        {{ 'of total of'|trans }} <strong>{{ data.values.totalGreenPlayed }}</strong> Greens {{ 'played'|trans }}
    </p>
</div>