<div class="span12">
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active" ><a href="#9holes" data-toggle="tab">9 {{ 'Holes'|trans }}</a></li>
            <li><a href="#18holes" data-toggle="tab">18 {{ 'Holes'|trans }}</a></li>
        </ul>           
        <div class="tab-content bgcolor">                     
            {% set holeCount = 9 %}
            <div id="9holes" class="tab-pane active">
                <h2>{{ 'Table'|trans }}</h2>
                <table class="table">
                    <theader>
                        <tr>
                            <th>{{ 'Term'|trans }}</th>
                            <th>{{ 'Average'|trans }}</th>
                        </tr>
                    </theader>
                    <tbody>
                    {% for i, item in data.values.result[holeCount] %}
                        <tr>
                            <td>{{ i|trans }}</td>
                            <td>{{ item ? (item / data.values.total[holeCount])|number_format(2) : 0 }} {{ 'by round'|trans }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% set holeCount = 18 %}
            <div id="18holes" class="tab-pane">
                <h2>{{ 'Table'|trans }}</h2>
                <table class="table">
                    <theader>
                        <tr>
                            <th>{{ 'Term'|trans }}</th>
                            <th>{{ 'Average'|trans }}</th>
                        </tr>
                    </theader>
                    <tbody>
                    {% for i, item in data.values.result[holeCount] %}
                        <tr>
                            <td>{{ i|trans }}</td>
                            <td>{{ item ? (item / data.values.total[holeCount])|number_format(2) : 0 }} {{ 'by round'|trans }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</div>