<div class="span12">
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active" ><a href="#9holes" data-toggle="tab">9 {{ 'Holes'|trans }}</a></li>
            <li><a href="#18holes" data-toggle="tab">18 {{ 'Holes'|trans }}</a></li>
        </ul>           
        <div class="tab-content bgcolor">                     
            {% set holeCount = 9 %}
            <div id="9holes" class="tab-pane active">
                <p style="font-size: 25px; font-weight: normal; line-height: 40px;">
                    {% set putts = data.values.totalRoundPlayed[holeCount] == 0 ? 0 : (data.values.totalPutts[holeCount] / data.values.totalRoundPlayed[holeCount])|number_format(2, ',', '.') %}
                    {% set rounds = data.values.totalRoundPlayed[holeCount] %}
                    {{ 'You have putts of total of'|trans({'%putts%': putts, '%rounds%': rounds})|raw }}

                </p>
            </div>
            {% set holeCount = 18 %}
            <div id="18holes" class="tab-pane">
                <p style="font-size: 25px; font-weight: normal; line-height: 40px;">
                    {% set putts = data.values.totalRoundPlayed[holeCount] == 0 ? 0 : (data.values.totalPutts[holeCount] / data.values.totalRoundPlayed[holeCount])|number_format(2, ',', '.') %}
                    {% set rounds = data.values.totalRoundPlayed[holeCount] %}
                    {{ 'You have putts of total of'|trans({'%putts%': putts, '%rounds%': rounds})|raw }}
                </p>
            </div>
        </div>
    </div>
</div>