<div class="span12">
    <div class="tabbable">
        <div class="tab-content bgcolor">
            {% set holeCount = 18 %}
            <div id="18holes">
                <h2>{{ 'Table'|trans }}</h2>
                <table class="table">
                    <theader>
                        <tr>
                            <th>{{ 'Term'|trans }}</th>
                            <th>PAR 3</th>
                            <th>PAR 4</th>
                            <th>PAR 5</th>
                        </tr>
                    </theader>

                {% for i, item in data.values.result[holeCount] %}
                    <tbody>
                        <tr>
                            <td>{{ i|trans }}</td>
                            {% for p, par in item %}
                            <td>
                            {% if (p == 3 and (i == 'Albatros' or i == 'Águila')) or (p == 4 and i == 'Albatros') %}
                                -
                            {% else %}
                                {{ data.values.result[holeCount][i][p]|number_format(2) }} %
                            {% endif %}
                            </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                {% endfor %}
                </table>
            </div>
        </div>
    </div>    
</div>
