<div class="span12">
    {% if data.values %}
    <h2>{{ 'Table'|trans }}</h2>
    <table class="table">
        <theader>
            <tr>
                <th>{{ 'Par'|trans }}</th>
                <th>{{ 'Average'|trans }} {{ 'in relation to PAR'|trans }}</th>
            </tr>
        </theader>
    {% for i, item in data.values %}
        <tbody>
            <tr>
                <td>{{ i }}</td>
                <td>{{ item.total ? (item.strikes / item.total)|number_format(2) : 0 }} ({{ item.total }} {{ 'Holes'|trans }} {{ 'played'|trans }})</td>
            </tr>
        </tbody>
    {% endfor %}
    </table>
    {% else %}
        <h4>{{ 'No results'|trans }}</h4>
    {% endif %}
</div>