<div class="span12">
    <p style="font-size: 25px; font-weight: normal; line-height: 40px;">
        {% set penalties = data.values.totalRoundPlayed == 0 ? 0 : (data.values.totalPenalties / data.values.totalRoundPlayed)|number_format(2, ',', '.') %}
        {{ 'You have penalties'|trans({'%penalties%': penalties})|raw }}
    </p>
</div>