<div class="span12">
    <p style="font-size: 25px; font-weight: normal; line-height: 40px;">
        {{ 'You have'|trans }} {{ 'an score of'|trans }} <strong>{{ data.values.totalRoundPlayed == 0 ? 0 : (data.values.diffInf / data.values.totalRoundPlayed)|number_format(2, ',', '.') }}</strong> {{ 'in relation to PAR'|trans }} {{ 'in the first 9 holes'|trans }}
        <br />
        {{ 'You have'|trans }} {{ 'an score of'|trans }} <strong>{{ data.values.totalRoundPlayed == 0 ? 0 : (data.values.diffSup / data.values.totalRoundPlayed)|number_format(2, ',', '.') }}</strong> {{ 'in relation to PAR'|trans }} {{ 'in the second 9 holes'|trans }}
        <br />
        {{ 'of total of'|trans }} <strong>{{ data.values.totalRoundPlayed }}</strong> {{ 'rounds'|trans }} {{ 'played_'|trans }}
    </p>
</div>