<div class="span12">
    <p style="font-size: 25px; font-weight: normal; line-height: 40px;">
        {{ 'Each'|trans }} <strong>{{ data.values.totalGreenPlayed == 0 ? 0 : (data.values.totalGreenPlayedWith3PuttOrMore / data.values.totalGreenPlayed)|number_format(2, ',', '.') }}</strong> Greens {{ 'played'|trans }} {{ 'hole out in more than'|trans }} 2 putts 
        <br />
        {{ 'of total of'|trans }} <strong>{{ data.values.totalGreenPlayed }}</strong> Greens {{ 'played'|trans }}
    </p>
</div>