<div class="span12">
    <p style="font-size: 25px; font-weight: normal; line-height: 40px;">
        {{ '%strike% wrong each %strikes%'|trans({'%strike%': data.values.totalPar4AndPar5OutsideFairway, '%strikes%': data.values.totalGreenPlayed})|raw }}
    </p>
</div>