<div class="span12">
    <h4>{{ data.values.newTotal }} / {{ data.values.total }} {{ 'Strikes'|trans }}</h4>
    <br />
    <h4>{{ data.values.total == 0 ?  0 : (data.values.newTotal * 100 / data.values.total)|number_format(2, ',', '.') }} %</h4>
</div>