{% set distances = [
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::LESS_THAN_20_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_21_TO_40_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_41_TO_60_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_61_TO_80_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_81_TO_100_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_101_TO_120_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_121_TO_140_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_141_TO_160_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_161_TO_180_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_181_TO_200_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_201_TO_220_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_221_TO_240_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_241_TO_260_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_261_TO_280_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_281_TO_300_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_301_TO_320_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::MORE_THAN_320_YDS')
] %}

{% set reasons = [
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Reason::TO_THE_LEFT'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Reason::TO_THE_RIGHT'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Reason::LONG'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Reason::SHORT'),
] %}

<div class="span12">
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active" ><a href="#inside" data-toggle="tab">{{ constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Result::INSIDE_GREEN')|trans }}</a></li>
            <li><a href="#outside" data-toggle="tab">{{ constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Result::OUTSIDE_GREEN')|trans }}</a></li>
        </ul>

        <div class="tab-content bgcolor">
            <div id="inside" class="tab-pane active">
                <h2>{{ constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Result::INSIDE_GREEN')|trans }}</h2>
                {% if data.values.insideGreenResults %}
                    <h2>{{ 'Table'|trans }}</h2>
                    <table class="table">
                        <theader>
                            <tr>
                                <th>{{ 'Ball flight'|trans }}</th>
                                {% for distance in distances %}
                                    <th>{{ distance|trans }}</th>
                                {% endfor %}
                            </tr>
                        </theader>
                        {% for ballFlight, item in data.values.insideGreenResults %}
                            <tbody>
                            <tr>
                                <td>{{ ballFlight|trans }}</td>
                                {% for distance in item %}
                                    <td>{{ distance == 0 ? 0 : distance|number_format(2) }} %</td>
                                {% endfor %}
                            </tr>
                            </tbody>
                        {% endfor %}
                    </table>

                {% else %}
                    <h4>{{ 'No results'|trans }}</h4>
                {% endif %}
            </div>
            <div id="outside" class="tab-pane">
                <h2>{{ constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Result::OUTSIDE_GREEN')|trans }}</h2>
                {% if data.values.outsideGreenResults %}
                    <ul class="nav nav-tabs">
                        {% for reason in reasons %}
                            {% set classActive = '' %}
                            {% if reason == constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Reason::TO_THE_LEFT') %}
                                {% set classActive = 'active' %}
                            {% endif %}
                            <li class="{{ classActive }}"><a href="#{{ reason|replace({'.': ''}) }}" data-toggle="tab">{{ reason|trans }}</a></li>
                        {% endfor %}
                    </ul>
                    <div class="tab-content bgcolor">
                        {% for key, reason in data.values.outsideGreenResults %}
                            {% if key == constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Reason::TO_THE_LEFT') %}
                                {% set classActive = ' active' %}
                            {% else %}
                                {% set classActive = '' %}
                            {% endif %}
                            <div id="{{ key|replace({'.': ''}) }}" class="tab-pane {{ classActive }}">
                                <h2>{{ key|trans }}</h2>
                                <h2>{{ 'Table'|trans }}</h2>
                                <table class="table" id="{{ key|replace({'.': ''}) }}">
                                    <theader>
                                        <tr>
                                            <th>{{ 'Ball flight'|trans }}</th>
                                            {% for distance in distances %}
                                                <th>{{ distance|trans }}</th>
                                            {% endfor %}
                                        </tr>
                                    </theader>

                                    {% for ballFlight, item in reason %}
                                        <tbody>
                                        <tr>
                                            <td>{{ ballFlight|trans }}</td>
                                            {% for distance in item %}
                                                <td>{{ distance == 0 ? 0 : distance|number_format(2) }} %</td>
                                            {% endfor %}
                                        </tr>
                                        </tbody>
                                    {% endfor %}
                                </table>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <h4>{{ 'No results'|trans }}</h4>
                {% endif %}
            </div>
        </div>
    </div>
</div>