{% set distances = [
    constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::LESS_THAN_1_MTS'),
    constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_1_TO_2_MTS'),
    constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_2_TO_3_MTS'),
    constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_3_TO_5_MTS'),
    constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_5_TO_7_MTS'),
    constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_7_TO_10_MTS'),
    constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_10_TO_15_MTS'),
    constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::MORE_THAN_15_MTS')
] %}
<div class="span12">
    <h2>{{ 'Table'|trans }}</h2>
    <table class="table">
        <theader>
            <tr>
                <th>{{ 'Putts'|trans }}</th>
                {% for distance in distances %}
                <th>{{ distance|trans }}</th>
                {% endfor %}
            </tr>
        </theader>
    {% for strike, item in data.values.result %}
        <tbody>
            <tr>
                <td>{{ strike|trans }}</td>
                {% for distance in item %}
                <td>{{ distance == 0 ? 0 : distance|number_format(2) }} %</td>
                {% endfor %}
            </tr>
        </tbody>
    {% endfor %}
    </table>

</div>