{% set roundTypes = [
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\RoundType::PRACTICE'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\RoundType::TOURNAMENT')
] %}
{% set gameConditions = [
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\GameCondition::NORMAL'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\GameCondition::WINDY'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\GameCondition::COLD'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\GameCondition::HOT'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\GameCondition::RAINY')
] %}

<div class="span12">

    <div class="span6">
        <h2>{{ 'Table'|trans }}</h2>
        <table class="table">
            <caption>{{ 'roundTypes'|trans }}</caption>
            <theader>
                <tr>
                    <th>{{ 'roundType'|trans }}</th>
                    <th>{{ 'quantity'|trans }}</th>
                </tr>
            </theader>
            <tbody>
            {% for roundType in roundTypes %}
                <tr>
                {% for item in data.values.roundTypes if roundType == item.roundType%}
                    <td>{{ item.roundType|trans }}</td>
                    <td>{{ item.quantity|number_format(2) }} %</td>
                {% else %}
                    <td>{{ roundType|trans }}</td>
                    <td>0 %</td>
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if data.values.roundTypes %}
            <br/><br/><br/><br/>
        <h2>{{ 'Graphics'|trans }}</h2>
        <div class="graphicBoxContainer small" id="container-{{ data.report.slug }}-roundTypes"></div>
        {% endif %}
        <br/>
    </div>

    <div class="span6">
        <div class="page-break"></div>
        <h2>{{ 'Table'|trans }}</h2>
        <table class="table">
            <caption>{{ 'gameConditions'|trans }}</caption>
            <theader>
                <tr>
                    <th>{{ 'gameCondition'|trans }}</th>
                    <th>{{ 'quantity'|trans }}</th>
                </tr>
            </theader>
            <tbody>
            {% for gameCondition in gameConditions %}
                <tr>
                {% for item in data.values.gameConditions if gameCondition == item.gameCondition %}
                    <td>{{ item.gameCondition|trans }}</td>
                    <td>{{ item.quantity|number_format(2) }} %</td>
                {% else %}
                    <td>{{ gameCondition|trans }}</td>
                    <td>0 %</td>
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if data.values.gameConditions %}
        <h2>{{ 'Graphics'|trans }}</h2>
        <div class="graphicBoxContainer small" id="container-{{ data.report.slug }}-gameConditions"></div>
        {% endif %}
        <br/>
    </div>

</div>

<script>
    $(function() {
        var roundTypesJson = {{ getPercentPieData(data, 'roundTypes')|raw }},
            gameConditionsJson = {{ getPercentPieData(data, 'gameConditions')|raw }};

        if (roundTypesJson.length > 0) {

            $('#container-{{ data.report.slug }}-roundTypes').highcharts({
                chart: {
                    type: 'pie'
                },
                title: {
                    text: '{{ 'roundTypes'|trans }}'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            color: '#000000',
                            connectorColor: '#000000',
                            format: '<b>{point.name}</b>: {point.percentage:.2f} %'
                        }
                    }
                },
                series: [
                    {
                        type: 'pie',
                        name: '{{ data.report.name|trans }}',
                        data: roundTypesJson
                    }
                ]
            });
        }

        if (gameConditionsJson.length > 0) {

            $('#container-{{ data.report.slug }}-gameConditions').highcharts({
                chart: {
                    type: 'pie'
                },
                title: {
                    text: '{{ 'gameConditions'|trans }}'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            color: '#000000',
                            connectorColor: '#000000',
                            format: '<b>{point.name}</b>: {point.percentage:.2f} %'
                        }
                    }
                },
                series: [
                    {
                        type: 'pie',
                        name: '{{ data.report.name|trans }}',
                        data: gameConditionsJson
                    }
                ]
            });
        }
    });
    </script>

