<div class="span12">
    {% set clubs = [
            constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Club::DRIVER'),
            constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Club::WOOD'),
            constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Club::HYBRID'),
            constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Club::IRON')
    ] %}
    {% set distances = [
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::LESS_THAN_100_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_100_TO_120_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_121_TO_140_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_141_TO_160_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_161_TO_180_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_181_TO_200_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_201_TO_220_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_221_TO_240_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_241_TO_260_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_261_TO_280_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_281_TO_300_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_301_TO_320_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::MORE_THAN_320_YDS')
    ] %}
    {% set results = [
        constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Result::HOLE_OUT'),
        constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Result::INSIDE_GREEN'),
        constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Result::INSIDE_FAIRWAY'),
        constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Reason::TO_THE_LEFT'),
        constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Reason::TO_THE_RIGHT')
    ] %}
    {% set outside_fairway = constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Result::OUTSIDE_FAIRWAY') %}
    
    <div class="tabbable">
        <ul class="nav nav-tabs">
            {% for club in clubs %}
            {% set classActive = '' %}
            {% if club == constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Club::DRIVER') %}
            {% set classActive = 'active' %}
            {% endif  %}
            <li class="{{ classActive }}" ><a href="#{{ club|trans }}" data-toggle="tab">{{ club|trans }}</a></li>
            {% endfor %}
        </ul>                    
        <div class="tab-content bgcolor">                     
        {% if data.values %}
            {% for club in clubs %}
            {% set classActive = '' %}
            {% if club == constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Club::DRIVER') %}
            {% set classActive = ' active' %}
            {% endif  %}
            <div id="{{ club|trans }}" class="tab-pane{{ classActive }}">
                <h2>{{ club|trans }}</h2>
                {% if data.values[club] %}
                <h2>{{ 'Table'|trans }}</h2>
                <table class="table">
                    <theader>
                        <tr>
                            <th>{{ 'Result'|trans }}</th>
                            {% for distance in distances %}
                            <th>{{ distance|trans }}</th>
                            {% endfor %}
                        </tr>
                    </theader>
                    <tbody>
                    {% for result in results %}
                        <tr>
                            <td>{{ (result == constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Reason::TO_THE_LEFT')
                                   or result == constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Reason::TO_THE_RIGHT')) 
                                   ? outside_fairway|trans~' '~result|trans
                                   : result|trans }}</td>
                            {% for distance in distances %}
                            {% set quantity = data.values[club][distance][result] %}
                            <td>
                                {% if quantity != 0 %}
                                {{ quantity|number_format(2) }}
                                {% else %}
                                {{ quantity }}
                                {% endif %}
                                %
                            </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
            {% endfor %}
        {% else %}
            <h4>{{ 'No results'|trans }}</h4>
        {% endif %}
        </div>
    </div>
    
</div>