{% set distances = [
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::LESS_THAN_20_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_21_TO_40_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_41_TO_60_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_61_TO_80_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_81_TO_100_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_101_TO_120_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_121_TO_140_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_141_TO_160_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_161_TO_180_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_181_TO_200_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_201_TO_220_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_221_TO_240_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_241_TO_260_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_261_TO_280_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_281_TO_300_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_301_TO_320_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::MORE_THAN_320_YDS')
] %}

<div class="span12">
    <h2>{{ 'Table'|trans }}</h2>
    <table class="table">
        <caption>{{ 'Distance'|trans }}</caption>
        <theader>
            <tr>
                <th>{{ 'Distance'|trans }}</th>
                <th>{{ 'Percent'|trans }}</th>
            </tr>
        </theader>
        <tbody>
        {% for distance in distances %}
            <tr>
            {% for item in data.values if distance == item.distance %}
                <td>{{ item.distance|trans }}</td>
                <td>{{ item.quantity|number_format(2) }} %</td>
            {% else %}
                <td>{{ distance|trans }}</td>
                <td>0 %</td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if data.values %}
    <div class="page-break"></div>
    <h2>{{ 'Graphics'|trans }}</h2>
    <div class="graphicBoxContainer long" id="container-{{ data.report.slug }}"  style="height: 500px"></div>
    {% endif %}
    <br/>

</div>

<script>
    $(function() {
        var dataJson = {{ getPercentPieData(data)|raw }};

        if (dataJson.length > 0) {

            $('#container-{{ data.report.slug }}').highcharts({
                chart: {
                    type: 'pie'
                },
                title: {
                    text: '{{ data.report.name|trans }}'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            color: '#000000',
                            connectorColor: '#000000',
                            format: '<b>{point.name}</b>: {point.percentage:.2f} %'
                        }
                    }
                },
                series: [
                    {
                        type: 'pie',
                        name: '{{ data.report.name|trans }}',
                        data: dataJson
                    }
                ]
            });
        }

    });
</script>
