{% set distances = [
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::LESS_THAN_20_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_21_TO_40_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_41_TO_60_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_61_TO_80_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_81_TO_100_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_101_TO_120_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_121_TO_140_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_141_TO_160_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_161_TO_180_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_181_TO_200_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_201_TO_220_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_221_TO_240_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_241_TO_260_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_261_TO_280_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_281_TO_300_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_301_TO_320_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::MORE_THAN_320_YDS')
] %}

{% set reasons = [
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Reason::TO_THE_LEFT'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Reason::TO_THE_RIGHT'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Reason::LONG'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Reason::SHORT')
] %}

<div class="span12">
    <h2>{{ 'Table'|trans }}</h2>
    <table class="table">
        <theader>
            <tr>
                <th>{{ 'Distance'|trans }}</th>
                <th>{{ 'Percent'|trans }}</th>
            </tr>
        </theader>
        <tbody>
        {% for distance in distances %}
            <tr>
            {% for item in data.values.distancesResults if distance == item.distance %}
                <td>{{ item.distance|trans }}</td>
                <td>{{ item.quantity|number_format(2) }} %</td>
            {% else %}
                <td>{{ distance|trans }}</td>
                <td>0 %</td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if data.values.distancesResults %}
    <h2>{{ 'Graphics'|trans }}</h2>
    <div id="container-{{ data.report.slug }}-distances" style="height: 500px"></div>
    {% endif %}
    <br/>

    <h2>{{ 'Table'|trans }}</h2>
    <table class="table">
        <theader>
            <tr>
                <th>{{ 'Reason'|trans }}</th>
                <th>{{ 'Percent'|trans }}</th>
            </tr>
        </theader>
        <tbody>
        {% for reason in reasons %}
            <tr>
            {% for item in data.values.reasonResults if reason == item.reason %}
                <td>{{ item.reason|trans }}</td>
                <td>{{ item.quantity|number_format(2) }} %</td>
            {% else %}
                <td>{{ reason|trans }}</td>
                <td>0 %</td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    {% if data.values.reasonResults %}
    <h2>{{ 'Graphics'|trans }}</h2>
    <div id="container-{{ data.report.slug }}-reasons" style="height: 500px"></div>
    {% endif %}
    <br/>
</div>

<script>
    $(function() {
        var distancesResultsJson = {{ getPercentPieData(data, 'distancesResults')|raw }},
            reasonResultsJson = {{ getPercentPieData(data, 'reasonResults')|raw }};

        if (distancesResultsJson.length > 0) {

            $('#container-{{ data.report.slug }}-distances').highcharts({
                chart: {
                    type: 'pie'
                },
                title: {
                    text: '{{ data.report.name|trans }}'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            color: '#000000',
                            connectorColor: '#000000',
                            format: '<b>{point.name}</b>: {point.percentage:.2f} %'
                        }
                    }
                },
                series: [
                    {
                        type: 'pie',
                        name: '{{ data.report.name|trans }}',
                        data: distancesResultsJson
                    }
                ]
            });
        }

        if (reasonResultsJson.length > 0) {
            $('#container-{{ data.report.slug }}-reasons').highcharts({
                chart: {
                    type: 'pie'
                },
                title: {
                    text: '{{ data.report.name|trans }}'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            color: '#000000',
                            connectorColor: '#000000',
                            format: '<b>{point.name}</b>: {point.percentage:.2f} %'
                        }
                    }
                },
                series: [
                    {
                        type: 'pie',
                        name: '{{ data.report.name|trans }}',
                        data: reasonResultsJson
                    }
                ]
            });
        }
    });
    
</script>