{% set distances = [
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::LESS_THAN_20_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_21_TO_40_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_41_TO_60_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_61_TO_80_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_81_TO_100_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_100_TO_120_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_121_TO_140_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_141_TO_160_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_161_TO_180_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_181_TO_200_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::MORE_THAN_200_YDS')
] %}
<div class="span12">
    {% if data.values %}
    <h2>{{ 'Table'|trans }}</h2>
    <table class="table">
        <theader>
            <tr>
                <th>{{ 'Distance'|trans }}</th>
                {% for distance in distances %}
                <th>{{ distance|trans }}</th>
                {% endfor %}
            </tr>
        </theader>
    {% for i, item in data.values %}
        <tbody>
            <tr>
                <td>{{ i|trans }}</td>
                {% for value in item %}
                <td>{{ value == 0 ? 0 : value|number_format(2) }} %</td>
                {% endfor %}
            </tr>
        </tbody>
    {% endfor %}
    </table>
    {% else %}
        <h4>{{ 'No results'|trans }}</h4>
    {% endif %}
</div>
