<div class="span12">
    <h2>{{ 'Table'|trans }}</h2>
    <table class="table">
        <theader>
            <tr>
                <th>{{ 'Strike'|trans }}</th>
                <th>{{ 'Percent'|trans }}</th>
            </tr>
        </theader>
        <tbody>
        {% for item in data.values.result %}
            <tr>
                <td>{{ item.strike|trans }}</td>
                <td>{{ item.quantity == 0 ? 0 : item.quantity|number_format(2) }} %</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if data.values.result[0].quantity != 0 and data.values.result[1].quantity != 0 and data.values.result[2].quantity != 0 %}
    <h2>{{ 'Graphics'|trans }}</h2>
    <div id="container-{{ data.report.slug }}-strikes" style="height: 500px"></div>
    {% endif %}
    <br/>
</div>

<script>
    $(function() {
        var dataJson = {{ getPercentPieData(data, 'result')|raw }};

        if (dataJson.length > 0) {
            $('#container-{{ data.report.slug }}-strikes').highcharts({
                chart: {
                    type: 'pie'
                },
                title: {
                    text: '{{ data.report.name|trans }}'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            color: '#000000',
                            connectorColor: '#000000',
                            format: '<b>{point.name}</b>: {point.percentage:.2f} %'
                        }
                    }
                },
                series: [
                    {
                        type: 'pie',
                        name: '{{ data.report.name|trans }}',
                        data: dataJson
                    }
                ]
            });
        }
    });
    
</script>
