<div class="span12">
    {% set result = constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Result::OUTSIDE_FAIRWAY') %}
    {% set reasons = [
            constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Reason::TO_THE_LEFT'),
            constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Reason::TO_THE_RIGHT')
    ] %}
    {% set clubs = [
            constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Club::DRIVER'),
            constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Club::WOOD'),
            constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Club::HYBRID'),
            constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Club::IRON')
    ] %}
    {% set ballFlights = [
            constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\BallFlight::STRAIGHT'),
            constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\BallFlight::RIGHT_TO_LEFT'),
            constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\BallFlight::LEFT_TO_RIGHT')
    ] %}
    {% set distances = [
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::LESS_THAN_100_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_100_TO_120_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_121_TO_140_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_141_TO_160_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_161_TO_180_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_181_TO_200_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_201_TO_220_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_221_TO_240_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_241_TO_260_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_261_TO_280_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_281_TO_300_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_301_TO_320_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::MORE_THAN_320_YDS')
] %}
    <h3>{{ result|trans }}</h3>
    <div class="tabbable">
        <ul class="nav nav-tabs">
            {% for reason in reasons %}
            {% set classActive = '' %}
            {% if reason == constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Reason::TO_THE_LEFT') %}
            {% set classActive = 'active' %}
            {% endif  %}
            <li class="{{ classActive }}" ><a href="#{{ reason|replace({'.': ''}) }}" data-toggle="tab">{{ reason|trans }}</a></li>
            {% endfor %}
        </ul>                    
        <div class="tab-content bgcolor">                     
            {% for reason in reasons %}
            {% set classActive = '' %}
            {% if reason == constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Reason::TO_THE_LEFT') %}
            {% set classActive = ' active' %}
            {% endif  %}
            <div id="{{ reason|replace({'.': ''}) }}" class="tab-pane{{ classActive }}">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        {% for club in clubs %}
                        {% set classActive = '' %}
                        {% if club == constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Club::DRIVER') %}
                        {% set classActive = 'active' %}
                        {% endif  %}
                        <li class="{{ classActive }}" ><a href="#{{ (reason~club)|replace({'.': ''}) }}" data-toggle="tab">{{ club|trans }}</a></li>
                        {% endfor %}
                    </ul>                    
                    <div class="tab-content bgcolor">                     
                    {% if data.values %}
                        {% for club in clubs %}
                        {% set classActive = '' %}
                        {% if club == constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Club::DRIVER') %}
                        {% set classActive = ' active' %}
                        {% endif  %}
                        <div id="{{ (reason~club)|replace({'.': ''}) }}" class="tab-pane {{ classActive }}">
                            <h2>{{ club|trans }}</h2>
                            {% if data.values[reason][club] %}
                            <h2>{{ 'Table'|trans }}</h2>
                            <table class="table">
                                <theader>
                                    <tr>
                                        <th>{{ 'Ball flight'|trans }}</th>
                                        {% for distance in distances %}
                                        <th>{{ distance|trans }}</th>
                                        {% endfor %}
                                    </tr>
                                </theader>
                                <tbody>
                                {% for ballFlight in ballFlights %}
                                    <tr>
                                        <td>{{ ballFlight|trans }}</td>
                                        {% for distance in distances %}
                                        {% set quantity = data.values[reason][club][ballFlight][distance] %}
                                        <td>
                                            {% if quantity != 0 %}
                                            {{ quantity|number_format(2) }}
                                            {% else %}
                                            {{ quantity }}
                                            {% endif %}
                                            %
                                        </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% endif %}
                        </div>
                        {% endfor %}
                    {% else %}
                        <h4>{{ 'No results'|trans }}</h4>
                    {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>