{% set results = [
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Result::INSIDE_GREEN'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Result::OUTSIDE_GREEN'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Result::INSIDE_FAIRWAY'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Result::OUTSIDE_FAIRWAY'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Result::HOLE_OUT')
] %}
    
{% set distances = [
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::LESS_THAN_20_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_21_TO_40_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_41_TO_60_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_61_TO_80_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_81_TO_100_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_100_TO_120_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_121_TO_140_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_141_TO_160_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_161_TO_180_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_181_TO_200_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_201_TO_220_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_221_TO_240_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_241_TO_260_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_261_TO_280_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_281_TO_300_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_301_TO_320_YDS'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::MORE_THAN_320_YDS')
] %}
{% set strikeLies = [
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\StrikeLie::BALL_AT_YOUR_FEET'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\StrikeLie::BALL_ABOVE_FEET') ~ ',' ~ constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\StrikeLie::ON_CLIMB'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\StrikeLie::BALL_ABOVE_FEET') ~ ',' ~ constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\StrikeLie::ON_DESCEND'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\StrikeLie::BALL_BELOW_FEET') ~ ',' ~ constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\StrikeLie::ON_CLIMB'),
constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\StrikeLie::BALL_BELOW_FEET') ~ ',' ~ constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\StrikeLie::ON_DESCEND'),
] %}
<div class="span12">
    <div class="tabbable">
        <ul class="nav nav-tabs">
            {% for strikeLie in strikeLies %}
                {% set classActive = '' %}
                {% if strikeLie == constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\StrikeLie::BALL_AT_YOUR_FEET') %}
                    {% set classActive = 'active' %}
                {% endif  %}
                <li class="{{ classActive }}" ><a href="#{{ strikeLie|replace({'.': ''})|replace({',': ''}) }}" data-toggle="tab">{{ strikeLie|trans }}</a></li>
            {% endfor %}
        </ul>
        <div class="tab-content bgcolor">
            {% for strikeLie in strikeLies %}
                {% set classActive = '' %}
                {% if strikeLie == constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\StrikeLie::BALL_AT_YOUR_FEET') %}
                    {% set classActive = ' active' %}
                {% endif  %}
                <div id="{{ strikeLie|replace({'.': ''})|replace({',': ''}) }}" class="tab-pane{{ classActive }}">
                    <h2>{{ 'Table'|trans }}</h2>
                    <table class="table">
                        <theader>
                            <tr>
                                <th>{{ 'Result'|trans }}</th>
                                {% for distance in distances %}
                                    <th>{{ distance|trans }}</th>
                                {% endfor %}
                            </tr>
                        </theader>
                        <tbody>
                        {% for result in results %}
                            <tr>
                                <td>{{ result|trans }}</td>
                                {% for distance in distances %}
                                    {% set quantity = data.values[strikeLie][result][distance] %}
                                    <td>
                                        {% if quantity != 0 %}
                                            {{ quantity|number_format(2) }}
                                        {% else %}
                                            {{ quantity }}
                                        {% endif %}
                                        %
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
</div>