{% set puttDistances = [
    constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::LESS_THAN_1_MTS'),
    constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_1_TO_2_MTS'),
    constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_2_TO_3_MTS'),
    constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_3_TO_5_MTS'),
    constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_5_TO_7_MTS'),
    constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_7_TO_10_MTS'),
    constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::BTW_10_TO_15_MTS'),
    constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\Distance::MORE_THAN_15_MTS')
] %}
<div class="span12">
    {% if data.values %}
    <h2>{{ 'Table'|trans }}</h2>
    <table class="table">
        <theader>
            <tr>
                <th>{{ 'Land slopes'|trans }}</th>
                {% for puttDistance in puttDistances %}
                <th>{{ puttDistance|trans }}</th>
                {% endfor %}
            </tr>
        </theader>
        <tbody>
    {% for landSlope, item in data.values %}
            {% if landSlope == constant('AndresGotta\\Bundle\\GolfBundle\\ValueObject\\LandSlope::STRAIGHT') %}
            
            <tr>
                <td>{{ landSlope|trans }}</td>
                {% for percentage in item %}
                <td>{{ percentage == 0 ? 0 : percentage|number_format(2) }} %</td>
                {% endfor %}
            </tr>
            
            {% else %}

            {% for deviation, value in item %}
            
            </tr>
                <td>{{ landSlope|trans }} {{ deviation|trans }}</td>
                {% for percentage in value %}
                <td>{{ percentage == 0 ? 0 : percentage|number_format(2) }} %</td>
                {% endfor %}
            </tr>
            
            {% endfor %}

            {% endif %}
    {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h4>{{ 'No results'|trans }}</h4>
    {% endif %}
</div>