{% extends 'WebFactoryUserBundle::layout.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('academy_places.list.title') }}{% endblock headline %}

{% block content -%}

    <h1>{{ academy.academyName }}</h1>

    {{ macros.actions([ macros.link('andres_gotta_academy_backend_academy_places_new', academy, 'Create a new entry'|trans, 'btn-primary') ]) }}

    <div class="grid">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Address'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for place in academy.academyPlaces %}
                <tr>
                    <td>{{ place.name }}</td>
                    <td>{{ place.address }}</td>
                    <td>
                        <ul class="grid-row-actions">
                            <li>
                                <a href="{{ path('andres_gotta_academy_backend_academy_places_edit', {id: place.id}) }}" class="btn-action glyphicons pencil btn-success"><i></i></a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {{ macros.actions([ macros.link('andres_gotta_academy_backend_academy_places_new', academy, 'Create a new entry'|trans, 'btn-primary') ]) }}


{% endblock %}
