{% if type == 'creditCard' %}
    {% for entity in entities %}
        <option value="{{ entity.identificationCode }}">{{ entity.name }}</option>
    {% endfor %}
{% endif %}

{% if type == 'dues' %}
    {% for entity in entities %}
        <option value="{{ entity.coefficient }}" {% if loop.index == 1 %}selected{% endif %}>{{ entity.quantity }}</option>
    {% endfor %}
{% endif %}