{% extends '::base.html.twig' %}

{% macro player_prototype(playerField) %}
    <div class="form-group" style="margin-bottom: 8px">
        <div class="row-fluid">
            <div class="span7 offset1">
                {{ form_widget(playerField.player) }}
            </div>
            <div class="span4">
                <a href="#" class="collection-delete btn btn-danger">Quitar</a>
                <a href="#" class="collection-add btn btn-success">Agregar</a>
            </div>
        </div>
        <section class="validation">{{ form_errors(playerField.player) }}</section>
    </div>
{% endmacro %}

{% block content -%}

    <div class="nuevo-dashboard">
        <div class="reportarea">
            {% include '@AndresGottaHomepage/Frontend/Homepage/dashboard_sidebar.html.twig' %}

            <div class="bloque-central-stats">
                {{ form_start(form) }}
                    {{ form_row(form.name) }}
                    <div id="player-list" data-prototype="{{ _self.player_prototype(form.players.vars.prototype)|e }}">
                        {% for playerField in form.players %}
                            {{ _self.player_prototype(playerField) }}
                        {% endfor %}
                    </div>
                    {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{%- endblock content %}

{% block head_style %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/webfactoryform/css/lib/select2.min.css') }}">
{% endblock head_style %}

{% block foot_script %}
    {{ parent() }}
    <script src="{{ asset('bundles/webfactoryform/js/lib/select2.full.min.js') }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/i18n/es.js"></script>

    <script>
        var collectionCount = '{{ form.players|length }}',
            playerList = $('#player-list')
        ;

        $(document).ready(function() {
            if (collectionCount == 0) {
                var newWidget = playerList.attr('data-prototype');
                newWidget = newWidget.replace(/__name__/g, collectionCount);
                playerList.append(newWidget);
                setAutocomplete($('#group_type_players_'+collectionCount+'_player'));

                collectionCount++;
            }

            playerList.on('click', '.collection-add', function(e) {
                e.preventDefault();

                var newWidget = playerList.attr('data-prototype');
                newWidget = newWidget.replace(/__name__/g, collectionCount);

                $(this).closest('.form-group').parent().append(newWidget);
                setAutocomplete($('#group_type_players_'+collectionCount+'_player'));

                collectionCount++;
            });

            playerList.on('click', '.collection-delete', function(e) {
                e.preventDefault();
                $(this).closest('.form-group').remove();
            });

            $.each($('select'), function() {
                setAutocomplete($(this));
            })
        });

        function setAutocomplete(widget) {
            widget.select2({
                language: "es",
                ajax: {
                    url: "{{ path('frontend_group_search_player') }}",
                    dataType: 'json',
                    delay: 500,
                    data: function (params) {
                        return {
                            q: params.term, // search term
                            page: params.page
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;

                        return {
                            results: data,
                            pagination: {
                                more: (params.page * 30) < data.total_count
                            }
                        };
                    }
                },
                escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
                minimumInputLength: 3,
                templateResult: formatResponse, // omitted for brevity, see the source of this page
                templateSelection: function (response) {return response.fullName || response.text;}
            });
        }

        function formatResponse (response) {

            if (response.loading) return 'Cargango resultados';

            var markup = "<div class='select2-result-repository clearfix'>" +
                    "<div class='select2-result-repository__meta'>" +
                    "<div class='select2-result-repository__title'>" + response.fullName + "</div>";

            return markup;
        }
    </script>
{% endblock %}