{% extends '::base.html.twig' %}

{% block content -%}

    <div class="nuevo-dashboard">
        <div class="reportarea">
            {% include '@AndresGottaHomepage/Frontend/Homepage/dashboard_sidebar.html.twig' %}

            <div class="bloque-central-stats">
                {% for groupPlayer in groups %}
                    {% set group = groupPlayer.group %}
                    {% if group.authorized %}
                        <a class="mega-box-a hvr-shutter-out-horizontal" href="#" title="{{ group.name }}">
                            {{ group.name }} <span>{{ 'more'|trans }}</span>
                        </a>
                        <div class="group-data" style="display:none">
                            {% if app.user in group.userAdmins %}
                                <a href="{{ path('frontend_group_edit', {id: group.id}) }}" class="btn btn-primary">{{ 'Edit group'|trans }}</a>
                            {% else %}
                                {% set playerGroup = app.user.playerByGroup(group) %}
                                <a href="{{ path('frontend_group_view_user', {group: group.id, player: playerGroup.id }) }}"
                                   class="btn btn-primary" title="Ver comparativas del jugador">
                                    {{ 'Result'|trans }}
                                </a>
                                {% if playerGroup.wannaBeAdmin == false %}
                                    <a href="{{ path('frontend_group_request_admin', { 'id': group.id }) }}"
                                       class="btn btn-primary" title="Solicitar ser administrador del grupo">
                                        {{ 'Admin'|trans }}
                                    </a>
                                {% endif %}
                            {% endif %}
                            <table class="table table-hover table-group" >
                                <thead>
                                <tr>
                                    <th>{{ 'Players'|trans }}</th>
                                    <th>{{ 'Confirmed'|trans }}</th>
                                    <th>{{ 'Status'|trans }}</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in group.players if not user.isAdmin %}
                                    <tr>
                                        <td>{{ user.player }}</td>
                                        <td>{% if user.isConfirmed == 0 %}{{ 'No'|trans }}{% else %}{{ 'Yes'|trans }}{% endif %}</td>
                                        <td>
                                            {% if user.groupMember %}
                                                <span class="label label-success">{{ 'Active'|trans }}</span>
                                            {% else %}
                                                <span class="label label-danger">{{ 'Inactive'|trans }}</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% set removed = constant('\\AndresGotta\\Bundle\\GroupBundle\\ValueObject\\PlayerStatuses::REMOVED') %}
                                            {% if user.isConfirmed == 1 and app.user in group.userAdmins %}
                                                {% if user.status == removed %}
                                                    {% set confirmed = constant('\\AndresGotta\\Bundle\\GroupBundle\\ValueObject\\PlayerStatuses::CONFIRMED') %}
                                                    <a href="{{ path('frontend_user_group_change', {group: group.id, user: user.id, status: confirmed}) }}" title="Volver agregar jugador">
                                                        <span class="glyphicons user_add"><i></i></span>
                                                    </a>
                                                {% else %}
                                                    <a href="{{ path('frontend_group_view_user', {group: group.id, player: user.id}) }}" title="Ver comparativas del jugador">
                                                        <span class="glyphicons stats"><i></i></span>
                                                    </a>
                                                    <a href="{{ path('frontend_user_group_change', {group: group.id, user: user.id, status: removed}) }}" title="Quitar jugador">
                                                        <span class="glyphicons user_remove"><i class="remove"></i></span>
                                                    </a>
                                                {% endif %}
                                            {% else %}
                                                {% if user.player == app.user %}
                                                    {% if user.status != removed %}
                                                        <a href="{{ path('frontend_group_show', {id: group.id}) }}">Ver invitación</a>
                                                    {% else %}
                                                        <span>Dado de baja</span>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <a class="mega-box-a hvr-shutter-out-horizontal" style="background:#333" title="{{ 'authorization pending'|trans }}">
                            {{ group.name }} <span style="color:#fff">{{ 'authorization pending'|trans }}</span>
                        </a>
                    {% endif %}
                {% else %}
                    <p>{{ 'no data'|trans }}</p>
                {% endfor %}
            </div>
        </div>
    </div>

{%- endblock content %}

{% block foot_script %}
    {{ parent() }}

    <script>
        $(function() {
            $('.mega-box-a').on('click', function() {
                $('.group-data').hide();

                $(this).next().slideDown('slow');
            })
        })
    </script>
{% endblock %}