{% extends '::base.html.twig' %}

{% block content -%}

    <div class="nuevo-dashboard">
        <div class="reportarea">
            {% include '@AndresGottaHomepage/Frontend/Homepage/dashboard_sidebar.html.twig' %}

            <div class="bloque-central-stats">

                <div class="pageblockservice pageblockbg">

                    <p>El usuario <strong>{{ group.admin }}</strong> lo invito a participar de este grupo.</p>

                    {% if not group_user_confirmed(group, app.user) %}
                        <a href="{{ path('frontend_group_toggle', {id: group.id}) }}" class="btn">{{ 'Confirm participant'|trans }}</a>
                    {% else %}
                        <p style="font-style: italic; font-weight: bolder">Ya estás participando de este grupo</p>
                        <a href="{{ path('frontend_group_toggle', {id: group.id}) }}" class="btn btn-danger">{{ 'Unconfirm participant'|trans }}</a>
                    {% endif %}
                </div>


            </div>
        </div>
    </div>

{%- endblock content %}

{% block foot_script %}
    {{ parent() }}

{% endblock %}