{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Sale list') }}{% endblock headline %}

{% block content -%}

<div class="pageblock">
    <div class="pageblockgeneric">
        <div class="pageblockbg">
            <h3 class="title">{{ 'Sale list'|trans }}</h3>
            <div class="pageblockservice listOfOrder">
                <form method="get" action=".">
                    {{ form_rest(filter_form) }}
                    <div class="listOfOrderBotonera">
                        <input class="btn btn-primary listOfOrderBotoneraFilter" type="submit" name="submit-filter" value="{{ 'filter'|trans }}" />
                        <a class="btn btn-primary listOfOrderBotoneraClean" href="{{ path('frontend_sale') }}">{{ 'reset'|trans }}</a>                                
                    </div>    
                </form>
                    
                <script>
                    $(function(){
                      $('input[data-date-format]').datepicker()
                    });
                </script>

                {# total items count #}
                <div class="count">
                    {{ pagination.getTotalItemCount }} resultados
                </div>

                <table class="table table-bordered">
                    <tr>
                        <th{% if pagination.isSorted('Ord.createdAt') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Created At'|trans, 'Ord.createdAt') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Validity'|trans, 'CustomItem.days') }}</th>
                        <th>{{ 'status'|trans }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Type'|trans, 'CustomItem.type') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Description'|trans, 'Item.description') }}</th>
                        <th></th>
                    </tr>

                    {% for customItem in pagination %}
                    <tr {% if loop.index is odd %}class="color"{% endif %}>
                        <td>{{ customItem.item.order.createdAt|date('d/m/Y') }}</td>
                        {% if customItem.days == false %}
                            <td>{{ 'lifetime'|trans }}</td>
                        {% else %}
                            <td>{{ customItem.days ~ ' ' ~ 'days'|trans }}</td>
                        {% endif %}
                        {% if customItem.item.order.status == 'order.status.paid' %}
                            <td>{{ 'active'|trans }}</td>
                        {% else %}
                            <td>{{ 'expired'|trans }}</td>
                        {% endif %}
                        <td>{{ customItem.type|trans }}</td>
                        <td>{{ customItem.item.description|trans }}</td>
                        <td><a href="{{ path('frontend_sale_cancel', {'id': customItem.id}) }}"><button class="btn-small btn-danger">{{ 'service_cancel'|trans }}</button></a></td>
                    </tr>
                    {% endfor %}
                </table>
                
                <br/>
                <br/>
                <a class="{{ activeRoute('frontend_service') }} linkear" href="{{ path('frontend_service') }}">Comprar más {{ 'Services'|trans }}</a>
                
                {# display navigation #}
                <div class="navigation">
                {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}