{% extends "WebFactoryUserBundle::layout.html.twig" %}

{% block content %}
  {% block fos_user_content %}

  {% if route_login_check is not defined %}
    {% set route_login_check = "backend_fos_user_security_check" %}
  {% endif %}

  {% if show_form is not defined %}
    {% set show_form = "0" %}
  {% endif %}

  <div class="row-fluid">

    {% if error %}
      <div class="login_errors clearfix">
        {{ error|trans({}, 'FOSUserBundle') }}
      </div>
    {% endif %}

    <div id="loginbox" class="clearfix">
      <form id="loginform" action="{{ path(route_login_check) }}" method="post">
          <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

          <p>{{ 'security.login.intro'|trans({}, 'FOSUserBundle') }}</p>
          <div class="control-group">
            <div class="controls">
              <div class="input-prepend">
                <span class="add-on"><i class="icon-user"></i></span><input placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
              </div>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <div class="input-prepend">
                <span class="add-on"><i class="icon-lock"></i></span><input type="password" id="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}" />
              </div>
            </div>
          </div>
          <div class="form-actions">
            {#<span class="pull-left"><a href="#" class="flip-link" id="to-recover">{{ 'security.login.recovery'|trans({}, 'FOSUserBundle') }}</a></span>#}
            <span class="pull-right"><input type="submit" name="_submit" class="btn btn-inverse" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" /></span>
          </div>

          {#
          <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
          <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
          #}
      </form>

        <p style="float: right;margin: 2em;">
            <a href="{{ path('backend_fos_user_resetting_request', {}, true)|replace({'./':''}) }}">Recuperar cuenta</a>
        </p>

      {#<form id="recoverform" action="{{ path('backend_fos_user_resetting_send_email') }}" method="post">#}
          {#<p>{{ 'security.resetting.intro'|trans({}, 'FOSUserBundle') }}</p>#}

          {#{% if invalid_username is defined %}#}
          {#<p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>#}
          {#{% endif %}#}

          {#<div class="control-group">#}
            {#<div class="controls">#}
              {#<div class="input-prepend">#}
                {#<span class="add-on"><i class="icon-envelope"></i></span><input type="text" name="username" required="required" placeholder="{{ 'security.resetting.email'|trans({}, 'FOSUserBundle') }}" />#}
              {#</div>#}
            {#</div>#}
          {#</div>#}
          {#<div class="form-actions">#}
            {#<span class="pull-right"><input type="submit" class="btn btn-inverse" value="{{ 'security.resetting.recover'|trans({}, 'FOSUserBundle') }}" /></span>#}
          {#</div>#}
      {#</form>#}
    </div>
  </div>
  {% endblock fos_user_content %}
{% endblock %}