{#{% extends '::base.html.twig' %}#}

{% block content %}
<h3>{{ 'transaction'|trans }}</h3>
					
<p>{{ 'transaction.description'|trans }}</p>

<h4>{{ 'transaction.client'|trans }}</h4>
<ul>
    <li>{{ 'transaction.client.name'|trans }}: {{ user.profile.firstName }} {{ user.profile.lastName }}</li>
    <li>{{ 'transaction.client.email'|trans }}: {{ data.user.email }}</li>
</ul>

<h4>{{ 'transaction.order'|trans }}</h4>
<ul>
    <li>{{ 'transaction.order.number'|trans }}: {{ data.id }}</li>
    <li>{{ 'transaction.order.created.at'|trans }}: {{ data.createdAt|date('Y-m-d H:i:s') }}</li>
    <h4>{{ 'transaction.item'|trans }}</h4>
    <ul>
    {% for item in data.items %}
        <li>{{ 'transaction.item.description'|trans }}: {{ item.description }}</li>
        <li>{{ 'transaction.item.price'|trans }}: $ {{ item.price|number_format(2, ',', '.') }}</li>
    {% endfor %}
    </ul>
    <li>{{ 'transaction.order.total'|trans }}: $ {{ data.total|number_format(2, ',', '.') }}</li>
</ul>


{% endblock content %}
