{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Sale edit') }}{% endblock headline %}

{% block content -%}
    {{ form_start(form) }}
        {{ form_row(form.item) }}
        {{ form_row(form.type) }}
        {{ form_row(form.price) }}
        {{ form_row(form.days) }}
        <span class="help-block">
            Contratado el día <b>{{ item.item.order.createdAt|date('d-m-Y') }} </b><br>
            {% set daysRemaining = item.days - ('now'|date('d-m-Y') - item.item.order.createdAt|date('d-m-Y'))  %}
            {% set modify = "+%s day"|format(daysRemaining) %}
            Vence el <b>{{ 'now'|date_modify(modify)|date("d-m-Y") }}</b>
        </span>
    {{ form_end(form) }}
{% endblock %}