{% extends '::grid.html.twig' %}

{% block grid_column_type_cell %}
    {% set value = value|trans %}
    {{ block('grid_column_cell') }}
{% endblock grid_column_type_cell %}

{% block grid_column_days_cell %}
    {% set value = value ~ ' ' ~ 'days'|trans %}
    {{ block('grid_column_cell') }}
{% endblock grid_column_days_cell %}

{% block grid_column_days_to_expire_cell %}
    {% if value != 'expired' and value != 'unpaid' %}
        {% set value = value ~ ' ' ~ 'days'|trans %}
    {% else %}
        {% set value = value|trans %}
    {% endif %}
    {{ block('grid_column_cell') }}
{% endblock grid_column_days_to_expire_cell %}
