{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Sale list') }}{% endblock headline %}

{% block content -%}

{% include '::filters.html.twig' with {'grid':grid, 'gridBlock':'AndresGottaSaleBundle:Backend/Sale:grid.html.twig'} only %}

{{ grid(grid, 'AndresGottaSaleBundle:Backend/Sale:grid.html.twig') }}

{% endblock %}