{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
    <div class="clearme"></div>
<div class="pagination">

    <span class="first">
        {% if first is defined and current != first %}
            <a href="{{ path(route, query|merge({(pageParameterName): first})) }}">&lt;&lt;</a>
        {% else %}
            <a href="" class="disabled">&lt;&lt;</a>
        {% endif %}
    </span>

    <span class="previous">
    {% if previous is defined %}
        <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&lt;</a>
    {% else %}
        <a href="" class="disabled">&lt;</a>
    {% endif %}
    </span>

    {% for page in pagesInRange %}
        {% if page != current %}
            <span class="page">
                <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
            </span>
        {% else %}
            <span class="current">{{ page }}</span>
        {% endif %}

    {% endfor %}

    <span class="next">
    {% if next is defined %}
        <a href="{{ path(route, query|merge({(pageParameterName): next})) }}">&gt;</a>
    {% else %}
        <a href="" class="disabled">&gt;</a>
    {% endif %}
    </span>

    <span class="last">
    {% if last is defined and current != last %}
        <a href="{{ path(route, query|merge({(pageParameterName): last})) }}">&gt;&gt;</a>
    {% else %}
        <a href="" class="disabled">&gt;&gt;</a>
    {% endif %}
    </span>
</div>
    <div class="clearme"></div>
{% endif %}
