<div class="bloque-lateral-menu-stats">
    <h1>{{ app.user.profile }}</h1>
    <h2>{{ 'Round count'|trans }}: <b>{{ app.user.rounds|length }}</b></h2>
    <h2>{{ 'Hole count'|trans }}: <b>{{ app.user.totalHoles }}</b></h2>

    <ul>
        {% if (is_group_manager(app.user)) %}
            <li><a class="hvr-shutter-out-horizontal" href="{{ path('frontend_group_create') }}">{{ 'New group'|trans }}</a></li>
            <li><a class="hvr-shutter-out-horizontal" href="{{ path('frontend_group_index') }}">{{ 'Groups'|trans }}</a></li>
        {% else %}
            <li><a class="hvr-shutter-out-horizontal" href="{{ path('frontend_group_index') }}">{{ 'User group list'|trans }}</a></li>
        {% endif %}

        <li class="bg-grey"><a class="hvr-shutter-out-horizontal" href="{{ path('frontend_round') }}">{{ 'My rounds'|trans }}</a></li>
        <li class="bg-grey">
            <a class="hvr-shutter-out-horizontal" href="#" data-toggle="popover"
               data-content=" "
               data-placement="right"
               data-original-title="Estamos rediseñando esta sección, disculpe las molestias.">
                {{ 'Statistics'|trans }}
                <p class="help-inline"><i class="icon-info-sign"></i></p>
            </a>
        </li>
    </ul>

    {% if player.player.id != app.user.id %}
        <small style="text-align: center;width: 100%;float: right;margin: 10px 0;">Resumen del jugador</small>

        <h1>{{ player.player.profile }}</h1>
        <h2>{{ 'Round count'|trans }}: <b>{{ player.player.rounds|length }}</b></h2>
        <h2>{{ 'Hole count'|trans }}: <b>{{ player.player.totalHoles }}</b></h2>
    {% endif %}
</div>