{% extends '::base.html.twig' %}

{% block content -%}
    {% if return %}
        <div class="nuevo-dashboard">
            <div class="reportarea">

                {% include '@AndresGottaHomepage/Frontend/Homepage/dashboard_sidebar.html.twig' %}

                <div class="bloque-central-stats">

                    {% for comparative in comparatives %}
                        <a class="mega-box-a hvr-shutter-out-horizontal" href="#" title="{{ comparative.name }}">
                            {{ comparative.name }} <span>Conocé más</span>
                        </a>
                        <div class="bloque-central-stats-box" style="display: none;">
                            <h2>{{ comparative.description|raw }}</h2>

                            <div class="grafica-container text-center">{{ comparativeGraphic(comparative) }}</div>

                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    {% else %}
        <div class="nuevo-dashboard" style="text-align: center;">
            <img src="../img/error-403.jpg" alt="">
        </div>
    {% endif %}
{%- endblock content %}

{% block foot_script %}
    {{ parent() }}

    <script>
        $(function () {
            $('.mega-box-a').on('click', function(e) {
                e.preventDefault();

                $(this).next().toggle('slow');
            });

            //chart
            $('.horizontal .progress-fill span').each(function () {
                var percent = $(this).html();
                $(this).parent().css('width', percent+"%");
            });
            $('.vertical .progress-fill span').each(function () {
                var percent = $(this).html();
                var pTop = 100 - (percent.slice(0, percent.length - 1)) + "%";
                $(this).parent().css({
                    'height': percent,
                    'top': pTop
                });
            });

            $(".bloque-central-grafica").each(function () {
                var theThis = $('.chart-primay-value', this);

                myFunctionCPV(theThis);

                var myCard2 = $('.card-box-2', this);
                var myCard4 = $('.card-box-4', this);

                myFunctionCHART(myCard2);
                myFunctionCHART(myCard4);
            });


            function myFunctionCPV($param) {
                $cpv = $($param);
                $typeppc2 = $cpv.data('type');
                $percentppc2 = parseFloat($cpv.data('percent'));

                $('span', $cpv).html($percentppc2 + '<strong class="porcentajechart">%</strong>');
                $('.chart-type', $cpv).html($typeppc2 + '<strong class="porcentajechart">%</strong>');
            }

            function myFunctionCHART($param) {
                $ppc = $($param);
                $nameppc = $ppc.data('name');
                $widthppc = parseInt($ppc.data('width'));
                $sizeppc = parseInt($ppc.data('size'));
                $colorppc = $ppc.data('color');
                $basecolorppc = $ppc.data('basecolor');
                $percentppc = parseFloat($ppc.data('percent'));
                $typeppc = $ppc.data('type');
                $name = $nameppc;

                $perc = $percentppc;
                $size = $sizeppc;
                $width = $widthppc;
                $base = $basecolorppc;
                $center = '#eeeeee';
                $color = $colorppc;

                $textColor = $color;
                $textSize = 36;
                $type = $typeppc;

                $color2 = $color;
                $base2 = $base;
                $deg = (($perc / 100) * 360);
                $deg1 = 90;
                $deg2 = $deg;

                // If percentage is less than 50%
                if ($perc < 50) {
                    $base = $color;
                    $color = $base2;
                    $color2 = $base2;
                    $deg1 = ($perc / 100 * 360 + 90);
                    $deg2 = 0;
                }

                $('.donut-chart' + $name, $ppc).css({
                    'width': $size,
                    'height': $size,
                    'background': $base
                });

                $('.donut-chart' + $name + ' .slice.one', $ppc).css({
                    'clip': 'rect(0,' + $size + 'px, ' + ($size / 2) + 'px, 0)',
                    'WebkitTransform': 'rotate(' + $deg1 + 'deg)',
                    'transform': 'rotate(' + $deg1 + 'deg)',
                    'background': $color
                });
                $('.donut-chart' + $name + ' .slice.two', $ppc).css({
                    'clip': 'rect(0,' + ($size / 2) + 'px,' + $size + 'px,0)',
                    'WebkitTransform': 'rotate(' + $deg2 + 'deg)',
                    'transform': 'rotate(' + $deg2 + 'deg)',
                    'background': $color2
                });
                $('.donut-chart' + $name + ' .chart-center', $ppc).css({
                    'top': $width,
                    'left': $width,
                    'width': ($size - ($width * 2)),
                    'height': ($size - ($width * 2)),
                    'background': $center
                });
                $('.donut-chart' + $name + ' .chart-center span', $ppc).css({
                    'font-size': $textSize,
                    'color': $textColor
                });

                $('.donut-chart' + $name + ' .chart-center span', $ppc).html($perc + '<strong class="porcentajechart">%</strong>');
                $('.donut-chart' + $name + ' .chart-center .chart-type', $ppc).html($type + '<strong class="porcentajechart">%</strong>');
            }

        });

    </script>
{% endblock %}
