{% extends '@AndresGottaHomepage/Frontend/Homepage/dashboard.html.twig' %}

{% block content -%}

    <div class="nuevo-dashboard">
        <div class="reportarea">

            {% include '@AndresGottaHomepage/Frontend/Homepage/dashboard_player.html.twig' %}

            <div class="bloque-central-stats">

                <h1>Resultados para el jugador {{ player.player.profile }}</h1>

                {% for comparative in comparatives %}
                    <a class="mega-box-a hvr-shutter-out-horizontal" href="#" title="{{ comparative.name }}">
                        {{ comparative.name }} <span>Conocé más</span>
                    </a>
                    <div class="bloque-central-stats-box" style="display: none;">
                        <h2>{{ comparative.description|raw }}</h2>

                        <div class="grafica-container text-center">{{ comparativeGraphic(comparative, group) }}</div>

                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
{%- endblock content %}