{% extends "::base.html.twig" %}

{% block featureimage %}{% endblock featureimage %}

{% block content %}
    <style>
        .btn-gpstats,.btn-sportsintouch{
            border: 2px solid white;
            padding:13px 30px;
            position:absolute;
            bottom: 65px;
            left: 50%;
            transform: translateX(-50%);
            color: white;
            font-size: 19px;
            font-weight: bold;
        }
        .btn-gpstats:hover,.btn-sportsintouch:hover{
            color: white;
            text-decoration: none;
            background-color: #000000;
            border-color: #000000;
        }
        .btn-gpstats:focus,.btn-sportsintouch:focus{
            color: white;
            text-decoration: none;
        }
        #slides .slidesline5 {
            background: none;
        }
    </style>

<!--slider-->
	<div id="sliderarea" style="height: 404px;">
	    <div id="slides" style="height:360px;margin-top: 30px;">
            <div class="slidesline slidesline5 noshow special slide-sportsintouch" style="height: 360px;">
                <span class="slidescontent">
                    <div style=" background: url({{ asset('bundles/andresgottafrontendtheme/img/bg_slide_sportsintouch.jpg') }}) no-repeat bottom; width: 100%; height: 100%;">

                        <div style="width: 674px; height: 300px; margin: auto; text-align: center; background: url({{ asset('bundles/andresgottafrontendtheme/img/content_slide_sportsintouch.png') }}) no-repeat
                                top;">
                            <a href="http://sportsintouch.com.ar" class="btn-sportsintouch" target="_blank">INGRESAR</a>
                        </div>

                    </div>
		        </span>
            </div>

            <div class="slidesline slidesline5 noshow special" style="height: 360px;">
                <span class="slidescontent">
                    <div style="background: url({{ asset('bundles/andresgottafrontendtheme/img/bg_slide_gpstats.jpg') }}) no-repeat bottom; width: 100%; height: 100%;">
                        <div style="width: 674px; height: 300px; margin: auto; text-align: center; background: url({{ asset('bundles/andresgottafrontendtheme/img/content_slide_gpstats.png') }}) no-repeat top;
                                ">
                            <a href="http://www.gpstats.com.ar" class="btn-gpstats" target="_blank">INGRESAR</a>
                        </div>
                    </div>
		        </span>
            </div>

	    </div>
	</div>

<!--blocknews-->
	<div id="blocknews">
		<div class="blocknewscontainer">
            {% for news in lastestNews|slice(0, 2) %}
                <div class="block">
                    <figure>
                        {% if news.mainImage and news.mainImage.filePath %}
                            <a href="{{ path('frontend_news_show', { 'id': news.slug }) }}"><img src="{{ news.mainImage.cover|imagine_filter('news_thumb')  }}" /></a>
                        {% else %}  
                            <a href="{{ path('frontend_news_show', { 'id': news.slug }) }}"><img src="{{ asset('img/default-service.jpg') }}" /></a>
                        {% endif %} 
                    </figure>
                    <div class="text">
                        <div class="category">
                            <ul>
                                <li><a class="category" href="{{ path('frontend_news_by_category', { 'category': news.category.slug }) }}">{{ news.category.name }}</a></li>
                            </ul>						
                        </div>
                        <div class="tags">
                            <ul>
                                {% for tag in news.tags %}
                                <li><a href="{{ path('frontend_news_by_tag', {tag:tag.slug}) }}">{{ tag.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <h1><a href="{{ path('frontend_news_show', { 'id': news.slug }) }}">{{ news.title }}</a></h1>
                        <h2><a href="{{ path('frontend_news_show', { 'id': news.slug }) }}">{{ news.abstract }}</a></h2>
                        <div class="comments"><a href="{{ path('frontend_news_show', { 'id': news.slug }) }}#comments">{{ news.comments|length }}</a><span></span></div>
                    </div>
                </div>
            {% endfor %}
                
            {% for news in highlightedNews|slice(0, 2) %}
            	<div class="block">
                    <figure>
                        {% if news.mainImage and news.mainImage.filePath %}
                            <a href="{{ path('frontend_news_show', { 'id': news.slug }) }}"><img src="{{ news.mainImage.cover|imagine_filter('news_thumb')  }}" /></a>
                        {% else %}  
                            <a href="{{ path('frontend_news_show', { 'id': news.slug }) }}"><img src="{{ asset('img/default-service.jpg') }}" /></a>
                        {% endif %} 
                    </figure>
                    <div class="text">
                        <div class="category">
                            <ul>
                                <li><a class="category" href="{{ path('frontend_news_by_category', { 'category': news.category.slug }) }}">{{ news.category.name }}</a></li>
                            </ul>						
                        </div>
                        <div class="tags">
                            <ul>
                                {% for tag in news.tags %}
                                <li><a href="{{ path('frontend_news_by_tag', {tag:tag.slug}) }}">{{ tag.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <h1><a href="{{ path('frontend_news_show', { 'id': news.slug }) }}">{{ news.title }}</a></h1>
                        <h2><a href="{{ path('frontend_news_show', { 'id': news.slug }) }}">{{ news.abstract }}</a></h2>
                        <div class="comments"><a href="{{ path('frontend_news_show', { 'id': news.slug }) }}#comments">{{ news.comments|length }}</a><span></span></div>
                    </div>
                </div>
            {% endfor %}
		</div>
	</div>

<!--socialblock-->
	<div id="socialblock" class="width960">
        <div class ="width320 blocksocial newsletterblock">
            <div class="socialbox">
                <span class="marquer"></span>
                <div id="subscriptionFormContainer">
                {{ render(controller('WebFactoryNewsLetterBundle:Frontend/Subscription:subscribe')) }}
                </div>
            </div>  
        </div>
        <div class="width320 blocksocial facebookblock">
            <div class="socialbox">
                <span class="marquer"></span>    
                <iframe src="//www.facebook.com/plugins/likebox.php?href=https://www.facebook.com/AndresGottaGolf&amp;width=292&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=571705546207540" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:258px;" allowTransparency="true"></iframe>
            </div> 
        </div>
        <div class="width320 blocksocial twitterblock">
            <div class="socialbox">
                <span class="marquer"></span>
				<div class="twittercontent">
					<a class="twitter-timeline" height="260" data-dnt="true" href="https://twitter.com/andresgotta" data-widget-id="372758928649515008">Tweets por @andresgotta</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

					<!--<div class="twitterbg">
						<figure>
							<a href="#"><img src="{{ asset('img/twitter/twitter-avatar.jpg') }}" alt="Andres Gotta"></a>
						</figure>
						<div class="name">
							<h1><a href="#">@andresgotta</a></h1>
							<h2><a href="#">San Francisco, USA</a></h2>
						</div>
					</div>
					<div class="twittertext">
						<ul>
							<li>587<br/><span>Tweets</span></li>
							<li>1918<br/><span>Siguiendo</span></li>
							<li>10496<br/><span>Seguidores</span></li>
						</ul>
						<div class="twittertweets">
					    	<p>I am selling my black iPhone 4 16GB with a broken front glass and a non working homebutton for just 679€! <a href="#">pic.twitter.com/TYLpm9Ja</a></p>
					  		<span>16 Sep</span>							
						</div>
					</div>-->
				</div>
            </div>     
        </div>
    </div>

{% endblock content %}