<!doctype html>
<html lang="es">
<!--

Page    : index / MobApp
Version : 1.0
Author  : Colorlib
URI     : https://colorlib.com

 -->

<head>
    <title>Sports in touch - by Andrés Gotta Golf</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Gestión colectiva y eficiente, conviven en un único ambiente diferentes sedes de una misma academia, profesores de tus deportes, alumnos de tus academias y toda la comunicación que entre ellos se genera">
    <meta name="keywords" content="mobile, app, ios, android, sport, touch, deportes, enseñanza, profeso, alumno, conexión, contacto">

    <!-- Font -->
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css?family=Chivo:400,700,900" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('upgrade-landing/css/bootstrap.min.css') }}">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="{{ asset('upgrade-landing/css/themify-icons.css') }}">
    <!-- Owl carousel -->
    <link rel="stylesheet" href="{{ asset('upgrade-landing/css/owl.carousel.min.css') }}">
    <!-- Main css -->
    <link rel="stylesheet" href="{{ asset('upgrade-landing/css/style.css') }}">
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="30">

    <!-- Nav Menu -->

    <div class="nav-menu fixed-top bg-gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-dark navbar-expand-lg">
                        <a class="navbar-brand" href="#"><img src="{{ asset('upgrade-landing/images/logo.png') }}" class="img-fluid" alt="logo"></a>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="section">

        <div class="container alert alert-warning text-center">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Usted no tiene servicios activos o bien nunca adquirió uno.</strong>
        </div>

        {#actualiza a pro#}
        <div class="section" id="pricing">
            <div class="container">
                <div class="section-title">
                    <small>PRECIOS</small>
                    <h3>Actualiza a Pro</h3>
                </div>
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#price-personal">Personal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#price-individual-academy">Academia Individual</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#price-team-academy">Academia Equipos</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="price-personal">
                        <div class="d-flex flex-column">
                            <!-- <div class="section-title">
                                <h2 >Personal</h2>
                            </div> -->
                            <div>
                                <div class="card-deck">
                                    <div class="card pricing">
                                        <div class="card-head">
                                            <small class="text-primary">Basico</small>
                                            <span class="price">$250<sub>por mes</sub></span>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <div class="list-group-item">1 Profesor</div>
                                            <div class="list-group-item">Hasta 20 Alumnos</div>
                                        </ul>
                                        <div class="card-body">
                                            <a href="http://center.php71.projectsunderdev.com/services/1" target="_blank" class="btn btn-primary btn-lg btn-block">Seleccionar plan</a>
                                        </div>
                                    </div>
                                    <div class="card pricing popular">
                                        <div class="card-head">
                                            <small class="text-primary">Medio</small>
                                            <span class="price">$450<sub>por mes</sub></span>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <div class="list-group-item">1 Profesor</div>
                                            <div class="list-group-item">Hasta 40 Alumnos</div>
                                        </ul>
                                        <div class="card-body">
                                            <a href="http://center.php71.projectsunderdev.com/services/2" target="_blank" class="btn btn-primary btn-lg btn-block">Seleccionar plan</a>
                                        </div>
                                    </div>
                                    <div class="card pricing">
                                        <div class="card-head">
                                            <small class="text-primary">Profesional</small>
                                            <span class="price">$600<sub>por mes</sub></span>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <div class="list-group-item">1 Profesor</div>
                                            <div class="list-group-item">Alumnos ilimitados</div>
                                        </ul>
                                        <div class="card-body">
                                            <a href="http://center.php71.projectsunderdev.com/services/3" target="_blank" class="btn btn-primary btn-lg btn-block">Seleccionar plan</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="price-individual-academy">
                        <div class="d-flex flex-column">
                            <!--                         <div class="section-title">
                                                        <h2>Academia Individual</h2>
                                                    </div> -->
                            <div>
                                <div class="card-deck">
                                    <div class="card pricing">
                                        <div class="card-head">
                                            <small class="text-primary">Basico</small>
                                            <span class="price">$700<sub>por mes</sub></span>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <div class="list-group-item">Sin Sedes</div>
                                            <div class="list-group-item">Hasta 2 Profesores</div>
                                            <div class="list-group-item">Hasta 30 Alumnos</div>
                                        </ul>
                                        <div class="card-body">
                                            <a href="http://center.php71.projectsunderdev.com/services/4" target="_blank" class="btn btn-primary btn-lg btn-block">Seleccionar plan</a>
                                        </div>
                                    </div>
                                    <div class="card pricing popular">
                                        <div class="card-head">
                                            <small class="text-primary">Medio</small>
                                            <span class="price">$850<sub>por mes</sub></span>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <div class="list-group-item">Sin Sedes</div>
                                            <div class="list-group-item">Hasta 5 Profesores</div>
                                            <div class="list-group-item">Hasta 50 Alumnos</div>
                                        </ul>
                                        <div class="card-body">
                                            <a href="http://center.php71.projectsunderdev.com/services/5" target="_blank" class="btn btn-primary btn-lg btn-block">Seleccionar plan</a>
                                        </div>
                                    </div>
                                    <div class="card pricing">
                                        <div class="card-head">
                                            <small class="text-primary">Profesional</small>
                                            <span class="price">$990<sub>por mes</sub></span>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <div class="list-group-item">Sin Sedes</div>
                                            <div class="list-group-item">Hasta 10 Profesores</div>
                                            <div class="list-group-item">Alumnos ilimitados</div>
                                        </ul>
                                        <div class="card-body">
                                            <a href="http://center.php71.projectsunderdev.com/services/6" target="_blank" class="btn btn-primary btn-lg btn-block">Seleccionar plan</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="price-team-academy">
                        <div class="d-flex flex-column">
                            <!--                         <div class="section-title">
                                                        <h2>Academia Equipos</h2>
                                                    </div> -->
                            <div>
                                <div class="card-deck">
                                    <div class="card pricing">
                                        <div class="card-head">
                                            <small class="text-primary">Basico</small>
                                            <span class="price">$1800<sub>por mes</sub></span>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <div class="list-group-item">Hasta 2 Sedes</div>
                                            <div class="list-group-item">Hasta 2 Profesores</div>
                                            <div class="list-group-item">Hasta 30 Alumnos</div>
                                        </ul>
                                        <div class="card-body">
                                            <a href="http://center.php71.projectsunderdev.com/services/7" target="_blank" class="btn btn-primary btn-lg btn-block">Seleccionar plan</a>
                                        </div>
                                    </div>
                                    <div class="card pricing popular">
                                        <div class="card-head">
                                            <small class="text-primary">Medio</small>
                                            <span class="price">$3000<sub>por mes</sub></span>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <div class="list-group-item">Hasta 4 Sedes</div>
                                            <div class="list-group-item">Hasta 5 Profesores</div>
                                            <div class="list-group-item">Hasta 75 Alumnos</div>
                                        </ul>
                                        <div class="card-body">
                                            <a href="http://center.php71.projectsunderdev.com/services/8" target="_blank" class="btn btn-primary btn-lg btn-block">Seleccionar plan</a>
                                        </div>
                                    </div>
                                    <div class="card pricing">
                                        <div class="card-head">
                                            <small class="text-primary">Profesional</small>
                                            <span class="price">$4500<sub>por mes</sub></span>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <div class="list-group-item">Hasta 10 Sedes</div>
                                            <div class="list-group-item">Hasta 15 Profesores</div>
                                            <div class="list-group-item">Alumnos ilimitados</div>
                                        </ul>
                                        <div class="card-body">
                                            <a href="http://center.php71.projectsunderdev.com/services/9" target="_blank" class="btn btn-primary btn-lg btn-block">Seleccionar plan</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // end .pricing -->
            </div>
        </div>
        <!-- // end .section -->

        <div class="light-bg py-5" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-center text-lg-left">
                        <p class="mb-2"> <span class="ti-location-pin mr-2"></span>Santa Fe, Argentina</p>
                        <div class=" d-block d-sm-inline-block">
                            <p class="mb-2">
                                <span class="ti-email mr-2"></span> <a class="mr-4" href="mailto:andres@andresgotta.com.ar">andres@andresgotta.com.ar</a>
                            </p>
                        </div>
                        <div class="d-block d-sm-inline-block">
                            <p class="mb-0">
                                <span class="ti-headphone-alt mr-2"></span> <a href="tel:5491163058777">+54 9 11 6305 8777</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="social-icons">
                            <a href="https://www.facebook.com/andresgottagolf" target="_blank"><span class="ti-facebook"></span></a>
                            <a href="https://twitter.com/andresgotta" target="_blank"><span class="ti-twitter-alt"></span></a>
                            <a href="https://www.instagram.com/andresgottagolf/" target="_blank"><span class="ti-instagram"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- // end .section -->

    <!-- jQuery and Bootstrap -->
    <script src="{{ asset('upgrade-landing/js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('upgrade-landing/js/bootstrap.bundle.min.js') }}"></script>
    <!-- Plugins JS -->
    <script src="{{ asset('upgrade-landing/js/owl.carousel.min.js') }}"></script>
    <!-- Custom JS -->
    <script src="{{ asset('upgrade-landing/js/script.js') }}"></script>

</body>
</html>