{% extends 'WebFactoryUserBundle::layout.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Lesson list') }}{% endblock headline %}

{% block content -%}

    {% include '::filters.html.twig' with {'grid':grid, 'gridBlock':'AndresGottaAcademyBundle:Backend/Lesson:grid.html.twig'} only %}

    {{ grid(grid, 'AndresGottaAcademyBundle:Backend/Lesson:grid.html.twig') }}

{% endblock %}