{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Lesson') }}{% endblock headline %}

{% block heading_buttons %}
{{ macros.actions([
    macros.backToList('andres_gotta_academy_backend_lesson_reports'),
]) }}
{% endblock heading_buttons %}

{% block head_style %}
    {{ parent() }}
    <style>
        .list-inline .row {
            margin: 0;
        }
    </style>
{% endblock head_style %}

{% block content -%}
<div class="row-fluid">

    <div class="span12">

        <table class="record_properties table table-bordered table-condensed table-striped table-primary table-vertical-center">
            <thead>
                <tr>
                    <th colspan="2">{{ 'Lesson'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="span2">{{ 'Academy'|trans }}</th>
                    <td>{{ entity.place.name }}</td>
                </tr>
                <tr>
                    <th>{{ 'Teacher'|trans }}</th>
                    <td>
                        {% set profile = entity.teacher.profile %}
                        {% if (profile and profile.firstName and profile.lastName) %}
                            {{ profile.lastName }}, {{ profile.firstName }}
                        {% else %}
                            {{ entity.teacher.username }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'Student'|trans }}</th>
                    <td>
                        {% set profile = entity.student.profile %}
                        {% if (profile and profile.firstName and profile.lastName) %}
                            {{ profile.lastName }}, {{ profile.firstName }}
                        {% else %}
                            {{ entity.student.username }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'Report'|trans }}</th>
                    <td>{{ entity.report.resume }}</td>
                </tr>
                <tr>
                    <th>{{ 'Feedback'|trans }}</th>
                    <td>
                        <table class="table table-bordered table-condensed table-striped table-vertical-center">
                            <tbody>
                                <tr>
                                    <th class="span3">{{ 'Notes'|trans }}</th>
                                    <td>{{ entity.report.feedback.notes }}</td>
                                </tr>
                                <tr>
                                    <th class="span3">{{ 'Value'|trans }}</th>
                                    <td>{{ entity.report.feedback.value }}</td>
                                </tr>
                                <tr>
                                    <th class="span3">{{ 'Created at'|trans }}</th>
                                    <td>{{ entity.report.feedback.createdAt | date('d/m/Y') }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th>{{ 'Indications'|trans }}</th>
                    <td>
                        <ul class="unstyled">
                            {% for indication in entity.report.indications %}
                                {% if loop.index0 % 2 == 0 %}
                                    <li class="list-inline">
                                        <div class="row">
                                {% endif %}

                                <div class="span6">
                                    <table class="table table-bordered table-condensed table-striped table-vertical-center">
                                        <tbody>
                                        <tr>
                                            <th class="span3">{{ 'Name'|trans }}</th>
                                            <td>{{ indication.name }}</td>
                                        </tr>
                                        <tr>
                                            <th>{{ 'Description'|trans }}</th>
                                            <td>{{ indication.description }}</td>
                                        </tr>
                                        <tr>
                                            <th>{{ 'Requirements'|trans }}</th>
                                            <td>{{ indication.requirements }}</td>
                                        </tr>
                                        <tr>
                                            <th>{{ 'Security'|trans }}</th>
                                            <td>{{ indication.security }}</td>
                                        </tr>
                                        <tr>
                                            <th>{{ 'Alternatives'|trans }}</th>
                                            <td>{{ indication.alternatives }}</td>
                                        </tr>
                                        <tr>
                                            <th>{{ 'MediaMaterial'|trans }}</th>
                                            <td>
                                                {% if indication.mediaMaterial.type == 'type.audio' %}
                                                    <audio controls src="http://docs.google.com/uc?export=open&id={{ indication.mediaMaterial.uri }}"></audio>
                                                {% elseif indication.mediaMaterial.type == 'type.image' %}
                                                    <img src="http://docs.google.com/uc?export=open&id={{ indication.mediaMaterial.uri }}" alt="">
                                                {% elseif indication.mediaMaterial.type == 'type.video' %}
                                                    <iframe src="https://www.youtube.com/embed/{{ indication.mediaMaterial.uri }}?&controls=1&rel=0&fs=1" frameborder="0"></iframe>
                                                {% endif %}
                                            </td>
                                        </tbody>
                                    </table>
                                </div>

                                {% if loop.index0 % 2%}
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
