<!DOCTYPE html>
<html lang="en" class="no-js">

<head>

    <meta charset="utf-8">
    <title>Fullscreen Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans:400,700'>

    <style>

        /* ------- This is the CSS Reset ------- */

        html, body, div, span, applet, object, iframe,
        h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
        abbr, acronym, address, big, cite, code, del,
        dfn, em, img, ins, kbd, q, s, samp, small,
        strike, strong, sub, sup, tt, var, u, i, center,
        dl, dt, dd, ol, ul, li, fieldset, form, label,
        legend, table, caption, tbody, tfoot, thead, tr,
        th, td, article, aside, canvas, details, embed,
        figure, figcaption, footer, header, hgroup, menu,
        nav, output, ruby, section, summary, time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }

        /* ------- HTML5 display-role reset for older browsers ------- */

        article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
            display: block;
        }

        body {
            line-height: 1;
        }

        ol, ul {
            list-style: none;
        }

        blockquote, q {
            quotes: none;
        }

        blockquote:before, blockquote:after, q:before, q:after {
            content: '';
            content: none;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
        }

    </style>


    <style>
        /*

	Supersized - Fullscreen Slideshow jQuery Plugin
	Version : 3.2.7
	Site	: www.buildinternet.com/project/supersized

	Author	: Sam Dunn
	Company : One Mighty Roar (www.onemightyroar.com)
	License : MIT License / GPL License

*/

        * {
            margin: 0;
            padding: 0;
        }

        body {
            background: #111;
            height: 100%;
        }

        img {
            border: none;
        }

        #supersized-loader {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 0;
            width: 60px;
            height: 60px;
            margin: -30px 0 0 -30px;
            text-indent: -999em;
            background: url(../img/progress.gif) no-repeat center center;
        }

        #supersized {
            display: block;
            position: fixed;
            left: 0;
            top: 0;
            overflow: hidden;
            z-index: -999;
            height: 100%;
            width: 100%;
        }

        #supersized img {
            width: auto;
            height: auto;
            position: relative;
            display: none;
            outline: none;
            border: none;
        }

        #supersized.speed img {
            -ms-interpolation-mode: nearest-neighbor;
            image-rendering: -moz-crisp-edges;
        }

        /*Speed*/
        #supersized.quality img {
            -ms-interpolation-mode: bicubic;
            image-rendering: optimizeQuality;
        }

        /*Quality*/

        #supersized li {
            display: block;
            list-style: none;
            z-index: -30;
            position: fixed;
            overflow: hidden;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #111;
        }

        #supersized a {
            width: 100%;
            height: 100%;
            display: block;
        }

        #supersized li.prevslide {
            z-index: -20;
        }

        #supersized li.activeslide {
            z-index: -10;
        }

        #supersized li.image-loading {
            background: #111 url(../img/progress.gif) no-repeat center center;
            width: 100%;
            height: 100%;
        }

        #supersized li.image-loading img {
            visibility: hidden;
        }

        #supersized li.prevslide img, #supersized li.activeslide img {
            display: inline;
        }

        #supersized img {
            max-width: none !important
        }

    </style>


    <style>
        /*
 *
 * Template Name: Fullscreen Login
 * Description: Login Template with Fullscreen Background Slideshow
 * Author: Anli Zaimi
 * Author URI: http://azmind.com
 *
 */

        body {
            background: #09ccbe;
            font-family: 'PT Sans', Helvetica, Arial, sans-serif;
            text-align: center;
            color: #fff;
        }

        .page-container {
            margin: 120px auto 0 auto;
        }

        h1 {
            font-size: 30px;
            font-weight: 700;
            text-shadow: 0 1px 4px rgba(0, 0, 0, .2);
        }

        form {
            position: relative;
            width: 305px;
            margin: 15px auto 0 auto;
            text-align: center;
        }

        input {
            width: 270px;
            height: 42px;
            margin-top: 25px;
            padding: 0 15px;
            background: #2d2d2d; /* browsers that don't support rgba */
            background: rgba(45, 45, 45, .15);
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            border-radius: 6px;
            border: 1px solid #3d3d3d; /* browsers that don't support rgba */
            border: 1px solid rgba(255, 255, 255, .15);
            -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset;
            -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset;
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset;
            font-family: 'PT Sans', Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #fff;
            text-shadow: 0 1px 2px rgba(0, 0, 0, .1);
            -o-transition: all .2s;
            -moz-transition: all .2s;
            -webkit-transition: all .2s;
            -ms-transition: all .2s;
        }

        input:-moz-placeholder {
            color: #fff;
        }

        input:-ms-input-placeholder {
            color: #fff;
        }

        input::-webkit-input-placeholder {
            color: #fff;
        }

        input:focus {
            outline: none;
            -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset,
            0 2px 7px 0 rgba(0, 0, 0, .2);
            -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset,
            0 2px 7px 0 rgba(0, 0, 0, .2);
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset,
            0 2px 7px 0 rgba(0, 0, 0, .2);
        }

        button {
            cursor: pointer;
            width: 300px;
            height: 44px;
            margin-top: 25px;
            padding: 0;
            background: #09ccbe;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            border-radius: 6px;
            border: 1px solid #09ccbe;
            -moz-box-shadow: 0 15px 30px 0 rgba(255, 255, 255, .25) inset,
            0 2px 7px 0 rgba(0, 0, 0, .2);
            -webkit-box-shadow: 0 15px 30px 0 rgba(255, 255, 255, .25) inset,
            0 2px 7px 0 rgba(0, 0, 0, .2);
            box-shadow: 0 15px 30px 0 rgba(255, 255, 255, .25) inset,
            0 2px 7px 0 rgba(0, 0, 0, .2);
            font-family: 'PT Sans', Helvetica, Arial, sans-serif;
            font-size: 14px;
            font-weight: 700;
            color: #fff;
            text-shadow: 0 1px 2px rgba(0, 0, 0, .1);
            -o-transition: all .2s;
            -moz-transition: all .2s;
            -webkit-transition: all .2s;
            -ms-transition: all .2s;
        }

        button:hover {
            -moz-box-shadow: 0 15px 30px 0 rgba(255, 255, 255, .15) inset,
            0 2px 7px 0 rgba(0, 0, 0, .2);
            -webkit-box-shadow: 0 15px 30px 0 rgba(255, 255, 255, .15) inset,
            0 2px 7px 0 rgba(0, 0, 0, .2);
            box-shadow: 0 15px 30px 0 rgba(255, 255, 255, .15) inset,
            0 2px 7px 0 rgba(0, 0, 0, .2);
        }

        button:active {
            -moz-box-shadow: 0 15px 30px 0 rgba(255, 255, 255, .15) inset,
            0 2px 7px 0 rgba(0, 0, 0, .2);
            -webkit-box-shadow: 0 15px 30px 0 rgba(255, 255, 255, .15) inset,
            0 2px 7px 0 rgba(0, 0, 0, .2);
            box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .1) inset,
            0 1px 4px 0 rgba(0, 0, 0, .1);

            border: 0px solid #ef4300;
        }

        .error {
            display: none;
            position: absolute;
            top: 27px;
            right: -55px;
            width: 40px;
            height: 40px;
            background: #2d2d2d; /* browsers that don't support rgba */
            background: rgba(45, 45, 45, .25);
            -moz-border-radius: 8px;
            -webkit-border-radius: 8px;
            border-radius: 8px;
        }

        .error span {
            display: inline-block;
            margin-left: 2px;
            font-size: 40px;
            font-weight: 700;
            line-height: 40px;
            text-shadow: 0 1px 2px rgba(0, 0, 0, .1);
            -o-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);

        }

        .connect {
            width: 305px;
            margin: 35px auto 0 auto;
            font-size: 18px;
            font-weight: 700;
            text-shadow: 0 1px 3px rgba(0, 0, 0, .2);
        }



    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>

<div class="page-container">
    <h1>Ingrese sus credenciales</h1>
    <form action="{{ path("academy_fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        <input type="text" name="_username" value="{{ last_username }}" class="username" placeholder="Username">
        <input type="password" name="_password" class="password" placeholder="Password">
        <button type="submit" name="_submit">Iniciar Sesión</button>
        <div class="error"><span>+</span></div>
    </form>
    <div class="connect">
        {% if error %}
            {{ error|trans({}, 'FOSUserBundle')|trans }}
        {% endif %}

        {#<p>Or connect with:</p>#}
        {#<p>#}
        {#<a class="facebook" href=""></a>#}
        {#<a class="twitter" href=""></a>#}
        {#</p>#}
    </div>
</div>

</body>

</html>
