{% extends ':mailer:base.html.twig' %}

{% block content %}
    <p style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #333333; font-size: 16px; line-height: 22px;">El usuario {{ user.username }} dejo un comentario acerca de un fallo encontrado:</p>
    <p style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #333333; font-size: 16px; line-height: 22px;">{{ message }}</p>
{% endblock content %}