{% block subject %}
{% autoescape false %}
{{ 'feedback.email.subject'|trans({'%username%': user.username}, 'FOSUserBundle') }}
{% endautoescape %}
{% endblock %}
{% block body_text %}
{% autoescape false %}
{{ 'feedback.email.message'|trans({'%username%': user.username, '%message%': message}, 'FOSUserBundle') }}
{% endautoescape %}
{% endblock %}
{% block body_html %}
{% include 'WebFactoryUserBundle:Frontend:email_content.html.twig' %}
{% endblock %}
