{% if entities|length == 0 %}
<h2 class="newlineheight newestiloh2">Estamos desarrollando esta área, próximamente estará disponible toda la información de los servicios y sus posibilidades de contratarlos</h2>
{% endif %}