{% extends '@EasyAdmin/default/new.html.twig' %}

{% block body_javascript %}
    {{ parent() }}

    <script>
        $(function () {
            $('#teacher_email').after('<button type="button" class="btn btn-info" id="check_email">Verificar</button>');
            $('#teacher_email').on('keypress', function () {
                $('#form-actions-row button').prop('disabled', true);
                $('#teacher_profile_firstName').val('').attr('readOnly', true);
                $('#teacher_profile_lastName').val('').attr('readOnly', true);
            }).trigger('keypress');
            $('#check_email').on('click', function () {
                $('#form-actions-row button').prop('disabled', true);
                var email = $('#teacher_email').val();
                $.ajax({
                   url: '{{ path('manage_academy_check_email') }}',
                   data: {email:email},
                   success: function (s) {
                       $('#teacher_profile_firstName').val(s.profile.firstName).attr('readOnly', true);
                       $('#teacher_profile_lastName').val(s.profile.lastName).attr('readOnly', true);
                       $('#form-actions-row button').prop('disabled', false);
                   },
                   error: function (s) {
                       $('#teacher_profile_firstName').val('').attr('readOnly', false);
                       $('#teacher_profile_lastName').val('').attr('readOnly', false);
                       $('#form-actions-row button').prop('disabled', false);
                   }
                });
            });
        });
    </script>
{% endblock %}
