{% extends "AndresGottaGolfBundle:Frontend/DataEntry:_strike_detail.html.twig" %}

{% block strike_detail_before_distance %}
<dt>{{ 'Ball flight'|trans }}</dt>
<dd>{{ strike.ballFlight|trans }}</dd>
{% endblock strike_detail_before_distance %}

