{% extends "AndresGottaGolfBundle:Frontend/DataEntry:strike/_ball_flight_strike_detail.html.twig" %}

{% block strike_detail_before_distance %}
<dt>{{ 'Club'|trans }}</dt>
<dd>{{ strike.club|trans }}</dd>
{{ parent() }}
{% endblock strike_detail_before_distance %}