{% extends "AndresGottaGolfBundle:Frontend/DataEntry:_strike_detail.html.twig" %}

{% block strike_detail_before_distance %}
<dt>{{ 'Land slopes'|trans }}</dt>
<dd>
    <ul>
{% for slope in strike.landSlopes %}
        <li>{{ slope|trans }}</li>
{% endfor %}
    </ul>
</dd>
{% endblock strike_detail_before_distance %}

