{% extends "AndresGottaGolfBundle:Frontend/DataEntry:strike/_strike_lie_strike_detail.html.twig" %}

{% block strike_detail_before_distance %}
<dt>{{ 'Ball flight'|trans }}</dt>
<dd>{{ strike.ballFlight|trans }}</dd>
{{ parent() }}
{% endblock strike_detail_before_distance %}

