{% extends "AndresGottaGolfBundle:Frontend/DataEntry:_strike_detail.html.twig" %}

{% block strike_detail_before_distance %}
<dt>{{ 'Strike lies'|trans }}</dt>
<dd>
    <ul>
{% for lie in strike.strikeLies %}
        <li>{{ lie|trans }}</li>
{% endfor %}
    </ul>
</dd>
{% endblock strike_detail_before_distance %}

