{% block subject %}Te han vinculado a una académia
{% endblock subject %}

{% block body_text %}
{% endblock body_text %}

{% block body_html %}
    Te han vinculado a la académia: {{ academy.academyName }}!
{% endblock body_html %}
