{% block subject %}Te han desvinculado de una académia
{% endblock subject %}

{% block body_text %}
{% endblock body_text %}

{% block body_html %}
    Te han desvinculado de la académia: {{ academy.academyName }}
{% endblock body_html %}
