{% extends '::grid.html.twig' %}

{% block grid_column_user_email_cell %}
    {% set value = row.entity.user %}
    {{ block('grid_column_cell') }}
{% endblock grid_column_user_email_cell %}

{% block grid_column_status_cell %}
    {% set value = value|trans %}
    {{ block('grid_column_cell') }}
{% endblock grid_column_status_cell %}

{% block grid_column_total_cell %}
    {% set value = '$ ' ~ row.entity.total|number_format(2, ',', '.') %}
    {{ block('grid_column_cell') }}
{% endblock grid_column_total_cell %}