{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Order list') }}{% endblock headline %}

{% block content -%}
    {% include '::filters.html.twig' with {'grid':grid, 'gridBlock':'WebFactoryOrderBundle:Backend/Order:grid.html.twig'} only %}
    <label for="upload_amex_return_amex_return" class="btn btn-primary" style="float: left; font-size: 10px; font-weight: bold;">IMPORTAR RETORNO AMEX</label>
    <label for="upload_mastercard_return_mastercard_return" class="btn btn-primary" style="float: left; margin-left: 10px; font-size: 10px; font-weight: bold;">IMPORTAR RETORNO MASTERCARD</label>

    <a href="{{ mastercardRegistryUrl }}" target="_new" class="btn btn-primary" style="float: right; font-size: 10px; font-weight: bold;">EXPORTAR REGISTROS MASTERCARD</a>
    <a href="{{ amexRegistryUrl }}" target="_new" class="btn btn-primary" style="float: right; margin-right: 10px; font-size: 10px; font-weight: bold;">EXPORTAR REGISTROS AMEX</a>

    {{ form_start(uploadAmexReturnForm) }}
        {{ form_widget(uploadAmexReturnForm.amex_return) }}
    {{ form_end(uploadAmexReturnForm) }}

    {{ form_start(uploadMastercardReturnForm) }}
        {{ form_widget(uploadMastercardReturnForm.mastercard_return) }}
    {{ form_end(uploadMastercardReturnForm) }}

    <div id="show_registries" class="hidden">
        {% if registries %}
            {% for registry in registries %}
                {% if registry['provider'] == 'amex' %}
                    {% if registry['registryType'] == 3 %}
                        <h4>RESÚMEN TOTAL</h4>
                        <h5>Número de establecimiento: {{ registry['establishmentNumber'] }}</h5>
                        <h5>Monto total aceptado: ${{ registry['acceptedAmount'][0] ~ ',' ~ registry['acceptedAmount'][1] }}</h5>
                        <h5>Cantidad de cargos aceptados: {{ registry['acceptedCharges'] }}</h5>
                        <h5>Fecha de presentación: {{ registry['date'][2] ~ '-' ~ registry['date'][1] ~ '-' ~ registry['date'][0] }}</h5>
                    {% elseif registry['registryType'] == 2 %}
                        <hr>
                        <h4>DETALLE #{{ loop.index0 }}</h4>
                        <h5>Número de tarjeta: {{ registry['cardNumber'][0:4] ~ '-' ~ registry['cardNumber'][4:6] ~ '-' ~ registry['cardNumber'][10:5] }}</h5>
                        <h5>Monto del cargo: ${{ registry['amount'][0] ~ ',' ~ registry['amount'][1] }}</h5>
                        <h5>Fecha del cargo: {{ registry['date'][2] ~ '-' ~ registry['date'][1] ~ '-' ~ registry['date'][0] }}</h5>
                        <h5>Pedido: #{{ registry['order'].id }}</h5>
                        {% if registry['rejectMark'] == '00' %}
                            <h5>Resultado: <span class="label" style="background-color: #2e7d32;">ACEPTADO</span></h5>
                        {% else %}
                            <h5>Resultado: <span class="label" style="background-color: #c62828;">RECHAZADO</span></h5>
                            <br />
                            <button class="btn btn-block" onclick="openUserBox({{ loop.index0 }});">CONTACTAR CON EL CLIENTE</button>
                            <div id="userbox{{ loop.index0 }}" style="text-align: center; margin: 20px;">
                                <h4>
                                    {{ registry['name'] }}<br />
                                    {{ registry['email'] }}<br />
                                </h4>
                            </div>
                        {% endif %}
                    {% endif %}
                {% elseif registry['provider'] == 'mastercard' %}
                    {% if registry['registryType'] == 1 %}
                        <h4>RESÚMEN TOTAL</h4>
                        <h5>Número de comercio: {{ registry['commerceNumber'] }}</h5>
                        <h5>Monto total aceptado: ${{ registry['acceptedAmount'][0] ~ ',' ~ registry['acceptedAmount'][1] }}</h5>
                        <h5>Cantidad de cargos aceptados: {{ registry['acceptedCharges'] }}</h5>
                        <h5>Fecha de presentación: {{ registry['date'][0] ~ '-' ~ registry['date'][1] ~ '-' ~ registry['date'][2] }}</h5>
                    {% elseif registry['registryType'] == 2 %}
                        <hr>
                        <h4>DETALLE #{{ loop.index0 }}</h4>
                        <h5>Número de tarjeta: {{ registry['cardNumber'][0:4] ~ '-' ~ registry['cardNumber'][4:4] ~ '-' ~ registry['cardNumber'][8:4] ~ '-' ~ registry['cardNumber'][12:4] }}</h5>
                        <h5>Monto del cargo: ${{ registry['amount'][0] ~ ',' ~ registry['amount'][1] }}</h5>
                        <h5>Fecha del cargo: {{ registry['date'][0] ~ '-' ~ registry['date'][1] ~ '-' ~ registry['date'][2] }}</h5>
                        <h5>Pedido: #{{ registry['referenceNumber'] }}</h5>
                        {% if registry['rejectMark'] == '00' %}
                            <h5>Resultado: <span class="label" style="background-color: #2e7d32;">ACEPTADO</span></h5>
                        {% else %}
                            <h5>Resultado: <span class="label" style="background-color: #c62828;">RECHAZADO</span></h5>
                            <br />
                            <button class="btn btn-block" onclick="openUserBox({{ loop.index0 }});">CONTACTAR CON EL CLIENTE</button>
                            <div id="userbox{{ loop.index0 }}" style="text-align: center; margin: 20px;">
                                <h4>
                                    {{ registry['name'] }}<br />
                                    {{ registry['email'] }}<br />
                                </h4>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <div style="margin: 50px; clear: both;"></div>

    {{ grid(grid, 'WebFactoryOrderBundle:Backend/Order:grid.html.twig') }}

    <script type="text/javascript">
        function openUserBox($id) {
            $('#userbox' + $id).animate({height: 'toggle'}, 300);
        }

        $(function() {
            {% set autoOpen = false %}
            {% if registries %}
                {% set autoOpen = true %}
                {% for registry in registries %}
                    $('#userbox' + {{ loop.index0 }}).animate({height: 'toggle'}, 0);
                {% endfor %}
            {% endif %}
         
            showRegistries = $("#show_registries").dialog({
                autoOpen: {{ autoOpen }},
                width: 420,
                modal: true,
                draggable: false,
                resizable: false,
                title: 'RESULTADOS DE LA IMPORTACIÓN&nbsp;<span style="font-size: 10px; font-weight: bold;">(ESCAPE PARA CERRAR)</span>',
                create: function() {
                    $(this).css("maxHeight", 600);     
                },
                show: {
                    effect: "puff",
                    duration: 300
                },
                hide: {
                    effect: "puff",
                    duration: 300
                },
                open: function() {
                    $('#show_registries').removeClass('hidden');
                }
            });
        });
    </script>

    <style>
        .ui-dialog-titlebar-close { display: none; }
        #show_registries { padding-top: 20px; padding-bottom: 20px; }
        h4 { margin-bottom: 10px; }
        h5 { margin: 0; font-weight: normal; }
    </style>
{% endblock %}