{% extends '::base.html.twig' %}

{% import '::macros.html.twig' as macros %}

{% block headline %}{{ macros.title('Order') }}{% endblock headline %}

{% block heading_buttons %}
    {{ macros.actions([
    macros.backToList('webfactory_order_backend_order_index')
    ]) }}
{% endblock heading_buttons %}

{% block content -%}
    <div class="row-fluid">

        <div class="span6">
            <table class="record_properties table table-bordered table-condensed table-striped table-primary table-vertical-center">
                <thead>
                <tr>
                    <th colspan="2">{{ 'Order'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>{{ 'User'|trans }}</th>
                    <td>{{ order.user }}</td>
                </tr>
                <tr>
                    <th>{{ 'Status'|trans }}</th>
                    <td>{{ order.status|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'Created At'|trans }}</th>
                    <td>{{ order.createdAt|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>{{ 'Payment Method'|trans }}</th>
                    <td>
                        {% if order.payCash %}
                            {{ 'Cash'|trans }}
                        {% elseif order.debitCard %}
                            {{ 'Debit'|trans }}
                            {% if order.debitCard.provider == 1 %}
                                (AMEX {{ order.debitCard.cardNumber[0:4] ~ '-' ~ order.debitCard.cardNumber[4:6] ~ '-' ~ order.debitCard.cardNumber[10:5] }})
                            {% elseif order.debitCard.provider == 2 %}
                                (MASTERCARD {{ order.debitCard.cardNumber[0:4] ~ '-' ~ order.debitCard.cardNumber[4:4] ~ '-' ~ order.debitCard.cardNumber[8:4] ~ '-' ~ order.debitCard.cardNumber[12:4] }})
                            {% endif %}
                        {% else %}
                            {{ 'Undefined'|trans }}
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="separator bottom"></div>
            <div class="row-fluid">
                <div class="span6">
                    {% if order|can_change_order(constant('WebFactory\\Bundle\\OrderBundle\\Model\\OrderStatuses::PAID')) %}
                        <a class="btn btn-block btn-success" href="{{ path('webfactory_order_backend_order_update', {order:order.id, status:constant('WebFactory\\Bundle\\OrderBundle\\Model\\OrderStatuses::PAID')}) }}">{{ 'Change status to paid'|trans }}</a>
                    {% endif %}
                </div>
                <div class="span6">
                    {% if order|can_change_order(constant('WebFactory\\Bundle\\OrderBundle\\Model\\OrderStatuses::CANCELLED')) %}
                        <a class="btn btn-block btn-danger" href="{{ path('webfactory_order_backend_order_update', {order:order.id, status:constant('WebFactory\\Bundle\\OrderBundle\\Model\\OrderStatuses::CANCELLED')}) }}">{{ 'Change status to cancelled'|trans }}</a>
                    {% endif %}
                </div>

            </div>
        </div>
        <div class="span6">
            <table class="record_properties table table-bordered table-condensed table-striped table-primary table-vertical-center">
                <thead>
                <tr>
                    <th>{{ 'Description'|trans }}</th>
                    <th>{{ 'Price'|trans }}</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>{{ 'Total'|trans }}</th>
                    <th>$ {{ order.total|number_format(2, ',', '.') }}</th>
                </tr>
                </tfoot>
                <tbody>
                {% for item in order.items %}
                    <tr>
                        <td>{{ item.description }}</td>
                        <td>$ {{ item.total|number_format(2, ',', '.') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

    </div>

{% endblock %}
